[2022-07-12 06:47] jk20012001 commented on #10829
Features:
- New surface shader framework for effects
- Rendering debug view modes with surface shader
![image](https://user-images.githubusercontent.com/15099632/178443415-7a960a2b-a889-4bee-8c5a-2e44417c9580.png)
- Support baking GGX convolution IBL reflection map
![image](https://user-images.githubusercontent.com/15099632/178443603-ccf32554-bb3a-462b-a835-f0b73118ba91.png)

Bug fix:
- Ambient li

[2022-07-12 07:02] dogeFu commented on #10829
Feature:
1. support preview in editor(gameview)
2. support surface snapping and vertex snapping for gameobject position
3. support mesh asset thumbnail preview
4. support option to turn on scene update in 60FPS (lab)

Bug:
1. fix some prefab editing bugs like failed to save changed property、saving error data and so on
2. fix the prompt of modified after opening the scene/prefab without performing

[2022-07-12 07:11] novain1102 commented on #10829
Features:
- iOS/ Android `Downloader` support breakpoint download
https://github.com/cocos/cocos-engine/pull/10968
https://github.com/cocos/cocos-engine/pull/11408
https://github.com/cocos/cocos-engine/pull/11097
https://github.com/cocos/cocos-engine/pull/11638
- provides the ability to customize native Downloader by exporting `DownloaderHints` interface  https://github.com/cocos/cocos-engine/pull

[2022-07-12 07:14] SantyWang commented on #10829
# Feature
* We introduce new modele named `settings`, You can access settings data during the game. For example.
[code]
* Introduce more event during the game luanching, you can inject some custom logic in application.js. For example
[code]

# BREAKING CHANGE
* We have unified the naming rules for built-in effects and user effects, When using the `EffectAsset.get` interface to get a built-in effec

[2022-07-12 07:21] xubing0906 commented on #10829
Feature:
add an editable material, allow users set any material.
![image](https://user-images.githubusercontent.com/49358166/178431969-b072d2b5-9ce0-4fd5-9f6f-b44cb40d4040.png)

[2022-07-12 07:23] SantyWang commented on #10829
# Improvement

* 2D module rendering reimplemented in C++ for native platforms, optimizing 2D rendering performance for native platforms

# Known Issue

* Tilemap module is not yet fully integrated into the new 2d rendering process, so it will not render on the native platform for now, we will fix this issue in the official release

[2022-07-12 07:24] PatriceJiang commented on #10829
Features:

- Add sebind APIs, allow bind C++ classes to JS in a easier way. Similar to [embind](https://emscripten.org/docs/porting/connecting_cpp_and_javascript/embind.html)
- Add native plugins support.
- Record and validate `native/` directory's version, output error log in case of version incompatibility.

[2022-07-12 07:25] troublemaker52025 commented on #10829
* Add CSM feature
* Instanced and batched multi light shadow support

[2022-07-12 07:39] VisualSJ commented on #10829
- 全局
    - 全局配色更换
    - 顶部菜单左侧的 Gizmo 菜单移动到了场景内 <img width="812" alt="image" src="https://user-images.githubusercontent.com/7113508/178436629-8c1e1da2-84b1-4f62-977b-05289fe00f6a.png">
    - 编辑器顶部区域交互优化 <img width="636" alt="image" src="https://user-images.githubusercontent.com/7113508/178436887-11858d0d-9e61-4992-ae29-81a8a3ffcf02.png">
    - 支持 mesh 缩略图 <img width="189" alt="image" src="https://

[2022-07-12 07:39] timlyeee commented on #10829
native related
* A better experience when using Editbox on iOS platform and Windows platform
![image](https://user-images.githubusercontent.com/43355299/178435431-756fc25e-00ff-4aef-8646-bca98d5ac9f4.png)
* Refactor `game.end` to close the window more naturally

Fix bug
* Add v8's dynamic library on the Windows platform to avoid bugs
* Simulator in cocos creator now is in the release version, to r

[2022-07-12 07:39] LinYunMo commented on #10829
Feature
- A basic version of SpreiteRender is provided. (experimental) Spriteframe can now be rendered in 3d space.
- Provides base ordering capabilities for rendering components. (experimental)
- Fill z position in all ui

Bug fix
- fix some ui render bug

[2022-07-12 07:41] VisualSJ commented on #10829
### 【构建相关】
#### 功能优化相关
- 优化构建构建生成的交互逻辑，后续可以在界面上自由组合相关任务一起执行；
![2591cd8842b7e74890425acad988e616](https://user-images.githubusercontent.com/7113508/178678848-5788afbf-3e21-4e1c-a975-dee514da33df.gif)

- 资源服务地址已作为全平台共用参数，支持一键使用构建内置服务器，方便本地开发测试；
![image](https://user-images.githubusercontent.com/27424848/172760058-4d443c85-97ee-4a17-ab87-d61eddf0c76a.png)

- 优化了构建内编译引擎与编译脚本的任务调度，独立进程执行，降低构建进程对内存的占用；

[2022-07-12 08:09] zhakesi commented on #10829
Feature:
* Use texture instead of uniform vectors when skeleton joints more than hardware supported.( https://github.com/cocos/cocos-engine/pull/11378)

[2022-07-12 10:19] mrtzd commented on #11878
I will definitely test this again with the new version when it comes out (I guess if I want to test it right now I have to compile the engine from 'v3.6.0' branch?)

I don't think I have registered any event callback on `Game.END` since I actually don't know how to do that.

I'll try to see if I can replicate this issue with a simple demo that I can share here.

Also I tested my game on another ol

[2022-07-12 11:16] OnlyKoei opened #11947 "Touch events need to be handled for compatibility"
### Cocos Creator version

3.5.2

### System information

window10，chrome

### Issue description

https://forum.cocos.org/t/topic/137714
https://forum.cocos.org/t/topic/137664

![image](https://user-images.githubusercontent.com/40415168/178477083-cfe3e0ed-8aa9-4164-b252-37dc24f313cf.png)
![image](https://user-images.githubusercontent.com/40415168/178477165-d758e60a-6d0d-4b29-83fb-540e8876f938.png)

[2022-07-12 23:36] Ronsku opened #11950 "tsconfig.json "paths" not working"
### Cocos Creator version

3.5.2

### System information

Windows 11, Chrome

### Issue description

Adding paths in tsconfig.json doesn't work with Cocos Creator. This is quite unfortunate since it really cleans up the import paths a lot

Following setup does not work.
![image](https://user-images.githubusercontent.com/7983358/178615729-2659330c-d4e0-462d-90d4-91e36a9cb073.png)

### Relevant erro

[2022-07-13 02:49] SantyWang opened #11952 "font file can not use timestamp as name in cache"
![企业微信截图_2757e433-3f97-4c31-a70d-010ab079eec8](https://user-images.githubusercontent.com/15109777/178639884-1baca4f9-1656-47d2-a067-3ed9fd447e2d.png)

[2022-07-13 02:53] jareguo commented on #10829
### Localization Editor
Localization Editor 是 3.6 推出的官方新版 i18n 方案，提供了更紧密的编辑器集成和更强大的本地化能力。目前作为实验性功能推出，更多介绍可移步 https://forum.cocos.org/t/topic/136913 。
（公测期间先不放图）
### 编辑器预览
不少游戏引擎都支持在编辑器中直接运行、调试游戏，只不过定位上略有差异。这样的功能之前被不少开发者称为 GameView，在 3.6 中我们正式命名为【编辑器预览】。目前作为实验性功能推出，更多介绍可移步 https://forum.cocos.org/t/topic/137529 。
（公测期间先不放图）

[2022-07-13 03:10] SantyWang opened #11954 "Support Asset Varient"
* One asset can have multiple versions of variants
* Dynamic selection of a suitable variant during loading

usage:
* i18n
* compressed texture

[2022-07-13 03:35] jareguo commented on #10829
# 场景编辑器优化

## 框选支持

方便的场景框选功能使场景编辑更加灵活方便，用户无需在层级管理器中寻找需要被多选的物体名称，全部覆盖在选择框中的物体会被选中，未全部覆盖的物体不会被选中。

![image](https://user-images.githubusercontent.com/1503156/178642448-7160217d-1383-4cdb-8a2b-d6204f7bf7e1.gif)

## 场景表面吸附以及顶点吸附

在用户制作场景时，物体的排布经常需要对齐等功能，单纯的把物体拖入场景中容易导致物体漂浮在一个很远的坐标，从而浪费用户大量的时间调整。现在除了最基础的网格吸附之外，我们新添加了两种吸附模式，并且在这两种吸附模式中都支持用户自由选择物体上的吸附点：

### 表面吸附 (快捷键：Ctrl/Command + Shift)：
对于有碰撞体组件的物体，

[2022-07-13 03:53] AFeiYA commented on #10829
1. 新增GLTF specualr-Glossiness支持。
2. 更新默认fbx surface phong材质支持
3. 扩展Blender principled bsdf材质Specular通道支持。
4. 添加mixamo.com模型材质导入支持。
5. 修复maya法线贴图bug。
6. 更新导入器mesh属性读写权限设置。

[2022-07-13 05:20] novain1102 commented on #11899
Could you please provide a demo which can easily trigger crash in your issue description? So that I could diagnose your problem faster

[2022-07-13 07:12] qiuguohua commented on #11135
https://github.com/cocos/cocos-engine/pull/11830

[2022-07-13 07:35] jareguo commented on #3391
相关反馈 https://forum.cocos.org/t/topic/137721

[2022-07-13 08:07] stanleyljl opened #11960 "crop occlusion query"
### Use Case

feature cropping for occlusion query

### Problem Description

feature cropping for occlusion query

### Proposed Solution

_No response_

### How it works

_No response_

### Alternatives Considered

no

### Additional Information

_No response_

[2022-07-14 05:07] PPpro commented on #11731
they've been fixed since 3.x

[2022-07-14 05:48] minggo commented on #11731
Will sync to v2.x?

[2022-07-14 06:35] #11911 closed, assigned to dumganhar

[2022-07-14 07:47] PatriceJiang commented on #10829
- Android gradle: migrate jcenter to mavenCenter https://github.com/cocos/cocos-engine/pull/11824

[2022-07-14 08:03] OnlyKoei opened #11986 "Reference diagrams can set layers"
### Cocos Creator version

3.5.2

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/137776
![image](https://user-images.githubusercontent.com/40415168/178931877-fd31e603-5d05-4af5-961c-5dd1a1e1a576.png)
![image](https://user-images.githubusercontent.com/40415168/178931801-b5883ae9-d564-4ad8-917b-3f83133a3cdd.png)

### Relevant error log output

_No response_

[2022-07-14 08:05] zxx43 opened #11987 "GPU Particle texture reuse"
### Cocos Creator version

3.6.0

### System information

All Plateform

### Issue description

The function packCurveRange will pack data for gpu particle, but data within it is error and it destroy and create texture every frame

### Relevant error log output

_No response_

### Steps to reproduce

Create a particle system and click useGPU

### Minimal reproduction project

_No response_

[2022-07-14 10:22] pandamicro opened #11998 "Node walk performance test compare to recursive version"
The `BaseNode.walk` function is implemented in a non-recursive way, it's based on a very dated assumption: deep recursive call could harm JS performance. [Ref](https://eloquentjavascript.net/03_functions.html#h_jxl1p970Fy), [Ref](https://softwareengineering.stackexchange.com/questions/179863/performance-recursion-vs-iteration-in-javascript), [Ref](https://stackoverflow.com/questions/24915428/does-

[2022-07-14 10:27] PPpro commented on #11135
we also need to update the mannual docs @minggo
- [x] https://docs.cocos.com/creator/manual/zh/advanced-topics/js-java-bridge.html?h=%E5%8F%8D%E5%B0%84 @timlyeee
- [x] https://docs.cocos.com/creator/manual/zh/advanced-topics/js-oc-bridge.html @timlyeee
- [x] https://docs.cocos.com/creator/manual/zh/advanced-topics/jsb-bridge-wrapper.html @timlyeee
- [x] https://docs.cocos.com/creator/manual/zh/adv

[2022-07-14 11:33] #11960 closed, assigned to stanleyljl

[2022-07-14 14:13] mikecoker commented on #11466
here is a PR for this issue: https://github.com/cocos/cocos-engine/pull/11979

[2022-07-15 01:38] zhefengzhang opened #12002 "Failed to set game frame rate on ios platform"
### Cocos Creator version

3.6.0

### System information

ios

### Issue description

Testing with CocosCreator 3.6.0 Community Edition 071301, after setting game.frameRate on ios platform (running with xcode emulator), the game frame rate does not match the input value.

使用 CocosCreator 3.6.0 社区版 071301 进行测试，在 ios 平台（使用 xcode 模拟器运行）上设置 game.frameRate 之后，游戏帧率无法和输入的数值保持一致。

### Relevant error log o

[2022-07-15 01:48] zhefengzhang opened #12003 "When dynamically adding particle nodes to the scene, the effect appears abnormal"
### Cocos Creator version

3.5.2

### System information

chrome web

### Issue description

![图片](https://user-images.githubusercontent.com/35944775/179130067-0ff8dd0f-1f2d-4cde-a898-a6ff69e2f8a0.png)

If the particle resource is loaded after the node is added to the scene, the effect will be abnormal.
如果粒子资源在节点添加到场景之后才加载，则会出现效果异常。

![图片](https://user-images.githubusercontent.com/35944775/1791302

[2022-07-15 02:33] shrinktofit commented on #11950
tsconfig is not processed. If you have module mapping requirements. Use [import map](https://docs.cocos.com/creator/manual/en/scripting/modules/import-map.html) instead.

Put this JSON into project root folder and configure the setting according to manual:
[code]

You need as well keep the stuff in tsconfig.json to achieve type checking.

[2022-07-15 03:19] novain1102 opened #12006 "native.Downloader support abort"
### Use Case

https://forum.cocos.org/t/topic/137819

### Problem Description
Downlaoder::abort function is internal usage now and not export. Need to unify usage in all platfroms and export TS API for user.

### Proposed Solution

_No response_

### How it works

_No response_

### Alternatives Considered

Null

### Additional Information

_No response_

[2022-07-15 03:22] linruimin opened #12008 "spine resource release causes memory growth"
### Cocos Creator version

3.4.2 3.5.2

### System information

web

### Issue description

Question feedback from:
https://discuss.cocos2d-x.org/t/gfx-buffer-memory-leak-when-destroy-spine-node/56514
spine resource frequent release , causes GFX Buffer Mem growth.

### Relevant error log output

_No response_

### Steps to reproduce

here is the demo:
[56514.zip](https://github.com/cocos/cocos-eng

[2022-07-15 04:25] speakissilver opened #12010 "3.4.2 IOS Can not use UINavigationController"
### Cocos Creator version

3.4.2

### System information

ios 15.5 build on iphone 7 plus

### Issue description

The app crashed when I try to run:

"UINavigationController *nav = [[UINavigationController alloc]initWithRootViewController:_viewController];
[self.window setRootViewController:nav];"

and the error message shows:

"Terminating app due to uncaught exception 'NSInvalidArgumentException

[2022-07-15 07:56] yeshao2069 opened #12018 "[3.6.0-071301] iOS crash"
### Cocos Creator version

3.6.0

### System information

Xcode 13.4.1，iphone 7 iOS 15.5,  macOS 12.4

### Issue description

Using Creator 3.6.0 Community Edition version 3.6.0-071301, using skeletal animations, building iOS to run on Xcode, app crashes.
The other project works fine on 3.5.2 and the web preview works fine.
Test devices: iOS simulator, iphone 7

### Relevant error log output

JS:

[2022-07-15 11:04] dumganhar opened #12025 "Add ReleaseWithDebugInfo or profile 'build variant' for android"
ReleaseWithDebugInfo should not hide symbols

[2022-07-15 11:16] PatriceJiang commented on #12018
Fixed in https://github.com/cocos/cocos-engine/pull/12028

[2022-07-15 11:16] #12018 closed, assigned to PatriceJiang

[2022-07-15 14:57] zenskcode opened #12030 "3.6.0社区版，局部换装spine原生安卓崩溃"
### Cocos Creator version

3.6.0-社区公测版

### System information

windows10

### Issue description

3.6.0社区版，局部换装spine原生安卓崩溃，推测崩溃与局部换装无关，jiaose.png为spine导出贴图，spine导出版本为3.8

使用官方技术团队提供的spine局部换装
https://github.com/cocos/cocos-awesome-tech-solutions/tree/3.4.0-release/demo/Creator3.4.0_2D_spine_changeSlot_with_texture
在3.5.2上原生、web均表现正常，但性能欠佳，局部贴图无法参与动态合图，参与合图后显示异常。

3.6.0社区版上，web表现正常，安卓原生崩溃crash，日志如下

[2022-07-15 16:38] zenskcode commented on #12030
空工程运行spine，统一spine素材，表现正常，因此判断上述问题可能与局部换装方案有关

[2022-07-17 20:57] Ronsku commented on #11950
@shrinktofit amazing, works perfectly! I wasn't aware that import-map worked with directory mapping as well :)

[2022-07-17 20:57] #11950 closed, assigned to shrinktofit

[2022-07-18 02:29] zhefengzhang commented on #12030
@zenskcode 你好，此问题你可以试试把 macro.BATCHER2D_MEM_INCREMENT 的值改大一些来暂时解决。
后续等 3.6.0 正式版发布时，就会解决这个问题。

[2022-07-18 02:30] zxx43 opened #12047 "ParticleSystem read serializable data error"
### Cocos Creator version

3.6.0

### System information

Windows 10 simulator

### Issue description

ParticleSystem read no serializable data in simulator

### Relevant error log output

_No response_

### Steps to reproduce

open any particle case in simulator

### Minimal reproduction project

_No response_

[2022-07-18 02:34] zhefengzhang opened #12048 "Dynamically setting the convex property of the MeshCollider after rigid body generation has no effect"
### Cocos Creator version

3.5.2

### System information

all

### Issue description

Dynamically setting the convex property of the MeshCollider after rigid body generation has no effect

刚体生成后，动态设置 MeshCollider 的 convex 属性没有效果

### Relevant error log output

_No response_

### Steps to reproduce

..

### Minimal reproduction project

[001.zip](https://github.com/cocos/cocos-engine/files/9129132/

[2022-07-18 02:36] zhefengzhang commented on #12048
https://forum.cocos.org/t/topic/136252

[2022-07-18 03:13] dumganhar commented on #11288
@pandamicro The changes of optimizing mesh memory in engine were done and merged. We currently support developer to enable converting some formats (uv, normal, tangent) of mesh attribute from `float` to `half` at runtime by setting `CC_OPTIMIZE_MESH_DATA` macro to `1` in Mesh.cpp.

The remaining work is that editor needs to export mesh data with `half` format and index with `ushort` if index is le

[2022-07-18 03:50] zenskcode commented on #12030
咨询得知顶点的上限是 65535，换算成 kb 约为 2303，与我目前2048较为接近，可能需要其他的方式来解决这个问题

[2022-07-18 05:57] timlyeee commented on #11878
OK，I'll put it to milestone `next` to follow.

[2022-07-18 06:06] PPpro commented on #11731
sync here
https://github.com/cocos-creator/creator-api-docs-2.x/pull/204
https://github.com/cocos/cocos-engine/pull/11981

In consideration of interface compatibility， `enableCulling` is still designed as a function, won't be a setter/getter
while we've changed the  `enableCulling`  into a setter/getter since v3.x

[2022-07-18 06:10] novain1102 commented on #12010
Have you tested whether it will reproduce on other devices, except iphone 7p. And can you describe the steps to reproduce in detail? Or just provide me with a demo.

[2022-07-18 07:36] PPpro commented on #11731
thanks for feedback

[2022-07-18 07:36] #11731 closed, assigned to PPpro

[2022-07-18 08:04] dumganhar commented on #11288
OpenGLES2 (webgl1) standard doesn't require to support `half format of vertex attribute`, it's supported by OpenGLES2 extension,  some devices may not support half vertex format data uploaded to GPU.  Therefore, Offline `float to half` vertex attribute data conversion should not be done in `mesh import` stage, it's better to do it in `Project Building` stage and let developer to decide whether to

[2022-07-18 08:16] pandamicro commented on #11288
Related to https://github.com/cocos/3d-tasks/issues/7358

It might also need build time mesh manipulation

@dumganhar we also need to expose CC_OPTIMIZE_MESH_DATA in project settings

[2022-07-18 10:56] yeshao2069 opened #12056 "[3.5.2] Illumination mapping baked model display exception"
### Cocos Creator version

3.5.2

### System information

macOS 12.4

### Issue description

Use the editor's light mapping function to bake, operate according to the official documentation, and the model has 2UV, one UV for light mapping. The baking effect shows exceptions.
![47A95B177239DFFCA6C417D5121080E0](https://user-images.githubusercontent.com/14273437/179497101-6b6eff8a-4480-4579-800e-588

[2022-07-19 07:25] OnlyKoei opened #12067 "Different display of shadows on preview and editor"
### Cocos Creator version

3.5.2，3.6.0

### System information

window10，chrome

### Issue description

https://forum.cocos.org/t/topic/137934
![企业微信截图_16582120896871](https://user-images.githubusercontent.com/40415168/179689343-053c2c65-096e-4f14-b5d7-8340bd40e479.png)

### Relevant error log output

_No response_

### Steps to reproduce

https://user-images.githubusercontent.com/40415168/1796905

[2022-07-19 08:20] timlyeee commented on #10107
Test on Android 12, if there's no Simplified Chinese, the order of language is wrong.
![image](https://user-images.githubusercontent.com/43355299/179692125-18e0cfbd-9304-4689-bb0a-adbba50ab111.png)
![image](https://user-images.githubusercontent.com/43355299/179692155-47a0d0fa-5726-4a3b-9c54-8f9552343f0b.png)
The reason is that if we don't offer a value resource file of specified language, the syst

[2022-07-19 09:17] timlyeee commented on #10107
Fix to 2.4.10 and 3.6

[2022-07-19 09:17] #10107 closed, assigned to timlyeee

[2022-07-20 01:31] yanOO1497 commented on #10685
@stanleyljl This is an issue with the editor UI component, which has been fixed by the person in charge.

[2022-07-20 01:31] #10685 closed, assigned to yanOO1497

[2022-07-20 03:24] dumganhar opened #12083 "[bug] bindings-generator outputs namespace errors"
<img width="1249" alt="企业微信截图_b5841ba7-427a-41dc-b192-67d805e4f1a8" src="https://user-images.githubusercontent.com/493372/179889563-14cacf65-c110-4668-8ed5-6d1ef6ef160b.png">

Expected:

If it's not an error, it should not be printed.

[2022-07-20 03:55] OnlyKoei opened #12085 "stencil test does not display correctly"
### Cocos Creator version

3.5.2，3.6.0-0715

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/137967
![537e58addcc3f2c006de76c07bde3901ebacfd7f](https://user-images.githubusercontent.com/40415168/179892780-d0a65b5c-644d-49f2-bb4b-5cc9f712eaec.gif)

### Relevant error log output

_No response_

### Steps to reproduce

https://user-images.githubusercontent.com

[2022-07-20 06:13] minggo opened #12090 "Reuse 3rd libs that comes with Editor after installation"
When developers want to use custom engine, and build for native platforms, then need to download 3rd libs. The 3rd libs come with Editor after installation, so can reuse them without download them. Of course, some developers may already have these 3rd libs, then should use the it first.

[2022-07-20 06:23] #12067 closed, assigned to troublemaker52025

[2022-07-20 06:36] #12083 closed, assigned to PatriceJiang

[2022-07-20 07:55] minggo opened #12098 "Is it appropriate to use floating point to store the window size?"
As the title said, is there any situation that need float window size? If not, i think we should use integer to store window size.

[2022-07-20 08:02] star-e commented on #12098
I have always used unsigned int to store window size.
There are some graphics/system APIs which take float as input, but AFAIK they only use the integer part.

[2022-07-20 08:05] oahcy commented on #12098
In the end, it still needs to be converted to a int pixels, which feels unnecessary.

[2022-07-20 08:12] Zhmz commented on #11439
please QA group validate it

[2022-07-20 08:12] minggo commented on #12098
Yep, unsigned int is better. As negative value is meaningless.

[2022-07-20 08:33] minggo opened #12101 "The generated Xcode project needs to be changed according to the configuration set by the editor"
- set `debug` mode in editor, the Xcode project setting should
  - use debug build
  - disable `Metal API Validation`
  - disable `Metal Shader Validation`
- set `release` mode in editor, the Xcode project setting should
  - use release build
  - enable `Metal API Validation`
  - enable `Metal Shader Validation`

[2022-07-20 15:06] pandamicro commented on #11466
Thanks @mikecoker , your PR have been merged

[2022-07-20 15:06] #11466 closed, assigned to Zhmz

[2022-07-21 10:09] pandamicro commented on #11632
@Zhmz you need to close this issue and notify QA to test it

[2022-07-21 10:12] #11632 closed, assigned to Zhmz

[2022-07-21 10:20] troublemaker52025 commented on #11717
* https://github.com/cocos/cocos-engine/pull/11758

[2022-07-21 10:20] #11717 closed, assigned to troublemaker52025

[2022-07-21 10:53] dumganhar opened #12134 "Write a tool to verify JSB exported API is the same as which in web"

[2022-07-22 03:39] MSoft1115 commented on #12056
https://github.com/cocos/editor-extensions/pull/271

[2022-07-22 03:39] MSoft1115 commented on #12056
已解决

[2022-07-22 03:39] #12056 closed, assigned to MSoft1115

[2022-07-22 03:42] pandamicro commented on #11839
Already responded in the forum
It's due to lighting and shadow rendering

[2022-07-22 03:42] #11839 closed, assigned to troublemaker52025

[2022-07-22 04:13] pandamicro commented on #10987
This has been fulfilled

[2022-07-22 04:13] #10987 closed, assigned to fish9167

[2022-07-22 04:14] pandamicro commented on #11508
This will be delayed to v3.6.1, @timlyeee please keep track and give feedbacks here

[2022-07-22 04:56] shrinktofit commented on #11158
https://github.com/cocos/cocos-engine/pull/11566

[2022-07-22 04:56] #11158 closed, assigned to shrinktofit

[2022-07-22 05:44] VisualSJ commented on #10906
Material drag and drop is now supported.
But the texture settings still need to be discussed, it is difficult to know exactly where the texture should be set.

[2022-07-22 05:48] zxx43 commented on #10767
Use render phase in new render pipeline than check type by it

[2022-07-22 06:01] #11115 closed, assigned to star-e

[2022-07-22 06:05] yanjifa commented on #10906
I think this experience needs to be optimized. The prompt of dragging in is not obvious. For the first time, I can see the wireframe of the bounding box, and the wireframe is very thin. Drag again, and the wireframe is gone

我觉得这个体验还要优化，拖进去的提示很不明显，第一次能看到包围盒的线框，而且线框很细，再次拖动，线框没有了

[2022-07-22 06:59] dumganhar opened #12151 "[optimization] Functions in se::State should be inlined"

[2022-07-23 02:18] Zhmz commented on #11412
there is no spare time to debug this issue because of the workload of protobiochemistry. I decide put it into version 3.6.1. Hope to understand.

[2022-07-23 07:10] Zhmz commented on #11632
![image](https://user-images.githubusercontent.com/32831993/180594655-cafe87b6-13d4-4d04-891d-79711029dcc0.png)
when high performance mode is turned on, its FPS can reach 37 while its FPS is about 13 when the mode is turned off.

[2022-07-25 02:13] dev-keishen opened #12173 "navigator.clipboard.writeText failed on Safari"
### Cocos Creator version

3.3.0

### System information

MAC OSX, Web mobile IOS

### Issue description

Hello team

In version 3.3.0 has a bug on "copy to clipboard" feature

When i use `navigator.clipboard.writeText` to copy an text,it throw an error

`Unhandled Promise Rejection: NotAllowedError: The request is not allowed by the user agent or the platform in the current context, possibly beca

[2022-07-25 06:41] dumganhar opened #12176 "float value comparison needs approximate version in Math library"
`operator==` should be absolute equal, add new comparison function like `approxEquals`.
For example:

[code]

Quaternion, Vec3, Mat3, Mat4 also needs to implement this.

[2022-07-25 06:46] yeshao2069 opened #12177 "[3.5.2] xml error problem"
### Cocos Creator version

3.5.2

### System information

mac

### Issue description

xml error invalid doc source
There is no way to locate which file is reporting an error
![CAA5E0DC-C409-42B1-9DD8-763F7F59AE18](https://user-images.githubusercontent.com/14273437/180714980-8707983c-b380-48fb-bca3-0e2c9236c0ce.png)
![WechatIMG60](https://user-images.githubusercontent.com/14273437/180714990-79bc2e2

[2022-07-25 06:49] dumganhar opened #12178 "The default float epsilon is too small"
creator:

https://github.com/cocos/cocos-engine/blob/v3.6.0/native/cocos/math/Utils.h#L11

[code]

cpp code was ported from ts: https://github.com/cocos/cocos-engine/blob/v3.6.0/cocos/core/math/utils.ts#L33

But js uses `double` to represent float number, but cpp uses `float` instead. The precision is lower than which in ts.

godot:

https://github.com/godotengine/godot/blob/fe52458154c64fb1b741df

[2022-07-25 06:58] dumganhar commented on #12178
Currently, the unit test here https://github.com/cocos/cocos-engine/pull/12169 will fail.
If change it to 4 zeros after point, it will succeed.

[2022-07-25 07:09] minggo commented on #12178
May be ts can also change to `0.00001` too. [Babylon.js](https://github.com/BabylonJS/Babylon.js/blob/master/packages/dev/core/src/Maths/math.constants.ts) just use `0.001`.

[2022-07-25 07:18] LinYunMo commented on #10829
BreakChange：
- mask 下现在存在一个渲染 mask 内容的子节点，这会造成 mask 下的用户子节点的索引与用户可见的节点树不一致，建议不直接使用硬编码来获取索引位置的子节点以免与预期不一致。

[2022-07-25 10:17] pandamicro opened #12183 "Move Camera.convertToUINode to UITransform"
Now that `Camera.convertToUINode` is deprecated, but we haven't provide any equivalent API in `UITransform`, which makes user very confused.

Please add a equivalent API to `UITransform` and change API documentation of `UITransform.convertToNodeSpaceAR` accordingly.

[2022-07-26 06:20] linruimin opened #12193 "EventType.TOUCH_MOVE not working on notebook with touch screen"
### Cocos Creator version

3.5.2

### System information

windows10, surface

### Issue description

Node touch event EventType.TOUCH_MOVE not working on notebook with touch screen, i have tested in surface from a colleague, and the issue feedback from the forum: [https://discuss.cocos2d-x.org/t/eventtype-touch-move-not-working-on-chromebook-browser/56367](url)

### Relevant error log output

_No

[2022-07-26 07:38] OnlyKoei opened #12199 "websocket native crashes"
### Cocos Creator version

2.4.9，3.5.2，3.6.0-072219

### System information

window10, android , web

### Issue description

https://forum.cocos.org/t/topic/133665
![image](https://user-images.githubusercontent.com/40415168/180947551-029e696c-0546-49b1-a446-f7ff190bbc52.png)

### Relevant error log output

_No response_

### Steps to reproduce

3.6 demo :
[NewProject_3.zip](https://github.com/coco

[2022-07-26 08:24] novain1102 commented on #12199
Please @OnlyKoei help to verify 2.x PR above. Thanks.

[2022-07-26 11:12] novain1102 commented on #11899
https://github.com/cocos/engine-native/pull/4291 This PR may solve the crash issue. Have a try!

[2022-07-26 11:16] Yetland commented on #11899
my cocos creator version 2.4.3 but the PR is 2.4.10. is the same?

[2022-07-26 11:18] novain1102 commented on #11899
Yes. Not a big deal. You can directly merge the modification.

[2022-07-26 11:19] OnlyKoei opened #12207 "prefab reference issues"
### Cocos Creator version

3.4.2，3.6.0-072219

### System information

window10，chrome

### Issue description

https://forum.cocos.org/t/topic/138162

### Relevant error log output

_No response_

### Steps to reproduce

[test.zip](https://github.com/cocos/cocos-engine/files/9189298/test.zip)

### Minimal reproduction project

_No response_

[2022-07-26 11:19] Yetland commented on #11899
OK

[2022-07-27 06:03] xubing0906 commented on #12085
moving the ball or box will sort the render queue, if the box render first the stencil test will fail, so just modify the priority of the ball material to ensure that the ball render before the box.
![企业微信截图_16589017877182](https://user-images.githubusercontent.com/49358166/181172850-a86282c7-1d09-445a-bc09-f8bba483a2ea.png)

[2022-07-27 07:53] #12085 closed, assigned to jk20012001, xubing0906

[2022-07-27 08:53] SantyWang commented on #12002
xcode 模拟器的问题， @timlyeee 帮忙看一眼

[2022-07-27 09:13] novain1102 opened #12222 "webSocketServer support for iOS"
### Use Case

https://forum.cocos.org/t/topic/137962

### Problem Description

Can't run well when set USE_WEBSOCKET_SERVER ON. Try to repair this issue.
![image](https://user-images.githubusercontent.com/18634782/181210072-1ab36be5-ef3b-48a1-a7c7-ef763754fa67.png)

![wecom-temp-27d4a4293b6fdedabd05eb2306fb16f3](https://user-images.githubusercontent.com/18634782/181209547-c7783b20-d8c5-4059-a9dc-4

[2022-07-27 10:25] OnlyKoei commented on #11474
测试 3.6.0-072219 已修复

[2022-07-27 10:25] #11474 closed, assigned to OnlyKoei

[2022-07-27 11:33] SantyWang commented on #12183
reverted. And will deprecate it again when we are ready

[2022-07-28 01:28] #12173 closed, assigned to nobody

[2022-07-28 01:28] #11821 closed, assigned to Zhmz

[2022-07-28 01:38] dumganhar opened #12234 "Replace __objectMap type in jswrapper/v8/Object.cpp to unordered_set"
Originally, its type is unordered_map, the value is useless. So using unordered_set is enough.

[2022-07-28 02:07] Zhmz commented on #10947
v3.6 is about to end. Delay it to 3.6.1

[2022-07-28 03:24] MSoft1115 commented on #11677
prefab加载terrain block的renderable uuid为“”，导致Scheduler.unscheduleAllForTarget没有找到而报错，不影响运行

[2022-07-28 03:27] MSoft1115 commented on #11677
![企业微信截图_16584719072481](https://user-images.githubusercontent.com/15318610/181414062-8cfc915c-adac-40bb-ae33-0256239fa3da.png)

[2022-07-28 03:37] yiwenxue commented on #11635
目前有两个可用的解决方案：

1. 降级 vulkan SDK 和 gpu driver。
2. 下载较新的 spirv 库，可以用这个解压替换 engine/native/external/sources/glslang 目录，可以暂时正常使用。
[glslang.zip](https://github.com/cocos/3d-tasks/files/9177531/glslang.zip)

[2022-07-28 06:07] shrinktofit opened #12242 "How do we recongnize CCONB files"
Currently we deserialize certain sorts of asset into CCON binary format then store them as `.cconb` files. Some users claim that their target platform/CDN doesn't allow such extension of file to be loaded or gzip-ed. We have several ways to solve this problem.

The widely-used binary format has extension `.bin`. But if we deploy CCON binary in `.bin`, we need to distinguish CCON binary from plain

[2022-07-28 06:16] SantyWang commented on #12242
麻烦把工作量评一下级，在 2 进制序列化方案订下来之前，我倾向于选择工作量最小的方案，改得越多，之后给后面的负担越大

[2022-07-28 07:48] #12199 closed, assigned to novain1102

[2022-07-28 08:12] novain1102 commented on #12002
How to reproduction? Seems run well in my local enviroment.

![image](https://user-images.githubusercontent.com/18634782/181455969-22b767d5-9de7-4cfc-af71-444d4748d11b.png)
![image](https://user-images.githubusercontent.com/18634782/181456007-61f35945-7c52-42ac-b004-1d9cca33b85a.png)

[2022-07-28 08:37] novain1102 commented on #12002
Run well when set frameRate to 30. However, If you set frameRate to other value like 45, it failed on all the platform(Android, iOS, etc), not only for iOS simulator. I'm not sure if it's a known issue. @holycanvas @minggo

[2022-07-28 08:40] Zhmz opened #12253 "Disappearance of Label Shadow on Android platform"
### Cocos Creator version

3.6.0

### System information

Android

### Issue description

LabelShadow doesn't work on Android platform

### Relevant error log output

_No response_

### Steps to reproduce

1. new a project ,new a label in scene and add a LabelShadow component on it
2. build in Android platform
3. run it and find the LabelShadow doesn't work.

### Minimal reproduction project

_No

[2022-07-28 08:42] minggo commented on #12253
Should also check iOS platform. And please add a test case for it too.

[2022-07-28 10:11] minggo commented on #12002
It is not an known issue.

[2022-07-28 10:14] minggo commented on #12002
@qiuguohua please take a look.

[2022-07-28 10:28] pandamicro opened #12257 "Touch event ownership issue on mobile native"
Reproduce with the project
[testTouchEventDemo.zip](https://github.com/cocos/cocos-engine/files/9208177/testTouchEventDemo.zip)

![wecom-temp-107265-76f8d8cdfda342aaf65c8735e2d87298](https://user-images.githubusercontent.com/632460/181483699-de7cd285-684d-48d8-9e93-53bb104df448.jpg)

Description
1. Only red panel registered event, and blue panel doesn't
2. Multitouch enabled
3. The label will show

[2022-07-29 01:59] VisualSJ commented on #10864
The problem has been solved

[2022-07-29 02:43] Zhmz opened #12261 "camera3d.convertToUINode cannot be invoked in start"
### Cocos Creator version

3.6.1

### System information

All

### Issue description

![image](https://user-images.githubusercontent.com/32831993/181671470-5a8da643-8ed0-4a40-99e9-c5fd583cb791.png)
the start function might do some preparation. So the calculation might be not accurate.

### Relevant error log output

_No response_

### Steps to reproduce

1. invoke camera3d.convertToUINode in start

[2022-07-29 02:47] Zhmz opened #12262 "ttf doesn't work on Windows platform"
### Cocos Creator version

3.6.0

### System information

Windows

### Issue description

![image](https://user-images.githubusercontent.com/32831993/181672090-b46c4960-2267-4003-a723-165d0a53e4cf.png)
![企业微信截图_16590587697680(2)](https://user-images.githubusercontent.com/32831993/181672103-bf3641dd-05d8-4b46-bcce-f2ec4afe1344.png)

The display effect of various ttf is the same on Windows

### Rele

[2022-07-29 04:10] khoonlincha opened #12267 "Inconsistent results after engine build"
### Cocos Creator version

2.4.7

### System information

MacOS 11.6.1, VS Code 1.69.2, Node 12.22.1, Gulp Version (CLI: 2.3.0, Local: 4.0.2), Chip: Apple M1, Memory: 16GB

### Issue description

大大们好，

我发现在 **没有改动引擎文件内容的前提下** 多次使用引擎的 `build-html5-min` 构建指令所得到的结果往往不一致。

希望大大们能够对 “明明没有对任何文件进行改动却有概率构建出不一样的结果” 这个异常进行调查

### Relevant error log output

_No response_

### Steps to reproduce

触发步骤：
---
1

[2022-07-29 07:31] PPpro commented on #12257
we should implement `changedTouches` property on Native platforms
https://developer.mozilla.org/zh-CN/docs/Web/API/TouchEvent/changedTouches

and we should still keep the current implementation as `touches` property
https://developer.mozilla.org/zh-CN/docs/Web/API/TouchEvent/touches

[2022-07-29 08:08] #11677 closed, assigned to dogeFu

[2022-07-29 09:21] qiuguohua commented on #12002
There is no problem in my test here, including android and IOS.

My test android may have an average of two frames higher than the set value.

testing method:
In test-case, set by calling game.frameRate = value

![image](https://user-images.githubusercontent.com/5205637/181728172-bf45ea0e-d8a0-41d5-a694-bfd3a7d90566.png)
![aaa6b07103082c7e21dc06b86b676075](https://user-images.githubusercontent.com

[2022-07-29 09:39] novain1102 commented on #12002
Test in 3.6.0, setFrame as expect on Android, but NOT as expect on iOS.
And this issue also reproduce in 3.5.2 version. It's not a new problem in 3.6.0 version, so change priority to p2

[2022-07-29 10:02] Zhmz commented on #12262
It is an issue left over from history
There is no spare time in v3.6
and it has little effect
so delay it to v3.6.1

[2022-07-29 11:28] minggo opened #12278 "Default preview settings of simulator are not reasonable."
Currently, the default preview settings of simulator are:
<img width="796" alt="WeChatWorkScreenshot_0ad0d010-0a99-411c-ad86-4a775a77ca7a" src="https://user-images.githubusercontent.com/488203/181749148-a2b80f0d-ec8d-49f1-af53-571090425235.png">

So when preview with simulator, it will
- open devtools
- blocked by devtools
- should click run button in devtools to continue

I think it is not reason

[2022-07-29 12:12] Ronsku opened #12279 "CC 3.5.2 - The Asset Is Missing! Which asset?"
### Use Case

When you remove and clean up your project and by mistake remove an asset which is in use, you will receive an error like this

![image](https://user-images.githubusercontent.com/7983358/181755345-df2a9033-4ab9-4095-8782-bd5b2060f3c1.png)

### Problem Description

This is very good that Cocos reports that something isn't right, but having an UUID for a missing file, doesn't really tel

[2022-07-29 12:13] #11135 closed, assigned to qiuguohua, PatriceJiang, timlyeee

[2022-07-30 11:03] bofeng-song commented on #12257
android has been fixed the issue
https://github.com/cocos/cocos-engine/pull/12285

[2022-07-30 14:45] pandamicro commented on #12242
@holycanvas Please use English

[2022-07-31 15:15] novain1102 commented on #12002
<img width="456" alt="image" src="https://user-images.githubusercontent.com/18634782/182032254-1066fc37-0b4c-49ba-aa58-e4539b459d3b.png">
I'v try each value from 0~60. It shows that when frame rate set below 30, it can be set precisely. But when set [31 ,40] the result could be 30, when set to [41, 60], the result could be 60.

So I guess there is kind of iOS mechanism like vSync to limit frame ra

[2022-08-01 01:58] minggo opened #12286 "Native implementation of WebSocket is not the same as web"
https://discuss.cocos2d-x.org/t/native-websocket-close-code-is-always-undefined-v3-5-2/56787/3?u=pandamicro

Should check all interfaces that have different behaviors.

[2022-08-01 02:01] #12002 closed, assigned to novain1102

[2022-08-01 02:11] novain1102 commented on #12002
We've add document to describle this strategy later.

[2022-08-01 04:53] novain1102 commented on #12257
Cannot Reproduce on iOS platform when enable multi-touch.

[2022-08-01 06:02] minggo commented on #12279
I think you can search uuid in editor:
![Uploading WeChatWorkScreenshot_1a66dd9c-0c37-4ed4-96f9-f73928b56463.png…]()

[2022-08-01 06:03] minggo commented on #12279
<img width="282" alt="WeChatWorkScreenshot_1a66dd9c-0c37-4ed4-96f9-f73928b56463" src="https://user-images.githubusercontent.com/488203/182082386-138c3b6e-dd06-4581-8c41-0dd74601f344.png">

[2022-08-01 06:19] #12257 closed, assigned to bofeng-song, PPpro, novain1102

[2022-08-01 07:41] minggo opened #12289 "LocalStorage.setItem() may crash if pass invalid value on native"
Issue comes from forum: https://forum.cocos.org/t/topic/137747/423

Should avoid crash, just print a warning log is enough.

[2022-08-01 08:36] lealzhan commented on #11227
这是physx原生实现时物理世界和场景的同步的bug，将在近期修复。
This is due to the native physx implementation called inappropriate scene node transform update flag. Will be fixed soon.

[2022-08-02 03:01] timlyeee opened #12292 "SharedBuffer, MeshBuffer, TypeArrayPool are trying to add init hook after restart"
### Cocos Creator version

3.6

### System information

Native platform

### Issue description

[code]
Before 3.6 ScriptEngine won't clean all init hooks, so it will add infinite InitHook for itself. The behavior is good as no bug is produced.

After 3.6, each time ScriptEngine restart, it will clean up the init hook, which makes the logic meaningless.

Same thing in Shared Buffer, TypeArrayPool.

[2022-08-02 08:17] Ronsku commented on #12279
Thanks for your response @minggo!

There are many things listed in this ticket, but what you are suggesting is searching for an UUID. If an asset is removed, so will the meta file including the UUID be. If the link is still setup and you'll get a missing file, you won't be able to find the file by UUID. That's why there needs to be a name linked as well in addition to the UUID.

The other feature

[2022-08-02 08:21] minggo commented on #12279
@Ronsku sorry, i have not idea about these suggestions.
@jareguo could you please take a look?

[2022-08-03 02:48] Zhmz opened #12299 "The whole canvas is shifting when clicking the editbox"
### Cocos Creator version

3.5.2 3.6.0

### System information

web mobile

### Issue description

https://forum.cocos.org/t/topic/138390

when clicking the editbox, the canvas will shift to the left and the placeholder of editbox will move to the top-right of the canvas

![Uploading 企业微信截图_16594313456331.png…]()

### Relevant error log output

_No response_

### Steps to reproduce

1. download th

[2022-08-03 02:51] Zhmz commented on #12299
It only occurs on web.
It is not  new issue in v3.6.0.
Since the tense scheduling of v3.6.0, we decide to put it into v3.6.1.
We will solve it as soon as possible.

[2022-08-03 03:20] bofeng-song opened #12300 "When MIN_SDK_VERSION is greater than 23, it needs to support dynamic library compression in apk of android platform."
### Use Case

creator`s hello world

### Problem Description

see the issue: https://github.com/cocos/cocos-engine/issues/11894

### Proposed Solution

_No response_

### How it works

_No response_

### Alternatives Considered

no

### Additional Information

_No response_

[2022-08-03 03:38] bofeng-song commented on #12300
https://github.com/cocos/cocos-engine/pull/12302

[2022-08-03 03:38] #12300 closed, assigned to bofeng-song

[2022-08-03 04:12] khoonlincha opened #12304 "2DParticle System doesn't render sprite frame if the same asset is being used by another sprite component (in another node) in the same scene"
### Cocos Creator version

2.4.7, 2.4.8, 2.4.9

### System information

MacOS 11.6.1, Chipset: Apple M1, Memory: 16GB

### Issue description

当某资源被同一场景的 `Sprite` 节点及 `Particle System` 节点所使用时，无论这俩节点是什么关系与渲染次序先后（只要是在同一场景内），2D粒子系统将无法正确地渲然该资源，而 `Sprite` 节点则往往不受影响。

https://user-images.githubusercontent.com/33044812/182519398-77910b35-e3dc-49e8-b213-8d0f1da8f85d.mp4

而根据draw call数目来看，粒子系统确实是在渲染着某些东西，因为

[2022-08-03 07:02] Zhmz opened #12307 "Android outline incorrect display"
### Cocos Creator version

3.6.0

### System information

Android

### Issue description

non-black outline displays incorrectly

web
![企业微信截图_16594065084058](https://user-images.githubusercontent.com/32831993/182544848-2199d302-8222-4b5a-a3db-72803cd4a66d.png)

android
![c01357c4a6a7833c37b0b4f84bafede5](https://user-images.githubusercontent.com/32831993/182544824-9fe1cf1c-e001-42c8-9c7c-5d795ffd

[2022-08-03 08:58] koyoter opened #12310 "A bug in system-event"
https://github.com/cocos/cocos-engine/blob/85059956345ecae3a5e5612be8804cf44b7b47e6/cocos2d/core/event/system-event.js#L146

如果游戏逻辑先通过 cc.internal.eventManager.addListener 添加键盘事件（需要事件权重和停止冒泡功能）
后续通过 cc.systemEvent.on(cc.SystemEvent.EventType.KEY_UP) 注册的事件就不会再响应了，因为 systemEvent 判断逻辑过不了了。

[2022-08-03 09:47] zhakesi commented on #11008
暂不影响运行.

[2022-08-03 09:50] Zhmz commented on #10673
not urgent, put it into v3.6.1

[2022-08-03 09:50] Zhmz commented on #10672
not urgent, put it into v3.6.1

[2022-08-03 09:50] Zhmz commented on #12307
please QA group validate it

[2022-08-03 09:50] #12307 closed, assigned to Zhmz

[2022-08-03 13:45] jareguo commented on #12279
@Ronsku Thanks for the report. This is indeed a legacy issue that we will address as soon as possible. We suggest you use this method to search for resources that use a uuid:
![image](https://user-images.githubusercontent.com/1503156/182622356-e9588aa9-05b0-4892-8cb0-1fd06945639c.png)

Is this the interface you are talking about?

![image](https://user-images.githubusercontent.com/1503156/18262297

[2022-08-04 06:29] shrinktofit opened #12331 "Browser preview: when gaining focus, game should not be automatically resumed if it was manually paused"
Steps:

- Launch the preview.

- Click the `pause` button in preview toolbar so that the game is paused by desire.

- Switch to another browser tab and switch back, or minimize the browser window then revert. You can see the game will be automaticlly resumed.

Resume call stack:

![image](https://user-images.githubusercontent.com/28807867/182778313-c947e13c-73c6-4fb0-94b6-fddf0fce5c3c.png)

[2022-08-04 07:00] zhakesi commented on #12030
已测试验证V3.6.0可正常运行。
js_register_spine_updateRegion 函数添加到jsb_spine_manual.cpp   register_all_spine_manual函数之前
在 register_all_spine_manual 注册ns->defineFunction("updateRegion", _SE(js_register_spine_updateRegion));

[2022-08-04 07:00] #12030 closed, assigned to zhakesi

[2022-08-04 17:55] maximgavrilov opened #12338 "Fix destruct caching"
Destruct cache should be get from own constructor properties, not prototyping chain:

[code]

Because with some inheritance of Components, delivered classes will receive prior base class destructor, which is incorrect behavior.

https://github.com/cocos/cocos-engine/blob/f58ef95956c3d7855407516edc0075479af6cfd1/cocos/core/data/object.ts#L361

[2022-08-05 03:16] zhefengzhang opened #12341 "[3.6.0-080401] The editor reports an error when the Tiled Sprite size is large"
### Cocos Creator version

3.6.0-080401

### System information

--

### Issue description

https://forum.cocos.org/t/topic/138413

### Relevant error log output

_No response_

### Steps to reproduce

Error [Scene] Invalid typed array length: 63504 for modifying the tiled size of an image to 15000*15000

### Minimal reproduction project

_No response_

[2022-08-05 03:23] shrinktofit opened #12342 "Proposal: option to speed up or slow down non-rendering game logic"
Sometimes we may hope to observe some game behaviours in abnormal tick speed. For example, observe an animation or physics effect.

This can be achieved by scale the Δtime by a factor(correct me if I'm wrong).

Related:

- [Unreal Engine Slomo](https://docs.unrealengine.com/4.26/en-US/BlueprintAPI/CheatManager/Slomo/)

- [Unity Time Scale](https://docs.unity3d.com/ScriptReference/Time-timeScale.ht

[2022-08-05 05:53] SantyWang commented on #12047
已修复

[2022-08-05 05:53] #12047 closed, assigned to SantyWang

[2022-08-05 07:13] zhakesi commented on #11511
中间件render调用太早
https://github.com/zhakesi/engine/commit/1d68aa697d97e694a2f6831a495345a4324f09cb

[2022-08-05 07:13] #11511 closed, assigned to zhakesi

[2022-08-05 12:58] SantyWang opened #12356 "Label color is not correct when char mode used"
Label color is not correct when using char mode and color is not white

[2022-08-05 12:59] SantyWang commented on #12356
https://github.com/cocos/cocos-engine/pull/12355

[2022-08-06 03:20] PPpro commented on #12310
eventManager 作为内部接口，从 2.x 开始就已经废弃不建议使用了哈，请勿使用该接口来注册输入事件回调，
建议使用 input 接口，详情请参考
https://docs.cocos.com/creator/manual/zh/engine/event/event-input.html?h=input

感谢反馈

[2022-08-06 03:20] #12310 closed, assigned to PPpro

[2022-08-06 16:50] RobotoSkunk opened #12357 "Cocos ignore pivot of plists when importing"
### Cocos Creator version

3.6.0

### System information

Windows 10 Profesional 21H1 19043.1826

### Issue description

When a new `.plist` is generated in Texture Packer 6.0.2, it comes with definitions for the pivots of the sprites, however, when importing the `.plist` in Cocos Creator, the pivots are reset or ignored to the center.

![unknown (5)](https://user-images.githubusercontent.com/4935

[2022-08-07 19:24] Ronsku commented on #12279
I will create a demo where you can replicate all the cases in this ticket to understand it better 👍

[2022-08-08 02:13] bofeng-song commented on #12253
support shadow feature at Android platform
https://github.com/cocos/cocos-engine/pull/12332

[2022-08-08 03:00] Yetland commented on #11899
this changes brings a new crash.
[split_config.arm64_v8a.apk!libcocos2djs.so] WebSocketCallbackWrapper::onSocketCallback(lws*, lws_callback_reasons, void*, void*, unsigned long)

  #00  pc 0x0000000000d4757c  /data/app/~~aIz4AWje8mPLWriygfvobQ==/com.xxx.xxx-WnKmkxG2kke-0P20pf7P6w==/split_config.arm64_v8a.apk!libcocos2djs.so
  #00  pc 0x0000000000d46408  /data/app/~~aIz4AWje8mPLWriygfvobQ==/com.xxx

[2022-08-08 03:47] novain1102 commented on #11899
how to reproduce the crash and could you send me a demo to reproduce?

[2022-08-08 06:19] AndyYuTian commented on #10767
If the barrier of particle-gpu material, particle material, and standard material cannot be removed in a relative short amount of time, say 3-6 month.

We should give users better indication about different materials in the asset level, say create a new asset type called "Particle Material", rather than distinguish them in the material effect choosing phase. By doing that, it is more clear for use

[2022-08-09 02:01] zhefengzhang opened #12367 "Need Trail Renderer"
### Use Case

https://forum.cocos.org/t/topic/136690

### Problem Description

--

### Proposed Solution

_No response_

### How it works

_No response_

### Alternatives Considered

--

### Additional Information

_No response_

[2022-08-09 08:02] mzvast commented on #10997
Oh my god. I was trying to figure out how to run playground with no luck.

Maybe we should warning devs somewhere before they came into this issue.

[2022-08-09 09:28] OnlyKoei opened #12375 "canvas does not trigger resize [Alipay]"
### Cocos Creator version

3.5.2，3.6.0-080521

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/138507
![image](https://user-images.githubusercontent.com/40415168/183613791-05da0de3-4e76-4163-bf1d-02e45b85b0a7.png)
![image](https://user-images.githubusercontent.com/40415168/183614108-d90b2b3d-48d2-48e2-b41e-a0dcbb92c6a4.png)

![image](https://user-images.git

[2022-08-09 09:39] minggo commented on #12375
@timlyeee  please take a look. If you need any help, can ask @PPpro .

[2022-08-09 10:37] #12356 closed, assigned to Zhmz

[2022-08-10 07:23] qiuguohua commented on #12331
I reproduce this bug because every time the tab is switched or zoomed out, the onHide message and the onShow message are triggered. The onHide message will pause the game (if the game state is already paused, it will not be processed), and if the onShow message will resume. The reason here is to reuse a state.

[2022-08-10 08:02] VisualSJ commented on #10829
## Known Issue
- 在编辑器预览模式下无法撤消 Cannot be undone in editor preview mode
- 构建面板里链接构建和生成按钮再切换其他平台可能残留链接数据，需要重新链接再解开链接 Link Build and build buttons in the build panel and then switch to other platforms may leave link data that needs to be re-linked and then unlinked

[2022-08-10 08:12] linruimin opened #12381 "bug of debugDrawFlags"
### Cocos Creator version

3.5.2

### System information

Windows10 web

### Issue description

the bug come from:
https://discuss.cocos2d-x.org/t/child-nodes-with-physics-bodies-do-not-move-when-the-parent-is-moved/56851
use debugDrawFlags,  the draw of physics body stays when the node position changed.

### Relevant error log output

_No response_

### Steps to reproduce

get the demo from fourm

[2022-08-10 08:28] bofeng-song commented on #12253
https://github.com/cocos/cocos-engine/pull/12382
support shadow feature at IOS platform

[2022-08-10 08:54] #11212 closed, assigned to PatriceJiang

[2022-08-10 09:15] #12286 closed, assigned to novain1102

[2022-08-10 10:46] OnlyKoei opened #12387 "Mouse triggers touch-end event can get the contact"
### Cocos Creator version

3.5.2

### System information

window10，chrome

### Issue description

https://forum.cocos.org/t/topic/138597
![image](https://user-images.githubusercontent.com/40415168/183882452-44984b5d-a6c8-47a2-a8d6-cd36758d5b95.png)

![image](https://user-images.githubusercontent.com/40415168/183882755-e9f52bdb-914d-4e0b-bdd9-973a418cec18.png)

### Relevant error log output

_No re

[2022-08-10 10:54] OnlyKoei opened #12388 "bundle use a Chinese name，report error"
### Cocos Creator version

3.5.2

### System information

window10，chrome

### Issue description

https://forum.cocos.org/t/topic/138635
![image](https://user-images.githubusercontent.com/40415168/183883618-a3e02ee1-70cc-40a0-a605-cb2c15b8c341.png)

![image](https://user-images.githubusercontent.com/40415168/183883787-010308c8-7434-4bf1-a86b-dfbfe3b6fc5f.png)
![image](https://user-images.githubuse

[2022-08-10 11:28] naturalch commented on #10829
Known Issues：

- The project is not the first build of huawei-agc platform, the check template file will report an error, but it does not affect the run of the build
![image](https://user-images.githubusercontent.com/39176194/183889617-b79f3134-4fbe-40be-93c3-424076f0b022.png)

[2022-08-10 14:36] Ronsku commented on #10354
in 3.6.0 beta we've gone down from 2.2mb to 1.7mb in size of the built engine (77.3% of previous).
When GZIP:ed it went down from 743Kb to 603Kb (81.2% of previous)

Compared to CC2 the difference is still big:
CC2: Gzip:ed: 380Kb
CC3: Gzip:ed: 603Kb (59% bigger)

[2022-08-11 06:03] zhefengzhang commented on #10864
[crash.zip](https://github.com/cocos/cocos-engine/files/9306405/crash.zip)

[2022-08-11 06:42] tandanchendu opened #12393 "Uncaught TypeError: Cannot read properties of undefined (reading 'x')"
### Cocos Creator version

3.3.2

### System information

win10

### Issue description

![TGTQ)XX@`BKL@8%U9CJO)T3](https://user-images.githubusercontent.com/42135824/184077354-c9bb302f-938a-4041-9116-6e091f7f2cc6.png)

### Relevant error log output

![Q6B{_`MIVO406C0RSJHR8~R](https://user-images.githubusercontent.com/42135824/184077410-c019a7fc-47e2-43e3-b3a2-2c5379ca33bc.png)

### Steps to reprod

[2022-08-11 06:44] tandanchendu commented on #12393
cocos-engine/cocos/2d/assembler/sprite/tiled.ts

[2022-08-11 07:20] tandanchendu commented on #12393
![({S0DM6VXFQ1_HN4 YHA`N7](https://user-images.githubusercontent.com/42135824/184082987-1d1a46cf-816a-4a1f-8a27-0bd0011d3e4d.png)
加个限制应该暂时可以了

[2022-08-11 07:30] #12006 closed, assigned to novain1102

[2022-08-11 09:18] star-e opened #12396 "add shader subset compiling"
### Use Case

When loading shader, we can provide combinations of macros in order to control the number of shader variant need compiling.

### Problem Description

Currently, we cannot control the shaders to be compiled. Some shader variants are compiled but never used.
This increases loading time and consumes more power on mobile platform.

### Proposed Solution

gfx provides interface to control

[2022-08-12 02:25] SantyWang opened #12403 "Feature Request: Spring Bone"
Considering support spring bone in engine

[2022-08-12 06:53] xianyinchen opened #12411 "Label rendering on iOS is not consistent with the editor display"
### Cocos Creator version

3.4.2,3.6.0

### System information

iOS

### Issue description

Problems with both bold and italic.

Editor:
![image](https://user-images.githubusercontent.com/8321365/184299879-ebb54140-9e35-4d9e-98a1-022a674cfdd2.png)

iOS:
![a7cce58284ec03a22e3cb95832786fd](https://user-images.githubusercontent.com/8321365/184299987-0614cb70-710c-4b24-8a02-ab3cb950cdf4.jpg)

### Rele

[2022-08-12 07:12] OnlyKoei opened #12412 "Dynamically generated 2d particles will report an error"
### Cocos Creator version

3.5.2，3.6.0-080521

### System information

window10，chrome

### Issue description

https://forum.cocos.org/t/topic/138721
![image](https://user-images.githubusercontent.com/40415168/184303144-57ecbed6-3238-4c8a-ac39-d4504d01439a.png)

### Relevant error log output

_No response_

### Steps to reproduce

demo:
[NewProject_17.zip](https://github.com/cocos/cocos-engine/fil

[2022-08-12 09:53] tandanchendu commented on #12393
可能是因为直接通过获取UITransform修改width属性导致的，改成修改节点width属性。

[2022-08-13 07:35] jareguo opened #12417 "Support VideoTexture"
HTML5 Ref: https://github.com/mrdoob/three.js/blob/6e897f9a42d615403dfa812b45663149f2d2db3e/src/textures/VideoTexture.js
Cocomat implement: https://demo-edu.cocos.com/guide/CCMVideo.html#%E4%BA%8B%E4%BB%B6%E7%9B%91%E5%90%AC , [2.x](https://github.com/cocos/cocomat)
Related plugins:
- https://store.cocos.com/app/detail/3726
- https://store.cocos.com/app/detail/3519
- https://store.cocos.com/app/det

[2022-08-14 08:26] VisualSJ commented on #10829
## 已知问题

1. L10n 图片翻译暂时不支持合图功能
2. L10n 如果使用压缩纹理功能需要确保原始资源需要与翻译后的资源都使用一致的压缩选项
3. L10n 使用了原始资源的配置去加载翻译后的资源，需要确保原图与目标资源的大小一致
4. L10n 字体文件暂时无法翻译
5. L10n 需要将原始资源存放在高优先级的 bundle 否则资源的翻译可能失败

[2022-08-15 01:53] pandamicro commented on #10829
@jareguo @AFeiYA @changhua0118 @LinYunMo  @VisualSJ Please use English in the public repo

[2022-08-15 05:50] SantyWang opened #12418 "Render multi spine component in a batch"
iOS device benchmarks shows:
Almost half of time spends on GPU, should try batching spine  on iOS platform

[2022-08-15 06:01] SantyWang opened #12419 "Runtime UI System Rearching"
Including:
* Target Users
* Design pattern
* Workflow
* UI Object Model
* Layout Model
* Multi Resolution adaption
* Text Rendering
* Interaction and Events
* Style system
* Data binding
* I18N support
* 3D UI support
* Rendering process
* UI Animation System

[2022-08-15 07:00] bofeng-song commented on #12411
fixed at this pr
https://github.com/cocos/cocos-engine/pull/12421.

Bold has been supported at v3.6.0

[2022-08-15 09:40] PatriceJiang commented on #12090
Impl at https://github.com/cocos/cocos-engine/pull/12424

[2022-08-15 09:40] #12090 closed, assigned to PatriceJiang

[2022-08-15 09:42] #12411 closed, assigned to bofeng-song

[2022-08-15 12:00] #10829 closed, assigned to pandamicro

[2022-08-16 01:55] PatriceJiang opened #12426 "Use std::string_view to replace std::string as parameter type"
Avoid copying data an creating temporary `std::string` objects.

Possible issues:
- Interface compatibility
- Compatibility with PMR string, boost::string etc.

[2022-08-16 02:48] #10936 closed, assigned to dumganhar

[2022-08-16 02:57] VisualSJ commented on #10864
I tried several machines and found one machine that crashed when 5W resources were imported at a time, and the impact area was small.  Therefore, lower the priority

[2022-08-16 03:13] GengineJS commented on #11134
https://github.com/cocos/cocos-docs/pull/2238 提交了

[2022-08-16 03:13] #11134 closed, assigned to GengineJS

[2022-08-16 03:25] star-e commented on #11730
I agree. It is safer and less error prone.

[2022-08-16 03:51] minggo commented on #12426
What's the benefit to use std::string_view?

[2022-08-16 03:59] dumganhar commented on #11730
Agree. But there're some more complex situations: For example `Frustum` class which may be allocated on stack.
If the destructor is private, compiler will trigger errors.
So if we disallow `RefCounted`'s sub classes being allocated on stack, we need to use `heap` to allocate them. e.g.
[code]
Performance for creating temporary heap objects will be worse than which on stack.

[2022-08-16 05:55] minggo commented on #11730
If so, may be it is not suitable to inherit from RefCounted.

[2022-08-16 06:28] bofeng-song opened #12433 "Use freetype to implement label rendering"

[2022-08-16 06:52] stanleyljl commented on #12433
support bitmap font and freetype font

[2022-08-16 07:09] bofeng-song commented on #12433
Need to support text auto wrap and spacing setting
https://github.com/cocos/cocos-engine/issues/11829

[2022-08-16 07:11] zhefengzhang opened #12437 "[3.6.0 - 080521] Build ios project in xcode emulator for ios 12.4 devices, runs with a crash"
### Cocos Creator version

3.5.2、3.6.0-080521

### System information

xcode simulator, ios12.4

### Issue description

https://discuss.cocos2d-x.org/t/ios-simulation-build-error/56838

### Relevant error log output

<img width="1280" alt="图片" src="https://user-images.githubusercontent.com/35944775/184819456-45adf325-6df9-43a8-9118-41092162de80.png">

### Steps to reproduce

https://discuss.cocos2

[2022-08-16 07:12] bofeng-song commented on #12433
Consider the support of small games

[2022-08-16 07:25] #12253 closed, assigned to bofeng-song

[2022-08-16 07:39] jianglixin85 opened #12438 "Switching background music main threads Stuck for three seconds"
### Cocos Creator version

3.6.0

### System information

android

### Issue description

安卓播放背景音乐卡3秒，主线程卡死，3秒后正常，在3.4.2没问题，在3.6.0会出现

### Relevant error log output

_No response_

### Steps to reproduce

swtich music

### Minimal reproduction project

_No response_

[2022-08-16 07:40] jianglixin85 commented on #12438
[Test3.6Audio.zip](https://github.com/cocos/cocos-engine/files/9348767/Test3.6Audio.zip)

[2022-08-16 08:23] mmyduckx commented on #12222
iOS simulator DO NOT support below 13.0; Please choose iOS simulator version above 13.0;

related disscussion: https://forum.cocos.org/t/topic/137230

[2022-08-16 08:24] novain1102 commented on #12437
iOS simulator DO NOT support below 13.0; Please choose iOS simulator version above 13.0;

related disscussion: https://forum.cocos.org/t/topic/137230

[2022-08-16 08:24] #12437 closed, assigned to novain1102

[2022-08-16 08:59] PatriceJiang commented on #12101
CMake does not support setting
- `enableGPUValidationMode = "1"`          XCODE_SCHEME_GPU_API_VALIDATION
- `enableGPUShaderValidationMode = "2"`    XCODE_SCHEME_GPU_SHADER_VALIDATION

https://cmake.org/cmake/help/latest/prop_tgt/XCODE_GENERATE_SCHEME.html#prop_tgt:XCODE_GENERATE_SCHEME

I created a issue https://gitlab.kitware.com/cmake/cmake/-/issues/23857

[2022-08-17 01:50] minggo commented on #12437
@mmyduckx i think we should mention it in some doc, and describe the reason.

[2022-08-17 02:09] mmyduckx commented on #12437
I'll check the document later

[2022-08-17 02:09] novain1102 commented on #12437
I'll check the document later

[2022-08-17 03:16] #11732 closed, assigned to minggo

[2022-08-17 03:25] dumganhar commented on #11730
In theory, `Frustum` should not be inherited from RefCounted from `c++` point of view.
But we currently need to bind `Frustum` to JS for some interfaces, its lifecycle need to be shared by both cpp and javascript, so it need to be a  RefCounted's subclass.

Another way is to use std::shared_ptr for  the method returning `Frustum * / const Frustum &`. It will be:
[code]

[2022-08-17 03:46] minggo commented on #11730
Yep, it is a special case. And we will hide RefCounted's destructor after all its subclass hide their destructors.

[2022-08-17 07:24] smallmain opened #12447 "Script compiler support for TypeScript 4.7+"
### Use Case

Directly using 4.7 variance comments does not affect compilation, but using 4.3 override does not compile, both of which are very important.

### Problem Description

Is it compatible with TypeScript 4.7, or at least 4.3?
Contributes to the maintainability of the project.

### Proposed Solution

_No response_

### How it works

_No response_

### Alternatives Considered

There is no

[2022-08-17 07:28] zhefengzhang opened #12448 "[3.6.0-windows] After modifying the RotationY of a node, the _lrot object property of the node in the scene data changes abnormally"
### Cocos Creator version

3.4.1、3.6.0

### System information

Windows 10

### Issue description

[Video of the reproduction of the problem](https://github.com/cocos/cocos-engine/files/9357315/bandicam.2022-08-16.11-04-02-423.zip)

Set the rotationY of the node from 0 to 0.

### Relevant error log output

_No response_

### Steps to reproduce

[Video of the reproduction of the problem](https://gi

[2022-08-17 07:45] OnlyKoei opened #12449 "particleSystem2d run with error"
### Cocos Creator version

3.6.0

### System information

window10，chrome

### Issue description

![企业微信截图_16607217999701](https://user-images.githubusercontent.com/40415168/185062883-65154b60-8d3c-452a-8180-e42f255c7edd.png)
![企业微信截图_16607218199459](https://user-images.githubusercontent.com/40415168/185062897-c2a2443d-a95f-4176-aa56-8f20141629a4.png)
The preview will report an error when both the

[2022-08-17 09:52] zhefengzhang opened #12451 "[3.6.0] Using SHARED_CACHE or PRIVATE_CACHE after a spine animation has a mesh and a mask will cause a rendering exception"
### Cocos Creator version

3.6.0

### System information

all

### Issue description

https://forum.cocos.org/t/topic/138902

### Relevant error log output

_No response_

### Steps to reproduce

After the spine animation is meshed and masked, use SHARED_CACHE or PRIVATE_CACHE

### Minimal reproduction project

_No response_

[2022-08-17 10:36] yeshao2069 opened #12453 "rendertexture display exception"
### Cocos Creator version

3.6.0,3.5.2,3.4.2

### System information

macOS 12.4, Chrome  Or Windows 10, Windows GLES2/3

### Issue description

For the first time, set the 3D camera's target texture renderTexture to the sprite in start.
The second time, clear the camera's target texture and hide the sprite node and reset the camera target texture and show the sprite node.
The first time and the s

[2022-08-17 10:53] zhefengzhang opened #12454 "[CocosCreator 3.6.0] Slower loading of 3D particles compared to Creator 3.5.0"
### Cocos Creator version

3.5.2、3.6.0

### System information

All

### Issue description

https://forum.cocos.org/t/topic/138911/

### Relevant error log output

_No response_

### Steps to reproduce

[3.5.0 demo](https://forum.cocos.org/uploads/short-url/5i3aDp6YeKwu66Lhx8abe3tfWYB.zip)

[3.6.0 demo](https://forum.cocos.org/uploads/short-url/rKkL7hf1JUr9LtqjefknQfOHUgI.zip)

### Minimal reprodu

[2022-08-17 10:57] 2youyou2 opened #12455 "Failed to play oneshot audio"
### Cocos Creator version

3.6

### System information

windows web, mac web

### Issue description

exists several same audio which cause failed to play oneshot audio

![image](https://user-images.githubusercontent.com/1862402/185101027-04f1607c-f998-423b-8a33-ce10bdc2d7b1.png)

the callback was called after destroying audio source, the properties are all be null.

![image](https://user-images.gi

[2022-08-17 11:00] SantyWang commented on #12454
@zxx43 please have a check

[2022-08-17 17:43] patrick-fu opened #12456 "[3.6.0] NodeJS is not found in $PATH (Native Plugins feature)"
### Cocos Creator version

3.6.0

### System information

macOS Editor (Mac with M1 chip, macOS 12.5), build for Android

### Issue description

Hi, I'm trying the [Native Plugins](https://docs.cocos.com/creator/manual/en/advanced-topics/native-plugins/brief.html) feature launched in Cocos Creator v3.6.0, and playing the demo [https://github.com/PatriceJiang/ccplugin_tutorial](https://github.com/P

[2022-08-18 01:14] oahc09 opened #12457 "FileUtilsAndroid class's function naming is not standard"
### Cocos Creator version

3.6.0

### System information

Windows10

### Issue description

void FileUtilsAndroid::setassetmanager(AAssetManager *a)
=>
void FileUtilsAndroid::setAssetManager(AAssetManager *a)

### Relevant error log output

_No response_

### Steps to reproduce

void FileUtilsAndroid::setassetmanager(AAssetManager *a)
=>
void FileUtilsAndroid::setAssetManager(AAssetManager *a)

##

[2022-08-18 01:52] timlyeee opened #12458 "jsb.fileUtils.getWritablePath cannot be run over times, which will cause crash on Android"
### Cocos Creator version

3.5.1+

### System information

Android

### Issue description

Re: https://forum.cocos.org/t/topic/138444

[3.5.1 Abort message: ‘art/runtime/indirect_reference_table.cc:115] JNI ERROR (app bug): local reference table overflow (max=512)’](https://forum.cocos.org/t/topic/138444)

2022-08-03 18:14:29.155 2633-2633/? A/DEBUG: *** *** *** *** *** *** *** *** *** *** *** ***

[2022-08-18 03:31] SantyWang commented on #10638
same issue, https://github.com/cocos/cocos-engine/issues/12419

[2022-08-18 03:31] #10638 closed, assigned to Zhmz

[2022-08-18 03:43] SantyWang opened #12462 "Material is missing when 2D module is not checked and particle system is using"
temp fix: add `dependent modules` field in cc.config.json.

And should refactor configuration of module in the future.

[2022-08-18 03:58] zhefengzhang commented on #10900
Feedback on the same issue: https://forum.cocos.org/t/topic/112037/, please raise the priority to fix this issue.

[2022-08-18 04:00] novain1102 opened #12463 "Code marked @deprecated do not show strikethrough to remind users"
### Cocos Creator version

3.6.0

### System information

mac/win

### Issue description

Current;y, when generate d.ts and documents, DO NOT consider `export { A as B }` to mark @deprecated. So user DO NOT know the Class has been deprecated.

// @deprecated
export { Node as BaseNode } from './node'; //reserve BaseNode for compatibility
Wish could remind users as ~~BaseNode~~
Related PR: https://g

[2022-08-18 09:15] SantyWang commented on #11342
@lealzhan Please take a look

[2022-08-18 11:55] AndroidSix opened #12469 "Draw call will not decrease on Android when opacity=0"
### Cocos Creator version

3.6.0

### System information

Android

### Issue description

When the opacity is 0, the browser DC will drop, which doesn't happen on Android. .
This seems to be a native issue

### Relevant error log output

_No response_

### Steps to reproduce

When node opacity=0

### Minimal reproduction project

_No response_

[2022-08-18 15:47] PatriceJiang commented on #12456
The env var `PATH` seems to be incorrect. Can you try to open Android Studio through Terminal or run Make on the build panel?

[2022-08-19 02:27] dumganhar opened #12470 "[v3.6.0] Crash in Node::isChildOf"
iOS:
<img width="764" alt="wecom-temp-115870-a998b866dd11e90c60e5c8fe753ce254" src="https://user-images.githubusercontent.com/493372/185529056-5e4d4aac-ff1a-47d7-a723-7388086eb780.png">

Android:
A/libc: Fatal signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 0x8d in tid 30741 (Thread-2), pid 2898
<img width="1094" alt="WeChat2da6fbb85ace0a74e53628c399b31263" src="https://user-images.githubuse

[2022-08-19 02:37] SantyWang opened #12472 "9-Sliced SpriteFrame rendering issue"
https://forum.cocos.org/t/topic/137747/674?u=jare

[2022-08-19 02:47] SantyWang commented on #11333
Can you describe the specific error message in detail?

[2022-08-19 03:12] SantyWang commented on #12357
@LinYunMo Please confirm it

[2022-08-19 03:17] SantyWang commented on #11220
Thanks for reply, Please consider it @lealzhan

[2022-08-19 03:23] SantyWang commented on #10354
Thanks for your testing. In v3.6, we have optimized some effect. and In v3.7, We will optimize the module and decorator and so on.

[2022-08-19 06:41] arathore-gaming opened #12476 "Cocos Creator 3.6.0 - plist is broken"
### Cocos Creator version

3.6.0

### System information

Windows 11

### Issue description

I am using an atlas (`.plist`) and trying to change sprite frames on runtime based on diffrent conditions in a game.
The name of atlas is `clolliders` and it has got multiple sprite frames like  `Left_2` , `Left_2_active` etc.

The issue is when I try to get the `spriteAtlas` via following code the name fi

[2022-08-19 06:50] arathore-gaming opened #12477 "Full Screen For Mobile Web"
### Use Case

I am working on a mobile web game which will work on browsers like safari, chrome etc.
The game looks best when the gam is in full screen

### Problem Description

Currently browsers like Safari doesn't provide a simple way to go full screen and chrome has got a simple but diffrent way of full screen

### Proposed Solution

Proposed solution is to develop a generic solution within co

[2022-08-19 07:21] patrick-fu commented on #12456
`open -a Android\ Studio` solves this problem, but I think there should be a better solution, for example, simply add a fallback strategy when the `find_program()` failed, like:

[code]

[2022-08-19 07:46] patrick-fu opened #12482 "[3.6.0][CMake] Could NOT find XXXX (missing: XXXX_DIR) (Native Plugins, Android)"
### Cocos Creator version

3.6.0

### System information

macOS Editor (Mac with M1 chip, macOS 12.5), build for Android

### Issue description

I'm trying the [Native Plugins](https://docs.cocos.com/creator/manual/en/advanced-topics/native-plugins/brief.html) feature launched in Cocos Creator v3.6.0, and playing the demo https://github.com/PatriceJiang/ccplugin_tutorial

I have try to build for i

[2022-08-19 09:01] PatriceJiang commented on #12456
This does increase the success rate of find_program execution 👍.
Cocos Creator is based on Electron, and I create a PR [here](https://github.com/cocos/cocos-engine/pull/12486),  that allows developers to specify the path to NodeJS, and in the worst case fallback to electron's NodeJS executable. Idea of the PR is not conflict with yours.

`NodeJS` will be optional then.

[2022-08-19 09:25] zxx43 commented on #12003
call _updateBlendFunc when change plist file

[2022-08-19 09:26] zhefengzhang opened #12487 "[2.4.7] Build-Failed: Error: Error: EMFILE: too many open files"
### Cocos Creator version

2.4.7、2.4.9

### System information

mac

### Issue description

https://forum.cocos.org/t/topic/138322 、 https://forum.cocos.org/t/too-many-open-files/39641/10

### Relevant error log output

_No response_

### Steps to reproduce

Not currently available

### Minimal reproduction project

_No response_

[2022-08-19 09:28] zhefengzhang commented on #12487
User feedback says that there are more than 30,000 resources in the bundle.

[2022-08-19 10:21] zhefengzhang commented on #12487
![图片](https://user-images.githubusercontent.com/35944775/185598657-2d6ca20b-b9e6-4377-841e-fc2cb9bdb44a.png)

[2022-08-19 10:30] minggo opened #12490 "Debug Renderer will crash if use single thread on iOS/macOS"
Step to reproduce:
- disable multi-thread
- enable debug renderer
- run a test case on iOS/macOS, then crash

It is because Debug Renderer update buffer after begin render pass.

[2022-08-19 10:56] xianyinchen opened #12491 "[3.6] 2D Particle running will report errors on iOS"
### Cocos Creator version

3.6.0

### System information

iOS 15.4 build on iphone 12 mini

### Issue description

iOS run error:

[code]

### Relevant error log output

_No response_

### Steps to reproduce

Please contact me privately for test projects.

### Minimal reproduction project

_No response_

[2022-08-19 17:24] zhangyizhang opened #12492 "When the playOnAwake of the AudioSource component is true and the node's first active is false, the subsequent setting of active to true has no sound"
### Cocos Creator version

3.6.0

### System information

html5

### Issue description

![image](https://user-images.githubusercontent.com/26247903/185673972-23f5c7ad-cb86-4ff9-89af-1cd8a7832a24.png)
I think the code in the red box should be moved to the blue box

### Relevant error log output

_No response_

### Steps to reproduce

When the playOnAwake of the AudioSource component is true and the

[2022-08-20 07:22] jareguo commented on #12469
Related feedback https://forum.cocos.org/t/topic/138885

[2022-08-21 05:01] pandamicro commented on #12469
duplicated with https://github.com/cocos/cocos-engine/issues/11210

[2022-08-21 05:02] #12469 closed, assigned to SantyWang

[2022-08-22 01:55] #12470 closed, assigned to dumganhar

[2022-08-22 02:52] PatriceJiang commented on #12025
![image](https://user-images.githubusercontent.com/40414978/185829058-e8c9822d-f4f1-484f-bd8f-8da2f9a390c2.png)

This will cause all libraries that developers depend on to provide this build type. This breaks compatibility.

[2022-08-22 03:16] dumganhar commented on #12025
Could we create a default relWithDebug variant which is based on release variant for 3rd libraries automatically?

[2022-08-22 03:23] Zhmz opened #12495 "sprite in FILLED mode with UIOpacity display incorrectly"
### Cocos Creator version

3.6.0

### System information

windows simulator Android

### Issue description

https://forum.cocos.org/t/topic/137747/665?u=1206754924
https://forum.cocos.org/t/topic/137747/692?u=1206754924

### Relevant error log output

_No response_

### Steps to reproduce

open the project and run it

### Minimal reproduction project

_No response_

[2022-08-22 03:28] PatriceJiang commented on #12025
We cant, as the error report in the screenshot, libservice is download by editor plugin. We got no mechanism to modify it.

[2022-08-22 03:32] PatriceJiang commented on #12025
I add a switch in build.gradle https://github.com/cocos/cocos-engine/pull/12496

[2022-08-22 03:35] PatriceJiang commented on #12101
The [merge request](https://gitlab.kitware.com/cmake/cmake/-/merge_requests/7581) for this feature in CMake repo is target at 3.25.0, which will not be released in recent.

[2022-08-22 06:01] dumganhar opened #12498 "[bug] Assertion in ValueArrayPool::get"
If the invocation stack depth is larger than SE_DEFAULT_MAX_DEPTH (5), it will trigger assertion in ValueArrayPool::get.

[2022-08-22 07:29] oahc09 opened #12501 "[bug] Assertion in CCVKGPUStagingBufferPool::alloc"
### Cocos Creator version

3.6.0

### System information

Windows10

### Issue description

 void alloc(CCVKGPUBuffer *gpuBuffer, uint32_t alignment) {
CC_ASSERT(gpuBuffer->size <= CHUNK_SIZE);

this assert tiggered because gpuBuffer->size > CHUNK_SIZE

like : complex big scene

change the CHUNK_SIZE to big enough, app will run success

### Relevant error log output

_No response_

### Steps to re

[2022-08-22 08:41] #12025 closed, assigned to PatriceJiang

[2022-08-22 09:10] oahc09 opened #12505 "The script lifecycle lacks a callback for Pause / Resume"
### Use Case

Referring to Unity, the script contains trigger pullbacks involving the application lifecycle:
OnApplicationFocus(bool hasFocus)	Sent to all GameObjects when the player gets or loses focus.
OnApplicationPause(bool pauseStatus)	Sent to all GameObjects when the application pauses.
OnApplicationQuit	        Sent to all GameObjects before the application quits.

https://docs.unity3d.com/

[2022-08-22 11:10] linruimin opened #12508 "the sleep not use in Physics bullet"
### Cocos Creator version

3.5.2,3.4.2

### System information

Windows10

### Issue description

the sleep not use in Physics bullet,
Manual call rigidbody.sleep() is in effect in cannon and PhysX, but not in bullet.

the bug is come from : https://forum.cocos.org/t/topic/138847

### Relevant error log output

_No response_

### Steps to reproduce

test in case-dynamic :
![image](https://user-ima

[2022-08-22 14:20] mrtzd opened #12511 "Game hangs after launch on Android after upgrading to v3.6.0"
### Cocos Creator version

3.6.0

### System information

Windows 10 Editor

### Issue description

I just upgraded my game from v3.5.2 to v3.6.0 in order to see if issue #11878 is fixed with the new version. Unfortunately after this upgrade the game will hang indefinitely after start on Android devices (only shows a black screen). I tested this on two different Android devices. I'm using the exac

[2022-08-23 02:15] zxx43 commented on #12304
![图片](https://user-images.githubusercontent.com/3156403/186053701-04f0a08a-5715-4642-bd8f-44ecb5a6abd6.png)
do not open the packable option when particle and sprite using the same image

[2022-08-23 02:15] #12304 closed, assigned to zxx43

[2022-08-23 03:56] PPpro commented on #12447
we need to upgrade the babel, this will be considered in v3.7 or later

I put this issue in v3.7 milestone for now

[2022-08-23 06:06] #12222 closed, assigned to novain1102

[2022-08-23 06:16] xianyinchen commented on #12491
reproduce project
[crash.zip](https://github.com/cocos/cocos-engine/files/9399811/crash.zip)

[2022-08-23 06:29] LinYunMo commented on #12491
2d particles on native platforms need to support local mode

[2022-08-23 07:34] oahcy opened #12516 "Openharmony log.warn excepiton"
![image](https://user-images.githubusercontent.com/9692838/186098949-5700c50a-6116-4b08-8632-8857c78248cd.png)

[2022-08-23 08:02] dumganhar opened #12519 "Mark Node.children readonly and add Node.sortChildren public method"
Currently, user may modify `node.children` directly, for example, invoking `node.children.sort()` to sort node's children.
In my opinion, `node.children` getter should be immutable, otherwise, user may change the array's size or its content without notifying node to update some states.

On native, we get `_children` JS array in JS, the new method `sortChildren` should invoke `this._setChildren(thi

[2022-08-23 10:06] zhakesi opened #12522 "macro 'BATCHER2D_MEM_INCREMENT' not work in editor"
### Cocos Creator version

3.6.0

### System information

Windows 10 Editor

### Issue description

i try to modify project setting->Macro Configurations->BATCHER2D_MEM_INCREMENT
from 144(default) to 1024,  then rebuild the engine. it seems only work in runtime. but not work in editor.

### Relevant error log output

_No response_

### Steps to reproduce

test demo project. if BATCHER2D_MEM_INCREM

[2022-08-23 10:29] minggo commented on #12511
And error log? And if you don't have special logic in `native` path, you can delete this folder, then have a try.

[2022-08-23 10:59] oahc09 opened #12523 "Performance optimization point about JSBClassType::findClass"
### Cocos Creator version

3.6.0

### System information

Windows10

### Issue description

this is a performance optimization point about JSBClassType::findClass.

if has found result from map, we can cache the result to map, next time first find will hit, it will not execute twice find

    template <typename T>
    static se::Class *findClass(const T *nativeObj) {
        bool found = false;

[2022-08-23 14:47] mrtzd commented on #12511
Since I didn't have any custom code in 'native' path I had already deleted this folder.

Here's the complete log of launching the game through Android Studio on my device:
<details>
<summary>Click to expand</summary>

[code]

</details>

I think this is the relevant error message:
[code]

[2022-08-24 01:57] oahcy commented on #12516
move to https://github.com/cocos/open-harmony/issues/72

[2022-08-24 01:57] #12516 closed, assigned to oahcy

[2022-08-24 02:30] luqiuan commented on #10521
你好，请教下libcocos2d.a是怎样生成的呢

[2022-08-24 06:14] star-e opened #12531 "windows desktop: emulate gles3 using ANGLE"
### Use Case

Uses Angle as gles3 backend on windows desktop platform.

https://github.com/google/angle

### Problem Description

Currently we use powervr to emulate gles3, sometimes might cause crash with unknown issue.
Since powervr is not opensource, it is hard for us to solve these crashes.

We might use ANGLE as walkaround.

### Proposed Solution

_No response_

### How it works

_No response

[2022-08-24 06:47] star-e commented on #12531
related issue:
https://forum.cocos.org/t/topic/139156

[2022-08-24 08:32] minggo commented on #12511
Yep, the crash is caused by the error log. It prints the call stack in JS. Can you help to check what's the codes to trigger the error? Or could you please share the project?

[2022-08-24 08:50] minggo opened #12538 "Should cache Light in Root?"
Light is created and cached in Root. They are not destroyed when switching scenes. There are two questions about it
- Should create/cache Light in Root? Any performance result about it?
- Even need cache Lights in Root, should destroyed them when switching to a new scene?

[2022-08-24 09:53] jk20012001 commented on #12538
should delete some objects which are unused for a long time

[2022-08-24 09:57] xianyinchen opened #12539 "[3.6] Spine cause error on native when Feature Cropping disable DragonBone"
### Cocos Creator version

3.6.0

### System information

Window, iOS, Android

### Issue description

in build path, build\windows\data\jsb-adapter\engine-adapter.js has dragbone update code in middleware module. when spine into scene, the middleware module always update dragbone,  the dragbone has been cull out and cause error.

![企业微信截图_16613314456747](https://user-images.githubusercontent.com/

[2022-08-24 10:24] mrtzd commented on #12511
Here's the line of code that was the causing this error (line 1521 of `3d\engine\bin\adapter\native\engine-adapter.js` )
[code]
So it seems like that I need to enable "Spine Animation" feature even though I'm not using Spine in my project. I'm only using "Dragon Bones" and with v3.5.2 I didn't need to enable "Spine Animation" for my project. After I enabled "Spine Animation", the game loads proper

[2022-08-24 10:34] mrtzd commented on #12539
I think it's related to this issue #12511

[2022-08-24 10:47] mrtzd opened #12543 "Graphical glitches, broken physics and more issues after upgrade to v3.6.0"
### Cocos Creator version

3.6.0

### System information

Windows 10 Editor

### Issue description

So recently I upgraded my game from v3.5.2 to v3.6.0. After solving my initial problem (#12511) I'm having so many other problems with my game. These issues occur while running on an Android device and not in browser preview.

- There are random graphical issues everywhere and my characters disappea

[2022-08-24 14:50] patrick-fu commented on #12456
Looks great! 🤩

[2022-08-25 01:52] qiuguohua opened #12545 "Windows (linux) platform get sdl exit loop message"
<img width="788" alt="WeChatWorkScreenshot_1a5405b8-7a20-483d-bb46-82c2dcae3cc1" src="https://user-images.githubusercontent.com/5205637/186556027-c4557ed5-6a86-4538-b690-880f0d5f2f4c.png">

It's a bit strange to get the exit message at the platform layer, is it possible to handle the exit message of the platform in the sdl?

[2022-08-25 03:55] pandamicro commented on #12341
https://docs.cocos.com/creator/manual/zh/ui-system/components/engine/ui-batch.html#v341-%E4%B9%8B%E5%90%8E

版本限制，需要调节 BATCHER2D_MEM_INCREMENT

[2022-08-25 03:55] #12341 closed, assigned to LinYunMo

[2022-08-25 06:08] minggo commented on #12511
Got it, we will take a look.

[2022-08-25 06:17] minggo commented on #12543
Thanks for feedback, and sorry about the incompatibility. Did you inherits some engine class, such as Node, and override something. I native, you can not modify. returned readonly properties.

[2022-08-25 06:19] minggo commented on #12543
And any error log?

[2022-08-25 06:27] minggo commented on #12505
@oahc09 please use english in future. Thanks.

[2022-08-25 06:37] timlyeee commented on #12492
Seems like the priority of Node activate is higher, and some part of callback is missing.

[2022-08-25 06:38] oahc09 commented on #12505
OK

[2022-08-25 07:10] zhangyizhang commented on #12492
Because _syncPlayer is called in onload and this._lastSetClip === clip, _isLoaded is always false

[2022-08-25 07:14] xianyinchen opened #12549 "[3.6] node with UIOpacity always interrupt without render componet"
### Cocos Creator version

3.6.0

### System information

Window11, iOS, Android

### Issue description

if we have node tree like this. when you set opacity=0 for the first 'Node',  it work on web platform, but not work on native platform.

![企业微信截图_16614114022708](https://user-images.githubusercontent.com/8321365/186598787-7efcd209-adba-49de-b9ad-154a7f5b2759.png)

### Relevant error log output

[2022-08-25 07:27] PatriceJiang commented on #12482
@patrick-fu Can you try this fix https://github.com/cocos/cocos-engine/pull/12550

I'm not sure at the moment why `<PackageName>_ROOT` doesn't work on Android

[2022-08-25 07:53] star-e opened #12552 "vertex element format and alignment"
### Use Case

Currently, we lack feature to get aligned size of vertex format.
Generally speaking, vertex format size should be aligned to 4 byte, for platform compatibility.
For example:
RGB8 -> 4 byte
RGBA8 -> 4 byte
RGB16F -> 8 byte
RGBA16F -> 8 byte

We can add function `uint32_t getAlignedSizeOfVertexFormat(Format vertexFormat);` to get the aligned size.

### Problem Description

Some vertex

[2022-08-25 09:21] linruimin opened #12557 "the model shows exceptions by use BatchingUtility.batchStaticModel"
### Cocos Creator version

3.4.2

### System information

windows10 google chrome

### Issue description

the issue come from:
https://forum.cocos.org/t/topic/139122

use BatchingUtility.batchStaticModel like this,
![image](https://user-images.githubusercontent.com/18083506/186626995-2b4b31b7-7c8f-4243-af97-6e05f6d485ab.png)

get this effect:
![企业微信截图_16613338308571](https://user-images.githubuser

[2022-08-25 09:35] patrick-fu commented on #12482
@PatriceJiang #12550 works fine! 👍    Will this fix be released in version 3.6.1?

[2022-08-25 10:22] PatriceJiang commented on #12482
Yes

[2022-08-25 10:42] OnlyKoei opened #12560 "Rect Gizmo needs to add equal scale modification function"
### Cocos Creator version

3.5.2，3.6.0

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/139240/
![image](https://user-images.githubusercontent.com/40415168/186641201-8aae1573-d420-4e8b-ab48-3061ed1c27d0.png)

https://user-images.githubusercontent.com/40415168/186641531-f64b65a7-ff3a-483b-9a14-b19ef918fe49.mp4
In version 2.x, you can modify the size of the n

[2022-08-25 13:35] #12482 closed, assigned to PatriceJiang

[2022-08-25 14:07] smallmain opened #12561 "setResolutionPolicy Refreshing problems"
### Cocos Creator version

3.6.0

### System information

Mac os Editor, Wechat Game

### Issue description

Editor
- Calling view.setResolutionPolicy causes the Canvas Node's widget to be aligned at the wrong value and cannot be modified.

SafeArea
- Call view.setResolutionPolicy and the SafeArea will not be refreshed.

### Relevant error log output

_No response_

### Steps to reproduce

Editor

[2022-08-25 14:10] smallmain commented on #12561
ContentStrategy and ContainerStrategy can't access in editor.

[2022-08-26 03:13] #12523 closed, assigned to dumganhar

[2022-08-26 03:44] PatriceJiang opened #12564 "Suggestions for improving sebind interfaces"
- [x] support function arguments `se::Object *` & `const se::Object *` https://github.com/cocos/cocos-engine/pull/12591
- [x] Add interfaces to bind/call JS function in C++ . Convert arguments automatically https://github.com/cocos/cocos-engine/pull/12591

[code]
- [x] Doc for binding abstract class https://github.com/cocos/cocos-docs/pull/2273
- [ ] ~~Convert function pointer to se::Value~~

[2022-08-26 07:08] minggo commented on #12477
@arathore-gaming how about enter full screen by default? Do you need a way to exit full screen mode?

[2022-08-26 07:50] oahc09 opened #12568 "TS device add new api InvalidateState"
### Use Case

for example:

Device.InvalidateState

Invalidate the internally cached render state.

This invalidates any cached render state tied to the active graphics API. If for example a (native) plugin alters the render state settings then rendering engine must be made aware of that.

use case :
Android Platform : draw video texture/camera texture to 3d ui
in component's update, we call c++ f

[2022-08-26 12:18] dumganhar opened #12576 "[v3.6] Deserialize error if property value is null"
<img width="1691" alt="Screen Shot 2022-08-26 at 20 17 51" src="https://user-images.githubusercontent.com/493372/186901668-c580694f-5762-483f-bcb8-7ddd193a4155.png">

[2022-08-26 15:50] PPpro commented on #12278
fixed https://github.com/cocos/cocos-editor/commit/b6c0076125646171bace0e417ae6c5a0afeac68f

[2022-08-26 15:50] #12278 closed, assigned to PPpro

[2022-08-27 02:38] AndroidSix commented on #11030
This function is good, look forward to. It would be great if the bounding box could be automatically changed after changing the size in the game

[2022-08-27 15:02] smallmain opened #12580 "resetInEditor() Not as well executed as expected."
### Cocos Creator version

3.6.0

### System information

Mac Editor

### Issue description

![image](https://user-images.githubusercontent.com/28684663/187035713-926435df-0846-431d-baae-976853bbada7.png)

### Relevant error log output

_No response_

### Steps to reproduce

This function is only called when the component is reset, it is not called when the node is first added.

If this is the wro

[2022-08-28 03:59] smallmain opened #12581 "cc.tween error in gameview jogging on color."
### Cocos Creator version

3.6.0

### System information

Mac Editor

### Issue description

![image](https://user-images.githubusercontent.com/28684663/187056556-420fe26d-9868-48cd-b409-ecf4afab8fa3.png)

[code]

This judgement doesn't work in GameView, it still walks in, the tween is constructing a dummy object to set, which is also a problem.

### Relevant error log output

_No response_

### S

[2022-08-28 04:02] smallmain commented on #12581
There is a problem with my screenshot, the code is in ui-renderer.ts.

[code]

[2022-08-28 14:01] godxkey opened #12582 "Cocos 3.6.0 After the editor attribute decorator changes the attribute, no prompt window pops up when switching scenes"
### Cocos Creator version

3.6.0

### System information

Windows 10

### Issue description

# [[BUG][反馈][记录] Cocos Creator 编辑器 3.4.0~3.6.0 get()/set() 的写法](https://forum.cocos.org/t/topic/139348)
## 已测试版本 - Windows 开发环境
✅ Cocos Creator 3.4.0

✅ Cocos Creator 3.5.2

✅ Cocos Creator 3.6.0

## 1.1 property get set 切换场景-不弹出保存提示 (Cocos Creator 3.6.0)
![1.1 property get set 切换场景-不弹出保存提示|564x500](https:

[2022-08-29 03:35] dumganhar opened #12586 "Review the design of current serialization system"

[2022-08-29 03:39] SantyWang commented on #12462
@mmyduckx please help to make a temp fix

[2022-08-29 03:40] SantyWang commented on #12586
entry: engine/cocos/core/data/deserialize.ts

[2022-08-29 04:30] arathore-gaming commented on #12477
@minggo, yes agree -
- enter full screen by default (is it possible on iOS safari???)
- exit/force exit full screen
- An event to notify back in code about full screen enter and exit

[2022-08-29 05:53] timlyeee commented on #12458
Test on v3.6.1, getWritablePath each frame, the error does not reproduce. I guess it's fixed somehow

[2022-08-29 05:53] #12458 closed, assigned to timlyeee

[2022-08-29 05:53] timlyeee commented on #12458
Test on v3.6.1, getWritablePath each frame, the error does not reproduce. I guess it's fixed somehow

[2022-08-29 06:21] dumganhar commented on #12576
This issue only exists while using Prefab.
Found that the code generated for Native is different with the code generated for Web.
<img width="1130" alt="WeChat1dc6da541a03a6c594af14c8db5f9e10" src="https://user-images.githubusercontent.com/493372/187135749-3fbcb1c3-e854-4d1b-80ae-4dbcaacada0e.png">
<img width="1038" alt="WeChat472f47627e30bc1811f0c7cfa7bf645d" src="https://user-images.githubuserco

[2022-08-29 06:26] dumganhar commented on #12576
[test.zip](https://github.com/cocos/cocos-engine/files/9442019/test.zip)

[2022-08-29 07:45] timlyeee commented on #12455
Fix with pull request.

[2022-08-29 07:45] #12455 closed, assigned to timlyeee

[2022-08-29 07:55] zhefengzhang opened #12593 "[3.6.0] AnimationController component controls the model animation, which causes display exceptions on facebook app and wechat browser."
### Cocos Creator version

3.6.0

### System information

ios 15.6.1，WeChat 8.0.26

### Issue description

https://forum.cocos.org/t/topic/139366

### Relevant error log output

_No response_

### Steps to reproduce

https://forum.cocos.org/t/topic/139366

### Minimal reproduction project

[AnimationController.zip](download.cocos.org/CocosTest/zhefengzhang/NoDelete/AnimationController.zip)

[2022-08-29 08:13] zhefengzhang opened #12594 "[3.6.0] Using plugin scripts in native platform will report an error"
### Cocos Creator version

3.6.0

### System information

Windows10

### Issue description

https://forum.cocos.org/t/topic/139365

### Relevant error log output

_No response_

### Steps to reproduce

https://forum.cocos.org/t/topic/139365/3

### Minimal reproduction project

_No response_

[2022-08-29 09:20] linruimin opened #12597 "spine crash"
### Cocos Creator version

3.4.2, 3.6.0

### System information

window10, huaweiP30pro

### Issue description

The crash is in the MiddlewareManager.cpp redner or update, the specific reason is render or update polling a _updateList element, the element is a spine but the spine's resources have been released, resulting in a wild pointer on the C++ side. The reason is that the spine is a spine, bu

[2022-08-29 09:41] Ronsku commented on #12279
I'm on vacation, I will create the demo after returning back to work after 5.9

[2022-08-29 17:19] SantyWang commented on #12454
The performance degradation is reasonable, the previous 3.5 version incorrectly reused objects and created less objects，and it had been fixed in https://github.com/cocos/cocos-engine/pull/11052

[2022-08-29 17:19] #12454 closed, assigned to SantyWang

[2022-08-30 00:08] qiuguohua opened #12603 "Change the android audio module to the SLES module that shares the same module as the openharmony system"

[2022-08-30 02:29] timlyeee opened #12604 "Audiosource.getPcmData() is too heavy to use."
### Use Case

Currently, after getting the data with getPCMData(), I manually calculate the playback point of the audio data and use it

### Problem Description

Is the getPCMData() function implemented in v3.6.0 for getting PCM data just getting the entire audio data?
Is there any way to get the data for a given playback point?

### Proposed Solution

_No response_

### How it works

_No response

[2022-08-30 03:38] zhakesi commented on #12539
* https://github.com/cocos/cocos-engine/pull/12605

[2022-08-30 03:38] #12539 closed, assigned to zhakesi

[2022-08-30 03:39] zhakesi commented on #12511
* https://github.com/cocos/cocos-engine/pull/12605

[2022-08-30 03:39] #12511 closed, assigned to zhakesi

[2022-08-30 03:53] #12498 closed, assigned to dumganhar

[2022-08-30 07:10] dumganhar commented on #12178
Math library is using 0.0001 for precision now: https://github.com/cocos/cocos-engine/pull/12610
Should not change the default precision in math::isEquals function since there're many places use it, for example in GFX module.
Change the milestone to 3.7

[2022-08-30 08:50] graphine27 opened #12614 "Circular dependency"
### Cocos Creator version

3.6,0

### System information

Windows 11

### Issue description

Component scripts do not compile if there is a circular dependency in them
This was working fine in 2.4

### Relevant error log output

If the project is very big, circular error wont event be shown if there are many other errors, so it's hard to track down the exact issue

### Steps to reproduce

Create a

[2022-08-30 09:36] zhefengzhang opened #12615 "[3.6.0] The code uses the paradigm for programming and compiles with errors after upgrading to 3.6"
### Cocos Creator version

3.6.0

### System information

all

### Issue description

https://forum.cocos.org/t/topic/139216

### Relevant error log output

_No response_

### Steps to reproduce

https://forum.cocos.org/t/topic/139216

### Minimal reproduction project

_No response_

[2022-08-31 03:53] SantyWang commented on #12462
Still need to refactor config.json

[2022-08-31 05:21] zhakesi commented on #12597
* https://github.com/cocos/cocos-engine/pull/12623

[2022-08-31 05:21] #12597 closed, assigned to zhakesi

[2022-08-31 06:47] zhefengzhang opened #12625 "[3.6.0] The prototype chain for mesh.maxPosition is not Vec3 on version 3.6.0 of the emulator"
### Cocos Creator version

3.6.0

### System information

native app ｜ native pc

### Issue description

<img width="853" alt="图片" src="https://user-images.githubusercontent.com/35944775/187611770-0593d660-d964-4d05-a143-972695bc88de.png">

### Relevant error log output

_No response_

### Steps to reproduce

![图片](https://user-images.githubusercontent.com/35944775/187611819-02d3aa69-01da-4bce-baf

[2022-08-31 07:22] zhakesi commented on #11008
* https://github.com/cocos/cocos-engine/pull/12402

[2022-08-31 07:22] #11008 closed, assigned to zhakesi

[2022-08-31 08:42] linruimin opened #12629 "The content cannot be distinguished after the atlas is loaded"
### Cocos Creator version

3.6.0

### System information

Windows10

### Issue description

issue from:
https://forum.cocos.org/t/topic/139440
it works well in creator3.5.2.

### Relevant error log output

_No response_

### Steps to reproduce

use resources.loadDir() like this:
![image](https://user-images.githubusercontent.com/18083506/187636236-01e1bb0e-2917-41d9-9b13-675ddc00a71c.png)
here is

[2022-08-31 09:05] linruimin opened #12631 "The size property in BoxCollider2D and worldAABB are not the same size"
### Cocos Creator version

3.6.0

### System information

Window10

### Issue description

issue from:
https://forum.cocos.org/t/topic/139353

### Relevant error log output

_No response_

### Steps to reproduce

here is the demo:
[139353_360.zip](https://github.com/cocos/cocos-engine/files/9460155/139353_360.zip)
run the demo , and click the button, then the console will print the boxCollider2D.

[2022-08-31 10:10] jk20012001 opened #12634 "submeshes have different instancing state, non-instancing submesh can't display correctly"
if one mesh has 5 submeshes, and 4 submeshes use instancing, 1 submesh disable instancing.
the non-instancing submesh has bad (uninitialized) world matrix, and it will disappear or has bad position and shape.
![image](https://user-images.githubusercontent.com/15099632/187654709-09d9a052-1e7e-4999-a0e4-3b38bf46de5b.png)
![image](https://user-images.githubusercontent.com/15099632/187654813-54d9c7ba-

[2022-08-31 10:12] jk20012001 commented on #12634
[NewProject-003.zip](https://github.com/cocos/cocos-engine/files/9460593/NewProject-003.zip)

[2022-09-01 03:39] #12491 closed, assigned to Zhmz

[2022-09-01 06:37] #12176 closed, assigned to dumganhar

[2022-09-01 06:49] #12151 closed, assigned to dumganhar

[2022-09-01 06:54] #12234 closed, assigned to dumganhar

[2022-09-01 07:01] minggo commented on #12477
I am not sure, just collect requirements, then we will do research to finish it.

Yep, i think can reuse resize event.

[2022-09-01 07:07] JoneLau opened #12645 "About the button style sheet can not inherit the problem"
### Cocos Creator version

3.6.0

### System information

macOS Monterey 12 beta，M1

### Issue description

目前 Toggle 组件继承自 Button，但是由于 Toggle 在内部显示的时候用了自定义样式表，所以导致本该暴露的属性 transition 等没有被暴露出来。用户如果继承 Toggle 组件就会出现一大堆本不该被显示的属性。

The Toggle component currently inherits from Button, but because Toggle uses a custom stylesheet for its internal display, properties such as transition that should be expos

[2022-09-01 07:13] PatriceJiang opened #12646 "Add a test case to measure JS engine performance"
The test case should
- Include heavy JS logic calculations

Export benchmark points to measure performance

[2022-09-01 07:24] minggo opened #12647 "Adjust engine folder structure"
As discussed moths ago, we will adjust engine folder structure to make it more clear. The first level folder structure looks like

## TS
- [x] core
  - Serialization/DeSerialization
  - memory management
  - math
  - core data structure
  - pal
  - file system
  - event system
- [x] audio
- [x] physics
- [x] gfx
- [x] rendering
- [x] render-scene
- [x] scene-graph
- [x] renderer-2d
- [x] renderer-

[2022-09-01 07:30] PatriceJiang commented on #12646
Test v8 options like `--sparkplug`

[2022-09-01 07:39] arathore-gaming commented on #12477
Okay, so just checked and the browsers doesn't allow enter full screen by default.

So the req would be -
iOS - Swipe to full screen (An overlay to swipe up) & a button to Exit full screen (Dev's should be able to customize Swipe up message)
Android & Other OS: Touch to full screen (An overlay on which user can touch to go full screen)

I hope this clarifies the req!

[2022-09-01 07:54] minggo commented on #12477
How about add a method named `setFullScreen(bool)`? Then can just invoke it to enter/exit full screen?

[2022-09-01 08:17] linruimin commented on #12629
the same feedback from: https://forum.cocos.org/t/topic/139547

[2022-09-01 08:20] PatriceJiang opened #12651 "Upgrade embedded cmake to 3.25 when released"
Fix issue
- https://github.com/cocos/cocos-engine/issues/12101

[2022-09-01 08:20] PatriceJiang commented on #12101
The [merge request](https://gitlab.kitware.com/cmake/cmake/-/merge_requests/7581) has be merged. This issue is tracked in https://github.com/cocos/cocos-engine/issues/12651

[2022-09-01 08:20] #12101 closed, assigned to PatriceJiang

[2022-09-01 08:37] arathore-gaming commented on #12477
Just a method won't work as for iOS a swipe up div would be required.
The most important part is to create the div with required additional height to achieve a smooth swipe behavior and remove the div as soon as game enters full screen

[2022-09-01 09:08] #12564 closed, assigned to PatriceJiang

[2022-09-01 10:05] #12625 closed, assigned to dumganhar

[2022-09-01 11:06] yeshao2069 opened #12652 "[3.6.0] Cannot use targetOff to unlisten to nodes on native platforms"
### Cocos Creator version

3.6.0

### System information

native

### Issue description

Native node.targetoff is flawed, missing the cancellation of the listener, checked the web implementation, it is missing `this._eventProcessor.targetOff(target);` code synchronization

Cause:
Can't use targetOff to unlisten to nodes on native platforms

native   node.jsb.ts
https://github.com/cocos/cocos-engin

[2022-09-02 02:52] minggo commented on #12477
Is there any documentation about it?

[2022-09-02 04:18] arathore-gaming commented on #12477
nope, can't find a document around this requirement

[2022-09-02 06:04] Zhmz commented on #12549
https://github.com/cocos/cocos-engine/pull/12533
point3

[2022-09-02 08:16] Zhmz opened #12664 "UIOpacity recursion set opacity sequence error"
### Cocos Creator version

3.6.x

### System information

Windows/Android/iOS

### Issue description

https://forum.cocos.org/t/topic/139500
![image](https://user-images.githubusercontent.com/32831993/188095328-88db4d8f-84d9-48f1-aa73-e1dd5c3e3023.png)
There is an UIOpacity on Node and another on Button.
the opacity of UIOpacity on Node is 0.
the opacity of UIOpacity on Node is 255.
expectations a

[2022-09-02 08:44] Zhmz opened #12665 "richtext switch line exceptionally"
### Cocos Creator version

3.6.x

### System information

All

### Issue description

https://discuss.cocos2d-x.org/t/richtext-displaying-issue-on-cocos-creator-3-6-0/57016

type English words of "0" to "19" in richtext, and find that it behaves abnormal

### Relevant error log output

_No response_

### Steps to reproduce

normal condition
"one two three four five six seven eight nine ten eleven

[2022-09-02 11:08] bofeng-song commented on #12433
Goal: Remove Label's dependency on Canvas

Feature request:
    Supported fonts: freeType(.ttf) and bitmap font(.fnt)
    Italic: italic
    Support bold: bold
    Support underline
    Support background box on Label (similar to Context2d, fillRect & clearRect)
    Support for automatic text line breaks and no word truncation
    Web-side and native-side implementation is consistent (whether to c

[2022-09-02 12:43] dumganhar opened #12670 "[doc] Swig documentation about %arg(...) and not need to add const prefix for attribute"

[2022-09-05 02:22] bofeng-song commented on #12433
1. If DebugRenderer's solution is used.
    Will the effect of shadow meet the requirements?
    Need two drawCall, one is rectangle drawing (if there is a call to fillRect or call clearRect), the other is font drawing

2. If the 2.x solution is used.
    Need three drawCall, one for rectangle (if fillRect is called or clearRect is called), one for shadow, and one for stroke + font

[2022-09-05 03:13] minggo opened #12673 "Error effect of 3d-rendering-in-3d"
<img width="800" alt="Screen Shot 2022-09-05 at 11 11 46 AM" src="https://user-images.githubusercontent.com/488203/188353610-aae2809e-f9a8-46b5-beea-dc7d614a4b55.png">

Use latest codes in develop and run `2d rendering in 3d` test case can reproduce it. I only tested on macOS.

[2022-09-05 03:16] dumganhar commented on #12673
From v3.7, we have changed the js binding generator tool from `bindings-generator` to `swig`.
There are probably some configurations of `tojs/2d.ini` are not synchronized to `swig-config/2d.i`.

[2022-09-05 03:45] #12495 closed, assigned to Zhmz

[2022-09-05 05:23] paulocoutinhox opened #12676 "Add AppleTV Support"
### Use Case

Hi,

Can add tvOS support for native part?

Thanks.

### Problem Description

AppleTV is not supported (device and simulator)

### Proposed Solution

Add tvOS support

### How it works

_No response_

### Alternatives Considered

n/a

### Additional Information

_No response_

[2022-09-05 06:36] OnlyKoei opened #12679 "The animation does not work on the web when modifying custom materials."
### Cocos Creator version

3.5.2，3.4.1，3.6.0

### System information

window10，chrome

### Issue description

https://user-images.githubusercontent.com/40415168/188375884-f1c644ea-3223-44ae-aa3b-0a70dfe7b1b9.mp4

![image](https://user-images.githubusercontent.com/40415168/188379619-e0d04506-2273-4d7b-a95d-ca6cdd1c9452.png)

### Relevant error log output

_No response_

### Steps to reproduce

demo

[2022-09-06 01:50] minggo commented on #12676
Currently, there is not plan for it. Could you please describe why need it?

[2022-09-06 01:52] minggo commented on #12614
Circular dependency may cause unknown issue on native. I suggest to treat it as error and fix it.

[2022-09-06 03:56] bofeng-song opened #12687 "Whether each platform supports to get the system font"

[2022-09-06 03:59] bofeng-song opened #12688 "Learn how chrome implements text layout"

[2022-09-06 05:51] xianyinchen opened #12689 "UIMeshRender crop no correct when it's parent node has Mask component."
### Cocos Creator version

3.6.0

### System information

Window, Android

### Issue description

there has two children, but one no crop with Mask conponent.
![企业微信截图_16624433937870](https://user-images.githubusercontent.com/8321365/188556657-d3deb69a-8d7a-4818-b406-131f5e69ea10.png)

### Relevant error log output

_No response_

### Steps to reproduce

ask me for test project.

### Minimal repro

[2022-09-06 07:39] bofeng-song opened #12692 "remove unneeded res files"

[2022-09-06 08:01] OnlyKoei opened #12694 "Sprite doesn't show up in the editor"
### Cocos Creator version

3.6.0

### System information

window10

### Issue description

https://user-images.githubusercontent.com/40415168/188578137-335683e3-ff5e-461f-8f79-db28a789c830.mp4

### Relevant error log output

_No response_

### Steps to reproduce

1. first delete the project's cache folder: library,local,temp;
    先删除项目缓存文件夹：library,local,temp;
2. import a new pic, and then follow

[2022-09-06 08:03] PatriceJiang opened #12695 "Add cropping settings for network modules"
- [ ] Add options in editor
![image](https://user-images.githubusercontent.com/40414978/188580185-5231a371-fc42-4337-9710-63388ee3e45d.png)
- [ ] Exclude okhttp.jar on android

[2022-09-06 09:09] OnlyKoei commented on #12694
https://user-images.githubusercontent.com/40415168/188595508-15ca3b87-6729-4b6d-9caa-0f6aa0d7f9db.mp4

[2022-09-06 09:09] OnlyKoei commented on #12694
https://user-images.githubusercontent.com/40415168/188595646-d662994b-30b5-49db-bd46-6631fd716a0a.mp4

[2022-09-06 09:10] OnlyKoei commented on #12694
![image](https://user-images.githubusercontent.com/40415168/188595861-dfd3e013-079b-4618-963e-aa07ae662a37.png)

[2022-09-06 09:45] xianyinchen commented on #11046
As the test file is not available, we will continue to follow up and the issue is closed first.

[2022-09-06 10:23] xianyinchen commented on #10771
As the test file is not available, we will continue to follow up and the issue is closed first.

[2022-09-06 10:23] #10771 closed, assigned to hana-alice

[2022-09-06 10:29] xianyinchen opened #12699 "Custom rendering pipeline initialization earlier than pipeline code"
### Cocos Creator version

3.6.0

### System information

Chrome

### Issue description

 **Preview Mode Only**

![image](https://user-images.githubusercontent.com/8321365/188612597-985b0afc-d0e9-440f-8d27-5f1fa2cc9eef.png)

### Relevant error log output

_No response_

### Steps to reproduce

just preview in chrome, will show the error.
[ssao_361.zip](https://github.com/cocos/cocos-engine/files/9

[2022-09-06 12:05] paulocoutinhox commented on #12676
To run the app on Apple TV?

[2022-09-07 01:38] minggo commented on #12676
Apple TV is not so popular as other platforms. So we don't consider it right now.

[2022-09-07 01:38] #12676 closed, assigned to nobody

[2022-09-07 02:16] timlyeee commented on #12438
fixed

[2022-09-07 02:16] #12438 closed, assigned to timlyeee

[2022-09-07 02:17] #12292 closed, assigned to timlyeee

[2022-09-07 03:47] shrinktofit opened #12703 "Mat4.getRotation give incorrect result"
Please fix it to pass the unit test added in https://github.com/cocos/cocos-engine/pull/12702 .

[2022-09-07 08:39] obraz29 commented on #12018
hello @PatriceJiang, another crash on iOS platform, it's similiar this issue, could you help check ?
![image](https://user-images.githubusercontent.com/52654061/188832219-ce9ddd2c-f648-45ec-80c9-b1dd4ae44f61.png)

[2022-09-07 09:45] OnlyKoei opened #12710 "Modifying boxcollider on the animation editor has no effect"
### Cocos Creator version

3.6.0

### System information

window10，chrome

### Issue description

editor:
https://user-images.githubusercontent.com/40415168/188846604-9be71b74-b02f-456e-a57a-5b080ac7cf6e.mp4

web:
https://user-images.githubusercontent.com/40415168/188846888-578b50ee-ca3c-4537-8e47-737fc35d2349.mp4

### Relevant error log output

_No response_

### Steps to reproduce

demo:
[NewPro

[2022-09-07 09:57] linruimin opened #12711 "physics ammo.js behaves abnormally after 3.3.2"
### Cocos Creator version

3.3.2 3.6.0

### System information

Window10

### Issue description

when set collider center not to (0, 0, 0), physics ammo.js behaves abnormally after 3.3.2
issue come from :
https://forum.cocos.org/t/topic/139481
https://forum.cocos.org/t/topic/128475

### Relevant error log output

_No response_

### Steps to reproduce

in v3.6.0:
[139481.zip](https://github.com/coc

[2022-09-08 01:16] PatriceJiang commented on #12018
Could you please upload a demo?

[2022-09-08 01:16] PatriceJiang commented on #12018
And create a new issue to track it

[2022-09-08 02:03] #12448 closed, assigned to arsen2010

[2022-09-08 02:49] PatriceJiang opened #12718 "iOS build optimization"
- [x] When the Apple ID belongs to multiple teams, it should be allowed to manually specify a team ID https://github.com/cocos/creator-runtime-extensions/pull/324
- [ ] Xcode related environment verification (Build after creating a new Apple ID).

[2022-09-08 03:39] bofeng-song commented on #12688
chrome use [icu](https://icu.unicode.org) to get text direction
About multilingual text display direction:
https://android.googlesource.com/platform/frameworks/base/+/master/core/jni/android_text_AndroidCharacter.cpp

chrome source code:
third_party/renderer/platform/wtf/text/unicode::Direction

[2022-09-08 06:53] stanleyljl commented on #12490
@stanleyljl test

[2022-09-08 06:57] stanleyljl commented on #12490
@stanleyljl test2

[2022-09-08 07:01] stanleyljl commented on #12490
@stanleyljl ttt

[2022-09-08 07:03] stanleyljl commented on #12490
@stanleyljl aaa

[2022-09-08 07:06] stanleyljl commented on #12490
@stanleyljl ddd

[2022-09-08 09:47] zhakesi commented on #12673
* https://github.com/cocos/cocos-engine/pull/12721

[2022-09-08 10:05] xianyinchen commented on #12689
it's a project issue, close!

[2022-09-08 10:05] #12689 closed, assigned to LinYunMo

[2022-09-08 11:05] zhakesi commented on #12451
非新引入问题，3.x 均有此问题

[2022-09-08 16:35] maximgavrilov commented on #12338
Same with property construction. It should be `obj.hasOwnProperty(key)` here:

https://github.com/cocos/cocos-engine/blob/develop/cocos/core/data/decorators/utils.ts#L156

[2022-09-09 02:00] minggo opened #12728 "Unify coding style of math library in native"
Some functions such as `Vec3::leap` and `Quaternion::lerp` has different coding style:
[code]
- one is static, another isn't
- one return a temple instance, one requires passing in a pointer

And @shrinktofit also has a new implementation of it https://github.com/cocos/cocos-engine/pull/12719. Just implement it outside of Vec3 and Quaternion.

So should discuss the coding style: should implement i

[2022-09-09 02:07] stanleyljl commented on #12728
I recommend implementing these interfaces inside the class, static and non-static functions can exist at the same time, and try to avoid polluting the names in the cc namespace. If it's just a pure C++ version, it's also appropriate to use a global template function, but it's not recommended for consistency with TS. @minggo

[2022-09-09 02:36] minggo commented on #12728
@stanleyljl i agree with you.

[2022-09-09 02:54] shrinktofit commented on #12728
I'd like to proposal some styles:

- No need to be consistent with TypeScript math since we no longer need the verbose `out` parameters.

- If a math operation is subject to only few or specific math concepts, implement it as class member. For example:

  - Quaternion conjugation, constructing a quaternion from axis and angle.

  - Vector projection on plane, vector angle calculation.

  - Matrix

[2022-09-09 02:56] #12673 closed, assigned to zhakesi

[2022-09-09 03:08] minggo commented on #12728
In this specific case, `cc::normalize(quat)` and `cc::normalize(vec3)` need to know the layout of Quaternion and Vec3. Similarities between the two classes just the function name and its meaning, but their implementation are very different. So i don't know the benefit of it.

[2022-09-09 03:11] shrinktofit commented on #12728
Why do cc::normalize(quat) and cc::normalize(vec3) need to know the layout of Quaternion and Vec3?

[2022-09-09 03:15] minggo commented on #12728
Currently, it doesn't is just because there is `Vec3::lerp` and `Quaternion::lerp`, and your implementation is just a wrapper of these functions.

[2022-09-09 03:20] shrinktofit commented on #12728
Two functions with same name but have different implementation is just what the function overloading does.

[2022-09-09 03:26] minggo commented on #12728
Yep, i know C++ overloading. Let's make things more clear. Did you mean should delete `Vec3::lerp` and `Quaternion::lerp`, just keep `cc::lerp`?

[2022-09-09 04:20] shrinktofit commented on #12728
yes as described by above proposal.

[2022-09-09 05:41] minggo commented on #12728
Got it. Any benefit of it? As we should break compatibility, if there is not not any benefit, then i don't think should change it.

[2022-09-09 08:12] shrinktofit opened #12733 "Quat.slerp()'s implementation and performance is inconsistent between native and TS"
Both algorithms are tested on Chrome in form of WebAssembly compiled by emscripten, written in C++.

slerp in native's implementation(using native raw code):

![企业微信截图_16627098516431](https://user-images.githubusercontent.com/28807867/189303322-260585b7-87b0-4d6c-96ba-c2f192f6d347.png)

slerp in TS' implementation(rewrite TS' implementation in C++):

![企业微信截图_16627099234701](https://user-images.gi

[2022-09-10 03:47] AnkoGo123 commented on #12262
哪个版本都是这样，除了2.3.x，2.4.x有.3以上的版本之外，3.x版本到目前没见过.3+以上的版本，都在快速的迭代，每个bug都遗留到下一个版本，然后下一个版本又产生新的bug，又遗留到下一个版本，尿性

[2022-09-10 03:48] AnkoGo123 commented on #12262
最重要的是每个bug并没有提供专门的帖子收集现有版本的bug的pr给旧版本的人提供修复

[2022-09-12 13:54] Ronsku commented on #11503
Adding this issue here as well. I have no idea how to get to the sceneAsset without loading and applying the scene.
[code]

[2022-09-12 16:03] Ronsku commented on #11503
Also swapping scene in the background (having current scene set as persistent node just to be able to do a fast swap) requires tons of performance. Animations start stuttering when `director.loadScene()` is called even though the scene loading isn't that big.

This is on a very powerful desktop machine. When throttling CPU 4x in chrome it almost freeze for a moment.
I tried to empty the scene and

[2022-09-13 06:48] novain1102 opened #12742 "download multi-tasks will abort on iOS"
### Cocos Creator version

3.6.0

### System information

iOS

### Issue description

![image](https://user-images.githubusercontent.com/18634782/189830982-8762195a-0588-43ec-991e-806003e32312.png)

The key parameter should be unique when Scheduler::schedule call more than one times

### Relevant error log output

Selector already scheduled. Updating interval from 0.00000 to 0.00000

### Steps to

[2022-09-13 08:24] star-e opened #12745 "gfx object must call destroy, and should never be used again"
### Use Case

In webgpu backend, we have to destroy resources and delete object in `xxx.destroy()` method.

In native engine, v8 finalizer is used to delete native c++ object, while in webgpu, browser finalizer is not fully supported.
As a result, we must call `destroy` to delete webgpu object.

### Problem Description

Currently, gfx object might be used after destroy.
[code]
It is forbidden in w

[2022-09-13 08:51] minggo commented on #12745
Does it affect native usage? In native, we just use IntrusivePtr to control the lifecycle.

[2022-09-13 08:59] minggo commented on #12745
I agree that should not reuse gfx objects when they are destroyed.

[2022-09-13 09:00] star-e commented on #12745
It does not affect native usage. In native engine, v8's finalizer will be called and c++ object is deleted or decRefed. So there is no leak.

In webgpu, browser's finalizer might not be called or is not supported at all. So every webgpu/webasm object must be deleted manually.

[2022-09-13 09:09] #12387 closed, assigned to OnlyKoei

[2022-09-13 09:23] #12742 closed, assigned to novain1102

[2022-09-13 10:04] timlyeee commented on #11508
![image](https://user-images.githubusercontent.com/43355299/189873098-0caf7009-9f71-4f02-bb16-b654fcab1c1e.png)

The reason for the memory leak here is caused by the unsafe free.
As you can see on v3.4.2, it use `free(element)` to free the memory while element is actually constructed by `new`.

Replace the code with `delete(element)` resolve this issue. The bug is also fixed on v3.6

[2022-09-13 10:04] #11508 closed, assigned to timlyeee

[2022-09-13 10:08] timlyeee commented on #11791
This functionality is actually a new interface thus it should be marked as next version, for example v3.7

[2022-09-13 16:07] Biodam opened #12749 "Error while deleting transition in Animation Graph"
### Cocos Creator version

3.5.1

### System information

Windows 11

### Issue description

Press delete with a animation graph transition selected

### Relevant error log output

  [Window] Assertion failed: <no-message>
Error: Assertion failed: <no-message>
at <process:scene>
at assertIsTrue (C:\Projects\BitCake\cocos-engine\bin\.cache\dev\editor\bundled\index.js:216917:11)
at StateMachine.disc

[2022-09-13 16:10] Biodam opened #12750 "Prefabs variants"
### Use Case

When working with enemies of even UI that have similar structure it would be good to be able to have a base prefab and variants that have overrides similar to how overrides work in scene.

Also we need a better visualization of prefabs overrides. It is hard to know which values have been overwritten.

### Problem Description

1. Create a base prefab
2. Create a variant prefab
3. Set

[2022-09-13 16:15] Biodam opened #12751 "Error after duplicating animation graph"
### Cocos Creator version

3.5.1

### System information

Windows 11

### Issue description

It seems that a “ghost” variable is staying in the serialized file of animation graph after a duplication and deleting a variable

### Relevant error log output

![image](https://user-images.githubusercontent.com/15266822/189953429-e6f7eb50-d005-45ea-a29f-2c1ce6d10bc7.png)

### Steps to reproduce

1.     C

[2022-09-13 16:17] Biodam opened #12752 "Error while opening other prefab while in animation mode"
### Cocos Creator version

3.5.1

### System information

Windows 11

### Issue description

Node structures will go from one prefab to another when interacting with animation mode from within prefab mode and opening another prefab.

### Relevant error log output

_No response_

### Steps to reproduce

1.     Open prefab 1
2.     Open animation mode
3.     Double click in prefab 2 in assets withou

[2022-09-14 02:01] arsen2010 commented on #12751
You need to remove the references of that variable as well. In later release 3.6.2 version, we're going to optimize this behavior.

[2022-09-14 02:03] zhakesi commented on #12418
v3.6.2 版本

[2022-09-14 02:29] freeboy opened #12756 "It seems Root owns swap chains is not good"
It seems Root owns swap chains is not good. As root is only delete when exit program. Which means, swap chain will not be deleted even a system window is closed.

_Originally posted by @minggo in https://github.com/cocos/cocos-engine/pull/12243#discussion_r969118022_

[2022-09-14 02:50] OnlyKoei commented on #12752
https://user-images.githubusercontent.com/40415168/190047429-400603ce-9440-4f30-8306-f4ceff2c9710.mp4

[2022-09-14 03:00] #12522 closed, assigned to dogeFu

[2022-09-14 03:02] dogeFu commented on #11454
https://github.com/cocos/cocos-engine/pull/12717

[2022-09-14 03:02] #11454 closed, assigned to dogeFu

[2022-09-14 04:33] zhakesi commented on #12593
初步定位该问题由ios系统版本兼容问题导致.
ios15.4.1 之前的版本无问题
ios 15.6.1 之后的版本有此问题

ios系统版本升级后，deviceManager.gfxDevice.capabilities.maxVertexUniformVectors与实际可以使用的UniformVectors数量不匹配(根据测试最多支持62根骨骼)

[2022-09-14 05:38] arsen2010 commented on #12710
confirm the bug. would fix it in 3.6.2 version.

[2022-09-14 05:59] minggo commented on #11837
Can not make decision currently.

[2022-09-14 07:08] oahc09 opened #12762 "WebSocketServerConnection's bug cause "A server must not mask any frames that it sends to the client""
### Cocos Creator version

3.6.0

### System information

Windows10

### Issue description

there are two place call onDrainData, but sometimes server is not writeable, this will cause write failed.
Client will print the error log:
**WebSocket connection to 'ws://XXXX/' failed: A server must not mask any frames that it sends to the client.**
Server will disconnect with the client.

1. WebSocketSer

[2022-09-14 08:09] OnlyKoei opened #12763 "tiledmap display exception"
### Cocos Creator version

3.6.0，3.5.0，3.3.2

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/139958
![image](https://user-images.githubusercontent.com/40415168/190092295-47c7dae9-1092-4076-865d-926b6d6eadde.png)

2.4.10：
![image](https://user-images.githubusercontent.com/40415168/190094877-4448fd3a-65f4-462a-bca9-cffef3f794d7.png)

3.6.0：
![image](https://

[2022-09-14 08:43] novain1102 commented on #12010
The code mentioned above has been refactored. Please re-test in above 3.6.0 version and let me know if reproduce this issue.

[2022-09-14 08:43] #12010 closed, assigned to novain1102

[2022-09-14 08:45] Zhmz commented on #12472
![cb4fbd5cbca4f3d8666ae88a9fa7dba2](https://user-images.githubusercontent.com/32831993/190106768-331d359f-13f5-457b-955c-34568b74ac39.jpg)
最新3.6.1验证无误

[2022-09-14 08:45] #12472 closed, assigned to Zhmz

[2022-09-14 10:36] OnlyKoei opened #12772 "[3.6] Android can't pause system events"
### Cocos Creator version

3.6.0

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/139951
![image](https://user-images.githubusercontent.com/40415168/190132083-097fe554-e7de-4f12-b7d8-abbf012a4e96.png)

### Relevant error log output

_No response_

### Steps to reproduce

.

### Minimal reproduction project

_No response_

[2022-09-14 17:27] m-gomes commented on #12750
This feature would be great and spare a LOT of development time!

[2022-09-14 21:39] Biodam opened #12774 "Ignore layout component"
### Use Case

Sometimes we want to keep the UI structure because of animation or to keep it tidy and it would be useful to have an option to configure a node to be ignored by a Layout in its parent.

### Problem Description

Trying to manually configure a child of Layout is not possible. The layout does not have a way to configure exceptions. The layout

### Proposed Solution

Add an "Ignore Layou

[2022-09-15 01:43] #12772 closed, assigned to dumganhar

[2022-09-15 03:42] OnlyKoei commented on #12763
有的 trimtype 需要设置成 none, 有的需要设置为 custom; 才能正常显示
Some textures trimtype needs to be set to none, some need to be set to custom to display properly

[2022-09-15 04:02] dev-keishen opened #12776 "[3.6.0] Playing background music will stop main thread a while"
### Cocos Creator version

3.6.0

### System information

Android

### Issue description

When play a huge size sound,it will stop main thread a while,it just happen on Android platform
This bug don't happen on previous version of 3.x

Please take a look into video :
1. Press button and then a bgm music will play
2. look into label : you will see count label will stop until bgm music will be playe

[2022-09-15 06:39] OnlyKoei opened #12777 "’setSiblingIndex‘ does not trigger ‘_sortPointerEventProcessorList’"
### Cocos Creator version

3.6.0

### System information

window10

### Issue description

current:
![76a721e3875f0c56678decdffa743770a9f135f1](https://user-images.githubusercontent.com/40415168/190331512-ba15d339-ebd3-4746-b52c-20ab5301d9d9.gif)

expected:
https://user-images.githubusercontent.com/40415168/190331784-b530dc6c-e600-447a-8d87-95b7c8a7fa5c.mp4

When the node ordering is modified, the

[2022-09-15 07:43] dev-keishen opened #12781 "[3.6.1] Request downloading an asset bundle,it cause stop main thread a while"
### Cocos Creator version

3.6.1

### System information

Android IOS

### Issue description

Request downloading an asset bundle,it cause stop main thread a while,it happen on Android IOS
This bug don't happen on previous version of 3.x

Please take a look into video :
1. Press button and then request downloading an asset bundles
2. look into label : you will see count label will stop a while
htt

[2022-09-15 08:22] OnlyKoei opened #12784 "The editbox on the web cannot enter decimals, such as 0.1"
### Cocos Creator version

3.6.0

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/139729

When the decimal point was entered, it was recognized as a null character on the web, and then cut again, causing the index to be misaligned.
web 上在小数点键位输入时识别为空字符串，之后又进行了切割，下标索引就错乱了。
![image](https://user-images.githubusercontent.com/40415168/190352375-d0ddaf8b-f1be-4a

[2022-09-16 02:11] yeshao2069 opened #12790 "Empty project build web-mobile or web-desktop lags on safari browser (frame rate only 30+)"
### Cocos Creator version

3.5.0、3.5.1、3.5.2、3.6.0

### System information

macOS 12.5、safari 15.6 (17613.3.9.1.5)

### Issue description

Create a new empty project project, put a monochrome picture on the scene, and turn on the performance panel display (profiler.showStats)

Testing Creator editor version 3.4.2, building web-mobile in safari browser, frame rate has 48-58

### Relevant error log

[2022-09-16 02:12] yeshao2069 commented on #12790
https://forum.cocos.org/t/topic/139639

[2022-09-16 02:33] yeshao2069 commented on #12790
test data

https://doc.weixin.qq.com/sheet/e3_APYA4gbxADYU7HD8VmqQPSrtbms0W?scode=ADcAmwdCAAodAiSzWZAPYA4gbxADY

[2022-09-16 03:35] SantyWang commented on #12790
seems same issue https://github.com/cocos/3d-tasks/issues/13603, @star-e please take a look. In Safari 15.6, `gl.drawElement` and `bufferSubData` has a huge cost

[2022-09-16 03:36] PatriceJiang opened #12791 "Native build system optimize"
- [ ] ~~Collect FAQs~~ Document-related task, will be further improved in the future.
    - OOM
    - Output FAQ url when error occurs
    - Android multiple configuration practice for different release channel [duplicate issue](https://github.com/cocos/3d-tasks/issues/11959)

- [x] Remove build directory is required in some cases
- [ ] ~~Enviroment variables update~~, No related needs at the mome

[2022-09-16 05:14] obraz29 opened #12792 "[Native] Game crash when using private cache mode for spine"
### Cocos Creator version

3.6.0

### System information

iOS, android

### Issue description

When set private cache & active the spine in the same frame, the game will be crashed

### Relevant error log output

![image](https://user-images.githubusercontent.com/52654061/190561532-91867615-5fdd-4cea-99db-529650f2e4cd.png)

### Steps to reproduce

Please check demo project

### Minimal reproductio

[2022-09-16 05:19] obraz29 opened #12793 "[Native] Cant use same data for hotupdate android/iOS"
### Cocos Creator version

3.6.0

### System information

android/ios

### Issue description

For previous cocos versions, I can use same data for hotupdate on both android/ios platform, but from 3.6.0 the game will crash so i must build one for iOS, one for android. is it a bug ?

### Relevant error log output

![telegram-cloud-photo-size-5-6129784377643742013-y](https://user-images.githubusercon

[2022-09-16 06:43] dev-keishen commented on #12781
@minggo
I tried delete all sounds in asset bundles,it seem everything is normal again
I think it cause by loading huge sounds,it is same with this issue
https://github.com/cocos/cocos-engine/issues/12776

This is a log :

It take many time to decode an sound

I found this PR : https://github.com/cocos/cocos-engine/pull/12587/files#diff-970259cb145d4d5e37900e74d16eaeffbc3ce4785e9e6cb4c7b214bf0df4ab

[2022-09-16 07:00] longjianjiang commented on #12010
At engine 3.6.0, I try  not run cocos when app start, window's rootViewController is TestViewController, TestViewController has one button, click button (call enterGame method) run cocos, then crash.

[code]

[code]

---

i found here get render view is wrong, always find window's rootViewController?

[code]

@mmyduckx

[2022-09-16 07:33] novain1102 commented on #12010
I'm not sure if the engine supports this usage. Could you give me a reproducible demo for further diagnosis?

[2022-09-16 08:28] longjianjiang commented on #12010
[TestDemo.zip](https://github.com/cocos/cocos-engine/files/9582125/TestDemo.zip)

@mmyduckx

[2022-09-16 10:40] obraz29 opened #12803 "[iOS 15.5] App crash when enter background"
### Cocos Creator version

3.6.0

### System information

iOS 15.5

### Issue description

App will be crashed when enter background.

### Relevant error log output

![image](https://user-images.githubusercontent.com/52654061/190619883-899c7809-1361-4b3b-820c-9ff513310c42.png)

### Steps to reproduce

the bug occurs on iOS 15.5 only
1. Open app
2. Send app to background (minimize or press lock key

[2022-09-16 11:16] minggo commented on #12781
Yep, it is a big PR, not easy to merge manually. V3.6.1 will be release in days. You can have a try then.

[2022-09-17 01:21] dev-keishen commented on #12776
Will be fixed in 3.6.1

[2022-09-17 01:21] #12776 closed, assigned to nobody

[2022-09-17 01:22] dev-keishen commented on #12781
Will be fixed in 3.6.1

[2022-09-19 03:42] zhakesi commented on #12763
需要修改下资源中
spriteFrame 的Trim Type从auto 改为none
<img width="270" alt="捕获" src="https://user-images.githubusercontent.com/14008865/190946261-5eb6eda6-5a8c-4dfb-8d39-faca01412e2e.PNG">

[2022-09-19 03:42] #12763 closed, assigned to zhakesi

[2022-09-19 06:17] shrinktofit opened #12806 "Button's appearance changed when "transition" was switched from "sprite" to "color" and again switched back to "sprite""
Reproduce steps:

1. Create a button in editor. The `transition` property of button is  `SPRITE`, by default.

3. Switch the `transition` property to `COLOR`.

4. Switch the `transition` property back to `SPRITE` again.

You can see the button's appearance mismatch after step 1 and after step 3.

[2022-09-19 06:39] Zhmz commented on #11503
Could you provide the project to us? We try investigating the performance hotspots and give you the feedbacks.

[2022-09-19 11:04] OnlyKoei opened #12815 "ByteDance Mini Game load sub-package report error"
### Cocos Creator version

3.6.0

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/140129
![image](https://user-images.githubusercontent.com/40415168/191002481-38ba532e-d36a-4b07-9cc3-6bc4f8741b1e.png)
![企业微信截图_16635733985344](https://user-images.githubusercontent.com/40415168/191002512-f395d8f5-4c01-4622-a947-ad0f3a8becbe.png)
If the base library is low, tt

[2022-09-20 01:41] bofeng-song commented on #12692
The appcomt theme uses resource files, so we must replace AppcompatActivity with Activity to delete resource files that are not needed by the application.

[2022-09-20 01:45] bofeng-song commented on #12692
https://github.com/cocos/3d-tasks/issues/7706
Android Game Text Input may depend on Appcompat， so we need to investigate whether it is necessary to eliminate the use of appcompat

[2022-09-20 01:53] minggo commented on #12692
We can depend on Appcompat, but these resources are not needed. So should find a way to remove these resources when generating apk.

[2022-09-20 06:22] OnlyKoei opened #12820 "[3.6.0] Some event callbacks of Android joystick buttons are missing"
### Cocos Creator version

3.6.0

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/139561
![image](https://user-images.githubusercontent.com/40415168/191181965-03277ac9-c1b4-4786-84df-8a8f77c961ab.png)

### Relevant error log output

_No response_

### Steps to reproduce

.

### Minimal reproduction project

_No response_

[2022-09-20 07:26] OnlyKoei opened #12821 "Error replacing dragonbone's resources repeatedly on the editor"
### Cocos Creator version

3.6.0

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/140177
![image](https://user-images.githubusercontent.com/40415168/191193586-ff96c50c-ac7d-4d2c-9939-f15aafa321c9.png)
![image](https://user-images.githubusercontent.com/40415168/191193680-ee7ead84-8130-4ddf-a320-4f3c4f4c1ed2.png)

### Relevant error log output

_No response_

[2022-09-20 10:49] shrinktofit opened #12825 "[Proposal] Field unit editing experience"
## Problem Statement

It's nice if cc could provide the ablitity to freely change class field's unit for editing. For example, say we have a class:

[code]

The class field `angle` may denote an angle attribute of class `C`. In most time, for performance reason, the class's implementer expects the angle to be in radians.

But as you know, the radians is not a good unit for editing(imagine what sho

[2022-09-21 01:31] qiuguohua opened #12827 "HarmonyOS projects do not work in DEVECO 3.X"
Check out Huawei's official instructions：
https://developer.huawei.com/consumer/cn/forum/topic/0203876484517800640?fid=26

[2022-09-21 01:44] dumganhar opened #12828 "Performance test for Javascript binary serialization libraries"
Test Code:

https://github.com/dumganhar/sia/tree/cocos-test

Test Files:
[TestFiles.zip](https://github.com/cocos/cocos-engine/files/9612479/TestFiles.zip)

[2022-09-21 01:55] dumganhar commented on #12828
## Tested on MacBook Pro (16-inch, 2019) 2.6GHz 6-Core Intel Core i7
### NodeJS v16.15.0

[code]

### Chome 105.0.5195.125
[code]

### Cocos Creator 3.6.1 macOS (JIT enabled)

[code]

### Cocos Creator 3.6.1 macOS (JIT disabled)

[code]

[2022-09-21 02:23] VisualSJ commented on #12825
Or differentiating UI components, where you can choose what UI to use.
Example:

[code]

[2022-09-21 03:18] dumganhar commented on #12828
### Redmi 5 Plus (Cocos Creator 3.6.1)

[code]

[2022-09-21 05:35] dumganhar commented on #12828
### iPhoneX  (Cocos Creator 3.6.1)

[code]

[2022-09-21 06:58] dumganhar opened #12838 "[test] Check the engine size on web platform after removing @serializable decorator"
Original size: 4,770,578 bytes
Remove all serializable decorator: 4,694,569 bytes, diff size: 76009 bytes (76KB)

[2022-09-21 07:47] hana-alice commented on #10905
Tried both on mac and ios, can't reproduce. If there's any extra step please let me known.
Besides: could you have a try if does it make any difference on **portrait** mode and **landscape** mode?  and phone settings->safari->advanced->WebGL via Metal, try turn it off.

for reference here:
https://bugs.webkit.org/show_bug.cgi?id=228012

[2022-09-21 07:52] zhefengzhang opened #12839 "[3.4.2 ~ 3.6.0] After using game.restart(), the game's memory grows and a memory leak occurs"
### Cocos Creator version

3.4.2 ~ 3.6.0

### System information

ios 15.6.1

### Issue description

![图片](https://user-images.githubusercontent.com/35944775/191446489-75ea50c5-1e65-412e-8d6d-13cb26b4c669.png)

### Relevant error log output

_No response_

### Steps to reproduce

Build IOS projects and test them on IOS phones.

[momoryleak.zip](https://github.com/cocos/cocos-engine/files/9614240/m

[2022-09-21 07:56] W-MTZing commented on #10905
To my current understanding of creator ide, the native side wants to simulate may not be good simulation, need GLSE 3.0 back-end but currently in the iOS platform does not seem to support the export, you can try to package into webgl2.0 WeChat mini game will be reproduced.

[2022-09-21 08:30] longjianjiang commented on #12010
@mmyduckx Hi, can this be fix?

[2022-09-21 09:00] zhefengzhang opened #12842 "[3.6.0] Dynamic merge exception, the merged image does not meet the expectations, resulting in an increase in the game Drawcall"
### Cocos Creator version

3.6.0

### System information

macos 12.5.1 ，chrome

### Issue description

![图片](https://user-images.githubusercontent.com/35944775/191460092-ae93501b-8d5f-4ec2-bac9-f9426dfd3bf6.png)
![图片](https://user-images.githubusercontent.com/35944775/191460190-1c34c752-bb41-43a0-9f85-2e1d6a4d7147.png)

### Relevant error log output

_No response_

### Steps to reproduce

Release

[2022-09-21 09:30] OnlyKoei opened #12843 "Destroy Collider High performance consumption"
### Cocos Creator version

3.6.0

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/139056
![image](https://user-images.githubusercontent.com/40415168/191468759-d29f9d7e-addd-4cfe-bed5-4ef35c336429.png)

### Relevant error log output

_No response_

### Steps to reproduce

.

### Minimal reproduction project

_No response_

[2022-09-21 10:17] bofeng-song opened #12846 "vulkan block at vkAcquireNextImageKHR on Android platform"
### Cocos Creator version

3.6.0

### System information

Android  HONOR 30S  &  ARS-AL00(华为畅享max)

### Issue description

game thread block and can not renderer normally

### Relevant error log output

_No response_

### Steps to reproduce

Create empty project, and then create label. After build and run the demo, the game block while returning from background to foreground

### Minimal reproduct

[2022-09-21 20:00] Ronsku commented on #11503
@Zhmz I could make a demo, but just by dyanmically swapping scene with `director.loadScene()` you can directly notice that it takes some time, throttle to 4x CPU slow down and it can take even 100ms with an empty scene. Then you add just a simple image and it can bounce up to 200-300ms, add a Spine system and you have 500ms etc. It all of course depends on device performance, but if you create mob

[2022-09-22 01:01] Klaustype opened #12849 "bug 建议有修改安卓端mini盒子event 事件失效"
### Cocos Creator version

2.4.9

### System information

小米盒子设备适配问题

### Issue description

首先 用UA 来区分设备类型感觉不是很 靠谱 ，如果能开放用户配置设备类型选项更为友好
之前遇到的问题发现 mini盒子使用打包后web app 所有键盘鼠标事件不会执行导致 鼠标 无法操作
查看源码发现导致问题的根本是
![image](https://user-images.githubusercontent.com/34526974/191449560-8fc125ef-707d-48c7-b279-dfcfe3c006b6.png)
是处理UA 进行了拦截  这导致用户必须修改源码才能进行使用 希望开放对应端口 这样就有用户主动选择更为友好
![image](https://user-images.

[2022-09-22 01:06] Klaustype commented on #12849
If the device detection cannot be detected correctly on the web side, because the modified kernels of various manufacturers on the Android side are different, it is hoped that the window will be opened to assign values ​​to the corresponding interfaces that have been used.  prohibtion 与isDevTool

[2022-09-22 01:37] bofeng-song commented on #12692
AppCompatDelegate is the AppCompatActivity's proxy.  Before onCreate function called at AppCompatActivity, it'll create abc_screen_simple layout. But abc_ screen_simple layout depends on other resource files. So we can not remove appCompat's resource files if we consider use appCompat

[2022-09-22 01:37] bofeng-song commented on #12692
![1663810054675](https://user-images.githubusercontent.com/3078423/191639309-d17afea3-aacd-44a4-8902-b876a55a405c.png)
![1663810120073](https://user-images.githubusercontent.com/3078423/191639324-fffd8610-d54e-4d9f-bcc2-986f3f06968e.png)
![1663810153001](https://user-images.githubusercontent.com/3078423/191639339-1b6c35eb-2b9d-4bac-b664-0cd4d9a428fd.png)
![1663810168989](https://user-images.github

[2022-09-22 01:54] dumganhar commented on #12838
Writing serialization code manually like the following:
[code]
will make the js code smaller.

[2022-09-22 02:22] minggo commented on #12692
As we haven't integrated game text input, so we should remove Appcompat. When we decide to integrate game text input, then we can add Appcompat back.

[2022-09-22 02:36] PatriceJiang opened #12851 "Generate cocos-version.h with package.json"

[2022-09-22 02:52] LinYunMo commented on #12842
由于 3.6 中进行了渲染顺序更新机制调整，导致了插入合图时顺序发生了变化，而由于自动河图算法的局限性，在 3.6 中的插入顺序导致了合图的空间利用率变低，合图合成了两张， drawCall 变高。
这个问题需要优化 自动合图的算法来进行优化，详见 issue ：https://github.com/cocos/cocos-engine/issues/11196

------

Due to the adjustment of the rendering order update mechanism in 3.6, the order of inserting the merge map has changed.
This problem requires optimization of the automatic merging algorithm, see issue #11196

[2022-09-22 03:37] zhakesi commented on #12418
* https://github.com/cocos/cocos-engine/pull/12847
* https://github.com/cocos/cocos-engine/pull/12788

[2022-09-22 03:37] #12418 closed, assigned to zhakesi

[2022-09-22 03:41] dumganhar commented on #12838
javascript primitive type is value type rather than reference type.
How to assign the member variables?

Perhaps, just passing owner object to ar function and set the property according property name.
[code]
Invoking `owner[key] = balabala;` to set the value.

[2022-09-22 05:27] shrinktofit opened #12852 "@property: "unit" is not shown if "slide: true" is specified"
The field declaration:

[code]

Actual:
![image](https://user-images.githubusercontent.com/28807867/191665160-6e86bacb-dc50-4e87-8d5f-b6f9d03f0cb1.png)

Expected:
A "deg" unit should exist, like:

![image](https://user-images.githubusercontent.com/28807867/191665277-210e11ed-104d-4bab-824c-1affd0d5bcd4.png)

[2022-09-22 05:30] shrinktofit opened #12853 "@property: "step" is ignored in non-slide case"
The field declaration:

[code]

Actual:

When drag the field in editor, the step is obviously not 0.01.

Expected:

When drag the field in editor, the step should be 0.01.

[2022-09-22 07:07] bofeng-song commented on #12820
https://github.com/cocos/cocos-engine/pull/12854
https://github.com/cocos/cocos-engine-external/pull/296
Temporarily delete the dependency on appcompat

[2022-09-22 07:10] bofeng-song commented on #12692
https://github.com/cocos/cocos-engine-external/pull/296
https://github.com/cocos/cocos-engine/pull/12854
Temporarily delete the dependency on appcompat

[2022-09-22 07:42] PPpro commented on #11261
@yyycggg please take a look whether we need to fix on Android  https://github.com/cocos/cocos-engine/pull/12830

[2022-09-22 08:31] timlyeee opened #12858 "[Feature] Audio system refactor"
The audio engine on the native platform and audio source on ts cannot fulfill the need for 3d audio and audio effects, thus the refactoring of the audio system is up to go. This issue is meant to write and discuss the refactor and the first comment will be updated time by time to the final version.

The audio system refactor is meant to solve the delay between audio play and render, and to add fun

[2022-09-22 09:26] minggo opened #12859 "Remove deprecated binding machanism"
As binding generator is replaced with swig, so can(keep compatibility):
- all .ini files in tools/tojs
- update README to deprecate binding generator
- remove tools/tojs/jsb-doc?

[2022-09-22 11:32] xianyinchen opened #12861 "node.worldScale has faulty logic"
### Cocos Creator version

3.6.0

### System information

Chrome

### Issue description

Set the world scale and print it, then get a different value? That's weird.

[code]

### Relevant error log output

_No response_

### Steps to reproduce

Reproduce project， press key 'A' on PC Chrome.
[NewProject.zip](https://github.com/cocos/cocos-engine/files/9625217/NewProject.zip)

### Minimal reproductio

[2022-09-22 16:37] Ronsku commented on #12279
I'm not sure if we need a demo project more than this. Broken link and this is the error you get
![image](https://user-images.githubusercontent.com/7983358/191803626-6cad92f1-ddb6-4f87-acf2-ec0d8e731acd.png)

[2022-09-23 03:03] bofeng-song commented on #12861
This function is normal. After setting worldscale, the transform will change, and the final value obtained will change with the transform

[2022-09-23 03:15] bofeng-song commented on #12861
Cocos engine: update scale at the api of updateWorldTransform

[2022-09-23 04:22] jareguo commented on #12825
The solution you proposed increases the project package size (runtime solution rather than editor solution) and introduces additional runtime overhead. So I'm a little concerned about the potential for abuse.

Why we dont just use standard JS way fits everyone's intuition.

[code]

I think this meets the needs of 99% of developers, because most people don't need to provide a so-called "variable un

[2022-09-23 06:02] timlyeee commented on #12492
I'm not sure if my way to reproduce the issue is right, I've tried like below:
[code]

and in editor I manually disable audio source node.
![image](https://user-images.githubusercontent.com/43355299/191900141-97b8bf82-cae1-49b2-8278-d705abd5769d.png)

In that way I didn't reproduce the error.

Could you please show me a demo for this? Thank you @zhangyizhang

[2022-09-23 06:25] OnlyKoei commented on #12821
https://forum.cocos.org/t/topic/140331
![image](https://user-images.githubusercontent.com/40415168/191902968-807109ac-4ebd-4257-861c-a9e2b4ef6bd7.png)
类似问题
demo:
[NewProject_5.zip](https://github.com/cocos/cocos-engine/files/9631921/NewProject_5.zip)

[2022-09-23 07:04] timlyeee commented on #12375
This issue is totally wrong!!! It's not how it works!

Editbox is a DOM element on web, and when the user is trying to input some text, this dom element will scroll up with the DOM API `scrollIntoView`.

Alipay's web browser does not support this API so the behavior becomes like this. But we cannot detect if it's a Alipay browser or something else....

Please checkout if Alipay mini game has the s

[2022-09-23 07:14] shrinktofit opened #12866 "Feature request: specify filter on fields"
## Use cases

When open object(node, component, asset ...) selection dialog, it would be nice if the content can be filtered further. For example:

- Filter descendants nodes.

- Filter nodes owning some components.

- Filter animation clips that are dedicated for current node hierarchy.

- ...in general, filter objects that have specific characteristics.

## Form

To achieve this, we can either:

[2022-09-23 07:14] arathore-gaming commented on #12476
@jareguo Any update on this?

[2022-09-23 08:16] timlyeee commented on #11878
This issue has no reply update for one month, and is about to closed

[2022-09-23 08:16] #11878 closed, assigned to timlyeee

[2022-09-23 08:22] timlyeee commented on #11615
[This pull](https://github.com/cocos/cocos-engine/pull/12422) has unified the decoder on windows and partial android, yet not all decoders are in same architecture, this issue seems no reason right now, I'll close it.

[2022-09-23 08:22] #11615 closed, assigned to timlyeee

[2022-09-23 09:00] timlyeee commented on #11302
https://github.com/cocos/cocos-engine/pull/11808.

Actually it works but with high latency between animation frames. Maybe it's better it we divide audio engine as a separate thread.

For Mac and iOS, It's better to use audio unit and code audio as it's what avaudioengine uses.

[2022-09-23 09:00] #11302 closed, assigned to timlyeee

[2022-09-23 10:07] kenkozheng opened #12874 "[Feature Request] Physics System with Web Worker"
### Use Case

We are building H5 games targeting all levels of mobile phones.
Low-end devices meet serious performance issues, especially when a physics system is involved.

### Problem Description

Low performance of physics system.

### Proposed Solution

leverage web worker to separate calculating and rendering

### How it works

_No response_

### Alternatives Considered

None

### Additional

[2022-09-25 13:20] zhangyizhang commented on #12492
[test.zip](https://github.com/cocos/cocos-engine/files/9640832/test.zip)

[2022-09-25 13:21] zhangyizhang commented on #12492
![image](https://user-images.githubusercontent.com/26247903/192145708-a1ebd5ea-d796-4eb7-bbd1-9ecad9f8dadc.png)

[2022-09-25 13:21] zhangyizhang commented on #12492
![image](https://user-images.githubusercontent.com/26247903/192145731-1e1b7979-68ef-4a31-b404-11a1eeaf1698.png)

[2022-09-26 01:47] dumganhar opened #12878 "Performance test for creating objects and assigning properties in JS and CPP"

[2022-09-26 02:29] star-e opened #12879 "Serialization of pipeline data structure"
### Use Case

Support serialization of pipeline data structure in both c++ and typescript.
The pipeline data structure consists of string, number, enum, null, Array, Map.
Pipeline data structure is serialized in typescript.
In native-pipeline, c++ will be used to de-serialize binary/text archive and construct c++ object.
In web-pipeline, typescript will be used to de-serialize binary/text archive

[2022-09-26 02:41] shrinktofit opened #12880 "[Feature Request] Support package.json subpath imports"
The [subpath imports](https://nodejs.org/api/packages.html#subpath-imports) is worth implementing for both engine side and project side.

The subpath imports make it possible to map imports without extra tsconfig.json configuration. As a compare, currently:

- at engine side, we need to configurate the mapping in [/tsconfig.json](https://github.com/cocos/cocos-engine/blob/02d88c02d5d3fd9f89e365183

[2022-09-26 03:52] lealzhan commented on #11227
测试了3.6.2的原生实现， 已经没有这个bug了（windows平台）。应该是非物理模块的原生场景同步相关的bug已经修复了。
This is fixed in Cocos Creator 3.6.2.

[2022-09-26 05:47] #11227 closed, assigned to lealzhan

[2022-09-26 06:03] timlyeee commented on #12603
The SLES module is based on the refactor of audio system, and it's hard to tell if a single module is truly needed, the only platform adapter in native layer is `native/cocos/platform`.

This issue should be closed and discussion

[2022-09-26 06:03] #12603 closed, assigned to qiuguohua

[2022-09-26 06:18] #11939 closed, assigned to qiuguohua

[2022-09-26 06:48] OnlyKoei opened #12888 "[3.6.1] new custom layer can't get"
### Cocos Creator version

3.6.1

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/140382
![image](https://user-images.githubusercontent.com/40415168/192210418-dabf3e1f-1155-4f48-b0bb-9d827f3685ef.png)

3.6.0 :
![image](https://user-images.githubusercontent.com/40415168/192210645-7f1d2658-4ee4-47cc-b55b-91314589f788.png)

3.6.1:
![image](https://user-images.

[2022-09-26 06:52] novain1102 commented on #12839
follow up in internal issue: https://github.com/cocos/3d-tasks/issues/14034

[2022-09-26 07:22] dumganhar commented on #12878
<img width="1600" alt="WeChatcabb0d81ab38cf30b43afebc895cfc60" src="https://user-images.githubusercontent.com/493372/192216332-2d2355e6-9c16-45a9-974e-d580b3b4d884.png">

## Result
Create JS objects and assign properties in Cpp is really slower than doing it in JS.

Test Code:
[TestObjectCreateAndAssign.ts.zip](https://github.com/cocos/cocos-engine/files/9783138/TestObjectCreateAndAssign.ts.zip)
[

[2022-09-26 07:23] dumganhar commented on #12878
It seems that doing that in CPP will make GC very busy.
<img width="1742" alt="Screen Shot 2022-09-26 at 14 08 58" src="https://user-images.githubusercontent.com/493372/192216888-76badd5d-90b1-45a6-ac36-2454ab068171.png">
<img width="1740" alt="Screen Shot 2022-09-26 at 14 08 48" src="https://user-images.githubusercontent.com/493372/192216894-dc050e5c-4a6a-4e14-8b73-60fe3364ce01.png">
<img width="

[2022-09-26 07:31] OnlyKoei commented on #12777
https://forum.cocos.org/t/topic/140401
![image](https://user-images.githubusercontent.com/40415168/192218414-e6137086-f574-4b32-957f-519c19f65ed6.png)

[2022-09-26 09:32] OnlyKoei opened #12893 "[3.6.1] Particle Native Crash"
### Cocos Creator version

3.6.1

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/140441
![image](https://user-images.githubusercontent.com/40415168/192242046-5644d6a5-63f3-48e7-8a7b-bf6039a5569c.png)

Android crash information：
![image](https://user-images.githubusercontent.com/40415168/192242082-ad147d73-00c5-4bad-a12a-1cc836cde87d.png)

The web runs fine

[2022-09-26 10:02] zhakesi commented on #11141
Fixed on V3.6.2

[2022-09-26 10:02] #11141 closed, assigned to zhakesi

[2022-09-26 10:04] wardehuang commented on #12893
Bugly crash log.

![image](https://user-images.githubusercontent.com/1259296/192249631-020edf0e-4c85-40fd-a6ab-b0d4a773559e.png)

[2022-09-26 10:18] novain1102 commented on #12695
Now, we cannot exclude `downloader` and `xmlHttpRequeset` because of engine internal usage.
So, now network module looks like:
- Network
- [ ] ~~xmlHttpRequest~~
- [ ] ~~downloader~~
- [x] websocket
- [x] websocket-server

Also, downloader rely on okhttp on Android, so we can't exclude okhttp.jar

[2022-09-26 10:39] star-e opened #12897 "Add CameraUsage to Editor cameras"
### Use Case

Currently, pipeline uses CameraUsage to distinguish cameras from game or editor.
Editor has to set the correct usage for correct rendering.

### Problem Description

When creating camera using `ICameraInfo`, editor should specify `usage: CameraUsage` which is usually Editor related, such as GAME_VIEW, SCENE_VIEW, PREVIEW etc.

### Proposed Solution

_No response_

### How it works

_

[2022-09-26 13:13] arsen2010 commented on #12888
confirm this is bug added from v3.6.1 , would be fixed on v3.6.2

[2022-09-27 02:36] Zhmz opened #12903 "switch the site of useSystemFont and Font"
### Cocos Creator version

3.6.x

### System information

All

### Issue description

move up the useSystemFont above the Font
https://forum.cocos.org/t/topic/140431

### Relevant error log output

_No response_

### Steps to reproduce

the inspector

### Minimal reproduction project

_No response_

[2022-09-27 02:48] Zhmz commented on #12903
![image](https://user-images.githubusercontent.com/32831993/192420174-cd3d9cb5-fc46-48d9-939e-7e42bf030252.png)
![image](https://user-images.githubusercontent.com/32831993/192420214-29b1dd76-ef04-48c3-bf5c-88abef2756a8.png)

[2022-09-27 06:44] #12903 closed, assigned to Zhmz

[2022-09-27 07:08] jareguo commented on #12825
# 需求汇总

## 进制转换：国标单位下的十进制、千进制、千分之一进制转换，便于输入（km/m/cm/mm...）

这里要解决的是好不好输入的问题，而不是能不能输入的问题。但是容易导致滥用，会带来两个潜在风险

1. 精度问题

小数点后面的精确有可能不够。一个 desiredUnit 是 km 的值，如果接收到一个 cm 的输入，精度在 32 位上很可能丢失。
例如 speed = 0.79(cm); this.x = 1(km); this.x += this.speed（此时精度出现丢失）。
当不支持进制转换时，用户只能输入 speed: 0.0000079，此时会很容易发现精度问题。而使用 cm 输入时输入 0.79 则不会意识到精度问题。

2. 统一问题

允许自定义每个属性设置 desiredUnit，并且此设置在装饰器而不是变量名上体现的话，容易导致项目里的单位或者进制

[2022-09-27 07:20] PPpro commented on #12699
![企业微信截图_166426092721](https://user-images.githubusercontent.com/17872773/192459647-387d8944-969d-4a05-8333-588ffaaafa90.png)

[2022-09-27 07:51] lealzhan commented on #12711
Physx backend has the same problem.
Physx后端也存在该问题。

[2022-09-27 08:51] linruimin opened #12915 "update to 3.6.1 particle error"
### Cocos Creator version

3.6.1

### System information

windows10

### Issue description

1.particle set capacity to 1
![image](https://user-images.githubusercontent.com/18083506/192479851-b058416d-b6f9-4311-8ac3-d2f20d14bdf7.png)
run on web, the console will show:
![image](https://user-images.githubusercontent.com/18083506/192479746-36313b7c-1268-4526-a48c-e538e54c1612.png)
2.trail module not e

[2022-09-27 09:34] Uldraxiel opened #12918 "Prefab save from instance breaks custom component links external to prefab"
### Cocos Creator version

3.6

### System information

Windows 10 Editor

### Issue description

Let's consider a prefab that contains a custom component that has properties linked to other components outside the prefab.
Making modifications on the prefab from one of its instance on the scene and saving them break all the links to components that are not in the prefab.
Making modification directl

[2022-09-27 09:46] OnlyKoei opened #12919 "Destroying a particle-2d immediately after it is created will report an error"
### Cocos Creator version

3.5.2, 3.6.1

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/140483
![image](https://user-images.githubusercontent.com/40415168/192492596-aabc224d-b0ca-4258-a39e-80d8a0829696.png)

![image](https://user-images.githubusercontent.com/40415168/192492651-80674f64-b847-46dc-a583-997494d134b6.png)

### Relevant error log output

_No re

[2022-09-27 10:09] dogeFu commented on #12752
This issue will be fixed at 3.6.2.
Exiting animation editor when you want to open other prefab can avoid this problem.

[2022-09-27 10:17] pandamicro opened #12921 "Base rely on Primitive causing unexpected issue when Primitive being culled"
![企业微信截图_587a7634-e627-437e-a1fd-fc6be03992c6](https://user-images.githubusercontent.com/632460/192499220-9126672d-9aca-4f3b-ae1a-82ab36deb9f8.png)

As shown here, `Skybox` class rely on `primitive.Box` to create mesh for skybox, and primitive module could be culled in project settings, which cause issues in 3d project.

Options are
1. Make `base` module dependent on `primitive` module in `cc.conf

[2022-09-27 10:25] #10610 closed, assigned to walzer

[2022-09-27 10:32] minggo commented on #12921
cocos/core/renderer is moved to cocos/render-scene, it is not part of base module now

[2022-09-27 11:01] #12825 closed, assigned to arsen2010

[2022-09-27 11:26] #12699 closed, assigned to PPpro

[2022-09-27 15:45] Biodam opened #12927 ""resetInEditor" not beind called on component added to node"
### Cocos Creator version

3.5.1

### System information

Windows 11

### Issue description

In the comment of the function it says: "when adding the component the first time"
![image](https://user-images.githubusercontent.com/15266822/192572284-d686bce7-7d80-4197-b46d-9206e5937850.png)

But this does not happen.

### Relevant error log output

_No response_

### Steps to reproduce

1. Create a ne

[2022-09-28 02:19] patrick-fu commented on #12456
Still not work on v3.6.1,  seems like the "EDITOR_NODEJS" variable has not been defined
<img width="826" alt="企业微信截图_3cf350ba-507f-4946-9530-27268cb5e7c1" src="https://user-images.githubusercontent.com/20736775/192672544-726f511b-636d-4535-90c2-939150686d45.png">

[2022-09-28 02:33] PatriceJiang commented on #12456
The Editor_Nodejs is not a regular nodejs executable, and this change has been reverted. Developers still need to set `NODE_EXECUTABLE` manually if it is not found in ENV

common/CMakeLists.txt
![image](https://user-images.githubusercontent.com/40414978/192674414-4c5f6906-0174-46bf-93ce-394a3d5d7429.png)

I will update the document later.

[2022-09-28 02:53] patrick-fu commented on #12456
🤔 I think it is not a good idea to set the path of "node" in project's cmake file, it destroys portability and is not suitable for team collaboration @PatriceJiang

[2022-09-28 03:11] #12888 closed, assigned to arsen2010

[2022-09-28 03:18] arsen2010 commented on #11465
This feature would be added on big editor version v3.7

[2022-09-28 05:35] PatriceJiang commented on #12456
Yes, it is a temporary solution.  I will add an entrance for  developers to override options in cfg.cmake on each device.

[2022-09-28 09:47] novain1102 commented on #12010
Hi, I try your demo. Does overriding the previous view by changing the rootViewController after click the button do not meet your needs?
I would like to know your further requirements so that we can improve the engine logic to make it easier to use![image](https://user-images.githubusercontent.com/18634782/192747367-184612fa-152c-4e82-88db-4d0f0597b4ef.png)

[2022-09-28 10:00] dumganhar commented on #12878
https://github.com/nodejs/node-addon-api/issues/790

[2022-09-28 10:12] novain1102 commented on #12010
If you want to use presentViewContoller to show cocos engine content, maybe you could try this modification.
![image](https://user-images.githubusercontent.com/18634782/192752786-cb929665-3be2-416d-b860-938e2097c7bf.png)
But don't forget to modify all the codes contain rootViewController usage in engine.
![image](https://user-images.githubusercontent.com/18634782/192752685-c99a3ecd-d148-46ee-883d-

[2022-09-28 11:06] dumganhar commented on #12878
The old performance test was using `symbol_level=0` v8 which will cause wrong symbol . I built a v8 library with `symbol_level=2` which is the correct result.
![Screen Shot 2022-09-28 at 19 06 07](https://user-images.githubusercontent.com/493372/192763838-64fea146-076b-44d2-b873-51a361c3062c.png)

[2022-09-28 14:41] gdoudeng commented on #12356
The problem still exists in 3.6.1
https://forum.cocos.org/t/topic/140371/8?u=1774358245

[2022-09-28 14:42] gdoudeng commented on #12356
@holycanvas

[2022-09-28 15:33] tuan243 opened #12940 "[Android] cc_time is not calculated correctly in Android"
### Cocos Creator version

3.5.1, 3.6.0

### System information

GLES3

### Issue description

Demo project: https://github.com/iwae/2DWater-Reflection
cc_time variable get more incorrectly over short period of time. It cause the water caustic effect get more pixelated overtime (about 5 min). This problem does not happen in web platform.

### Relevant error log output

_No response_

### Steps to

[2022-09-28 16:05] tuan243 opened #12941 "[Android] Issue with uniform variable"
### Cocos Creator version

3.6.0

### System information

GLES3

### Issue description

Demo project: https://github.com/iwae/2DWater-Reflection
The game crash on launch in debug buildk. In release build the game doesn't crash, but the causticColor variable in water-sprite.effect doesn't take effect, it cause the caustic texture became white
In web:
![image](https://user-images.githubusercontent.c

[2022-09-29 01:59] SantyWang commented on #12694
暂时先绕过了

[2022-09-29 01:59] #12694 closed, assigned to VisualSJ, SantyWang

[2022-09-29 02:27] Zhmz opened #12942 "char label color is incorrected"
### Cocos Creator version

3.6.x

### System information

Windows,Android,iOS

### Issue description

https://forum.cocos.org/t/topic/140371/7

### Relevant error log output

_No response_

### Steps to reproduce

press the button
then the colors are different

### Minimal reproduction project

_No response_

[2022-09-29 03:26] dumganhar opened #12943 "[optimization][native] Don't need to trace all `se::Object`s in std::unordered_set"

[2022-09-29 03:32] dumganhar opened #12945 "Add se::Object::createObjectWithConstructor method to create JS object from JS constructor"

[2022-09-29 03:39] arsen2010 commented on #12751
Sorry，this optimization too late to catch up v3.6.2 , would be delay to v3.7 .
On v3.7 when remove a variable ,if the variable is be used would pop a confirm warning dialog to user.

[2022-09-29 03:41] arsen2010 commented on #12710
Sorry. It is too late to catch up v3.6.2 , the fix would be release on v3.7

[2022-09-29 04:09] yiwenxue opened #12949 "Web platform emits errors on window resizing."
### Cocos Creator version

Develop

### System information

Windows 11, editor preview

### Issue description
Web platform emits errors on window resizing.

cocos/core/platform/view.ts

[code]

event is always undefined.

![image](https://user-images.githubusercontent.com/24495793/192935517-bca7862b-6140-4bf8-afc1-c2e8a07c196d.png)

### Relevant error log output

[code]

### Steps to reproduce

1.

[2022-09-29 05:46] dumganhar commented on #12878
It seems that JS code will be optimized with bytecode and JIT by V8 engine. But c++ code will not.
So it's better not to deserialize JS objects in C++.

[2022-09-29 05:47] #12692 closed, assigned to bofeng-song

[2022-09-29 05:51] dumganhar commented on #12828
According to the performance test result, it's better to use `JSON` format for deserializing `JS objects`.

[2022-09-29 05:51] #12828 closed, assigned to dumganhar

[2022-09-29 06:22] yiwenxue commented on #12949
Fixed

[2022-09-29 06:22] #12949 closed, assigned to nobody

[2022-09-29 06:57] pandamicro commented on #12921
Then render-scene must rely on primitive module. That is acceptable, but it would be even better to move environment related classes into 3d module.

[2022-09-29 07:15] bofeng-song commented on #12861
@xianyinchen notify developer, he can merge following pr.
https://github.com/cocos/cocos-engine/pull/12165

[2022-09-29 07:36] minggo commented on #12921
Sorry, what did you mean environment related classes?

[2022-09-29 09:48] timlyeee opened #12953 "[Plannification] Audio Refactor Stage Plannification"
This issue lists all problems that need to be solved, and each comment represents a step,  once all tasks are done, the audio system will be strong enough.

![image](https://user-images.githubusercontent.com/43355299/193184650-fbc3c69e-a35c-4323-ba1f-3dd68065556f.png)

If we unify the implementation of native audio to WebAudio standard, we can then unify the behavior.

AudioSource will then grow a

[2022-09-29 09:49] timlyeee commented on #12858
The refactor of the audio system is too huge to do in one step, this issue is meant to represent a big plan and welcome all feedbacks.

The plannification to solve problems is written in another issue and the first step to refactor native audio system aims to fix bugs, but changes a lot.

[Here](https://github.com/cocos/cocos-engine/issues/12953) is the link to the plan.

[2022-09-29 10:13] timlyeee commented on #12953
Native audio system refactor

- [ ] #12954
- [ ] Fully debuggable WebAudioSystem

TS audio system refactor
- [ ] #12957
- [ ] WebAudio usage optimization
- [ ] Audio source fallback optimization
- [ ] Audio panning
- [ ] Audio pitch shifting
- [ ] 3D audio source expand

[2022-09-29 10:40] timlyeee opened #12954 "Unify implementation to WebAudio"
WebAudio has provided full support of AudioGraph and DSP nodes, as we're not ready for a huge subsystem, it's better to implement WebAudio API and make WebAudio editor in cocos creator, cost less and gains a lot.

One good idea is to use [labSound](https://github.com/LabSound/LabSound) and  make it accessible for all platform with less cost.

[2022-09-29 10:48] timlyeee opened #12957 "Export audio player as a controllable class"
The audio source is hard to use because sometimes we don't truly need to bind it on the node.

Export audio player and make it simple to use, as a single player.

[2022-09-29 13:45] attolee opened #12960 "canvas with lower camera priority is rendered over higher one"
### Cocos Creator version

3.6.0

### System information

Web, Android Simulator

### Issue description

According to the definition,

so canvas with lower camera priority is expected to be rendered under the higher one, this is true in web, but it's contrary in  android simulator or real phone.

![image](https://user-images.githubusercontent.com/4199324/193048419-199c4804-4b1a-497d-9b3a-59ca855ac

[2022-09-30 02:29] novain1102 commented on #12941
![image](https://user-images.githubusercontent.com/18634782/193175512-f7648ddb-a376-400c-89e5-dcfceb3159ec.png)
In your effect code,  `type: color ` but value is FLOAT3; you should assign value as FLOAT4 like [1.0, 1.0, 1.0, 1.0]; You could see in built-in effect.
![企业微信截图_14057750-ad8a-4995-a4e7-ef39117b9f2a](https://user-images.githubusercontent.com/18634782/193176882-be5292fe-a4f7-4db7-9f1a-354

[2022-09-30 02:31] minggo commented on #12940
@jk20012001 where to pass cc_time to shader?

[2022-09-30 02:52] OnlyKoei opened #12961 "Language adaptation for Hindi"
### Cocos Creator version

3.6，2.4.10

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/140144/
![image](https://user-images.githubusercontent.com/40415168/193179582-e4c6ec6b-ce44-42d1-8ea2-813c022cef34.png)

Hopefully 2.x will also be adapted.
2.x 希望也适配

### Relevant error log output

_No response_

### Steps to reproduce

.

### Minimal reproduction projec

[2022-09-30 02:54] #12943 closed, assigned to dumganhar

[2022-09-30 02:54] #12945 closed, assigned to dumganhar

[2022-09-30 03:02] #12858 closed, assigned to timlyeee

[2022-09-30 03:52] timlyeee commented on #12954
![image](https://user-images.githubusercontent.com/43355299/193184650-fbc3c69e-a35c-4323-ba1f-3dd68065556f.png)

To accomplish the architecture described in the graph, the first thing to do is implement WebAudio in our engine. Fork and code based on labSound is an excellent idea since we don't really have enough knowledge.

[2022-09-30 08:29] yiwenxue commented on #12941
![image](https://user-images.githubusercontent.com/24495793/193226810-39f2a823-243a-4942-a8eb-dc7196677c5a.png)

合并 https://github.com/cocos/cocos-engine/pull/12962 的修改之后，windows 上面可以正确渲染了（Windows11， ES3，debug 模式测试）。

metal 上水的波纹是纯黑色。可能是后端的问题。

[2022-09-30 08:37] novain1102 commented on #12941
![image](https://user-images.githubusercontent.com/18634782/193233880-56e008ae-451a-44fc-ab82-a9b2e4181e0b.png)
Error effect shows in version 3.5.x & 3.6.x in Metal
@hana-alice Please have a check.

[2022-09-30 09:10] OnlyKoei opened #12969 "Message Manager shows incomplete information"
### Cocos Creator version

3.6.1

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/140680
![image](https://user-images.githubusercontent.com/40415168/193236014-0dcab608-965d-407f-945a-eb61bb5343d6.png)

### Relevant error log output

_No response_

### Steps to reproduce

.

### Minimal reproduction project

_No response_

[2022-09-30 09:13] yiwenxue commented on #12941
Fatal error appears on the Vulkan backend
![image](https://user-images.githubusercontent.com/24495793/193236432-e910c173-da29-4a1b-8b20-9a167243d863.png)

[2022-09-30 09:41] xianyinchen opened #12970 "[3.6.1] script compile issue"
### Cocos Creator version

3.6.1

### System information

window

### Issue description

script load in editor, show error.
![image](https://user-images.githubusercontent.com/8321365/193241622-8a6032c8-f43e-40fe-bbb7-40f858a03427.png)

the error code, such like these.
![企业微信截图_16645272681518](https://user-images.githubusercontent.com/8321365/193242460-489eabcb-b752-4a24-8f90-a44f1d877028.png)

if

[2022-09-30 10:23] novain1102 commented on #12941
Please help to figure out VK related issue. @yiwenxue

[2022-09-30 12:30] mrtzd commented on #12543
Since some of these issues have already been fixed in v3.6.1 I'll close this issue and will create new issues for the remaining problems.

[2022-09-30 12:30] #12543 closed, assigned to nobody

[2022-10-01 11:07] StevenCoober opened #12975 "layout锚点设置成0.5时,子节点位置错误"
### Use Case

子节点位置错误

### Problem Description

1. 为一个节点添加layout组件, 排列类型设置为Grid, layout节点锚点y设置小于0.5, starAxis为VERTICAL, 其他默认
2. 添加多个子节点,并且使孩子节点总高度大于layout节点的高度
3.改变layout尺寸变化, 在编辑器中观察,子节点会并成一排,与大于0.5时不一致

### Proposed Solution

_No response_

### How it works

_No response_

### Alternatives Considered

希望改下代码
842 isBreak = sign*(rowBreakBoundary - boundary) > 0
937 isBreak = sign*(columnBreakBoun

[2022-10-03 17:08] mrtzd opened #12976 "ParticleSystem2D is still broken while using CustomMaterial (v3.6.1)"
### Cocos Creator version

3.6.1

### System information

Windows 10 Editor

### Issue description

This was not an issue in v3.5 but right now I can't use a customMaterial with a ParticleSystem2D.
The first issue is that after exporting the particle system to .plist file I get countless amount of errors inside the editor:
[code]
The other issue is that even though I'm using a custom material usin

[2022-10-04 02:14] tuan243 commented on #12940
Hi all, any update on this issue?

[2022-10-08 06:16] yyycggg opened #12979 "The safe-area is not correctly implemented for web mobile."
### Use Case

 The safe-area is not correctly implemented for web mobile.

### Problem Description

https://github.com/cocos/cocos-engine/blob/7403c21bb60b97ea567f4342f4efdc94e88ccd35/pal/screen-adapter/web/screen-adapter.ts#L121  is not correctly implemented for web mobile. You can pull the values from css env variables: https://developer.mozilla.org/en-US/docs/Web/CSS/env . The safe-area-inset-*

[2022-10-08 07:59] novain1102 commented on #12839
Test for iOS/macOS(metal), Android/Windows (gles3, vulkan);
Memory do not grow significantly on Android/Windows when restart:
![wecom-temp-89702-c15d367762953b7963d0b68db337e133](https://user-images.githubusercontent.com/18634782/194695896-928c445d-2262-48ab-9149-9fd70a700207.png)
![image](https://user-images.githubusercontent.com/18634782/194697209-572b527d-b60b-48d8-9a03-6eb637be8c5c.png)
![imag

[2022-10-08 08:03] linruimin opened #12984 "User Layer isn't shown in Camera Visuility Property"
### Cocos Creator version

3.6.1

### System information

Windows 10

### Issue description

User Layer isn't shown in Camera Visuility Property 3.6.1

issue from:
https://discuss.cocos2d-x.org/t/user-layer-isnt-shown-in-camera-visuility-property-3-6-1/57287

### Relevant error log output

_No response_

### Steps to reproduce

edit layer:
![image](https://user-images.githubusercontent.com/1808350

[2022-10-08 08:51] zhefengzhang commented on #11644
https://forum.cocos.org/t/topic/140146

User feedback is still problematic on the WeChat mini-game platform.

[2022-10-08 09:05] xianyinchen opened #12986 "[3.6.1] touch event confusion"
### Cocos Creator version

3.6.1

### System information

Android

### Issue description

There is a problem with the touch event of the node, I tracked down the node enable and disable, the data inside the event is not cleared.

![企业微信截图_16635838062953](https://user-images.githubusercontent.com/8321365/194699339-b7e82799-3498-44b6-bf80-2d3b2a371ac4.png)

will cause the touch-end event to be handl

[2022-10-08 09:52] zhakesi commented on #12821
* https://github.com/cocos/cocos-engine/pull/12987

[2022-10-08 09:52] #12821 closed, assigned to zhakesi

[2022-10-08 10:31] yiwenxue commented on #12941
The reason Vulkan emits errors is that the render area exceeds the render target. In this demo the render area is set to {{0, -0.37}, {1, 1}}. It would be better if you move the camera upwards and set the Rect to {{0, 0}, {1, 1}}.
![image](https://user-images.githubusercontent.com/24495793/194702863-8070718e-b052-44c2-898d-7009c563792e.png)

[2022-10-09 01:52] zhakesi commented on #11372
* https://github.com/cocos/cocos-engine/pull/12402

[2022-10-09 01:52] #11372 closed, assigned to zhakesi

[2022-10-09 01:55] minggo commented on #12953
It seems AudioSource and AudioPlayer has similar functions. What's the difference between them?

[2022-10-09 02:39] novain1102 commented on #12839
![企业微信截图_481f0b31-1da9-42e2-a70a-d94c474fa97e](https://user-images.githubusercontent.com/18634782/194735047-8868b33e-ef1c-4929-a73a-7651207151c4.png)

[2022-10-09 06:06] OnlyKoei opened #12992 "[3.6.x] （motionstreak + rigidbody2d） does not display correctly on native platforms"
### Cocos Creator version

3.6.0，3.3.2，3.6.1

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/140885
![image](https://user-images.githubusercontent.com/40415168/194740746-00dd6549-5745-4d45-8962-8ddc13c95d25.png)
![image](https://user-images.githubusercontent.com/40415168/194740764-6265e54d-5f19-4d07-b8f8-4266bc345773.png)

### Relevant error log output

_N

[2022-10-09 06:37] zhefengzhang opened #12993 "tiledMap rendering exception"
### Cocos Creator version

3.6.1

### System information

MACOS

### Issue description

https://forum.cocos.org/t/topic/140899，this is fine on version 2.4.x.

### Relevant error log output

This is the correct picture:
![图片](https://user-images.githubusercontent.com/35944775/194741703-8c029605-2cbc-4525-a85e-6daaf77e6561.png)

This is the wrong picture:
![图片](https://user-images.githubusercontent.

[2022-10-09 08:37] novain1102 commented on #12941
Maybe we need to limit the range in editor panel for `cc.Camera Rect` @GengineJS @arsen2010

[2022-10-09 08:37] linruimin commented on #12984
The same issue already exists, and has fixed.
https://github.com/cocos/cocos-engine/issues/12888

[2022-10-09 08:37] #12984 closed, assigned to nobody

[2022-10-09 09:38] #12419 closed, assigned to SantyWang, Zhmz, LinYunMo

[2022-10-10 05:48] shrinktofit opened #13001 "[Suggestion] Component select dialog shall not lose its focus on name input when click component menus"
https://user-images.githubusercontent.com/28807867/194805023-7bf39773-a23e-4557-a273-95702c0df694.mp4

[2022-10-10 06:15] arsen2010 commented on #13001
Ok ，our team UE designer agree this optimization . Deal with it in v3.7

[2022-10-10 06:27] PatriceJiang opened #13003 "Optimize CMake generated Xcode project file"
- [ ] Too many copy commands

[2022-10-10 06:32] troublemaker52025 commented on #11178
* https://github.com/cocos/cocos-engine/pull/12368

[2022-10-10 06:34] #11178 closed, assigned to troublemaker52025

[2022-10-10 08:02] pedrobolekia opened #13005 "The game does not adapt correctly when leaving full screen"
### Cocos Creator version

3.4.1

### System information

Web

### Issue description

The game does not adapt correctly when leaving full screen, the canvas is outside the space of the screen. With the html5 api fullscreen it does it well but with group tabs it doesn't work well either.

### Relevant error log output

_No response_

### Steps to reproduce

Open the game on an android device and do

[2022-10-10 08:04] dev-keishen commented on #12781
In v3.6.1 this issue still happen on android and ios

Please take a look into video and notice counting label,when i press button to request downloading a bundle it stop main thread a while

https://user-images.githubusercontent.com/78413486/194821742-b57e0236-7878-4534-9a60-6039839b90d4.MP4

When i deleted all sounds in that bundle it is normal,i think this issues come from downloading and decodi

[2022-10-10 08:23] Zhmz opened #13006 "testcase: mouse wheel doesn't work on scrollView"
### Cocos Creator version

3.6.x

### System information

ALL

### Issue description

mouse wheel does't work on scrollview

### Relevant error log output

_No response_

### Steps to reproduce

run testcase scene and scroll mouse wheel

### Minimal reproduction project

_No response_

[2022-10-10 08:26] Zhmz opened #13007 "particle-2d-position-type-change: crash on mac"
### Cocos Creator version

3.6.x

### System information

MAC

### Issue description

crash on mac

### Relevant error log output

_No response_

### Steps to reproduce

run this scene on mac and observe

### Minimal reproduction project

_No response_

[2022-10-10 09:12] xianyinchen opened #13010 "[3.6.1] change node sibling Index wasn't working in native platform."
### Cocos Creator version

3.6.1

### System information

window

### Issue description

we change the children index, the sibling Index change and work in browser. but native platform no working.

[code]

### Relevant error log output

_No response_

### Steps to reproduce

test project.
[NewProject_9.zip](https://github.com/cocos/cocos-engine/files/9744639/NewProject_9.zip)

### Minimal reproduc

[2022-10-10 09:19] minggo commented on #13010
children is a readonly property, can not modify it like this in native.

[2022-10-10 09:19] #13010 closed, assigned to nobody

[2022-10-10 09:28] linruimin opened #13011 "2D prefab instantiate addChild slow down"
### Cocos Creator version

3.6.1,3.4.2

### System information

huaweiP30pro

### Issue description

2D prefab : sprite, tilemap, spine, particle2D instantiate and addChild to node slow down in creator3.6.1, it quicks in creator3.4.2.
here is the data:

次数 | 3.4.2-sprite(ms) | 3.4.2-tilemap(ms) | 3.4.2-spine(ms) | 3.4.2-plist(ms) | 3.6.1-sprite(ms) | 3.6.1-tilemap(ms) | 3.6.1-spine(ms) | 3.6.1-pli

[2022-10-11 03:29] novain1102 commented on #12839
Resolved: https://github.com/cocos/cocos-engine/pull/12995

[2022-10-11 03:36] hana-alice commented on #12839
Do not check memory allocation by this indicator, use Instruments->leaks->allocations instead. Focus on allocations, the anonymous VM part is not controlled by user but the system.

[2022-10-11 03:49] yiwenxue commented on #12941
<img width="796" alt="企业微信截图_702a4b75-15ad-4bc5-9bd5-110bd3173df2" src="https://user-images.githubusercontent.com/24495793/194991632-dd5804fe-3798-4bf7-b853-4baf34bc52d0.png">
In this demo, the reflection RT can't be sampled as we expected on Metal and Vulkan, but it's reasonable. Users should solve this problem in their shaders. The underlying problem is not trivial and the related discussion can

[2022-10-11 03:49] #12941 closed, assigned to hana-alice, yiwenxue

[2022-10-12 02:10] SantyWang opened #13018 "UI RenderTransform Support"
Support RenderTransform to control UI transform

[2022-10-12 02:13] SantyWang commented on #13011
Spine instantiate performance has a huge drop, @zhakesi please take a look.

[2022-10-12 02:28] #11987 closed, assigned to zxx43

[2022-10-12 02:31] #12519 closed, assigned to SantyWang

[2022-10-12 02:46] SantyWang commented on #12388
@yanOO1497 please help to handle special character input

[2022-10-12 06:52] #12501 closed, assigned to yiwenxue

[2022-10-12 07:05] OnlyKoei opened #13022 "Multi-select node on editor to modify node name display error"
### Cocos Creator version

3.6.1

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/140984
![image](https://user-images.githubusercontent.com/40415168/195272774-2f56d6a5-fdfe-448b-a9b9-fc41a751a2f5.png)

https://user-images.githubusercontent.com/40415168/195272800-e84dacd6-ccb8-4d76-91dd-c4a44eb32898.mp4

### Relevant error log output

_No response_

### Step

[2022-10-13 05:50] jareguo commented on #12487
3.x 最近好像没收到同类反馈了，如果有的话帮忙关注一下，2.x 就不考虑修复了。

[2022-10-13 05:50] #12487 closed, assigned to jareguo

[2022-10-13 05:51] dogeFu commented on #12581
EDITOR is true in GameView mode.You should use cc.GAME_VIEW

[2022-10-13 09:11] LinYunMo commented on #10900
Errors due to type errors.

We can consider updating this library. [Earcut](https://github.com/mapbox/earcut)

[2022-10-13 09:11] #10900 closed, assigned to LinYunMo

[2022-10-13 09:19] gdtdftdqtd commented on #9059
查看了一个2.4.9和3.x的代码，这个没有修改，请问一下，这个是有什么考虑么？

[2022-10-13 10:14] troublemaker52025 commented on #11129
![图片](https://user-images.githubusercontent.com/20809296/195570297-01bd527b-5771-4595-a7a1-9a78b61a905b.png)

[2022-10-13 10:14] troublemaker52025 commented on #11129
![图片](https://user-images.githubusercontent.com/20809296/195570345-5551631c-3075-473f-8328-c72c73e56fa9.png)

[2022-10-13 10:15] troublemaker52025 commented on #11129
在 iPhone se 上测试   帧率有提高

[2022-10-13 11:08] jk20012001 opened #13042 "scene file corruption according to null child nodes"
after some unknown operations, two child nodes of an edit control are null, it may save to .scene file like this
![企业微信截图_16654762134280](https://user-images.githubusercontent.com/15099632/195577084-0770b569-0fea-4f58-9b0c-d6ae5f5956a7.png)

Errors occur with loading scene:
![image](https://user-images.githubusercontent.com/15099632/195577019-a68a6611-b0a9-440c-829b-e476a203325e.png)

and the scen

[2022-10-13 12:11] purple97 commented on #8734
<img width="200" alt="image" src="https://user-images.githubusercontent.com/6193351/195592406-305a9096-4ed5-4d89-ad74-73cadc4a3c76.png">
![image](https://user-images.githubusercontent.com/6193351/195592721-102c7991-d575-4929-92db-57c9359c241c.png)

还是遇到同样的问题

[2022-10-14 01:58] minggo commented on #13042
I think it is reasonable.

[2022-10-14 02:19] xianyinchen opened #13044 "[3.6.1] A different kind of particle effect between web browser and native platform"
### Cocos Creator version

3.6.1

### System information

Android

### Issue description

publish to web browser:
![image](https://user-images.githubusercontent.com/8321365/195746858-cf3d2828-9f5a-4319-8329-12b5d47e95c8.png)

publish to android:
![image](https://user-images.githubusercontent.com/8321365/195746846-487c8ce1-35e2-4a09-b183-9fd61f7ba30e.png)

### Relevant error log output

_No respons

[2022-10-14 03:40] AndroidSix commented on #11210
Guys, can you fix this problem first? I urgently need to merge and enable the latest version of cocos in the new project

[2022-10-14 07:59] OnlyKoei opened #13050 "char label's contentsize is larger than none label"
### Cocos Creator version

3.6.1

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/141187

![image](https://user-images.githubusercontent.com/40415168/195793888-f3b2a0c8-9238-4e7c-aae0-4bc881fd2686.png)

![image](https://user-images.githubusercontent.com/40415168/195794004-5e7189c1-6224-4597-b4c5-c047f36774ec.png)

### Relevant error log output

_No response

[2022-10-14 08:15] Zhmz opened #13053 "bg of some test cases perform incorrectly"
### Cocos Creator version

3.6.2

### System information

ALL

### Issue description

![企业微信截图_16657110991423](https://user-images.githubusercontent.com/32831993/195797114-ceaa92b2-c6e9-4df8-a964-ec59f94b725b.png)
![企业微信截图_16657111201458](https://user-images.githubusercontent.com/32831993/195797122-34b39a59-048a-4823-a7c2-fff215e7d976.png)
bg in UITree is missing in these cases

### Relevant error

[2022-10-14 08:33] LinYunMo commented on #10505
Thank you for your feedback, this issue is due to a bug in our asset system, we have fixed it in version 3.6.1, welcome to upgrade and try!

[2022-10-14 08:33] #10505 closed, assigned to LinYunMo

[2022-10-14 08:33] LinYunMo commented on #10505
RE: https://github.com/cocos/cocos-editor/pull/902

[2022-10-14 10:51] OnlyKoei opened #13056 "[3.6.1]2d particle display on the editor is not the same as on the web preview"
### Cocos Creator version

3.6.1

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/141180?from_wecom=1

https://user-images.githubusercontent.com/40415168/195829708-9fbd8c81-93b2-4f5e-a9bc-59ab18b7fe65.mp4

### Relevant error log output

_No response_

### Steps to reproduce

demo:
[NewProject_15.zip](https://github.com/cocos/cocos-engine/files/9785350/NewPr

[2022-10-15 09:43] jareguo commented on #11210
Sorry about the scheduling, this issue is expected to be fixed in 3.7.1

[2022-10-15 09:48] jareguo commented on #12279
Thanks! Tracking of this issue has been established, and these information will be further optimized.

[2022-10-15 12:27] xiaoxiangmoe commented on #11455
@VisualSJ @xyz5511 Can you provide a cocos linux docker image for ci build? Our ci system is using docker now.

[2022-10-15 13:45] mhourousha opened #13057 "[Web Platform] sys.hasFeature(sys.Feature.IMAGE_BITMAP) always return false"
### Cocos Creator version

3.6.1

### System information

Chrome, Firefox, Edge

### Issue description

In Web or Web Mobile platform
sys.hasFeature(sys.Feature.IMAGE_BITMAP) always return false
thus create ImageAsset with ImageBitmap always fail

I think this problem is caused by the following:
In the Source Code: pal\system-info\web\system-info.ts
line 172-179, 185
the 'supportImageBitmap' is mo

[2022-10-17 03:15] SantyWang commented on #12629
fixed in 3.6.1

[2022-10-17 03:15] #12629 closed, assigned to VisualSJ

[2022-10-17 08:52] #12652 closed, assigned to novain1102

[2022-10-17 08:53] dev-keishen opened #13064 "[3.6.1] Play sound will cause crash application"
### Cocos Creator version

3.6.1

### System information

IOS

### Issue description

Please take a look into attached video and log :

https://user-images.githubusercontent.com/78413486/196133263-31d3b208-377b-4ac5-bee1-f38648065dce.MP4

In videos,i created an scene contain 1 webview which loaded an link youtube,and i tried to enable sound in that youtube video,and then i clicked an button which

[2022-10-17 09:25] OnlyKoei opened #13065 "Sliding screen causes audio playback to fail"
### Cocos Creator version

3.6.1

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/141252
![image](https://user-images.githubusercontent.com/40415168/196137399-8a162900-2f69-4261-acc1-ed3f34a1ee38.png)

### Relevant error log output

_No response_

### Steps to reproduce

demo:
[NewProject_8.zip](https://github.com/cocos/cocos-engine/files/9798842/NewProject

[2022-10-18 06:32] OnlyKoei opened #13075 "[Native engine memory leak detection system] Android compilation failed"
### Cocos Creator version

3.6.1,3.6.0

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/141341
![image](https://user-images.githubusercontent.com/40415168/196351951-1405fafd-7281-4c36-b102-8338d5165c51.png)

![image](https://user-images.githubusercontent.com/40415168/196351999-9a74012a-9d73-4919-9166-f674099b1d0e.png)

1. Documentation needs to be updated：

[2022-10-18 07:00] #12893 closed, assigned to zxx43

[2022-10-18 07:01] #11795 closed, assigned to zxx43

[2022-10-18 07:05] wuweikd commented on #12993
https://forum.cocos.org/t/topic/141349/9

应该是同一个问题，这个问题是所有的图块都向上偏移了

[2022-10-18 07:51] #12412 closed, assigned to zxx43

[2022-10-18 07:51] #12449 closed, assigned to zxx43

[2022-10-18 08:53] dumganhar commented on #12878
UPDATE:

According the suggestion in this thread:  https://bugs.chromium.org/p/v8/issues/detail?id=13381 , I updated the test case with more random string access instead of constant string. The new result is that CPP test case performs 2~3 times slower than JS test case.

JS TEST CODE:

[code]

CPP TEST CODE:

[code]

![result2-jit-enabled](https://user-images.githubusercontent.com/493372/19638422

[2022-10-19 02:51] dumganhar opened #13082 "[optimization] Mesh should use ushort index format if index count is less than 65536"
Currently, Mesh uses uint index format by default, it only fallback to ushort only when device could not support uint index format.
Most devices support uint, so current implementation will waste a lot of memory if there are many large meshes.

[2022-10-19 03:20] dev-keishen commented on #13064
fixed by merge this PR : https://github.com/cocos/engine-native/pull/809/files

[2022-10-19 03:20] #13064 closed, assigned to nobody

[2022-10-19 06:33] #12961 closed, assigned to yyycggg

[2022-10-19 10:02] zhakesi opened #13096 "editor modify skeletons assets automatically, it should open a operation like 'Mesh Optimizer'"
### Cocos Creator version

3.4,3.5,3.6

### System information

win10 editor

### Issue description

two models use same skeletons in maya.
import to editor, skeletons assets are different.

### Relevant error log output

_No response_

### Steps to reproduce

use test-models import to editor. two models use same skeletons in maya.
check differences between two skeletons assets
now,it's different.

[2022-10-20 03:50] Zhmz opened #13103 "console error when scrollBar is deleted"
### Cocos Creator version

3.6.x

### System information

ALL

### Issue description

https://forum.cocos.org/t/topic/140022

### Relevant error log output

_No response_

### Steps to reproduce

console error when scrollbar is deleted

### Minimal reproduction project

_No response_

[2022-10-20 05:36] shrinktofit opened #13104 ""Export Resource Package" from a selected folder."
It's convenient to export all content in a selected folder as a resource package. Currenly select a folder and click "Export Resource Package" on that folder will export nothing.

[2022-10-20 05:36] shrinktofit commented on #13104
cc @AndyYuTian

[2022-10-20 06:40] OnlyKoei commented on #12412
https://github.com/cocos/cocos-engine/pull/12478

[2022-10-20 08:54] yyycggg commented on #11736
@OnlyKoei This problem will be fixed in 3.7.

[2022-10-20 09:03] dumganhar commented on #13082
Also, while editor imports model , it should generate mesh data according vertex count per mesh.
If vertex count is less than 65536, editor should save `ushort` index format to`.bin` file.

[2022-10-20 09:47] novain1102 commented on #12803
I've tested your demo running well on 15.2 and latest 15.7.1.
I don't have available iOS 15.5 device. Maybe you could upgrade iOS version and test again?

[2022-10-20 10:31] lealzhan commented on #11228
![Image](https://user-images.githubusercontent.com/9999378/196925562-3aa8d14e-bdbc-486f-8bc5-74fc5215df2b.png)

[2022-10-20 10:31] #11228 closed, assigned to lealzhan

[2022-10-21 04:01] Ansaga commented on #10331
I have also encountered this problem, after chrome 99 for mac, frames dropped very badly

![image](https://user-images.githubusercontent.com/4419180/197108713-6ffc81b4-b87d-4f4d-b6c9-95524d69e783.png)
![image](https://user-images.githubusercontent.com/4419180/197108770-fd71c40b-805f-4303-afac-564675440ddf.png)

[2022-10-21 06:42] dumganhar commented on #13082
Relevant issue：https://github.com/cocos/cocos-engine/issues/11288

[2022-10-21 07:41] OnlyKoei commented on #12940
[2D_Reflection-release.zip](https://github.com/cocos/cocos-engine/files/9836764/2D_Reflection-release.zip)
try this,and show all the parameters on your build panel:
![image](https://user-images.githubusercontent.com/40415168/197140901-284f1364-d742-4f95-b71d-bf83deab0bef.png)

[2022-10-21 08:42] #11736 closed, assigned to yyycggg

[2022-10-21 09:09] zxx43 commented on #13056
fix commit: https://github.com/zxx43/engine/commit/f4afc7424f38974b046da61a56487fddf8ece070

[2022-10-21 09:24] troublemaker52025 commented on #12940
* We tested v3.5.1 and v3.6.2 on Samsung SM-G9810 and neither of them reproduced the problem
* Please provide us with the device model of the phone that is having the problem
* Please provide us with the error screen

![图片](https://user-images.githubusercontent.com/20809296/197162183-d59d72c3-e85d-41bd-befb-00fdd6c0c76a.png)

[2022-10-21 09:50] yanOO1497 commented on #10507
@Ronsku  Sorry to reply you later, we also fix this issue in v3.5.0 already.

[2022-10-21 09:53] #10507 closed, assigned to yanOO1497

[2022-10-21 10:59] #12838 closed, assigned to dumganhar

[2022-10-22 13:36] jareguo opened #13124 "Fine-tuning profiler information to reducing misinformation about DrawCall"
In some cases, users focus too much on the DrawCall metric and ignore the performance degradation associated with excessive batching. We should slightly weaken the presentation of the DrawCall and direct the user to focus more on the overall rendering time (CPU + GPU).

Current information
![](https://user-images.githubusercontent.com/1503156/197340650-dae8008f-ea00-4c89-b71b-ae9636b44dca.png)

Th

[2022-10-22 13:38] jareguo commented on #13124
PS: It is better to be able to display the batching time separately, similar to
[code]