[2022-10-23 09:08] tuan243 commented on #12940
The problem is more clear when you let the game run more than 5 mins. Here is the video when the game is run more than 10 mins.

https://user-images.githubusercontent.com/43067174/197383728-a00b0204-2f7f-426b-b08a-8de77c5de33c.mp4

This is my build config
![image](https://user-images.githubusercontent.com/43067174/197383867-b8ffd746-15df-4e55-8b59-f28365271212.png)

I see this problem on any of ou

[2022-10-24 02:19] troublemaker52025 commented on #12940
![图片](https://user-images.githubusercontent.com/20809296/197435527-0e21630b-e187-450e-b3d2-f7daa8aa954e.png)

* Modify the code with the `TIME_OFFSET` keyword in PipelineUBO.cpp of the native engine. Add an extra line there

[code]

---

![图片](https://user-images.githubusercontent.com/20809296/197443298-f52980da-07e8-442e-827e-e784d30d76a7.png)

* Modify the code with the `TIME_OFFSET` keyword in

[2022-10-24 03:11] #12897 closed, assigned to dogeFu

[2022-10-24 03:11] #12752 closed, assigned to dogeFu

[2022-10-24 07:05] dogeFu commented on #12581
[code]
This code didn't change _color property of ui-renderer. Any details of the tween error?

[2022-10-24 08:05] linruimin opened #13129 "Model rendering issue in byte-dance platform"
### Cocos Creator version

3.4.2

### System information

huaweiP30pro

### Issue description

The model renders fine on the editor and web, and fine on the byte-hop developer tool, and does not display properly on today's headlines when tested with the real machine.
in web:
![image](https://user-images.githubusercontent.com/18083506/197476195-58f81990-a7f0-462f-a3bd-b973fb065a7e.png)
in real mach

[2022-10-24 08:38] troublemaker52025 commented on #12940
* https://github.com/cocos/cocos-engine/pull/13132

[2022-10-24 09:45] shrinktofit opened #13134 "Make state names unique in animation graph state machine"
I'm planning to make the state names in animation graph state machine unique **and trimed**. It's required since the programming side needs a unique identifier to states(for example, operation that dynamically transition to specific state).

Obviously we might suffer from compatibility issue: we need to migrate existing animation graph to deduplicate the state names. Fortuanately, this change won'

[2022-10-24 09:47] shrinktofit commented on #13134
@holycanvas  @arsen2010 @AndyYuTian   Please take a look at this. Let me know your position at this decision.

[2022-10-24 09:49] shrinktofit commented on #13134
@AndyYuTian  I impose no constraints other than the uniqueness. But I propose to also trim the name, how do you feel about this.

[2022-10-24 09:54] shrinktofit commented on #13134
@AndyYuTian  An important effect that is implied by this decision is that "these names becomes meaningful to programmers". This can lead to most(but NOT ALL) programmer would use only english characters as state name. So, should we take up a display name as well?

[2022-10-24 09:55] #13134 closed, assigned to shrinktofit

[2022-10-24 10:03] minggo commented on #11730
I reverted the PR above, it will crash, as the reference count of a new object is 0, which means the codes will crash
[code]

If you want to make it work correctly, then should change to
[code]
It seems wired.

The other solution is to hide constructor too, add reference count in constructor like this, and provide a create function:
[code]
If changed like this, then can not `std::shared_ptr` with

[2022-10-25 02:58] minggo commented on #11730
I think it is not a big problem. If hide destructor, then it already can not be used with std::shared_ptr.

[2022-10-25 03:26] star-e commented on #11730
I usually don't hide destructor.
- If object is allocated on stack, refCount should always be 0.
- If object is allocated on heap, addRef and release must be called. Newly created object should be wrapped in IntrusivePtr.
- Helper function like `makeIntrusivePtr<Foo>(xxx)` might be used to prevent misuse.

[2022-10-25 03:28] #12940 closed, assigned to troublemaker52025

[2022-10-25 03:30] minggo commented on #11730
Yep, it can work. But just as i mentioned above, it is easy to misuse. All developers should remember and obey the rules.

[2022-10-25 03:33] bluesky013 commented on #11730
`IntrusivePtr<Test> objPtr = Test::create();` may generate additional reference counts.

[2022-10-25 03:37] minggo commented on #11730
Yep, can not write like this.

[2022-10-25 04:16] star-e commented on #11730
We might make operator new in class as protected. So user can only new Object using factory function.

[2022-10-25 05:40] minggo commented on #11730
Is there any different from hide constructor?

[2022-10-25 05:46] bluesky013 commented on #11730
I'm worried about introducing new misuses. What about use factory function like `IntrusivePtr<Test> Test::create()`.

I think the main problem is `IntrusivePtr` can be directly cast to pointer. It is a trade-off between safty and compatibility.  So I suggest not to protect it by adding limitation to class, use warning like `assert(referenceCount == 0)` in the `RefCounted` destructor.

[2022-10-25 06:06] minggo commented on #11730
So the usage looks like
[code]
It seem wired, but i can not find a better way now.

[2022-10-25 06:07] minggo commented on #11730
It is a little better than current implementation.

[2022-10-25 06:14] lealzhan commented on #12843
[demoA1.zip](https://github.com/cocos/cocos-engine/files/9857549/demoA1.zip)

![image](https://user-images.githubusercontent.com/9999378/197696390-ca5fefd7-4ee1-4066-a341-fcd2af173279.png)

[2022-10-25 07:47] star-e commented on #11730
User cannot directly new Object. Object is allocated in factory function, whose return value is an IntrusivePtr.
However, user can still create object on stack, since constructor is public.

[2022-10-25 08:14] minggo commented on #11730
Got it, sounds reasonable.

[2022-10-26 02:39] PatriceJiang opened #13147 "Reduce build warning message"
- [x] compile warning
- [x] version verification

[2022-10-26 07:15] #11305 closed, assigned to yyycggg

[2022-10-26 12:36] smallmain commented on #12581
As I recall it should be Fake objects do not have a clone function

[2022-10-27 06:13] lealzhan commented on #12843
![image](https://user-images.githubusercontent.com/9999378/198205469-ac325afa-6a9d-4345-ba3a-572801372855.png)
使用builtin 2d物理的collider-2d component 在 disable 时，会调用removeShape函数，`contacts.splice(i, 1)`，如果contacts数组长度达到几万，性能损耗就特别大。

[2022-10-27 06:56] pandamicro commented on #13129
It's probably due to texture format support issue on the target platform, based on the following checks:

1. The shader and render command submission are successfully executed, because it's rendering black and white outline
2. The outline is ok meaning the mesh is correctly recognized
3. Other elements like tree are rendering ok meaning the shader has no issue

[2022-10-27 10:02] #12843 closed, assigned to lealzhan

[2022-10-28 01:35] bofeng-song opened #13171 "LOD implement"
### Use Case

Determine whether to use high mode or low mode according to the ratio of occupied screen.

### Problem Description

Increase frame rate

### Proposed Solution

_No response_

### How it works

Use high mode when the object is relatively close to the camera, and use low mode when the object is relatively far away.

### Alternatives Considered

When the object is cut, the low mode and

[2022-10-28 01:36] bofeng-song commented on #13171
implement for web  https://github.com/cocos/cocos-engine/pull/13164

[2022-10-28 01:36] bofeng-song commented on #13171
https://github.com/cocos/cocos-engine/pull/13072

[2022-10-28 01:37] bofeng-song commented on #13171
implement for native   https://github.com/cocos/cocos-engine/pull/13167

[2022-10-28 08:18] zz1995zz opened #13179 "请问哪里还可以下载mali texture compression tool啊？谢谢啦"
求助
需要linux版的。
官方已经停止服务了

[2022-10-28 09:48] yyycggg commented on #13129
This is due to the fact that the texture of this model's material is a texture with alpha channel, but the shader does not support textures with alpha channel.

When it gets the color of the pixel point is pure transparent, that is `Vec4(0, 0, 0, 0)`, but this shader's color blending mode is not blended with alpha channel, which means the final color is `Vec4(0, 0, 0, 1)`, that is black.

[2022-10-31 02:47] bofeng-song opened #13186 "java.lang.IllegalStateException: Only fullscreen opaque activities can request orientation"
### Cocos Creator version

3.4.2+

### System information

Android

### Issue description

https://stackoverflow.com/questions/48072438/java-lang-illegalstateexception-only-fullscreen-opaque-activities-can-request-o

### Relevant error log output

_No response_

### Steps to reproduce

https://stackoverflow.com/questions/48072438/java-lang-illegalstateexception-only-fullscreen-opaque-activities-ca

[2022-10-31 03:01] linruimin commented on #13129
The byte-dance platform shows normal after change the transparent part of the semi-transparent texture map to full white.
![1cd94f2d3fed2382b37351533b8d77b](https://user-images.githubusercontent.com/18083506/198921905-3c10295d-976d-4014-adde-d9ea29f6a907.jpg)

[2022-10-31 03:01] #13129 closed, assigned to yyycggg

[2022-10-31 07:04] shrinktofit opened #13189 "Support glTF extension EXT_meshopt_compression"
Requested from https://forum.cocos.org/t/topic/141969 .

Related: https://github.com/KhronosGroup/glTF/blob/main/extensions/2.0/Vendor/EXT_meshopt_compression/README.md

[2022-10-31 07:10] yeshao2069 opened #13190 "PhysicsPolygonCollider on 3.x reports an error"
### Cocos Creator version

3.4.2， 3.6.1

### System information

all

### Issue description

The PhysicsPolygonCollider on 3.x reported an error and found that there was a fix for PR on 2.4.10 that was not synced to 3.x.

2.4.10 fix  PR https://github.com/cocos/cocos-engine/pull/10888

bug error message:
![image](https://user-images.githubusercontent.com/14273437/198951315-2d09d0c2-6a23-4352-8fc5-

[2022-10-31 11:07] xianyinchen opened #13197 "[3.6.2] replay music after pause has burst sound in begining."
### Cocos Creator version

3.6.2

### System information

iOS 15.4 build on Ihpone12 min,

### Issue description

as title saying.

### Relevant error log output

_No response_

### Steps to reproduce

ask me for test peoject.

### Minimal reproduction project

_No response_

[2022-11-01 02:09] timlyeee commented on #13197
[testmusic.zip](https://github.com/cocos/cocos-engine/files/9906111/testmusic.zip)

[2022-11-01 02:34] xianyinchen opened #13200 "[3.6.2] No rendering after minisize window on windows platform"
### Cocos Creator version

3.6.2

### System information

window

### Issue description

After minisize window, move mouse to the application icon on task bar, the window preview wasn't rendering.
![97aa828e-4702-4b36-87e5-9973d4029ef6](https://user-images.githubusercontent.com/8321365/199145472-223c5223-f943-4807-b918-c1960acfd923.png)

we compare with unity, it still rendering after minisize win

[2022-11-01 02:57] #13104 closed, assigned to knoxHuang

[2022-11-01 08:24] gehaollt commented on #1841
测试我们可以帮助你们测试啊，要啥测试，你只要放出来linux版本

[2022-11-02 03:09] OnlyKoei opened #13213 "layout cannot be resized at runtime with affectedByScale"
### Cocos Creator version

3.5.2, 3.6.1

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/142060/
![image](https://user-images.githubusercontent.com/40415168/199386251-23741b7b-0e31-44ab-8360-543c67d928ff.png)

### Relevant error log output

_No response_

### Steps to reproduce

.

### Minimal reproduction project

_No response_

[2022-11-02 06:00] ankye opened #13215 "can't modify skybox custom property on update"
### Cocos Creator version

3.6.1

### System information

mac os and build web mobile

### Issue description

when i use custom skybox material and want modify ratio property on update , call setProperty will not take effect。
 update(deltaTime: number) {

            //无效1
             this._skyboxInfo.skyboxMaterial?.setProperty("ratio", this._time);
           //无效2
            //const h = this.

[2022-11-02 06:29] jk20012001 commented on #13215
[skybox.zip](https://github.com/cocos/cocos-engine/files/9916894/skybox.zip)

[2022-11-02 07:30] khoonlincha commented on #12304
@zxx43 noted, thanks bro.

[2022-11-02 08:39] OnlyKoei opened #13221 "Image display is not normal"
### Cocos Creator version

3.6.1

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/141922
![image](https://user-images.githubusercontent.com/40415168/199439723-322e3f3a-2c08-42e1-b946-d46c3b627fba.png)

If this option is not checked, the picture will be displayed normally.
uncheck:
![image](https://user-images.githubusercontent.com/40415168/199440004-f287a7a

[2022-11-02 08:45] timlyeee commented on #13197
https://github.com/cocos/cocos-engine/pull/13222

[2022-11-02 08:45] #13197 closed, assigned to timlyeee

[2022-11-02 16:18] BenoitFreslon opened #13229 "Can't tween color of cc.Sprite"
### Cocos Creator version

3.6.1

### System information

OSX

### Issue description

Hello,

I want to tween the color of a cc.Sprite with this line:

    `    tween(this.sprite1).to(3, { color:Color.TRANSPARENT }).start();`

But the **color** property is not present.
![image](https://user-images.githubusercontent.com/758680/199543100-cd53446c-6c2a-4627-af51-ba02887c6687.png)

Regarding this post

[2022-11-03 05:50] bofeng-song commented on #13171
https://github.com/cocos/cocos-engine/pull/13231
unit test

[2022-11-03 08:13] #12861 closed, assigned to bofeng-song

[2022-11-03 08:31] dumganhar opened #13232 "[feature] Support to pass command line arguments to JS"
Only needs to support desktop platforms (windows, linux, macOS) now.

[2022-11-04 00:51] kaxifakl opened #13236 "export class atlas"
### Use Case

There has a condition of using atlas in custom rendering.
Drawing texture in atlas with manual processing.
The exported atlas is Convenient in this condition.

### Problem Description

The atlas was exported in 2.x but different in 3.x.

### Proposed Solution

_No response_

### How it works

_No response_

### Alternatives Considered

Custom engine

### Additional Information

_No r

[2022-11-04 02:21] bofeng-song commented on #13186
I can't replicate it on Xiaomi6 and Google Pixel2 emulators

[2022-11-04 02:25] #12820 closed, assigned to bofeng-song

[2022-11-04 02:26] #13171 closed, assigned to bofeng-song

[2022-11-04 05:50] linruimin opened #13238 "video not play in android release apk"
### Cocos Creator version

3.5.2，3.6.1

### System information

huaweiP30pro

### Issue description

Cocos Creator3.6.1, video not play in android release apk, it works well in debug apk, and well in Cocos Creator3.5.2 release apk.

### Relevant error log output

_No response_

### Steps to reproduce

here is the demo in Cocos Creator3.6.1, and a release apk is in it.
[20221103zzf.zip](https://git

[2022-11-05 01:56] dbq817 commented on #10900
this remains on 3.6.2!

[2022-11-05 03:47] dbq817 opened #13246 "Graphics fill errors"
### Cocos Creator version

3.x

### System information

MacOS Big Sur Version 11.5.1

### Issue description

working on parsing and drawing SVG path using Graphics component, everything works fine except filling the path, see pictures bellow:
<img width="274" alt="t1" src="https://user-images.githubusercontent.com/59160427/200099339-11aa41fc-2929-40c0-9c40-8c7412f46184.png">
the strokes work as ex

[2022-11-05 03:54] dbq817 commented on #13246
tried modifying earcut.ts as follows
[code]
and changing to custom engine, got no lucks!!!

[2022-11-07 01:57] #13246 closed, assigned to nobody

[2022-11-07 03:13] dumganhar commented on #13232
Reference: https://github.com/nodeca/argparse

[2022-11-07 06:45] dumganhar opened #13252 "Update cmake to 3.24.3 to support Xcode 14"
Build error:

[code]

CMake should be upgraded to 3.24.3 for both windows and macOS platforms.

[2022-11-07 08:09] linruimin opened #13253 "UIMeshrenderer not working Cocos Creator 3.6"
### Cocos Creator version

3.5.2, 3.6.2

### System information

Windows10Editor, huaweiP30Pro

### Issue description

The issue is from:
[UIMeshrenderer not working Cocos Creator 3.6](https://discuss.cocos2d-x.org/t/uimeshrenderer-not-working-cocos-creator-3-6/57495)

in creator3.6.2:
![image](https://user-images.githubusercontent.com/18083506/200257962-13ffc52b-d94b-45b1-9fdb-785cf482748f.png)
i

[2022-11-07 08:20] oahcy commented on #13238
error log：
[code]

and find this jni interface visible is hidden in release version:
![image](https://user-images.githubusercontent.com/9692838/200259493-1f03b77c-b984-4f8d-bb59-ccd34403dc92.png)

add export flag to this interface:
![image](https://user-images.githubusercontent.com/9692838/200260291-64b016e3-a1de-4ee0-942c-77dc1562eb0a.png)

visible has changed to DEFAULT:
![image](https://user-im

[2022-11-07 08:20] OnlyKoei opened #13254 "[3.6.2]dragonbones runs with an error"
### Cocos Creator version

3.6.2

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/142208
![image](https://user-images.githubusercontent.com/40415168/200259804-90309386-5f7e-49f9-9090-ea8db55e3fc9.png)

![image](https://user-images.githubusercontent.com/40415168/200259227-8225ef99-6965-44af-9232-ded9904f192e.png)
![image](https://user-images.githubuserconten

[2022-11-07 08:51] xianyinchen opened #13255 "[3.6.2] planar shadow missing when model material enable instancing"
### Cocos Creator version

3.6.2

### System information

Window Editor

### Issue description

planar shadow missing when model material enable instancing

![企业微信截图_16678109931018](https://user-images.githubusercontent.com/8321365/200266260-aa9cb9d3-aa92-4ea6-88c8-6bab79b4e540.png)

disable instancing

![企业微信截图_16678110325014](https://user-images.githubusercontent.com/8321365/200266406-318d81c5-8

[2022-11-07 08:51] tgioihan opened #13256 "Add and remove item when scrolling on Android"
### Cocos Creator version

3.5.2

### System information

Android 11

### Issue description

 When adding and removing node when scrolling, the FPS dropdown from 60 to 49,50 even if I don't update any child.
Everything is great on IOS and the web.

### Relevant error log output

Here is my screen record

https://user-images.githubusercontent.com/1877784/200266470-2ee2f648-b806-4a3d-9a00-e77704436d

[2022-11-07 09:15] OnlyKoei opened #13258 "[3.6.x]dragonbones display error"
### Cocos Creator version

3.6.1,3.6.2

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/142296
![企业微信截图_16678115771422](https://user-images.githubusercontent.com/40415168/200272113-7afe54e8-e260-41a7-8b21-ae1430794ccb.png)

https://user-images.githubusercontent.com/40415168/200272149-5652f0e7-43b1-44b9-b35b-3710cfccc255.mp4

### Relevant error log output

_

[2022-11-07 10:57] qiuguohua opened #13263 "Full screen games cause frame drops"
### Use Case

https://forum.cocos.org/t/topic/142244?from_wecom=1

### Problem Description

Full screen games cause frame drops

### Proposed Solution

_No response_

### How it works

_No response_

### Alternatives Considered

None

### Additional Information

_No response_

[2022-11-08 02:43] oahcy commented on #13238
use this issue : https://github.com/cocos/3d-tasks/issues/14365

[2022-11-08 02:43] #13238 closed, assigned to oahcy

[2022-11-08 02:53] jareguo commented on #10353
We will allow users to entirely remove the splash screen in 3.7.0. However, it has not yet been determined how it will be implemented, and users may be asked to fill out a personal message in some countrys.

[2022-11-08 04:08] #12859 closed, assigned to novain1102

[2022-11-08 04:09] novain1102 commented on #13082
after discuss, do not implement in v3.7. maybe in v3.8

[2022-11-08 04:09] #12695 closed, assigned to novain1102

[2022-11-08 05:57] zhefengzhang opened #13271 "[3.6.1] There is an exception in the listener of the expansion panel, the hide callback will be called 2 times"
### Cocos Creator version

3.6.1

### System information

MacOS

### Issue description

![图片](https://user-images.githubusercontent.com/35944775/200486412-e4e5227f-2231-4b61-8820-ea6df8688b24.png)
<img width="679" alt="图片" src="https://user-images.githubusercontent.com/35944775/200486377-187503de-ad03-4eec-ac13-78693daf4772.png">

### Relevant error log output

_No response_

### Steps to reproduc

[2022-11-08 07:49] xianyinchen opened #13274 "[3.6.2] Pause audio will appear zipping sound"
### Cocos Creator version

3.6.2

### System information

iOS 15.7

### Issue description

Pause audio will appear zipping sound

### Relevant error log output

_No response_

### Steps to reproduce

test project

[testmusic33.zip](https://github.com/cocos/cocos-engine/files/9958879/testmusic33.zip)

### Minimal reproduction project

_No response_

[2022-11-08 10:09] JoneLau opened #13277 "Tween and frame animation does not perform well on Xiaomi 6"
### Cocos Creator version

3.6.2

### System information

android

### Issue description

link：https://forum.cocos.org/t/topic/142275

### Relevant error log output

_No response_

### Steps to reproduce

我这里根据用户反馈的测试项目，增加了一个可修改数量的能力，可以参考这个项目

I have tested the project here based on user feedback. Added an ability to modify the quantity. You can refer to this project

[TestAnimation 2.zip](https:/

[2022-11-09 02:07] LZhenHong opened #13285 "Clear skeletonData for sp.Skeleton in Creator editor result a 'chunk' error."
### Cocos Creator version

3.5.0, 3.6.1, 3.6.2

### System information

Cocos Creator Editor

### Issue description

Assign spine data to the `sp.Skeleton` component, then click the clear button in the Skeleton Data field. Result in the error below that freeze the editor:
![92549485-56de-4235-96be-dc9720604702](https://user-images.githubusercontent.com/9366368/200719038-d9a2280e-a2bf-402b-b737-929

[2022-11-09 09:28] Zhmz commented on #13053
3个UI场景已加入背景图片，其他两个场景非UI场景，需要看到天空盒。天空盒有问题的话请联系对应开发同学。

[2022-11-09 09:28] #13053 closed, assigned to nobody

[2022-11-09 10:12] orzsxc commented on #13277
Compare to LayaNative2.x Game Engine， is not perform well ，Laya can run 3000 frame animation keep 60 framerate， creator3.x only run 1000 ， very strange...

[2022-11-09 11:00] OnlyKoei opened #13298 "Error on the editor due to prefab"
### Cocos Creator version

3.6.1,3.6.2

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/142401/
![image](https://user-images.githubusercontent.com/40415168/200812278-bcfbfa60-ccef-4672-bb5b-af3d05b3651a.png)

### Relevant error log output

_No response_

### Steps to reproduce

demo:
[Test (3).zip](https://github.com/cocos/cocos-engine/files/9970164/Test.3.

[2022-11-09 11:03] OnlyKoei commented on #13238
https://github.com/cocos/cocos-engine/pull/13267/

[2022-11-10 01:47] #13232 closed, assigned to dumganhar

[2022-11-10 05:40] zhakesi opened #13306 "setting jointTexureLayout cause skinning model rendering twinkle"
### Cocos Creator version

3.6.1 3.6.2

### System information

win10 editor

### Issue description

setting jointTexureLayout cause skinning model rendering twinkle

### Relevant error log output

_No response_

### Steps to reproduce

run test project.
use animiation baked.
setting animation joint texture layout manually.

### Minimal reproduction project

[362Test.zip](https://github.com/cocos/

[2022-11-10 05:50] pandamicro commented on #10893
It is supported in develop branch

[2022-11-10 05:50] #10893 closed, assigned to freeboy

[2022-11-10 06:13] pandamicro commented on #12790
After Apple start using "WebGL via Metal" experimental feature, there has been frequently issues on performance or rendering result.

https://bugs.webkit.org/show_bug.cgi?id=228012
https://github.com/cocos/cocos-engine/issues/10659
https://forum.unity.com/threads/poor-performance-of-webgl-2-0-on-ios-15.1316232/

So We have decided to fire issue to Webkit, and deprioritize issues on Safari WebGL te

[2022-11-10 06:18] linruimin opened #13308 "script missing or invalid when use sys.localStorage"
### Cocos Creator version

3.6.1

### System information

Windows10 Editor

### Issue description

When building a task, code that uses sys.localStorage will prompt a missing or invalid.

### Relevant error log output

_No response_

### Steps to reproduce

The issue is from : https://discuss.cocos2d-x.org/t/sys-localstorage-crashes-native-builds-v3-6-1/57513/2,
a demo is attaching in.

### Minima

[2022-11-10 06:25] Zhmz opened #13309 "ScrollView: When there are a lot of string lines in the item's content, the content cannot be pulled to the bottom so that some items cannot appear"
### Cocos Creator version

3.6.x

### System information

ALL

### Issue description

![image](https://user-images.githubusercontent.com/32831993/201015730-c8b718e6-89f0-4c63-8217-2d9cb31fba24.png)

add a scrollview and create some items where there are lots of string lines
drag the scrollview and find the springback problem

### Relevant error log output

_No response_

### Steps to reproduce

ad

[2022-11-10 06:27] minggo commented on #12647
TS folder structure is almost done. May adjust a little if find circular dependency in future. As modular mechanism is not ready, and @PPpro can not finish it in v3.7, so will not adjust c++ folder, as may modify the folder structure again when merging the same module of TS/c++ files into a folder.

So will delay this issue to next version.

[2022-11-10 06:33] #12388 closed, assigned to yanOO1497

[2022-11-10 06:34] hana-alice commented on #12790
The simple-bow of the scene example-3d/physics:
1. iphonese2 iOS13.5 stable 60 frames, the test takes 3 ~ 7ms;
2. iphonese2 iOS16.0.2 floats 57 ~ 59 frames, one frame takes 17 ~ 20ms;
3. iphoneX iOS15.5 floats 57-59 frames, and one frame takes 17-20ms;

[2] [3] Go to Settings -> safari -> Advanced -> experimental features -> WebGL via Metal for both. Turn off this option, and the frame rate of the

[2022-11-10 06:38] kienhg96 opened #13310 "[Native] Build TS error with async functions"
### Cocos Creator version

3.6.2

### System information

Windows 10

### Issue description

I want to use async function on Cocos Creator 3.6.2. It seems to be error when build native platform with scripts containing async function.

### Relevant error log output

D:\Projects\Games\MatchThree\temp\programming\packer-driver\targets\editor\chunks\0f\0fc84a91dc6c00fec748a9dc0891772991ef74a6.js
cause

[2022-11-10 06:40] #12803 closed, assigned to novain1102

[2022-11-10 06:43] novain1102 commented on #12839
Still have MsgQueue related leak when using game.restart(). Please pay attention to this issue @hana-alice

[2022-11-10 06:43] xianyinchen opened #13311 "[3.6.2] Downlaod with https throw error on Android platform"
### Cocos Creator version

3.6.2

### System information

Android 12

### Issue description

this is  the log, throw error with ssl handle.

[code]

### Relevant error log output

_No response_

### Steps to reproduce

test project.
[https-test.zip](https://github.com/cocos/cocos-engine/files/10019137/https-test.zip)

### Minimal reproduction project

_No response_

[2022-11-10 06:53] lealzhan commented on #12048
https://github.com/cocos/cocos-engine/pull/13312

[2022-11-10 06:59] Zhmz commented on #11439
https://github.com/cocos/cocos-engine/pull/12999

the pr can resolve the issue
please QA group validate it

[2022-11-10 06:59] #11439 closed, assigned to Zhmz, OnlyKoei

[2022-11-10 07:20] Zhmz commented on #11412
![image](https://user-images.githubusercontent.com/32831993/201024401-c85d4942-dfb2-4611-bf33-c49cc2e55ced.png)
![image](https://user-images.githubusercontent.com/32831993/201025414-f9d96229-6876-4dcb-ba2b-c99a1fb306fc.png)

These two part label segment are all 50.4 height(1.26*lineHeight). it is designed to avoid border truncation.
It is hard to remove the hack modification.
It will be resolve wh

[2022-11-10 07:20] #11412 closed, assigned to Zhmz

[2022-11-10 07:25] #10265 closed, assigned to yanOO1497

[2022-11-10 07:49] minggo commented on #10731
Currently, the CI is disabled. And it seems work well without it, so close this issue.

[2022-11-10 07:49] #10731 closed, assigned to minggo

[2022-11-10 07:59] SantyWang commented on #12242
@dumganhar is refactoring the whole serialization system, and this problem will be solved after that

[2022-11-10 07:59] #12242 closed, assigned to dumganhar

[2022-11-10 08:05] minggo commented on #11730
@star-e we may add memory allocate module, it will override new to do it. Make new as protected may have problem.

[2022-11-10 08:16] star-e commented on #11730
We might use custom memory allocator's implementation, but still mark it as protected. I'm not sure whether it will work.

[2022-11-10 08:23] minggo commented on #11730
As i think we may change `ccnew` to
[code]
Then it needs to access public new function.

[2022-11-10 08:25] minggo commented on #12289
The codes are merged into develop branch, which is v3.7. So change to v3.7.

[2022-11-10 08:25] #12289 closed, assigned to oahcy

[2022-11-10 08:32] Zhmz commented on #10947
![image](https://user-images.githubusercontent.com/32831993/201040424-879131a8-c4b8-453a-b168-f609274fd95c.png)
scroll up 200 pixels
because the outofboudary is 200, it doesn't update in time

[2022-11-10 08:44] star-e commented on #11730
We can use allocator to allocate memory and construct object. It does not use class's "(protected) operator new", but it uses "(public) placement operator new"

![image](https://user-images.githubusercontent.com/13654656/201042787-7fe3f398-e308-4015-bd45-153fb000612f.png)

[2022-11-10 09:14] AFeiYA commented on #11288
集成draco，使用draco压缩，可以保证数据的一致性 [issues/7743](https://github.com/cocos/cocos-engine/issues/7743)

[2022-11-10 09:14] #11288 closed, assigned to AFeiYA, shrinktofit

[2022-11-10 09:22] AFeiYA commented on #13082
集成draco，对gltf文件进行统一的压缩 [issues/7743](https://github.com/cocos/cocos-engine/issues/7743)

[2022-11-10 09:23] #13082 closed, assigned to novain1102

[2022-11-10 09:27] minggo commented on #11730
Got it, `placement new` and `operator new` are different functions. We just protect operator new.

[2022-11-10 09:49] minggo commented on #11730
@star-e  In your demo, the placement operator new is protected. And if make it public, then we may also meet the same problem as operator new, for example:
[code]

[2022-11-10 11:07] OnlyKoei opened #13329 "boxCollider2d Wrap-around box is displayed incorrectly"
### Cocos Creator version

3.6.2

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/142422/
提交一个3.6.2下面box2dcollider的BUG，复现率100%

![bugReport](https://user-images.githubusercontent.com/40415168/201074820-6c23c581-27ac-483c-9ff5-9d1861fcd5d6.gif)

### Relevant error log output

_No response_

### Steps to reproduce

https://user-images.githubusercontent.com/40

[2022-11-11 02:13] timlyeee commented on #13274
Audio pause on ios calls openal pause directly and nothing else, considering fix this error with the refactor of audio system

[2022-11-11 02:43] pandamicro commented on #11774
There is also another related issue: https://github.com/cocos/cocos-example-projects/pull/224

Vec2, Vec3 now is not accepted by the native engine and will raise Assert,

https://github.com/cocos/cocos-engine/blob/develop/native/cocos/core/assets/Material.cpp#L370-L380

While the parameter type of `setProperty` is declared like this:

[code]

@star-e we need to make sure the MaterialProperty is co

[2022-11-11 02:51] star-e commented on #11774
I think we should accept Vec2 and Vec3, these are valid uniforms. (There are cases we even need Int2/3/4）
The type of property should match. We shall not accept Vec2, when the property type is Vec4  in material.
Vector swizzle might be done in other way.
@pandamicro

[2022-11-11 02:59] PPpro commented on #11367
we reajust the priority of this issue, for there are much more inserted task

[2022-11-11 03:14] dumganhar commented on #11774
TS type:

[code]

CPP type:

[code]

Current `Property type` in c++ is ported from TS implementation, so they're similar. On web platform, setProperty accesses  MaterialPropertyFull or MaterialPropertyFull array as parameter, while on native, we make an adapter code for binding `Material.setProperty` since it's difficult to distinguish different JS types in c++.

[code]

This issue is saying that

[2022-11-11 03:40] PatriceJiang commented on #11774
Binding math objects has no effect on `setProperty`, because the object passed to C++ can be either a JS object or a C++ object.  However, `getProperty` can be optimized to return JSB objects from C++, but these objects are weak references, which is potentially problematic.

[2022-11-11 04:09] #12878 closed, assigned to dumganhar

[2022-11-11 04:41] dumganhar commented on #12178
@hana-alice suggested not to modify the default precision of `math::isEquals` since GFX code depends on the it.
If we change it, we need to do lots of tests.

Since all math classes have a `approxEquals` method with  default precision of `#define CC_FLOAT_CMP_PRECISION (0.00001F)`, I think this issue could be closed.

[2022-11-11 04:41] #12178 closed, assigned to dumganhar

[2022-11-11 04:43] dumganhar commented on #11538
There is not a plan to process this issue.

[2022-11-11 04:51] #12048 closed, assigned to lealzhan

[2022-11-11 05:41] #12331 closed, assigned to qiuguohua

[2022-11-11 05:54] wooden-uncle opened #13338 "[3.6.0] Android download file error: StreamResetException: stream was reset: INTERNAL_ERROR"
### Cocos Creator version

3.6.0

### System information

Android

### Issue description

When downloading files, there is a possibility that errors

### Relevant error log output

<img width="770" alt="image" src="https://user-images.githubusercontent.com/117958684/201272579-494dbbf4-b204-4a36-9b72-bf504526c0f4.png">

### Steps to reproduce

occurs when download bigger files, and might be solved

[2022-11-11 07:36] PatriceJiang opened #13342 "ScriptEngine stuck in the cleanup method"
Steps to reproduce
1. Create a empty scene
2. Export a windows project
3. Run & Quit

[2022-11-12 00:48] Zhmz commented on #10884
https://github.com/cocos/cocos-engine/issues/10785
It is same issue.

[2022-11-12 00:48] #10884 closed, assigned to Zhmz

[2022-11-12 02:40] Zhmz commented on #10785
before clicking
![image](https://user-images.githubusercontent.com/32831993/201452851-eed6544f-2473-44a2-8989-3df49ea0ab4f.png)
after clicking
![image](https://user-images.githubusercontent.com/32831993/201452841-f7acd65b-99e5-4a7d-a71d-62982bcc85f7.png)

I have tested two conditions of showing and hiding scroll bar.

[2022-11-12 02:45] Zhmz commented on #10785
please QA group validate it

[2022-11-12 02:45] #10785 closed, assigned to LinYunMo

[2022-11-12 06:19] Zhmz commented on #11547
![image](https://user-images.githubusercontent.com/32831993/201460443-192e8a4e-8521-4b65-bdb6-e83ac9231a8c.png)
I don't find that there is any fuzzy text in v3.7

[2022-11-14 06:32] OnlyKoei opened #13361 "Collider2D Run Exception"
### Cocos Creator version

3.6.0,3.6.2

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/142430
![image](https://user-images.githubusercontent.com/40415168/201589527-fef58c36-901e-45a8-bef4-5d507961d03f.png)

Collider2D is not enabled in the editor, collision is still in effect at runtime.
编辑器上没有启用 collider2D，运行时碰撞监听还是触发了。

When the group of the component is

[2022-11-14 09:04] iwae opened #13363 "Model with realtime animation will not show in Wechat buildin browerse"
### Cocos Creator version

3.6.2

### System information

ios 16.0

### Issue description

https://store.cocos.com/app/detail/4207g, try this demo.

If I use real time animation, the model will not show in wechat build-in browser in ios 16.x, but for baked animation , all good.
![image](https://user-images.githubusercontent.com/26038745/201619017-f5367b27-b891-441c-b376-b07af35e2bb7.png)

### Rele

[2022-11-14 09:09] iwae opened #13364 "replace slpash screen in wechat will show default black splash first"
### Cocos Creator version

3.6.2

### System information

iphone 15

### Issue description

after choosing replace splash screen for wechat, it will still show default black splash for about 0.4s( for old phones, it last longer)
![image](https://user-images.githubusercontent.com/26038745/201619970-acd67fa1-770b-49f2-8436-4e0629437257.png)

![image](https://user-images.githubusercontent.com/2603874

[2022-11-15 03:10] zxx43 commented on #12915
https://github.com/cocos/cocos-engine/pull/13378/files this pr resolve the first issue

[2022-11-15 03:16] #12003 closed, assigned to zxx43

[2022-11-15 06:43] timlyeee opened #13382 "Change GLES3 dynamic library usage from PowerVR to Google angle implementation"
### Use Case

More stable

### Problem Description

1. PowerVR gles3 is not open-sourced and hard to debug
2. Electron use google angled backend and should sync

### Proposed Solution

_No response_

### How it works

_No response_

### Alternatives Considered

.

### Additional Information

_No response_

[2022-11-15 08:56] zxx43 commented on #12915
https://github.com/cocos/cocos-engine/pull/13378/commits/bcfab18f70ba278c85727611554a01c66994fd68 this commit resolve the second issue

[2022-11-15 09:02] dumganhar opened #13385 "[bug] Binding code generated by Swig generate lots of error log"
![企业微信截图_1668501977404](https://user-images.githubusercontent.com/493372/201876071-78d8a93c-8408-4f11-a765-e2b1348c2c33.png)

[2022-11-15 09:02] dumganhar opened #13386 "[bug] Binding code generated by Swig generates lots of error log"
![企业微信截图_1668501977404](https://user-images.githubusercontent.com/493372/201876071-78d8a93c-8408-4f11-a765-e2b1348c2c33.png)

[2022-11-15 10:00] qiuguohua commented on #10546
The text will be refactored using freetype later, so this optimization can be dropped for now @bofeng-song

[2022-11-15 10:00] #10546 closed, assigned to qiuguohua

[2022-11-15 10:12] OnlyKoei opened #13387 "spine can not dynamically modify the material in the native platform"
### Cocos Creator version

3.6.2

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/142601
![image](https://user-images.githubusercontent.com/40415168/201892507-8592b261-fdc0-487a-b8da-460fba71c0c8.png)

### Relevant error log output

_No response_

### Steps to reproduce

demo:
[Creator3.6.0_2D_HitWhite.zip](https://github.com/cocos/cocos-engine/files/100115

[2022-11-15 16:23] BenoitFreslon opened #13395 "Mouse inputs not detected "Preview In Editor""
### Cocos Creator version

3.6.2

### System information

OSX 12.6

### Issue description

Hello,

I can't detect mouse inputs when I launch the game in editor: "Preview In Editor"
The game in browser works well.

Did I missed something to configure on Cocos Creator on OSX?

https://user-images.githubusercontent.com/758680/201971689-cbf72cd7-a6f8-42d9-964d-0ddb8a656872.mp4

### Relevant error log

[2022-11-16 06:18] mambo723 opened #13400 "An error occurred when using "director.runScene" to switch scenes in version 3.6.2"
### Cocos Creator version

3.6.2

### System information

Windows10 Chrome

### Issue description

An error occurred when using `director.runScene` to switch scenes, I hope to use `director.runScene` to switch scenes normally.

### Relevant error log output

[code]

### Steps to reproduce

I created two scenes `Scene1` and `Scene2` in the editor, and attached the components `Scene1` and `Scene2` r

[2022-11-16 07:23] OnlyKoei opened #13404 "The model import will mount several of the same materials"
### Cocos Creator version

3.6.2

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/142569
![企业微信截图_16685051072968](https://user-images.githubusercontent.com/40415168/202112996-9f3aa75d-e413-428e-a7fa-e9ae0b1999e5.png)

### Relevant error log output

_No response_

### Steps to reproduce

。

### Minimal reproduction project

_No response_

[2022-11-16 12:44] lhuabin opened #13413 "Test issue"

[2022-11-16 12:44] #13413 closed, assigned to nobody

[2022-11-17 09:32] OnlyKoei opened #13423 "The contents of the labe_latlas file is missing"
### Cocos Creator version

3.4.2，3.6.2，2.4.10

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/142701
![image](https://user-images.githubusercontent.com/40415168/202409028-c889d032-0352-44ff-a0d6-ebddd922cbff.png)
![企业微信截图_16686760349721](https://user-images.githubusercontent.com/40415168/202409075-9a7b974e-7e7c-436f-a6a5-34b18749521f.png)

![企业微信截图_1668675

[2022-11-17 09:55] zhakesi commented on #13258
* https://github.com/cocos/cocos-engine/pull/13287

[2022-11-17 09:55] #13258 closed, assigned to zhakesi

[2022-11-17 10:47] #13254 closed, assigned to zhakesi

[2022-11-17 12:08] Jason121250148 commented on #13277
项目技术选型，同样遇到这个问题，想问下官方在看了吗？

[2022-11-18 01:56] dumganhar commented on #13386
Duplicated with https://github.com/cocos/cocos-engine/issues/13385

[2022-11-18 01:56] #13386 closed, assigned to dumganhar

[2022-11-18 01:57] dumganhar commented on #13385
Fixed at https://github.com/cocos/cocos-engine/pull/13425

[2022-11-18 06:12] #13274 closed, assigned to timlyeee

[2022-11-18 08:52] novain1102 commented on #13311
https://api.wzlgame.cn
![WXWorkCapture_16687607536649](https://user-images.githubusercontent.com/18634782/202660941-ecf9e688-36b8-4fbb-9b32-7b1f914f103e.png)
Since the security certificate used by this Https site has not been recognized by CA, it may be risky

[2022-11-18 08:52] #13311 closed, assigned to novain1102

[2022-11-18 09:36] #13385 closed, assigned to dumganhar

[2022-11-18 10:50] xianyinchen opened #13440 "[3.6.2] BlockInputEvents is invalid in some cases"
### Cocos Creator version

3.6.2

### System information

Chrome

### Issue description

add two sub node to button node, the BlockInputEvents node layer cover the another Node who Registered touch events. then button can be click bypass the BlockInputEvents layer.
![image](https://user-images.githubusercontent.com/8321365/202687364-9a28e8eb-21e5-442b-9b73-2e1aad624a3a.png)

### Relevant error log

[2022-11-20 16:21] patrick-fu opened #13444 "[3.6.2] "sebind::callFunction" is missing a parameter for "this" object"
### Cocos Creator version

3.6.2

### System information

All native platform

### Issue description

The syntactic sugar [sebind::callFunction](https://github.com/cocos/cocos-engine/pull/12591) is very helpful, but I found that "this" object is missing when call from native to js, so that I can not use "this" in the callback block.

![](https://user-images.githubusercontent.com/20736775/202912943

[2022-11-21 02:49] dumganhar opened #13446 "[v3.7.0] UI relevant tests cause script errors."
![企业微信截图_babc7dba-c6ab-4905-a094-98991e3308c9](https://user-images.githubusercontent.com/493372/202952627-82206ffd-520d-42c1-b76f-3c68d4357b6d.png)

[2022-11-21 03:59] bofeng-song commented on #13171
https://github.com/cocos/cocos-engine/pull/13448
modify LOD's default screen occupation

[2022-11-21 10:33] troublemaker52025 commented on #13255
Resolved, please verify in v3.7.0 after 11/21

[2022-11-21 10:33] #13255 closed, assigned to jk20012001, troublemaker52025

[2022-11-21 15:51] LightingX opened #13466 "Physicial contact 2D always call back parameter "contact" of zero-vector normal."
### Cocos Creator version

3.6.2

### System information

Windows 10 Editor

### Issue description

I have 2 rigid bodys which are not sensors with Box2D engine, but when contact calling back, the contact param is always zero-vector normal, the configs, codes and logs are as list:
![image](https://user-images.githubusercontent.com/25509181/203098236-ed32afb4-0697-4ecf-a88d-06bf22b5105e.png)

![ima

[2022-11-21 20:47] mrtzd opened #13467 "[3.6.3, 3.5.2] Dragonbones error & "animationPose" is undefined on Android platform"
### Cocos Creator version

3.6.3, 3.5.2

### System information

Windows 10 Editor

### Issue description

I have a 2D game where the character has an idle animation and the user controls the character which can shoot arrows using a bow. This works perfectly when the game is running in the browser without any errors:

https://user-images.githubusercontent.com/82378750/203154045-fc9b3688-5d42-4adf-

[2022-11-22 02:41] minggo commented on #13400
Could you please provide a project to reproduce it? Thanks.

[2022-11-22 02:51] minggo commented on #13236
Did you mean `Atlas` class, which is defined in `cocos/2d/utils/dynamic-atlas/atlas.ts`?

[2022-11-22 03:16] xianyinchen opened #13470 "[3.6.2] Incorrect calculation of video display area"
### Cocos Creator version

3.6.2

### System information

iOS 15

### Issue description

we use widget to detect the display area, the white background can be seen.

<img src="https://user-images.githubusercontent.com/8321365/203212589-8bdadad2-755d-4b86-97b3-c5ccd5b6086f.png" width = "200" height = "600" alt="" align=center />

### Relevant error log output

_No response_

### Steps to reproduce

[2022-11-22 03:35] timlyeee opened #13471 "[Optimization] Incomplete logic with window id."
The window id event should be in the same logic:

on TS, the camera constructs with a window id 0, and on CPP, the camera construct with a window id getting from the swapchain.

So it means we might need to add a wrapper for different platforms and set a default value and null value with 2 different params

[code]
or furthermore, if we don't need windowID on the web, we can probably delete it, and

[2022-11-22 03:45] patrick-fu opened #13474 "[3.6.2] Android EGL crashes due to libcocos.so default export symbols"
### Cocos Creator version

3.6.2

### System information

Android

### Issue description

When building for Android debug, all source code will be compiled with "-fvisibility=default" cflag, and [native/cocos/renderer/gfx-gles-common/eglw.cpp](https://github.com/cocos/cocos-engine/blob/develop/native/cocos/renderer/gfx-gles-common/eglw.cpp) file contains some custom EGL symbols (the symbol name is

[2022-11-22 04:00] patrick-fu commented on #13474
Maybe all cocos engine sources should be compiled with "-fvisibility=hidden", whether build for debug or release to fix this crash.

[2022-11-22 04:39] novain1102 commented on #13338
Hi, may I ask how large file you download when this problem occured, or if you can provide me the URL?

[2022-11-22 04:45] pandamicro commented on #13255
@troublemaker52025 please cherry pick this commit to 3.6.3

[2022-11-22 05:38] #12879 closed, assigned to star-e

[2022-11-22 05:41] yanOO1497 commented on #13423
修改测试例后验证无此问题，这些新建资源的内容是不重要的，不会影响导入结果。目前用户也无法复现，有复现再结合复现 demo 重新打开 issue。

[2022-11-22 05:41] #13423 closed, assigned to yanOO1497

[2022-11-22 05:45] minggo commented on #13471
The codes should be the same on all platforms. On web, the window id should be 1 as there is only one window on web. And should fix logic error caused by using window id.

[2022-11-22 05:47] minggo commented on #11730
As discussed above, can not hide the constructor currently.

[2022-11-22 06:07] star-e opened #13477 "gfx MessageQueue deadlock"
### Cocos Creator version

3.6.0

### System information

Windows 10

### Issue description

gfx message queue might cause deadlock.
fix: https://github.com/cocos/cocos-engine/pull/13278

### Relevant error log output

_No response_

### Steps to reproduce

create swapchain.

### Minimal reproduction project

_No response_

[2022-11-22 06:16] star-e commented on #13477
pr: https://github.com/cocos/cocos-engine/pull/13479

[2022-11-22 06:37] troublemaker52025 commented on #13255
Sync this fix to v3.6.3

* https://github.com/cocos/cocos-engine/pull/13480

[2022-11-22 07:45] mambo723 commented on #13400
@minggo

I've uploaded the project to my post in the community, it's written in the last part above, but I can also upload a copy here.

[TestProject.zip](https://github.com/cocos/cocos-engine/files/10065007/TestProject.zip)

https://user-images.githubusercontent.com/33975950/203254703-36d139f6-ecfe-4130-85ce-adaf413ddec9.mp4

[2022-11-22 08:13] minggo commented on #13400
@mambo723 thanks

[2022-11-22 08:34] #13444 closed, assigned to PatriceJiang

[2022-11-22 08:44] minggo commented on #13474
Yep, it will have problem. Can i know what third-parity shared library that uses EGL you used? And why need to do it like this?

[2022-11-22 09:21] AndyYuTian opened #13487 "[Cocos Creator 3.7.0] Release doc prepare: New Features and Bug Fixes list"
3.7.0 is on the way and it is another huge milestone for us!!

A lot of important updates are comming, including Offline Global Illumination workflow support with probes, LODs, enhanced lightmap workflows, native editor scene, and improved default renders. We couldn't wait to share more with you.

We kindly ask all the contributors to reply with a small intro of your updates and bug fixes in this

[2022-11-22 09:24] patrick-fu commented on #13474
[ZEGO RTC SDK](https://doc-zh.zego.im/article/2969), it need to use EGL API to capture and render video frame. The RTC engine directly use a lots of EGL APIs (e.g. eglGetProcAddress) but not requires them by "dlsym".

The core problem is that the RTC shared library always load EGL API symbols from "libcocos.so" but not system "libEGL.so", it happens on runtime (when the App launch) but not link ti

[2022-11-22 09:36] zxx43 commented on #13487
Fix particle gravity module with parent node

[2022-11-22 09:55] stanleyljl commented on #13487
**Add light probe**
    Light probe is used to deal with the lighting of characters or dynamic objects in the game world, and provide high-quality lighting (including indirect light) on moving objects in the scene. Its advantage is that it has good processing performance at runtime and precomputations are also fairly fast.

1, character using light probe
![企业微信截图_16675447863860](https://user-image

[2022-11-22 09:59] moshuying commented on #13487
Add Mesh UV Debug

[2022-11-22 10:26] minggo commented on #13474
Got it. I was told that, doesn't hide symbols in debug mode just to have meaningful crash stack information on Android. So i think it is better to just hide these EGL symbols in cocos.

[2022-11-22 10:26] moshuying commented on #13487
1. [feature] Add mesh UV Debug
![image](https://user-images.githubusercontent.com/37231523/203290546-62408dd4-8c7b-44d7-a9cb-f88d2eff63f6.png)
2. [feature] Add light probe gizmo
3. [fix] preview update WebGL, fix draw preview bug for all preview window , material-preview, mesh-preview, camera-preview and more.
4. [optimize] Improve the editing experience of large scenes and reduce the memory usage

[2022-11-22 10:27] minggo commented on #13474
I will ask somebody to do it. As these codes seems to be generated by a script.

[2022-11-22 10:50] knoxHuang commented on #13487
Add the Scale property to the reference image

![image](https://user-images.githubusercontent.com/7564028/203295506-aeb99e4f-b149-47de-bf78-383edc1df9be.png)

[2022-11-22 11:07] obraz29 commented on #13487
But could you please fix all spine bugs first...

[2022-11-22 11:24] xubing0906 commented on #13487
add reflection probe:https://github.com/cocos/3d-tasks/issues/12047
![image](https://user-images.githubusercontent.com/49358166/203302116-e7937baa-5b63-4900-b3bc-1dae7e2997ef.png)

[2022-11-22 15:49] BenoitFreslon opened #13495 "'cc.ParticleSystem2D.color' hides inherited property 'cc.UIRenderer.color'."
### Cocos Creator version

3.6.2

### System information

Mac OS

### Issue description

Add a particle system and when the game launches I got this warning message:

`'cc.ParticleSystem2D.color' hides inherited property 'cc.UIRenderer.color'. To make the current property override that implementation, add the `override: true` attribute please.`

I tried to add this on an empty project.

### Releva

[2022-11-23 02:00] ghost opened #13497 "Line Component in TwoColors mode always uses second color"
### Cocos Creator version

3.6.2

### System information

all

### Issue description

https://github.com/cocos/cocos-engine/blob/v3.6.3/cocos/particle/models/line-model.ts#L184
![image](https://user-images.githubusercontent.com/7840984/203453640-1cfaaf73-fbd3-4225-858e-c1d1384ddbc4.png)

https://github.com/cocos/cocos-engine/blob/v3.6.3/cocos/particle/animator/gradient-range.ts#L126
![image](https

[2022-11-23 02:01] dumganhar commented on #13487
- Switch to [swig](https://www.swig.org) to generate JS binding glue code, the old `bindings-generator` tool is deprecated now. The time cost of generating all JS binding code is reduced to `3~5 seconds`. Please refer to [README](https://github.com/cocos/cocos-engine/tree/develop/native/tools/swig-config) .
- Optimize the construction and destruction of se::Object, remove unused hash operations. [

[2022-11-23 02:23] PatriceJiang commented on #13487
- Provide `cc::event::EventBus` and `cc::event::EventTarget` to simplify event dispatching within the engine. [PR 13100](https://github.com/cocos/cocos-engine/pull/13100)

[2022-11-23 02:43] xianyinchen opened #13501 "[3.6.2] Label use cache mode BITMAP will make the dynamic atlas insane growth"
### Cocos Creator version

3.6.2

### System information

Chrome

### Issue description

if we use many label with cache mode BITMAP, show hidden nodes repeatedly, the the dynamic atlas insane growth.

full fill with label.
![image](https://user-images.githubusercontent.com/8321365/203459575-c2b78c7c-bb13-4225-866b-521a588ae29b.png)

then create an new  atlas.
![企业微信截图_16691713998216](https://user

[2022-11-23 03:00] zhakesi commented on #13467
native Transform animationPose not export to js

[2022-11-23 03:00] #13306 closed, assigned to zhakesi

[2022-11-23 03:01] #13387 closed, assigned to zhakesi

[2022-11-23 03:06] kaxifakl opened #13502 "WebAssembly.instantiate didn't work in Android"
### Cocos Creator version

2.4.10

### System information

Window 10

### Issue description

There has no problem in web env, but didn't trigger callback in Android;
[code]

### Relevant error log output

_No response_

### Steps to reproduce

none

### Minimal reproduction project

_No response_

[2022-11-23 03:35] Zhmz commented on #13309
![企业微信截图_16691728494204](https://user-images.githubusercontent.com/32831993/203464495-bc7e9f3e-9664-475b-827f-cd493ef8d9c4.png)

Layout component is necessary in this scene

[2022-11-23 03:44] kaxifakl commented on #13236
yeah

[2022-11-23 03:52] pandamicro commented on #13487
- [BREAKING] Force type validator in `Pass.setUniform`, this is more strict than previous versions, especially on web platform. E.g. if a Vec4 value is passed to a Vec3 uniform, the engine will now raise an error in debug mode, previous version won't. https://github.com/cocos/cocos-engine/pull/13462

[2022-11-23 04:13] xjtulk opened #13507 "[3.5.2]Some crash report"
### Cocos Creator version

3.5.2

### System information

android

### Issue description

Our team develop an android application with a game inside.

- The main body of the application is developed with the android technology stack
- The game is in a specific activity and specific process, the game logic is developed with cocos creator js
- In order to optimize the game entry performance, before

[2022-11-23 06:01] xjtulk commented on #13507
The crash source code stacks parsed with android ndk address-2-line are listed below:

_ZNK2cc7Message7getNextEv
/Applications/CocosCreator/Creator/3.5.2/CocosCreator.app/Contents/Resources/resources/3d/engine/native/cocos/base/threading/MessageQueue.h:61
_ZN2cc12MessageQueue13flushMessagesEv
/Applications/CocosCreator/Creator/3.5.2/CocosCreator.app/Contents/Resources/resources/3d/engine/native/co

[2022-11-23 06:06] #13309 closed, assigned to Zhmz

[2022-11-23 06:31] yiwenxue commented on #13487
* [feature] Add `FixedConstraint` support to `Physics` system. https://github.com/cocos/3d-tasks/issues/12930
* [feature] GFX now supports `blitTexture`. https://github.com/cocos/cocos-engine/pull/13831
* [feature] GFX now supports `Texture2DArray` and `Texture3D`. https://github.com/cocos/cocos-engine/pull/12938
* [feature] Effects can set a default value for the boolean Macro. https://github.com

[2022-11-23 06:56] iwae opened #13511 "3.x support sprite sheets"
### Use Case

I am working with some 2D projects, and I realized that Cocos does not support sprite sheet animation ( I mean without plist, the flip sprite sheet), can we support it ? So we can use more free sprite sheet animation resources!

### Problem Description

Most engines support sprite sheets animation, like
 godot (https://docs.godotengine.org/en/3.1/tutorials/2d/2d_sprite_animation.html

[2022-11-23 07:49] xianyinchen opened #13516 "[3.6.2] spine IK rotation calculation error"
### Cocos Creator version

3.6.2

### System information

Window, Android

### Issue description

web mobile (Spine Editor shows consistent):
![企业微信截图_16691894419122](https://user-images.githubusercontent.com/8321365/203494336-a524a1a2-b609-47d9-9a12-9bc5c2828c71.png)

window:
![企业微信截图_16691895125160](https://user-images.githubusercontent.com/8321365/203494500-8806ea70-030a-4a33-b190-b2e8a762db71.

[2022-11-23 07:56] jareguo commented on #13511
The current use of sequential frame animation (in the atlas) is still cumbersome and has to be supported by the particle system, which should be provided separately out-of-the-box.
Considering making a special Sprite Frame resource type? When this type is enabled, the Animation Clip sub-asset is automatically generated on import. Just like fbx's sub-asset. Then you can get a clip directly for Anim

[2022-11-23 08:28] timlyeee commented on #13065
This issue is mainly caused by the safety policy of Web, the 'touchend' event caused by slide and the 'touchevent' caused by click does not means the same for browser.

I've reported the bug for webkit and chrome.

https://bugs.chromium.org/p/chromium/issues/detail?id=1392959

https://bugs.webkit.org/show_bug.cgi?id=248265

Right now what we can do is to jump across this issue.

[2022-11-23 09:04] timlyeee commented on #10064
Thanks for your feedback and it's a shame that we didn't treat this issue well. Sorry about that.

This issue was also reported by internal groups after several months, and it's fixed with this [pull request](https://github.com/cocos/cocos-engine/pull/12865).

[2022-11-23 09:04] #10064 closed, assigned to timlyeee

[2022-11-23 09:18] novain1102 commented on #13470
Test for iphone11 iphone12 iphone14 iphone14plus iphone se, iphone 12 mini, iphone 13 mini.
![image](https://user-images.githubusercontent.com/18634782/203509884-5330dc02-a920-4611-ab90-a85cb70a1a9a.png)
Only iphone12 mini, iphone13 mini will show above issue.
![image](https://user-images.githubusercontent.com/18634782/203508672-e319bdd8-8d2e-4e36-84b7-421e4fb65a6c.png)

[2022-11-23 10:38] timlyeee commented on #13065
@bofeng-song Keep watching at the feedback of chromium and webkit

[2022-11-23 10:41] #11247 closed, assigned to timlyeee

[2022-11-24 01:44] Zhmz commented on #13050
So designed.
it will be resolve when restructuring label

[2022-11-24 02:08] #12915 closed, assigned to zxx43

[2022-11-24 02:08] #13056 closed, assigned to zxx43

[2022-11-24 02:12] #12919 closed, assigned to zxx43

[2022-11-24 02:29] PatriceJiang opened #13532 "Fix compile warning on linux"
![image](https://user-images.githubusercontent.com/40414978/203680809-8ca1275e-27a3-4286-ab57-9e0297a1e549.png)

[2022-11-24 03:10] lealzhan commented on #13487
- [feat] physics system supports lineStripCast
   - https://github.com/cocos/cocos-engine/pull/13086
   - https://github.com/cocos/cocos-example-projects/pull/246
- [feat] default physics Material is set through file in project setting now
   - https://github.com/cocos/cocos-engine/pull/13464
   - https://github.com/cocos/cocos-engine/pull/13852
- https://github.com/cocos/cocos-engine/pull/13824
-

[2022-11-24 03:35] shrinktofit commented on #13487
## Animation System

### Highlighted

- Here comes a new animation asset type: **animation variant**, make it possible to reuse the same animation graph on different characters.

    https://user-images.githubusercontent.com/28807867/197739550-ec674bdc-02c9-44d6-b998-a03a1583ef4d.mp4

### New Feature

- [**Experimental**] Class `AnimationController` added a method to dynamically overrides animatio

[2022-11-24 03:46] troublemaker52025 commented on #12453
![图片](https://user-images.githubusercontent.com/20809296/203689445-1fe918eb-a087-4f7f-b217-106fb3127ae5.png)

[2022-11-24 03:46] #12453 closed, assigned to jk20012001, troublemaker52025

[2022-11-24 03:57] PPpro commented on #11046
feadback from ByteDance team

[2022-11-24 06:50] WenhaiLin opened #13539 "It's time to upgrade OkHttp"
### Use Case

None

### Problem Description

None

### Proposed Solution

_No response_

### How it works

_No response_

### Alternatives Considered

None

### Additional Information

_No response_

[2022-11-24 08:03] OnlyKoei opened #13542 "Click Callback Exception"
### Cocos Creator version

3.6.2

### System information

window10, chrome

### Issue description

https://forum.cocos.org/t/topic/142427
![image](https://user-images.githubusercontent.com/40415168/203726472-7c52d528-9916-44e6-ac7e-909eec48092b.png)

### Relevant error log output

_No response_

### Steps to reproduce

demo:
[aaa.zip](https://github.com/cocos/cocos-engine/files/10081932/aaa.zip)
!

[2022-11-24 08:28] minggo commented on #13539
As engine supports Android 4.2+, and new OkHttp version doesn't support lower Android version, so can not update it.

[2022-11-24 08:28] #13539 closed, assigned to nobody

[2022-11-24 08:30] minggo commented on #13502
Please use english in future. Thanks.

Why you use WebAssembly on Android?

[2022-11-24 08:35] minggo commented on #13507
You can have a try:
- the first way is: use Creator 3.6.2 and have a try
- the second way is to disable multi-thread like
[code]

[2022-11-24 08:41] xjtulk commented on #13507
Ok, i will first try the second way on next application release to see if problems solved, thanks.

[2022-11-24 08:53] kaxifakl commented on #13502
For simple import with more quickly lib, like `gzip.wasm`.Instead of cpp module,because it needed adapter both in native and web.

[2022-11-24 08:53] minggo commented on #13507
You are welcome. So you can not reproduce it?

[2022-11-24 09:20] minggo commented on #13502
But you can use gzip cpp version on android and WebAssembly on web like engine does. So i don't know why use WebAssembly on Android.

[2022-11-24 09:42] xjtulk commented on #13507
I can only reproduce the first crash in auto test offline by far.

[2022-11-24 09:51] kaxifakl commented on #13502
For convenient transplanting without using custom engine.
I think the most import problem is why webassembly didn't work in Android.
Is there any solution to fix it?

[2022-11-24 10:11] mambo723 opened #13546 "Can't use the URL object in native platform"
### Cocos Creator version

3.6.2

### System information

Windows simulator, Android

### Issue description

Can't use the `URL` object in native platform, the code is as follows: `let obj = new URL("url string");`.
Such use will generate an error in the `web-adapter.js` file.

### Relevant error log output

[code]

### Steps to reproduce

Just use `URL` object in project, like this: `let obj = ne

[2022-11-24 10:14] minggo commented on #13502
I don't know, we haven't use WebAssembly on Android. And there is not plan to do it. And i think it is nothing about engine.

[2022-11-24 10:22] #13502 closed, assigned to nobody

[2022-11-24 13:29] minggo commented on #13546
URL is part of web standard, but native is not a web platform. So you can not use it on native. All web special features can not be used on native platforms.

[2022-11-24 13:29] #13546 closed, assigned to nobody

[2022-11-24 13:51] bofeng-song commented on #13487
[feature] support LOD
Level of detail (LOD) is a technique reduces the number of GPU operations that requires to render distant meshes.
When a node uses LOD, engine displays the appropriate LOD level for that node based on the node’s distance from the Camera.
 [PR 13171](https://github.com/cocos/cocos-engine/issues/13171)

![屏幕捕获_2022_12_29_09_15_34_763](https://user-images.githubusercontent.com/3

[2022-11-24 14:00] star-e commented on #13477
fixed in 3.6.3 pr #13479

[2022-11-24 14:00] #13477 closed, assigned to star-e

[2022-11-25 01:54] mambo723 commented on #13546
I know that special web standard features cannot be used in native platform as a matter of course, but I think that if it is not allowed to be used in the native platform, its construction method should not be implemented in the adapter file, which will make people mistakenly think that you have adapted these web standard features in the native platform.

@minggo

[2022-11-25 02:05] SantyWang commented on #13018
已支持

[2022-11-25 02:05] #13018 closed, assigned to nobody

[2022-11-25 02:23] xianyinchen opened #13555 "[3.5] crash when recharge sdk show and back to app on android platform"
### Cocos Creator version

3.5.0

### System information

Android

### Issue description

crash stack

[code]

android log

[code]

### Relevant error log output

_No response_

### Steps to reproduce

no test project.

### Minimal reproduction project

_No response_

[2022-11-25 02:30] PatriceJiang commented on #13342
Known information

- Version 3.5.x does not have such issue
- Issue disappeared when the bullet physical engine is *NOT* enabled
- Issue disappeared when upgrading v8 to 10.9.194.4
- v8 stuck at `Run<EscapeAnalysisPhase>()` stage, issue disappeared after turning off `--turbo-escape`
- After running app for 5 minutes, `cleanup()` finish immeditaly
- Occurs on iOS & Mac & Windows

Possible workaroun

[2022-11-25 02:32] minggo commented on #13342
@PatriceJiang please add information about the conditions that trigger this issue.

[2022-11-25 02:36] minggo commented on #13546
web-adapter just provide features needed by engine. It doesn't adapt the whole web environment.

[2022-11-25 02:53] mambo723 commented on #13546
Thanks for your answer, if I can see the relevant instructions in the documentation, there will be no misunderstanding, although this is not a big problem.

[2022-11-25 03:16] minggo commented on #13546
Yep, we will complete the doc.

[2022-11-25 03:43] SantyWang commented on #13400
Thanks, The scene asset is not an ordinary asset and you cannot reference it like any other asset. You need to reload the scene asset every time when you want to run the scene.

[2022-11-25 06:23] #13400 closed, assigned to nobody

[2022-11-25 06:25] PatriceJiang commented on #13342
By adding the flag `--no-turbo-escape` the performance in some test scenes can be improved.

According to https://v8.dev/blog/disabling-escape-analysis , ideally, we can assume that if the code is written correctly, *escape analysis* is not necessary.

[2022-11-25 07:29] mambo723 commented on #13400
I'm sorry I didn't quite understand what you said.
In the project I uploaded, the scene asset are referenced in inspector:

![inspector_1](https://user-images.githubusercontent.com/33975950/203922999-52397d10-1970-463c-be01-3d646dcdd747.png)
![inspector_2](https://user-images.githubusercontent.com/33975950/203923015-35f9fbcb-75e6-4771-a15f-277674a9b446.png)
![inspector_3](https://user-images.githu

[2022-11-25 08:09] PPpro commented on #10839
relative requirement https://forum.cocos.org/t/topic/142953/24?u=_pp

[2022-11-25 08:19] novain1102 commented on #13470
For some devices, rendered pixels DO NOT equal physical pixels.(like iphone 12 mini, iphone 13 mini. which  the former is (1125,2536), yet the latter is (1080, 2340)).
So we need to cosider the scale factor between rendered pixels and physical pixels.
![企业微信截图_e1944236-9744-4a2c-b5af-2c038cc5dc74](https://user-images.githubusercontent.com/18634782/203935068-1f9ff252-69cd-4dd4-816e-03f38fa237e7.png

[2022-11-25 08:46] minggo commented on #13470
Good to know.

[2022-11-25 08:49] AndroidSix opened #13565 "Request engine builtin support for 3D pathfinding"
### Use Case

Use 3D pathfinding in cocos3.x

### Problem Description

I'm using pathfinding in Cocos 3.x, but I don't know how to do it. Can I come with it by default like other engines

### Proposed Solution

_No response_

### How it works

_No response_

### Alternatives Considered

no

### Additional Information

_No response_

[2022-11-25 09:12] OnlyKoei opened #13566 "[3.6]spine native platform display exception"
### Cocos Creator version

3.6.1,3.6.2

### System information

window10, chrome

### Issue description

https://forum.cocos.org/t/topic/143085
![image](https://user-images.githubusercontent.com/40415168/203939431-e93f89d4-40fa-48ac-a8d9-f7645134e474.png)

The display is normal when 38 nodes are created.
当只创建 38 个 spine 节点，显示是正常的.
![image](https://user-images.githubusercontent.com/40415168/2039406

[2022-11-25 10:35] novain1102 commented on #13470
WebViewImpl also has this issue:
![5851669369806_ pic_hd](https://user-images.githubusercontent.com/18634782/203964673-834b01a1-0455-44b2-8f0c-4ed2644bc4ca.jpg)
After merge above PR:
![5861669370183_ pic_hd](https://user-images.githubusercontent.com/18634782/203964719-5af42a3b-d086-4079-a420-2ad04b6863f2.jpg)

[2022-11-28 02:10] mambo723 commented on #13400
Perhaps developers should be prohibited from referencing scene assets in the editor's inspector.

@minggo @holycanvas

In addition, maybe you should also pay attention to the problem of the large difference in the switching speed between using runScene and loadScene. (preloadScene has been used before using loadScene)

[2022-11-28 02:13] houdianjie opened #13572 "v3.6版本里面怎么开启碰撞检测调试功能"
### Cocos Creator version

3.6

### System information

Win10

### Issue description

v3.6版本里面怎么开启碰撞检测调试功能

### Relevant error log output

_No response_

### Steps to reproduce

2.x里面有cc.director.getCollisionManager().enabledDebugDraw = true;
请问3.6版本有替代的方法么

### Minimal reproduction project

_No response_

[2022-11-28 03:27] #13470 closed, assigned to novain1102

[2022-11-28 03:29] #13342 closed, assigned to PatriceJiang

[2022-11-28 03:31] #12851 closed, assigned to PatriceJiang

[2022-11-28 07:02] lealzhan commented on #13190
This 2.x fix PR https://github.com/cocos/cocos-engine/pull/10888 won't solve the problem.
The belowing is the bug case, and the algorithm will easily crash if you randomly chage the polygon shape
[terrainEdit.zip](https://github.com/cocos/cocos-engine/files/10101266/terrainEdit.zip)

The cocos's polygon convex decomposition algorithm comes from [here](https://mpen.ca/406/bayazit). As shown by the

[2022-11-28 07:18] novain1102 commented on #13487
- [feature] remove `BaseNode` class, please use `Node` class to instead. https://github.com/cocos/cocos-engine/pull/11977
- [feature] native.Downloader support abort function. https://github.com/cocos/cocos-engine/issues/12006
- [feature] ios websocketServer supporthttps://github.com/cocos/cocos-engine/pull/12467
- [feature] add network-module in function-corpping https://github.com/cocos/cocos-en

[2022-11-28 07:21] #13338 closed, assigned to novain1102

[2022-11-28 07:38] minggo commented on #13555
Could you please describe how to reproduce it in more detail?

[2022-11-28 07:40] minggo commented on #13572
Please use english in future.
@holycanvas does v3.x support this feature?

[2022-11-29 02:41] hnmli099 commented on #10353
We will update the  splash screen in version 3.7, and it will be able to skip entirely.

[2022-11-29 03:29] #10353 closed, assigned to hnmli099

[2022-11-29 06:45] #12492 closed, assigned to qiuguohua

[2022-11-29 07:07] OnlyKoei opened #13582 "sprite custom materials are missing"
### Cocos Creator version

3.6.2

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/142474

### Relevant error log output

_No response_

### Steps to reproduce

demo:
[Demo.zip](https://github.com/cocos/cocos-engine/files/10110557/Demo.zip)

### Minimal reproduction project

_No response_

[2022-11-29 07:11] LinYunMo commented on #13582
Cause material instancs is miss after updateMaterial

[2022-11-29 08:28] xianyinchen opened #13587 "[3.6.2] script plugin build throw error"
### Cocos Creator version

3.6.2

### System information

window

### Issue description

we upgrade 2.x project to 3.x, this script work on 2.x, build no work on 3.x
![image](https://user-images.githubusercontent.com/8321365/204477625-b99d13cc-b84b-412a-84d2-f33c162d23b5.png)

### Relevant error log output

_No response_

### Steps to reproduce

ask me for test project.

### Minimal reproduction p

[2022-11-29 14:34] Uldraxiel commented on #12918
Still happens in 3.6.2.

Note that if you have a component in the scene, not in any prefab, referencing a node/component from a prefab in a property, the link also break when updating prefab asset from the scene, but without any error.

[2022-11-29 16:13] mrtzd commented on #13467
Sorry to bother you, so will this issue get fixed in the next release? I was getting ready to finish my game and release it in the near future but this is a major blocking issue and I'm not aware of any workarounds.

[2022-11-30 01:21] #13147 closed, assigned to PatriceJiang

[2022-11-30 02:11] zvars opened #13594 "tiled map layer size calculation error"
### Cocos Creator version

all versions

### System information

Windows 10

### Issue description

https://forum.cocos.org/t/topic/143240

### Relevant error log output

_No response_

### Steps to reproduce

just drop tile map fie to project

map properties:
![image](https://user-images.githubusercontent.com/36719037/204689209-f95d9e4e-4180-4a48-9301-47338c21f8d2.png)

map layers:
![image](https

[2022-11-30 02:20] zhakesi commented on #12451
* https://github.com/cocos/cocos-engine/pull/13525

[2022-11-30 02:20] #12451 closed, assigned to zhakesi

[2022-11-30 02:33] troublemaker52025 commented on #13487
* [feature] support compressed mipmaps https://github.com/cocos/cocos-engine/pull/13226

* [feature] support csm layers transition  https://github.com/cocos/cocos-engine/pull/13144

![csm transition](https://user-images.githubusercontent.com/20809296/204722083-37570ae9-45b8-4827-b066-81182ebab79b.png)

[2022-11-30 02:33] chichinohaha commented on #13487
[feature] auto update import path when move/rename .ts file https://github.com/cocos/cocos-editor/pull/1095
[feature] add lod gizmo https://github.com/cocos/cocos-editor/pull/1002
[feature] add reflection-probe gizmo and the panel for bake https://github.com/cocos/cocos-editor/pull/1069
[feature] Using the rect transform tool, you can hold down shift to scale evenly
[optimize] lightmap will record

[2022-11-30 02:47] dogeFu commented on #13487
[feature] support native engine for creator
[feature] support multiwindow for editor preview with native engine
[fix] support 2d physic backend switch in editor preview
[fix] reference of prefab child failed to save in some case
已知问题:
native engine not support render debug

[2022-11-30 03:13] kaxifakl opened #13596 "[Editor]some problems in editor"
### Use Case

...

### Problem Description

### 1. Start Scene
There has no config about setting default start scene in 3.6.2.
![image](https://user-images.githubusercontent.com/63728902/204697538-1bbb04c3-5184-4737-afb7-3e4cf7d0ebea.png)
There can set it but it will become current scene when restart editor.
![image](https://user-images.githubusercontent.com/63728902/204697763-cfc771d8-7848-4cd1-9

[2022-11-30 08:43] OnlyKoei opened #13603 "Does the camera's layer setting need to be removed?"
### Cocos Creator version

3.6.2

### System information

window10

### Issue description

Modifying the camera's layer has no effect on rendering.

### Relevant error log output

_No response_

### Steps to reproduce

。

### Minimal reproduction project

_No response_

[2022-11-30 10:19] zhakesi opened #13604 "native spine cached mode, changing skin may cause a memory leak problem."
### Cocos Creator version

3.4,3.5,3.6

### System information

win10 editor

### Issue description

run spine cached mode in native paltform, changing skin may cause a memory leak problem.
the key code as follow, number of boneData will increase continuously.
<img width="579" alt="捕获" src="https://user-images.githubusercontent.com/14008865/204769255-888b3eab-a288-4e12-b049-7088108cb94f.PNG">

###