[2022-04-08 09:51] timlyeee opened #10704 "[3.5-dev] Mac application requires a more explicit gate to implement user codes."
![image](https://user-images.githubusercontent.com/43355299/162408796-f2004368-aded-4826-a279-cdb0be6a6c53.png)

For Mac on 3.5, only the main.mm is left for the developer's project, which is difficult to use, and right now there's no 3rd-party SDK for the project, such as Ad or whatever it is, but one day it might be considered.

## Why should we offer an easy way to implement user's code?

I'm p

[2022-04-08 10:47] ZeroHackeR opened #10705 "game.restart() Crashed the Game"
### Cocos Creator version

3.5.0

### System information

Android

### Issue description

As soon as game.restart(); is called, the game crashed.

### Relevant error log output

Logcat Error Messages:
`
2022-04-08 17:37:53.302 25453-25471/? E/jswrapper: ERROR: Uncaught TypeError: Cannot read property 'emit' of null, location: src/cocos-js/cc.js:0:0
    STACK:
     - [0]_onTouchEnded@src/cocos-js/c

[2022-04-08 11:18] shrinktofit opened #10706 "[Feature Request] Optimizes the stack trace of code in user land"
Problems statement:

- [ ] The stack trace of user land code(project scripts) is intruded by editor internal code, which should be hidden.

- [ ] It'd be better to also apply source mapping to stack track.

[2022-04-09 03:21] qiuguohua opened #10710 "Design flaw, conflicts between initializing the default platform and creating a custom platform"
If a platform is customized, the getplatform interface returns a pointer to the default platform, which is an error

[2022-04-09 12:04] qiuguohua commented on #10704
First of all, you need to understand the concept of platform and application. The concept of platform is a foundation on which many applications will run. The original intention of the design is to try to prevent users from paying too much attention to the platform, because the characteristics of different platforms are different, which is not conducive to a cross-platform application.

Most of th

[2022-04-10 05:35] shrinktofit opened #10715 "Improve animation performance by rewritting some crucial code in C++"
- [ ] Real curve, Quaternion curve

- [ ] Exotic animation(Skeletal animation)

[2022-04-10 05:41] shrinktofit commented on #10706
One of the hard nuts to crack during source mapping is that code running in module scope will be displayed as:

[code]

Developers may confuse about it. `Object.execute` is actually SystemJS module execute function.

[2022-04-10 10:18] snoweuph commented on #1841
I just switched to Linux because of Windows11, but F for me, thought I could try out this engine :( but if you have no resources, you have no resources

[2022-04-11 02:22] minggo commented on #10637
And it will slow down fps. And please also add an item in editor to control it.

[2022-04-11 03:53] bofeng-song commented on #10705
@ZeroHackeR Could you upload your demo，I can`t reproduce the crash while call game.restart().

[2022-04-11 03:58] bofeng-song commented on #10705
@ZeroHackeR My test-case is cloned from here:   https://github.com/cocos-creator/test-cases-3d.git
switch to branch v3.5 and then make sure the start scene is restart.scenne

[2022-04-11 05:47] PPpro commented on #10673
It seems like the scroll view UI component doesn't handle the scrollX data from EventMouseWheel

[2022-04-11 07:20] #10677 closed, assigned to qiuguohua

[2022-04-11 10:31] bofeng-song commented on #10705
@ZeroHackeR Due to enable Swappy, we`ll fix it as soon as possible.
you can disable it temparaly!
change directory to  "resources\resources\3d\engine\native" and search "swappy"  then click swappy directory, finally you can see CMakeLists.txt file. Change SWAPPY_ENABLED  to FALSE

[2022-04-11 10:35] JoneLau opened #10729 "extension template optimization"
### Cocos Creator version

3.4.2

### System information

macOS Monterey 12 beta，M1

### Issue description

The default template needs to be compiled manually to compile ts to js. can it be compiled automatically instead?
<img width="279" alt="image" src="https://user-images.githubusercontent.com/32630749/162722200-793dcb50-8882-4ac0-82fc-bd282f2e942d.png">

There are two paths in the README usage

[2022-04-12 02:46] shrinktofit opened #10731 "Optimize clang-format CI workflow"
Now every PR which changes C++ files will trigger a clang-format CI and create a complete new PR then generated a new commit. I think it's too verbose. It results the double increment speed of commit tree and PR number. The count of commits is however important since it impacts the review experiences of commit tree and git performance(you have to admit it even it doesn't suggest now). The PR numbe

[2022-04-12 03:01] minggo commented on #10731
If want to append a commit to original PR, then need to have the permission to do it. I don't think we can have the permission.

It is not easy for developers to set up environment to correct the code format.
- There is a [documentation](https://github.com/cocos/cocos-engine/blob/develop/native/docs/LINTER_AUTOFIX_GUIDE.md) to set up environment. As different platforms use different tools, for exa

[2022-04-12 03:12] shrinktofit commented on #10731
I'm sorry I only know about Visual Studio(no Code), it integrated clang-format tool and can be configurated as "format-using-clang-format-as-save". Does it help?

Good idea!

[2022-04-12 03:42] minggo commented on #10731
And i found these rules bring most code format commit:
[code]
These rules require alignment of the codes, like this
[code]
It makes the `=` at the same column.  We can remove these rules.

[2022-04-12 09:56] bofeng-song opened #10737 "make sensor & orientation feature can be config"
make sensor & orientation disabled by default

[2022-04-12 11:08] #10710 closed, assigned to qiuguohua

[2022-04-12 11:30] qiuguohua commented on #10710
This is a design defect and a bug. At present, the platform is placed in main, so that developers can customize some interfaces and expand existing interfaces by inheriting and overloading.

However, when users do it through inheritance, it will conflict with the platform created by default. This was not taken into account at that time

[2022-04-12 11:50] qiuguohua opened #10740 "Delete redundant files related to QNX"
Delete QNX template directory(engine\native\templates\qnx)

The qnx platform has been removed in v3.5, this file is not used, so it can be deleted without affecting any functionality

[2022-04-13 02:25] zhefengzhang opened #10743 "After upgrading the 2.x project to 3.5.0 the game has changed dramatically"
### Cocos Creator version

3.5.0

### System information

apple m1, macOS 12.3.1

### Issue description

2.4.6 ttf font effect
![图片](https://user-images.githubusercontent.com/35944775/163085619-9f049734-9c59-41b3-9cf4-91ed59dd6016.png)

3.5.0 ttf font effect
![图片](https://user-images.githubusercontent.com/35944775/163085631-3c055b05-1014-48cf-967a-e64fcbf691c0.png)

Result: 3.5.0 has wrong font sp

[2022-04-13 06:53] jareguo opened #10747 "Provide unified Promise API"
It's 2022, and it's time to evaluate fully enabling Promise.
From a compatibility perspective, a more general solution is to determine whether to use Promise based on the callback function passed in.
Old style:
[code]
New style:
[code]

From https://forum.cocos.org/t/creator/82949
See also
![image](https://user-images.githubusercontent.com/1503156/163117485-e55f0082-9c4a-426e-bacf-4e40b2a8005a.png

[2022-04-13 07:11] pandamicro opened #10748 "Mark deferred renderer and custom render pipeline as experimental"
Please make two new experimental check boxes:

1. Deferred Render Pipeline: if checked show deferred render pipeline choice in project setting, if not hide it.
  - Please try to add it in v3.5
2. Custom Render Pipeline: @star-e please specify the behavior

[2022-04-13 08:53] zhakesi commented on #10743
关于spine/dragonbones挂点问题, 因为实现方式的改动，不支持自动兼容。
需参照V3.5文档 ’Spine 挂点‘ 章节的文档手动修改设置方式.(注：v3.5.0的版本与之前3.x的版本设置方式也略有差异)

[2022-04-13 09:05] jareguo commented on #10638
中东 layout 的镜像可以放到第二期实现。第一期相关任务：https://github.com/cocos/3d-tasks/issues/9103

[2022-04-13 09:14] bofeng-song commented on #10737
https://github.com/cocos/cocos-engine/pull/10750

[2022-04-13 09:27] novain1102 commented on #10674
The current uninterrupted signal transmission implementation does not support restart operation (related to terminate app). Consider reimplementing the above function in the future. @minggo

[2022-04-13 09:28] bofeng-song commented on #10737
make sensor`s feature can be config at running

[2022-04-13 10:03] minggo commented on #10674
Got it, so it is a new feature request. Change to v3.6.

[2022-04-13 19:12] Ronsku commented on #10747
Like mentioned on Trello side and in the screenshot above:
Would it be possible to make functions like `instantiate(prefab)` asynchronous as well? and maybe even functions like `node.addNode(...)` / `node.destroy()`?
Especially instantiate() can sometimes take a a while to instantiate a bigger prefab on a weak device. I know there are workaround like adding a component on the prefab and running on

[2022-04-13 19:29] Ronsku commented on #10685
This definitely works for me in CC 3.4.2. When I check something off and restart Cocos Creator it stays that way.
The selections are updated in this JSON file
![image](https://user-images.githubusercontent.com/7983358/163254219-3799d8ea-6c5b-45d2-937a-2c6a600f36ee.png)

The issue I'm having is the size of cc.js:
**CC 3.4.2** (everything checked)
![image](https://user-images.githubusercontent.com/7

[2022-04-14 03:26] timlyeee commented on #10705
That's weird, recent version I didn't meet this problem

[2022-04-14 03:29] JoneLau opened #10755 "add the function of scaling the mesh itself."
### Cocos Creator version

3.4.2

### System information

macOS Monterey 12 beta，M1

### Issue description

developers can freely adjust the mesh size

### Relevant error log output

_No response_

### Steps to reproduce

see the issue description

### Minimal reproduction project

_No response_

[2022-04-14 06:04] minggo opened #10762 "Memory leak in StringPool"
[code]

Currently, StringPool is used in FrameGraph.
Maybe can use ccstd::string instead?

[2022-04-14 06:08] minggo commented on #10762
Oh, the memory is freed in destructor.

[2022-04-14 06:08] #10762 closed, assigned to nobody

[2022-04-14 07:12] pandamicro commented on #10659
Not an isolated issue, it's widely produced in many webgl based project, the direct reason is Apple enables "WebGL via Metal" by default on iOS 15.4.

https://github.com/openlayers/openlayers/issues/13486
https://github.com/mapbox/mapbox-gl-js/issues/11609
https://github.com/mrdoob/three.js/issues/23733

The work around is to disable `WEBGL_ANTIALIAS` in project settings for iOS build.
We are stil

[2022-04-14 08:16] zhefengzhang commented on #10743
The richText underline does not appear by switching scenes or re-opening the editor.

[2022-04-14 08:27] AndyYuTian opened #10767 "Better indication for particle materials"
### Cocos Creator version

3.6.0

### System information

all

### Issue description

Currently it is an hack of how engine decides which material is particle material. It needs to better indicates why particle material is special, and recongnize particle material by its traits instead of its name.

cocos/cocos-engine/blob/ef013fc8c3ea5ce79cbc7d855e7b41d52b65bb1a/cocos/particle/renderer/particle-s

[2022-04-14 09:28] bofeng-song commented on #10737
https://github.com/cocos/cocos-engine/pull/10770

[2022-04-14 09:45] xianyinchen opened #10771 "a 3d model present nothing on android 11"
### Cocos Creator version

3.4.2

### System information

Android 11

### Issue description

some  project and android native build, use GLES3, on android 11 devices present nothing, no get any error.
![DCIM(2)](https://user-images.githubusercontent.com/8321365/163359085-542d7ebf-6804-4a3f-8472-fb5b2bfde0a4.jpg)

### Relevant error log output

_No response_

### Steps to reproduce

just contact me

[2022-04-15 02:09] Zhmz commented on #10743
In v3.5
, the width of the outline is calculated into the width of the font, but in v2.4, it is not.
Outline and Shadow components are planned to be resturctured in these coming versions.

[2022-04-15 03:17] Zhmz commented on #10743
![企业微信截图_16499924975085](https://user-images.githubusercontent.com/32831993/163512673-6ff9740a-e59a-418d-99c4-6fcfa9d9f0e9.png)
![image](https://user-images.githubusercontent.com/32831993/163512651-efe1ea1c-b280-46d4-8df1-1bb9df8f0ec3.png)
the underline in editor is missing, but it is visible in runtime on chrome.

[2022-04-15 08:22] minggo commented on #10634
Current implementation of `CC_NEW` is
[code]

It has problem when using codes like this
[code]
The compiling error is
[code]
Because `T` includes `,`, which is treat as parameter separator of macro.

So i think should change the macro to
[code]

Why need `CC_NEW` if it is the same as `new`?
The reason is that, when in debug mode, we can change it to
[code]
And it can work with custom operator.

[c

[2022-04-15 10:02] OnlyKoei opened #10782 "MOUSE_MOVE event does not get the mouse button"
### Cocos Creator version

3.4.2

### System information

chrome

### Issue description

Issue Source：https://forum.cocos.org/t/topic/134410

MOUSE_DOWN and MOUSE_MOVE callbacks using getButton() to get 0 when the left mouse button is clicked.
When the right mouse button is clicked, the MOUSE_DOWN callback uses getButton() to get 2, but the MOUSE_MOVE callback uses getButton() to get 0.
![image](h

[2022-04-15 10:48] OnlyKoei opened #10785 "The scrollbar is not displayed properly."
### Cocos Creator version

3.4.2，3.5.0

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/127414

### Relevant error log output

_No response_

### Steps to reproduce

editor:
![image](https://user-images.githubusercontent.com/40415168/163562222-5ac11449-e1ad-442e-bcfa-3b8cc1741e4d.png)

preview:
https://user-images.githubusercontent.com/40415168/163562282-21

[2022-04-15 10:56] minggo commented on #10634
After changing the implementation, the usage of `CC_NEW` is
[code]

[2022-04-15 11:05] pandamicro opened #10786 "Vulkan rendering issue with specific auto atlas setting"
Environment to reproduce
1. Using auto atlas for packing textures
2. Using texture in UI Sprite
3. Using Vulkan backend
4. Most Android device can reproduce, but some are ok

Auto atlas settings causing issue
![企业微信截图_16500034304267](https://user-images.githubusercontent.com/632460/163563579-08c8d178-72bc-4746-ae1e-d01f3246dbe1.png)

Auto atlas settings without issue
<img width="545" alt="wecom-te

[2022-04-15 13:04] dumganhar commented on #10634
How about using lowercase ? The usage of ccnew is more like the original new operator and easier to type than CC_NEW.

[2022-04-15 14:25] shrinktofit opened #10787 "FBX importer is generating non-existing morph animation"
### Cocos Creator version

3.5.0

### System information

Windows 11

### Issue description

FBX importer is generating non-existing morph animation

### Relevant error log output

_No response_

### Steps to reproduce

Import a FBX containing morph data but containing no morph animation. An empty morph animation is generated.

Or: https://forum.cocos.org/t/morph/97659/4

### Minimal reproduction

[2022-04-16 11:33] lootnath opened #10789 "Is this for cockus of United Kingdom Amrika?"
Is this for cockus of United Kingdom Amrika?

[2022-04-17 08:42] az198071123 opened #10790 "[2.4.8] mobx-keystone import error"
### Cocos Creator version

2.4.8

### System information

MacOS 12.3

### Issue description

I try to use `mobx-keystone` from npm
when I just define a `RootStore` class and extends `Model` (from mobx-keystone) and I got error in Editor.
<img width="914" alt="image" src="https://user-images.githubusercontent.com/5800906/163707338-30d5376d-a322-42f4-87ee-44992cc2627d.png">

please help me take a lo

[2022-04-17 09:18] pandamicro commented on #10789
We are a game engine, I don't think your issue is related to the engine, please take a look at our website
https://www.cocos.com/

[2022-04-17 09:18] #10789 closed

[2022-04-18 01:56] minggo commented on #10634
In our coding style, macro should use capital words.

[2022-04-18 02:23] dumganhar commented on #10634
Yep, I know our coding style. But the macro for replacing the standard `new` operator is special. O3DE also has the coding style to require macros to be uppercase, but they defined it as `aznew`.

[code]

vs

[code]

[2022-04-18 02:27] dumganhar commented on #10634
Some similar thing in O3DE is the macro `azdynamic_cast` for replace  `dynamic_cast`.

(1)
[code]

(2)
If they define them as
[code]

It will not make developer think easily what to replace `dynamic_cast` if using the uppercase macro AZDYNAMIC_CAST.
`new` -> `aznew` is in the same case.

[2022-04-18 02:34] dumganhar commented on #10731
Should `=` alignment be set false too ?
[code]

[2022-04-18 02:44] minggo commented on #10731
Yep, it seems you are right. I am not sure, just want to remove these rules.

[2022-04-18 03:02] minggo commented on #10634
O3DE use `aznew` and `delete` like
[code]

They are not consistent, one uses macro, and another doesn't. And why `CC_NEW` is strange?

[2022-04-18 03:30] dumganhar commented on #10634
This is another topic. Yes, if defining a `azdelete` macro for `delete` to make it a pair of `aznew` is also ok.
They also have `azcreate` & `azdestroy` macros which is a pair.

- Need type more
- Type should be right after CC_NEW, and type starts with capital word too.  `CC_NEW MyClass()` is strange, but if the macro are`auto * p = CC_NEW(MyClass, arg1, arg2)`  or ` auto * p = ccnew MyClass(arg1,

[2022-04-18 03:42] minggo commented on #10634
What i mean is that we should not just copy O3DE, we should think what is better. O3DE just define `azmalloc`, it is a macro, and also has parameters, but it also uses lower case letters. Do you think it is better than `AZ_MALLOC`?

What you mean is that, if a macro doesn't use like a function, then it is strange?

[2022-04-18 03:42] minggo commented on #10634
What i mean is that we should not just copy O3DE, we should think what is better. O3DE just define `azmalloc`, it is a macro, and also has parameters, but it also uses lower case letters. Do you think it is better than `AZ_MALLOC`?

What you mean is that, if a macro doesn't use like a function, then it is strange?

[2022-04-18 03:43] dumganhar opened #10792 "The Swig IDL tool for generating code from c++ header files"
The problems of current binding-generator:
- Using libclang to parse c++ header files instead of parsing  IDL files
- It's difficult for some developers to setup the tool environment which needs correct version of python & android ndk
- It's hard to extend its functionalities
- Its configuration file (tools/tojs/aaa.ini) is hard to understand
- It depends on specific android ndk version to generat

[2022-04-18 03:57] dumganhar commented on #10634
I agree this. But we need to know better that why they designed that lowercase macros. There should be some reasons.  The previous reply is what I guess and my understanding of O3DE in my perspective.

The `malloc` is also a macro on some systems. It's a macro to wrap function, azmalloc(100) & AZ_MALLOC(100) are both ok for me.

But `new` is a c++ builtin operator rather than a function.

[2022-04-18 05:43] minggo commented on #10634
But new is a c++ builtin operator rather than a function.

My question is that, why you think CC_NEW is strange?

If you look at the codes of O3DE, you can find many macros don't use uppercase. For example, `AZ_Crash` and `az_ctz_u32`. The coding style is not consistent.

[2022-04-18 05:48] minggo commented on #10731
If changing the coding style, then all codes will be affected. So i will change the rules and format all codes after v3.5 is released and is merged to v3.6.

[2022-04-18 05:52] dumganhar commented on #10634
I think I replied the reason here:

Anyway, this does not matter a lot. `auto* p = CC_NEW MyClass()` or `auto*  p = ccnew MyClass()` is both ok for me now.

[2022-04-18 06:05] minggo commented on #10731
Of course, i can disable the CI workflow first.

[2022-04-19 02:34] minggo commented on #10634
After thinking a lot and do some prototype, i think using `ccnew` and `delete` is ok, so the codes looks like
[code]

[2022-04-19 05:05] speakissilver commented on #10688
@jareguo
ok
this issue has been resolved
But still hope that the file content can be corrected

https://docs.cocos.com/creator/manual/zh/advanced-topics/engine-customization.html

[2022-04-19 05:05] #10688 closed, assigned to timlyeee

[2022-04-19 08:23] novain1102 commented on #10674
Currently, If you use game.restart() to restart the engine, uninterrupted signal transmission should be work(as your description shows). And if you click close button and reopen the App, uninterrupted signal transmission couldn't work. So what are the specific needs of users? @xianyinchen

[2022-04-19 13:58] pandamicro opened #10808 "Diffuse map not applied after removing env map and reset them"
Steps to reproduce

1. Enable HDR, Envmap and diffuse map in scene, use diffuse map with reflection ibl type
<img width="837" alt="企业微信截图_cd89c8d3-f0da-4548-8724-4850bf316d39" src="https://user-images.githubusercontent.com/632460/164019016-30f959bf-5a98-498c-ba0d-8b8edd89c0e2.png">
2. Disable HDR, remove envmap, re-enable HDR, reset envmap
3. Switch to hemi sphere diffuse ibl type
<img width="805"

[2022-04-20 03:12] minggo commented on #10688
@speakissilver i corrected the documentation in https://github.com/cocos/cocos-docs/pull/2044.

[2022-04-20 07:52] jareguo commented on #9500
怀疑是特殊设备配合特殊版本导致的问题，目前没有重现环境，按讲 iOS 出现这种特殊环境下的问题概率很低，请客户尝试 HelloWorld 项目看看是不是自己项目导致的、或者升级到引擎 3.5 版本看看。如果仍然有问题请客户协助提供测试环境，否则我们也没办法排查。

[2022-04-20 10:18] OnlyKoei opened #10814 "Native getSlot and getAttachment return incorrect data"
### Cocos Creator version

3.4.2

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/134521
The data returned by web and native is different。
web: (getAttachment)
![image](https://user-images.githubusercontent.com/40415168/164205674-e7eac426-43a0-440c-b676-22af81b38f72.png)

native: (getAttachment)
![image](https://user-images.githubusercontent.com/40415168/16

[2022-04-20 10:53] #10808 closed, assigned to arsen2010, jk20012001

[2022-04-21 03:20] minggo opened #10819 "Deprecated API doesn't work as expected"
Currently, some deprecated API are just put into a named deprecated.ts(for example, [UI deprecated API](https://github.com/cocos/cocos-engine/blob/develop/cocos/ui/deprecated.ts) ), and keep compatible. But not any warning message is printed if using these deprecated API. So should:
- print warning message if using these deprecated API
- the engine codes should stop using these deprecated API

[2022-04-21 03:55] pandamicro opened #10821 "Add class deprecation function"
In x-deprecated there are only deprecation for methods or properties, we need deprecation for classes.

Currently class deprecation can't be removed, because two reasons

1. Using direct name alias exporting: https://github.com/cocos/cocos-engine/blob/v3.5.0/cocos/ui/deprecated.ts
2. Deprecate message in constructor but user may still use static method: https://github.com/cocos/cocos-engine/blob/v

[2022-04-21 04:03] stanleyljl opened #10822 "Refactoring the engine exit process"
### Cocos Creator version

3.6.0

### System information

all platforms

### Issue description

Engine exit process is not standardized, causing many problems.

### Relevant error log output

_No response_

### Steps to reproduce

Start, run, exit the game normally.

### Minimal reproduction project

_No response_

**First iteration result:**

![image](https://user-images.githubusercontent.com/262

[2022-04-21 07:12] #10740 closed, assigned to qiuguohua

[2022-04-21 07:13] pandamicro commented on #10659
Can't be resolved in v3.5, we will continue to monitor the issue in future version

[2022-04-21 07:19] SantyWang commented on #10743
@Zhmz Need to find out why the underline disappears in the editor

[2022-04-21 07:19] #10756 closed, assigned to Zhmz

[2022-04-21 07:20] Zhmz commented on #10756
this issue had been resolved by PR#10754

[2022-04-21 07:24] hana-alice commented on #10637
swappy is optional now:  https://github.com/cocos/cocos-engine/pull/10773

[2022-04-21 07:24] #10637 closed, assigned to hana-alice

[2022-04-21 07:26] chichinohaha commented on #10438
@ChannuKonin
Sorry, could you please provide us with the pictures generated by your baking

[2022-04-21 08:50] Zhmz commented on #10743
![企业微信截图_16505286694553](https://user-images.githubusercontent.com/32831993/164417315-989daa4e-ccd4-47f8-a065-f021ccdfb595.png)

ununderlineheight of the segment in richtext had not assigned with any value.
we need to assign it in getSegmentByPool extrally.

[2022-04-21 09:31] minggo opened #10829 "v3.6.0 feature note"

[2022-04-21 09:34] minggo commented on #10829
native related:
- implements more classes in C++, improve performance
- unify stl container usage, all containers are added in ccstd namespace
- use ccnew/delete instead of CC_NEW/CC_DELETE https://github.com/cocos/cocos-engine/issues/10634
- add high level JS binding codes https://github.com/cocos/cocos-engine/pull/11125 need documentation @PatriceJiang
- [Android] integrate Android game activity

[2022-04-21 09:40] stanleyljl commented on #10829
all platforms:

- add dynamic mesh
- add spline utility class

native related:

- add freetype & bitmap font
- add debug renderer
- add profiler

[2022-04-21 09:40] #10737 closed, assigned to bofeng-song

[2022-04-21 09:42] #10634 closed, assigned to minggo

[2022-04-21 09:58] MSoft1115 commented on #10829
terrain brush support rotation
meshrenderer auto set lightmap for render
lightmap baker support tga texture

[2022-04-21 10:19] linruimin opened #10830 "Saving Illuminance does not work"
### Cocos Creator version

3.4.2

### System information

Windows 10 Editor

### Issue description

Edit Illuminance and save it, after change scene and change back, the value back to before edit.
![image](https://user-images.githubusercontent.com/18083506/164433938-f9ac857b-2dda-4d74-9259-54af97b980b9.png)

Try to check HDR, and then it works, the Illuminance value can save after HDR is checked.

[2022-04-21 13:39] #10830 closed, assigned to jk20012001

[2022-04-22 01:59] minggo opened #10834 "JSB binds wrong value of BigInt"
BigInt is bound as double to JS like this
[code]

[2022-04-22 02:11] minggo commented on #10834
There is a PR for it: https://github.com/cocos/cocos-engine/pull/10811.

[2022-04-22 03:08] pandamicro commented on #10821
https://github.com/cocos/cocos-engine/issues/10819

[2022-04-22 06:04] shrinktofit opened #10839 "[Feature Request] Warn if importing CommonJS through named import pattern"
Currently we only allow the CommonJS module exports to be imported as ES module default export. So it'd be better if we can warn on users' misbehaviour.

-----------------

## Example: Node.js behaviour

[code]

`node ./test.mjs` outputs the following error:

[code]

[2022-04-22 06:11] UniqueDisplayNameIsInUse opened #10840 "v3.5 api-task"
- [x]  中文版显示为英文注释
- [x]  有索引列表，注释过长时，会被遮挡  如 Macro（Window10 + Chrome 测试未发现该问题，需在Mac+Safari下测试）
- [x]  英文版有中文翻译，例如： degreesToRadians，每个页面仅展示 1 个图片。
1. https://test-docs.cocos.com/creator/3.5/api/en/class/Graphics
![image](https://user-images.githubusercontent.com/97574620/164616221-985c13da-5eeb-40db-a07b-433790839a28.png)
2.https://test-docs.cocos.com/creator/3.5/api/en/class/UI
![image](https://u

[2022-04-22 06:13] shrinktofit commented on #10839
@PPpro  we can also enable the "named export guess" :)

[2022-04-23 03:43] xianyinchen commented on #10674
Usually, the mobile application will only be switched to the background, but users expect the app to close and need support breakpoint continuation work.

[2022-04-24 08:12] SantyWang opened #10846 "API i18n optimization"
[code]

[2022-04-24 08:19] SantyWang opened #10847 "API i18n optimization"
[code]

[2022-04-24 08:25] SantyWang opened #10849 "API i18n Optimization"
[code]

[2022-04-24 08:30] SantyWang opened #10850 "API doc i18n optimazation"
[code]

[2022-04-24 08:37] SantyWang opened #10851 "API doc i18n optimization"
[code]

[2022-04-24 08:40] SantyWang opened #10852 "API doc i18n optimization"
[code]

[2022-04-24 08:51] qiuguohua opened #10853 "Canvastextalign and canvastestbaseline should be defined in the class"
![image](https://user-images.githubusercontent.com/5205637/164968396-33e0603c-3ef7-4aa9-90a3-3cf4592c4314.png)

[2022-04-24 10:33] Zhmz commented on #10851
![企业微信截图_16507954116395](https://user-images.githubusercontent.com/32831993/164972249-44948d91-7a02-4e31-a69b-9554ca47c435.png)
the “Tween” is scaned from the tag in "{}", no need to modify

![企业微信截图_16507951716934](https://user-images.githubusercontent.com/32831993/164972304-61592f63-50d2-44c0-95a8-8a19b6d10209.png)
"TAG_INVALID" is scaned exceptionally.

[2022-04-24 10:33] #10851 closed, assigned to Zhmz

[2022-04-25 06:43] zhefengzhang opened #10864 "[3.4.2] Importing 2.x to 3.4.2 version using importer, editor crashes"
### Cocos Creator version

2.4.6、3.4.2

### System information

windows

### Issue description

The user has a large amount of project resources, about 60,000 resources. Every time we use the importer to import the project from version 2.x to version 3.4.2, it crashes. After talking with our editor colleague @arsen2010, we confirmed that the editor crashes after taking up too much memory.

### Rel

[2022-04-25 07:14] SantyWang commented on #10846
[code]

[2022-04-25 07:46] SantyWang commented on #10846
[code]

[2022-04-25 10:36] #10847 closed, assigned to zhakesi

[2022-04-25 14:56] #10852 closed, assigned to zxx43

[2022-04-26 02:41] dumganhar commented on #10792
Problems need to be fixed:

- [x] Swig doesn't support to bind Nest Class like which in binding-generator
- [ ] Generate %attribute code in swig interface file according original TS file automatically.

[2022-04-26 09:16] SantyWang opened #10884 "ScrollBar not showing when content size changed"
related discussion: https://discuss.cocos2d-x.org/t/scrollbar-not-showing-when-content-size-changed/56027

[2022-04-26 09:26] Zhmz opened #10886 "layouts do not refresh when subnodes with layout are hidden"
### Cocos Creator version

3.6.0

### System information

All

### Issue description

![4971b7a66bfa4a0637d713e3c3cf16c0_](https://user-images.githubusercontent.com/32831993/165267695-f0a8f7d6-3071-4118-acc5-a0f971b97c21.png)
when the layout3 is hidden, the layout2 cannot still align to center.

### Relevant error log output

_No response_

### Steps to reproduce

1. create layout1
2. create layou

[2022-04-26 10:18] OnlyKoei opened #10887 "Incomplete particle release."
### Cocos Creator version

3.4.2

### System information

android

### Issue description

Before loading：
![image](https://user-images.githubusercontent.com/40415168/165276409-1ad9dd78-4d5e-4f36-92a3-1080ee0454f2.png)

After loading:
![image](https://user-images.githubusercontent.com/40415168/165276576-bb62ec8c-7467-4fed-9981-f12a9daa8084.png)

After release：
![image](https://user-images.githubuse

[2022-04-26 10:26] Zhmz commented on #10886
related PR(probable cause):
https://github.com/cocos/cocos-engine/pull/9914

[2022-04-26 11:15] #10850 closed, assigned to PPpro

[2022-04-26 11:15] #10849 closed, assigned to LinYunMo

[2022-04-26 11:15] #10846 closed, assigned to shrinktofit

[2022-04-26 17:25] yanjifa opened #10891 "Editor Spine animation can not set to "None""
### Cocos Creator version

3.5.0

### System information

Mac OS

### Issue description

控制台报错如下：
[Scene] Spine: Animation not found: \<None\>

### Relevant error log output

_No response_

### Steps to reproduce

None

### Minimal reproduction project

_No response_

[2022-04-27 02:38] pandamicro opened #10893 "Support cameras render to different Android Views"
Verification needed:

1. Camera attach to different swap-chains @star-e
2. Swap-chains output bind to different Android views @minggo

[2022-04-27 06:59] #10822 closed, assigned to stanleyljl

[2022-04-27 07:09] OnlyKoei opened #10900 "Graphical drawing errors"
### Cocos Creator version

3.4.2，3.5.0

### System information

chrome，native

### Issue description

![image](https://user-images.githubusercontent.com/40415168/165457860-a0b62ac1-bb1b-43db-bd00-b747feaf55d0.png)

This problem is caused by the different conditions established in sortLink, resulting in different plotting point generation.
![image](https://user-images.githubusercontent.com/40415168

[2022-04-27 09:00] arsen2010 commented on #10438
we are dealing with this issue.

[2022-04-27 10:41] minggo opened #10904 "Is CC_ASSERT needed?"
The implementation if `CC_ASSERT` is
[code]

It just invoke `assert`, and should include `Macros.h` to use it. So do we need this macro?

[2022-04-27 10:43] jareguo commented on #10864
It feels like when importing, we can't import too many at once, we have to make it in batches

[2022-04-27 12:00] W-MTZing opened #10905 "webgl2.0 UBO bufferSubData performance loss"
### Cocos Creator version

3.4.2

### System information

webgl2.0 iOS 14.3, iOS15.1

### Issue description

This problem is caused by the difference in the use of [buffersubdata](https://www.khronos.org/registry/OpenGL-Refpages/gl4/html/glBufferSubData.xhtml), please refer to the following paragraph：
"Consider using multiple buffer objects to avoid stalling the rendering pipeline during data stor

[2022-04-27 14:32] pandamicro commented on #10905
The problem occurs on runtime platform using GLES 3.0 backend and Wechat WebGL 2.0 backend.
If update the same Uniform Buffer multiple times using `glBufferSubData`, the performance will drop drastically, but if changing to `glBufferData`, the performance will return to normal.

@star-e please help provide insights and possible solution

[2022-04-27 15:19] star-e commented on #10905
When the buffer is in device memory, we need to use triple-buffer if it is updated frequently (PerFrame).
Or we can use dynamic buffer, which supports fast cpu write.

[2022-04-27 16:32] jareguo opened #10906 "Support dragging any material/texture directly to the scene to quickly set object materials"
### Use Case

Any 3D scene

### Problem Description

Material assignment is not convenient enough

### Proposed Solution

When dragging any material/texture to the scene, set the material of the currently pointed object directly.

### How it works

If moving the cursor among scene objects, only the current hovering object will apply the material, the last hovered object will revert changes.
If can

[2022-04-28 01:51] bofeng-song commented on #10904
Mostly, user need log info. And at release mode may be user also want to abort application running

[2022-04-28 01:57] minggo commented on #10904
Why not invoke log function?

Assert is known as take effect with debug mode. If want to abort application in release mode, then should define another function. Or how do you know should abort or not in release mode?

[2022-04-28 02:23] arsen2010 commented on #10906
relate issue https://github.com/cocos/3d-tasks/issues/11964

[2022-04-28 02:43] OnlyKoei opened #10909 "Cannot read property 'vb' of null"
### Cocos Creator version

3.4.2，3.5.0

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/134721

![image](https://user-images.githubusercontent.com/40415168/165665539-1f5ec046-15b2-4671-a74d-12ebebff8e2d.png)

### Relevant error log output

_No response_

### Steps to reproduce

demo:
[NewProject_26.zip](https://github.com/cocos/cocos-engine/files/8579112/Ne

[2022-04-28 03:25] minggo commented on #10904
@dumganhar @stanleyljl @star-e any idea?

[2022-04-28 03:33] star-e commented on #10904
I suggest keeping `CC_ASSERT`.
`assert` is disabled by `NDEBUG`, which is defined in Release build.
Sometimes, we want to assert in Release mode (with `NDEBUG` defined). This cannot be achieved using `assert`.
We can implement custom behavior using `CC_ASSERT` in this situation.

[2022-04-28 03:35] dumganhar commented on #10904
There is an  advantage to keep using CC_ASSERT in our code:
It will be easier to replace the implementation of CC_ASSERT, e.g. not depend the system `assert`.
[code]

[2022-04-28 03:41] star-e commented on #10904
`CC_ASSERT` also looks better.
`assert` looks like a function, which is inconsistent with our naming convention.

[2022-04-28 03:53] minggo commented on #10904
Though i don't agree should abort it in release mode using CC_ASSERT, but i agree that it keeps the ability to do more things in future. Then, let's keep it.

[2022-04-28 03:53] #10904 closed, assigned to minggo

[2022-04-28 08:05] #10909 closed, assigned to LinYunMo

[2022-04-30 23:54] minggo commented on #10731
Adjust format like this
- delete these rules
[code]
- modify pointer alignment rule
change
[code]
to
[code]
In previous, pointer alignment has different behavior with different clang-tidy version.

I sent a PR to modify it, and format all codes https://github.com/cocos/cocos-engine/pull/10919

[2022-05-01 00:09] minggo commented on #10520
I removed duplicated codes in https://github.com/cocos/cocos-engine/pull/10917.

[2022-05-01 00:09] #10520 closed, assigned to minggo

[2022-05-05 03:28] dumganhar opened #10929 "Hash computation in native engine causes loss of precision"
## Background

Javascript VM (e.g. V8) uses `Double` to store number for representing both Integer & Double. There is a SMI (Small Integer) optimization that if an integer is less than 31 bits on 32  bits architecture device or less than 32 bits  on 64 bits architecture device. SMI is not what we need to discuss here. We're discussing the situation of how JS VM bind an integer that larger than 32

[2022-05-05 04:01] #10506 closed, assigned to nobody

[2022-05-05 04:02] a22aaass commented on #10506
什么事吖

[2022-05-05 04:08] pandamicro commented on #10705
@bofeng-song please provide how this crash is related to Swappy

[2022-05-05 04:36] OnlyKoei opened #10931 "RichText image not getting"
### Cocos Creator version

3.4.2，3.5.0，2.4.9

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/134728
![image](https://user-images.githubusercontent.com/40415168/166868557-747b1daf-cefc-410b-89e6-ebd03d363f88.png)

### Relevant error log output

_No response_

### Steps to reproduce

2.4.9 demo:
[NewProject.zip](https://github.com/cocos/cocos-engine/files/86

[2022-05-05 04:38] star-e commented on #10929
We should store the actual key/descriptor along with the hash value.
In case of hash collision (value found), we can use the key to do equal comparison. (Just like std::unordered_map)
In this case, 32bit hash-value is enough.

If we don't have the original key/descriptor, UUID is required.
This UUID is at least 53bit and128bit is better. Using domain specific UUID as seed, and `hash_combine` with

[2022-05-05 05:46] zhefengzhang opened #10934 "An error is reported when a material in the project has the same name as the editor's built-in material"
### Cocos Creator version

3.5.0-20220428

### System information

windows

### Issue description

![图片](https://user-images.githubusercontent.com/35944775/166868741-0b5a6e64-b754-443f-be74-52fa929fc239.png)

### Relevant error log output

_No response_

### Steps to reproduce

Import test resources into the project.

### Minimal reproduction project

[effects.zip](https://github.com/cocos/cocos-e

[2022-05-05 05:48] zhefengzhang commented on #10934
@holycanvas 请关注一下这个问题

[2022-05-05 05:48] dumganhar opened #10935 "[v3.6] Performance Test for loading large scenes"
We have moved most classes in 3d assets from JS to cpp. But we continue to depend on the deserialization logic in JS which will cause a lot of JSB invocations if loading a large scene.

Therefore, we need to do more performance test and figure out how much performance cost in v3.6.
If the performance of v3.6 is exactly lower than v3.5, we need to find a better way to avoid. For example, we could t

[2022-05-05 05:52] #10743 closed, assigned to Zhmz

[2022-05-05 06:12] dumganhar opened #10936 "Switch JS binding tools from binding-generator to Swig"
This issue is a sub task for https://github.com/cocos/cocos-engine/issues/10792

Auto binding glue code is generated by `bindings-generator` in the past, the `bindings-generator` is old, hard to maintain, lack of features. You could refer to the issue above.

Modules (tools/tojs) need to be handled include:

- [x] assets
- [x] audio
- [x] cocos
- [x] dragonbones
- [x] editor_support
- [x] extensio

[2022-05-05 06:32] dumganhar commented on #10929
In case of hash collision (value found), we can use the key to do equal comparison. (Just like std::unordered_map)
In this case, 32bit hash-value is enough.

The hash APIs  in our engine are something like getHash, computeHash and return an ID. If we store key/descriptor for classes need hash functionality, it will take more memory, every time a hash value is required, we need to check whether the

[2022-05-05 06:36] SantyWang commented on #10935
Performance Record

windows-v3.5:
LoadScene 408.01820000074804 ms
InitScene: 14.396399999968708 ms
Activate: 2359.523299999535 ms

windows-v3.6
loadScene: 879 ms
InitScene: 83.0773999998346 ms
Activate Scene: 3982.9556999998167 ms

project:
[Performance-Loading-3.6.zip](https://github.com/cocos/cocos-engine/files/8630706/Performance-Loading-3.6.zip)

[2022-05-05 06:46] bofeng-song commented on #10705
Swappy has been disabled by default. And we can not reproduce the problem any more.

[2022-05-05 07:21] holycanvas commented on #10935
Performance Hot Spot
![image](https://user-images.githubusercontent.com/15109777/166878124-0e8a128a-8def-49b0-a516-969538a1e4f3.png)
![image](https://user-images.githubusercontent.com/15109777/166878264-a55fd50a-9902-4354-8fd0-674e40ac6ad6.png)

[2022-05-05 10:14] OnlyKoei opened #10946 "[2.x][ios]Cannot set the current playback time of the video"
### Cocos Creator version

2.4.9

### System information

ios

### Issue description

https://forum.cocos.org/t/topic/135112
Using `videoplayer.currentTime = 30` does not modify the current playback progress.

The reason for this is that the video and videoplayer components are not synchronized with the currentTime on the web platform.

### Relevant error log output

_No response_

### Steps to re

[2022-05-05 10:21] OnlyKoei opened #10947 "scrollview scrolling exception"
### Cocos Creator version

3.4.2，3.5.0，2.4.9

### System information

chrome

### Issue description

https://forum.cocos.org/t/topic/135015
![GIF 2022-4-30 12-12-39](https://user-images.githubusercontent.com/40415168/166904695-a320bb3e-cb76-4bc0-83fe-b4bda4260690.gif)

### Relevant error log output

_No response_

### Steps to reproduce

2.x demo:
[ScrollView-Bug2.4.8.zip](https://github.com/cocos

[2022-05-06 02:21] SantyWang opened #10949 "API docs optimization part 2"
[API文档-英文0505.docx](https://github.com/cocos/cocos-engine/files/8637136/API.-.0505.docx)

please check UI/2D part of api docs

[2022-05-06 02:25] SantyWang opened #10950 "API docs optimization part 2"
[API文档-英文0505.docx](https://github.com/cocos/cocos-engine/files/8637136/API.-.0505.docx)

please check DB/Spine part of api docs

[2022-05-06 02:28] SantyWang opened #10951 "API docs optimization part 3"
[API文档-英文0505.docx](https://github.com/cocos/cocos-engine/files/8637136/API.-.0505.docx)

please check animation part of api docs

[2022-05-06 02:32] arsen2010 commented on #10438
We fix this bug on UI component in editor, and would be release it at v3.5.1

[2022-05-06 02:32] #10438 closed, assigned to arsen2010

[2022-05-06 02:54] shrinktofit commented on #10951
https://github.com/cocos/cocos-engine/pull/10953

[2022-05-06 03:13] qiuguohua opened #10955 "DeviceEvent prefix is redundant, parameters are not clear"
DeviceEvent prefix is redundant, parameters are not clear

[2022-05-06 05:04] KKK13121997 opened #10960 "cc.macro.KEY can't get keyCode 6,8,9 because duplicated key with back, backspade and tab"
### Cocos Creator version

2.4.6

### System information

All

### Issue description

[code]

### Relevant error log output

output: back, backspade, tab
expect : 54, 56, 57

### Steps to reproduce

using the code above

### Minimal reproduction project

_No response_

[2022-05-06 07:46] minggo commented on #10929
I suggest to use BitInt, and just use hash value to check conflict, not use it for other computation. Then i think it will not affect performance.

[2022-05-06 07:55] novain1102 commented on #10674
The old version downloader DO NOT support break-point download when killApp, and the reason is below:
When the process is killed in the appDelegate, the -applicationWillTerminate: method is called. We expect the task to call the cancelByProducingResumeData: method to suspend the downloading task, but the callback of this method takes time, and the process has terminated before the code block is ex

[2022-05-06 08:30] dumganhar commented on #10935
## Android test result

On Redmi 5 plus Android 8.1.0 (arm64-v8a) (3.5.0)
- LoadScene: 1646ms, 1620ms, 1562ms
- runScene: 4514ms, 4417ms, 4499ms

On Redmi 5 plus Android 8.1.0  (arm64-v8a) (3.6.0)
- LoadScene: 2038ms, 1768ms, 1828ms
- runScene: 2664ms, 2663ms, 2827ms

On Redmi 5 plus Android 8.1.0  (arm64-v8a) (3.6.0 - unify CCObject:  #11060)
- LoadScene: 2063ms, 1815ms, 1831ms
- runScene: 2662ms

[2022-05-06 09:08] dumganhar commented on #10935
## iOS test result

On iphoneX iOS12.0 (3.5.0)
- LoadScene: 595ms, 600ms, 593ms
- runScene: 1011ms, 1024ms, 1035ms

On iphoneX iOS12.0 (3.6.0)
- LoadScene: 647ms, 492ms, 498ms
- runScene: 625ms, 583ms, 568ms

On iphoneX iOS12.0 (3.6.0 - after unifying CCObject: https://github.com/cocos/cocos-engine/pull/11060 )
- LoadScene: 651ms, 501ms, 497ms
- runScene: 568ms, 548ms, 531ms

---------------------

[2022-05-06 09:37] #10951 closed, assigned to shrinktofit

[2022-05-06 09:54] minggo commented on #10935
Good news.

[2022-05-06 09:54] minggo commented on #10935
Did you use release mode?

[2022-05-06 10:06] minggo opened #10976 "Confused type name `cylinder`"
The `cylinder` defined in [cylinder.ts](https://github.com/cocos/cocos-engine/blob/v3.6.0/cocos/primitive/cylinder.ts) is
[code]

A [cylinder](https://en.wikipedia.org/wiki/Cylinder) has two radius is confused, does it mean [conical frustum](https://en.wikipedia.org/wiki/Frustum)?

[2022-05-06 10:10] minggo commented on #10705
@bofeng-song how did you know it is caused by Swappy?

[2022-05-06 10:26] yoki0805 opened #10977 "iOS Safari web audio sound crackles"
### Cocos Creator version

3.4.2

### System information

iOS 15.4 Safari, iPhone 6S, iPhone 8, iPhone SE2

### Issue description

Using AudioSource component to play sounds in many times. 5 minutes later, iPhone will be playing noise.

### Relevant error log output

_No response_

### Steps to reproduce

To play sounds in many times.

### Minimal reproduction project

[NewProject.zip](https://git

[2022-05-06 10:28] bofeng-song commented on #10705
I reproduce it by enable Swappy, and the crash will disappear while disable Swappy.
While crash, the crash stack point at swappy api calls.

Maybe the newest version has been fix the crash.

[2022-05-06 10:43] minggo commented on #10705
Is the crash log the same as the issue?

[2022-05-06 11:18] SantyWang commented on #10935
Using release mode

3.5.0:
load scene: 230
init scene: 7
activate scene: 630

3.6.0:
load scene: 278
init scene: 12
activate scene: 495

[2022-05-07 00:56] bofeng-song commented on #10705
I`ve forgotten. Maybe need to use the same version to reproduce it and get the log

[2022-05-07 01:43] minggo commented on #10705
@bofeng-song  As you can not reproduce the issue, i will close it.
@ZeroHackeR please reopen it if you still have the issue.

[2022-05-07 01:43] #10705 closed, assigned to hana-alice

[2022-05-07 01:45] minggo commented on #10935
Good news. So the performance(from loading to see the scene) is better than v3.5.0.

[2022-05-07 02:55] minggo opened #10987 "Manually control the execution of github workflow"
There are some situations we want to manually control the execution of github workflows:
- If a PR doesn't modify any source code, for example, just modify comments, then we want to skip all github workflows. The usage is
[code]
- If a PR only modifies javascript codes, then want to skip native related github workflows(workflows have the name prefix `native-`.), the usage is
[code]
- If a PR only

[2022-05-07 03:00] #10949 closed, assigned to LinYunMo

[2022-05-07 03:52] dumganhar commented on #10935
## Android test result (Demo2, private demo)

On Redmi 5 plus Android 8.1.0 (armeabi-v7a) (3.5.0)
- director.loadScene: 4797ms, 4699ms, 4651ms

On Redmi 5 plus Android 8.1.0  (armeabi-v7a) (3.6.0)
- director.loadScene: 4546ms, 4549ms, 4543ms

---------------------------------------------
On Pixel 4XL Android 13 (armeabi-v7a) (3.5.0)
- director.loadScene: 2474ms, 2422ms, 2406ms

On Pixel 4XL Androi

[2022-05-07 03:54] minggo commented on #10987
It is better that, when PR title is changed, then the execution state of github workflows are changed too. For example,
- At first, the PR only modified ts codes, and the PR title is `[skip native]Modify something`, all native related github workflows will not execute.
- After reviewed, this PR need to modify c++ codes, and change the PR title to `Modify something`, then all github workflows shoul

[2022-05-07 08:56] OnlyKoei commented on #10887
https://github.com/cocos/3d-tasks/issues/11259

[2022-05-07 11:00] xiaobiG opened #10996 "浏览器调整大小导致控件点击响应区域偏移错位（2.4.3版本）"
### Cocos Creator version

2.4.3

### System information

Windows10, Mac , Chrome

### Issue description

Web端调整浏览器窗口大小后会出现挂了Widget的控件的鼠标事件响应区域和实际显示区域偏移错位。

### Relevant error log output

_No response_

### Steps to reproduce

1. 创建带cc.Widget的node，上下左右贴边
2. 添加cc.Button到上述node中
3. 运行，反复改变浏览器窗口大小。

### Minimal reproduction project

[NewProject_1.zip](https://github.com/cocos/cocos-engine/files/86449

[2022-05-07 11:24] #10950 closed, assigned to zhakesi

[2022-05-07 11:30] pandamicro commented on #10887
@OnlyKoei Please attach diagnostic results in the internal issue here and close if applicable

[2022-05-07 16:45] ankye opened #10997 "【3.5.0】cant get https://gitlab.cocos.net/publics/runtime-web-adapter"
### Cocos Creator version

3.5.0

### System information

mac and win11

### Issue description

F:\work\cocos-engine>npm install

[00:38:41] Using gulpfile F:\work\cocos-engine\gulpfile.js
[00:38:41] Starting 'build-debug-infos'...
[00:38:41] Finished 'build-debug-infos' after 18 ms
[00:38:41] Using gulpfile F:\work\cocos-engine\gulpfile.js
[00:38:41] Starting 'build-declarations'...
Typescript ve

[2022-05-08 02:59] OnlyKoei commented on #10887
Update Status.

others memory is the memory opened by v8 engine for old and new generation memory management. It has different memory allocation modes under different kernels on different platforms. It will use mmap reserved memory address in Android environment, because to ensure the application can run properly afterwards. others memory will not fall back on most of the models. Previously, our e

[2022-05-08 07:54] zenskcode opened #10998 "v3.5.0 Particle 2d in prefab reporting error"
### Cocos Creator version

3.5.0

### System information

windows10

### Issue description

Sampler binding ‘cc_spriteTexture’ at set 2 binding 11 index 0 is not bounded

canvas下粒子动画作为预制体嵌入（使用了材质），概率触发该bug，不断报错，触发后点一下从预制体还原，错误消失。看起来像是在不断切换预制体场景时，资源保存写的时候，概率会脏

### Relevant error log output

Sampler binding ‘cc_spriteTexture’ at set 2 binding 11 index 0 is not bounded
![image](https://user-images.g

[2022-05-08 08:55] pandamicro commented on #10998
ParticleSystem can't use Sprite effect, it just won't work, you should remove the custom effect and add UIModelComponent to the particle node.

Please have a try if it's ok or no feed back I will close this issue

[2022-05-08 13:44] zenskcode commented on #10998
我使用的是ParticleSystem2D 与sprite effect，当我设置完成，表现正常，也得到了预期的美术效果。

但是在场景——预制体切换或者预制体之间切换的时候，偶尔会发生上述错误，清除缓存后重新打开工程又表现正常。然后在之后的切换操作中，又会反复出现，又进行清缓存操作。概率发生，但概率比较高。

[2022-05-09 02:28] bofeng-song commented on #10829
Download and install Jdk 11+, then config JAVA_HOME at system variable.  In my environment, I install it at C:\Program Files\Java\jdk-18.0.1, and then config JAVA_HOME for "C:\Program Files\Java\jdk-18.0.1".
![企业微信截图_1652063256911](https://user-images.githubusercontent.com/3078423/167330465-82fdad51-5956-44b8-9d92-943ae41d6d74.png)

![企业微信截图_16520632721218](https://user-images.githubusercontent.co

[2022-05-09 03:02] minggo opened #10999 "Better upgrading experience when native folder breaks compatibility"
Native folder should not break compatibility in principle. But it may in some situations, for example, refactor platform related codes in v3.5.0. Then should let developers know that:
- something break compatibility
- how to upgrade

A possible solution is that:
- Add version config in native folder.
- When break compatibility, add the version.
- When building native projects, check the version, i

[2022-05-09 05:36] PatriceJiang commented on #10506
[Breaking Change] Resource folder name for native platforms has been renamed from `assets/` to `data/`.

[2022-05-09 06:51] dumganhar commented on #10935
## Android test result ( Marionette demo: https://github.com/cocos-creator/example-marionette )

On Redmi 5 plus Android 8.1.0 (armeabi-v7a) (3.5.0)
- director.loadScene -> onLaunch:  8319ms, 8032ms, 7862ms
- onLaunch -> next scene shown: 433ms, 331ms, 330ms

On Redmi 5 plus Android 8.1.0  (armeabi-v7a) (3.6.0)
- director.loadScene -> onLaunch: 5997ms, 5974ms, 5994ms
- onLaunch -> next scene shown

[2022-05-09 09:11] thinhlv opened #11004 "[3.5] Uncaught RangeError: Offset is out of bounds still accured on v3.5"
### Cocos Creator version

3.5.0

### System information

Macos 11.4, Chrome Version 100.0.4896.127 (Official Build) (x86_64)

### Issue description

Ref: https://discuss.cocos2d-x.org/t/3-4-2-spine-issue-uncaught-rangeerror-offset-is-out-of-bounds/55847
This issue has not fixed completely, no error throws for the first time (before 3.5, this will be accured immediately for the first call), but if

[2022-05-09 10:11] GengineJS opened #11005 "The sphere light cannot be displayed under the deferred pipeline"
### Cocos Creator version

3.4.2, 3.5.0

### System information

Win10 Editor, Web

### Issue description

The calculation result of the model position under the deferred-pipeline does not participate in the calculation of spherelight

### Relevant error log output

_No response_

### Steps to reproduce

[testShereLight.zip](https://github.com/cocos/cocos-engine/files/8650713/testShereLight.zip)
O

[2022-05-09 10:41] dumganhar commented on #10935
## Android test result ( UI demo: https://github.com/cocos/cocos-example-ui/tree/v3.1  )

On Redmi 5 plus Android 8.1.0 (armeabi-v7a) (3.5.0)
- director.loadScene -> onLaunch:  720ms, 736ms, 734ms
- onLaunch -> next scene shown: 510ms, 512ms, 505ms

On Redmi 5 plus Android 8.1.0  (armeabi-v7a) (3.6.0)
- director.loadScene -> onLaunch: 749ms, 727ms, 714ms
- onLaunch -> next scene shown: 540ms, 537m

[2022-05-09 15:46] zenskcode opened #11008 "3.5.0 spine命名空间漏导出"
### Cocos Creator version

3.5.0

### System information

windows10

### Issue description

3.4.2 cc.d.ts:
![651faaa3de78b18c73e0cdb8e445de1](https://user-images.githubusercontent.com/46669456/167447142-112250e3-ae67-4fc6-b100-201207054cc6.png)

3.5 cc.d.ts
![5484eda10bbbc1b33254cb6e30941aa](https://user-images.githubusercontent.com/46669456/167447259-21697323-d3bf-4534-bfa7-ed409b89e0d5.png)

api

[2022-05-10 02:32] zenskcode commented on #10998
运行完全正常，但是编辑器疯狂报错，通过屏蔽以下目录文件的代码先解决错误了，初步判断未日志条件错误，请核查.
除了以上情况，在预制体中嵌套含有spine动画的预制体，也会发生该错误，待空闲一点，我看看能不能提供demo，方便引擎组测试排错
C:\CocosDashboard_1.1.1\resources\.editors\Creator\3.5.0\resources\resources\3d\engine\bin\.cache\dev\editor\bundled\index.js

![image](https://user-images.githubusercontent.com/46669456/167530568-bd7128cd-ef9a-4f0d-b632-934ed1d3a69a.png)

[2022-05-10 03:08] dogeFu commented on #10998
我这边复现了一下，可能是和材质预览有关系。你在切换场景和预制体的过程中，资源面板是否有选中材质？如果有的话，可以试试不选中，看看报错会不会减少。我们会尽快修复这个问题 @zenskcode

[2022-05-10 03:21] yoki0805 opened #11014 "Webp compress texture building error"
### Cocos Creator version

3.5.0

### System information

web-mobile

### Issue description

Webp compress texture building error.

### Relevant error log output

[Build] [compress webp]Error! 'undefined' is not a floating point number.

### Steps to reproduce

1. setup compress texture: webp quality 80.
2. select a image, set useCompressTexture toggle on.
3. build project.

### Minimal reproducti

[2022-05-10 03:37] zenskcode commented on #10998
没有选中材质的情况下也会触发，报错是每一帧都在不断增加，只能重启编辑器才能解决，但是一旦切换预制体，又会触发，时间长不关编辑器就很卡，然后又只能重启编辑器，一直循环。我先屏蔽编辑器日志，这样可能会误伤有效的提醒日志，但是也只能先这样处理了。

[2022-05-10 07:18] xianyinchen opened #11018 "Animation State Machine speed value should support negative numbers"
### Use Case

such as gun takeout and takedown action.
unity screenshot.

![1652166784(1)](https://user-images.githubusercontent.com/8321365/167570561-1cf7a073-84b5-413a-bcdb-de54a75ae1c4.png)
![1652166804(1)](https://user-images.githubusercontent.com/8321365/167570624-33cdc2ec-6e0f-4262-920d-71b8107d6cb6.png)

### Problem Description

No information.

### Proposed Solution

_No response_

### How

[2022-05-10 07:19] dumganhar commented on #10935
## Android + iOS test result ( Benchmark  demo, model-animation, load 300 models : https://github.com/cocos/cocos-benchmark.git  )

On Redmi 5 plus Android 8.1.0 (armeabi-v7a) (3.5.0)
- director.loadScene -> onLaunch:  86ms, 90ms, 91ms
- onLaunch -> next scene shown:  7099ms, 6993ms, 6964ms

On Redmi 5 plus Android 8.1.0  (armeabi-v7a) (3.6.0)
- director.loadScene -> onLaunch: 85ms, 87ms, 90ms
- o

[2022-05-10 08:27] OnlyKoei opened #11019 "Audio play error"
### Cocos Creator version

3.4.1，3.4.2，3.5.0

### System information

window10, android , web

### Issue description

When play is called immediately after setting currentTime, the audio will start over.
Test platform：
android, vivo mini game, wechat mini game, web-mobile

![image](https://user-images.githubusercontent.com/40415168/167583662-da424a72-3a40-4060-a2bc-efc1c94cc8d4.png)

### Relevant

[2022-05-10 08:55] SantyWang commented on #10194
After our research, we found that Spine 4 is not compatible with the resources generated by the Spine 3.x editor, which means that once upgraded, most users' projects may not work properly, so this will need to wait until the Creator's multi-version plugin mechanism is perfected, and then developers will be able to choose the version of Spine they want to use. maybe in v3.7

[2022-05-11 02:48] star-e opened #11025 "particle system uses too many interpolators"
### Cocos Creator version

3.5.0

### System information

### Issue description

particle system uses more than 17 interpolators, which might surpasses hardware limits.

### Relevant error log output

_No response_

### Steps to reproduce

When running particle test case, compilation of particle-gpu shader will fail.

### Minimal reproduction project

_No response_

[2022-05-11 06:32] minggo opened #11027 "Subsystem start up and shut down"
Currently, engine uses the codes to initialize a subsystems
[code]

It has some problems:
- use different ways to initialize a subsystem
   - use `XXX::getInstance()`
   - use `XXX::init()`
   - just construct a object instance
- use the same method to initialize a subsystem and get the singleton object
  - it is not a clear
  - it is uncontrollable, each invoking of the static method may initiali

[2022-05-11 06:44] pandamicro commented on #10987
Another option is to provide check lists for PR creator to select, for example, add the following section to PR template:

-------
### Continuous Integration

This pull request:
- [ ] contains engine modification
- [ ] needs code quality check
- [ ] needs build check
- [ ] needs automatic test cases check
-------

User can directly choose what fits.

Also if they want to run test case manually, th

[2022-05-11 06:47] minggo commented on #10987
Yep, it is more clear.

I think should divide it into more options: all, TS, c++

[2022-05-11 06:48] star-e commented on #10987
I think build check should be mandatory. User might have uploaded incorrect code by accident.

[2022-05-11 06:53] stanleyljl commented on #10987
It's better to add manual commands after each option. In case the developer forgets to check, he can manually copy the command to execute.

[2022-05-11 06:53] pandamicro commented on #10987
I agree, I think we can also check modifications in the PR to decide whether TS engine or Cpp engine is modified, e.g.

- All modification applied in `cocos`, `exports`, `extensions`, `external`, `pal` folder means TypeScript engine modification
    - Requires web related CI
- All modification applied in `native` means Cpp engine modification
    - Requires Native related CI

In this case, we will

[2022-05-11 06:55] minggo commented on #10987
We may modify folder structure, and mix TS and C++ together. So it is not extensible.

[2022-05-11 07:02] pandamicro commented on #10987
Yes, but I think it applies for now, when we change the code structure, we will need to modify the rules

[2022-05-11 07:16] stanleyljl commented on #11027
It is better for each singleton to have a common parent class, and the parent class has a unified initialization and destruction interface. These singletons are not necessarily suitable as subclasses of subsystems, because they may just provide some simple functions and cannot be called a subsystem.

[2022-05-11 07:40] minggo commented on #11027
@stanleyljl could you please add some pseudo codes? I think it may easily cause multiple inheritance.

[2022-05-11 07:43] jianglixin85 opened #11029 "Trigger failure for colider in PhysX mode"
### Cocos Creator version

3.5.0

### System information

mac editor

### Issue description

Details can be seen in the post, and there are reproducible demos in the post
https://forum.cocos.org/t/topic/135347

### Relevant error log output

_No response_

### Steps to reproduce

There are two rigid bodies A and B, if isTrigger is checked at the same time then the onTriggerEnter function will not

[2022-05-11 07:51] UniqueDisplayNameIsInUse opened #11030 "2D 碰撞体 建议增加可以自动对齐包围盒，"
### Use Case

用户建议在 collider 上增加自动对齐包围盒的功能。 [issue 2080](https://github.com/cocos/cocos-docs/issues/2080)

### Problem Description

改变节点大小后，需要手动调节 Collider 的大小

### Proposed Solution

_No response_

### How it works

_No response_

### Alternatives Considered

通过增加按钮或自动识别节点缩放的方式来调整碰撞体

### Additional Information

_No response_

[2022-05-11 07:57] timlyeee commented on #11027
What about those subsystems that rely on each other? For example, EventDispatcher should be the first one to start, and most modules rely on it. Will the solution makes it easier to check if the dependency is alive?

[2022-05-11 08:03] minggo commented on #11027
Initialize all subsystems explicitly in a function in well-defined order.

[2022-05-11 09:35] dumganhar commented on #11027
[code]

I think solution 1 has some benefits:
- Could be easily extended to support running multiple game engine instances in a single process
- Avoid to define `getInstance` method because different developers may use a different name, for example, getSingleton(), instance()
- Avoid to use global variables, something like `Context` class should take the responsibility of registering internal `Sub

[2022-05-11 10:20] minggo commented on #11027
It requires
- every object has a type information, or should add many get functions to get subsystems
- if using Context, then all every constructors should accept a Context pointer

[2022-05-11 10:31] dumganhar commented on #11027
Yep, need Object RTTI information.
Don't need many get functions, since we could use c++ template. Refer to : https://github.com/rbfx/rbfx/blob/master/Source/Urho3D/Core/Context.h#L135

[2022-05-11 10:32] dumganhar commented on #11027
Yes, that's what Urho3D does.

[2022-05-11 12:42] Ronsku commented on #10354
@pandamicro and @minggo
I have confirmed that CC package size has gone up again in CC 3.5 slightly
![image](https://user-images.githubusercontent.com/7983358/167851945-91ea34b5-51f9-477d-b71f-934980e637fd.png)
from
CC2: **1011Kb**
CC 3.4: **2,200kb**
CC 3.5: **2,247kb**
This is also with removing Marionette system from previous test
![image](https://user-images.githubusercontent.com/7983358/167852

[2022-05-11 12:51] Ronsku commented on #10194
I see, that makes sense. Would be perfect to be able to chose which version of spine you would run with from the Feature Cropping like this
![image](https://user-images.githubusercontent.com/7983358/167853753-9d279710-d7e1-4a84-a3c3-a524f73d491f.png)

Just need to make sure it doesn't put everything into the CC.js package like it currently looks like it is doing, since engine is massive and slows

[2022-05-12 01:41] stanleyljl opened #11039 "vsync & max frame rate setting for all platforms"
### Use Case

Two use cases:
1, Set by developers via code
2, Set directly in the cocos-creator

### Problem Description

We need two interfaces to control vsync and max frame rate for all platforms.

### Proposed Solution

_No response_

### How it works

_No response_

### Alternatives Considered

Please support this feature for all platforms.

### Additional Information

_No response_

[2022-05-12 02:55] minggo commented on #11039
The engine already has the interface to set fps `Root.fixedFPS()`. This function may rename to `Root.setMaxFps()`. About vsync setting, we should do some research if all platforms support it.

[2022-05-12 03:03] dogeFu commented on #10998
我这边有一个必现的流程：拖拽一个预制体（使用UI-Sprite-material.mtl材质的2d元素）到场景中，然后创建一个材质，就会出现报错，不过这个复现方式，错误日志只会打印几条，后面就不会再报错了。这个问题我们会在3.5.1修复。

[2022-05-12 03:06] minggo commented on #11027
Yep, that's why i said `or should add many get functions`.  Which means we should implement RTTI first.

[2022-05-12 03:29] OnlyKoei commented on #10887
https://github.com/cocos/cocos-engine/pull/11032

https://github.com/cocos/3d-tasks/issues/12262

[2022-05-12 05:39] PPpro commented on #10997
fixed here

https://github.com/cocos/cocos-engine/pull/11001
https://github.com/cocos/cocos-engine/pull/11013

[2022-05-12 05:39] #10997 closed, assigned to nobody

[2022-05-12 05:39] SantyWang commented on #11029
![企业微信截图_16522574274438](https://user-images.githubusercontent.com/15109777/167999457-f23209f6-294e-40af-bd55-ae98ade5915e.png)
The events between triggers are completely removed in physX after version 3.5

We are using Physx 4.0

[2022-05-12 06:31] PPpro commented on #10960
![微信截图_20220512142954](https://user-images.githubusercontent.com/17872773/168006190-d7ae876d-716b-43e4-a18f-906b5ed9ba67.png)
here is the output I test on the chrome inspector, I think this should meet the expectation

[2022-05-12 06:35] PPpro commented on #10960
I'll close this issue,
If you have any other issue, please give us feedback

[2022-05-12 06:35] #10960 closed, assigned to PPpro

[2022-05-12 06:39] minggo commented on #11027
@dumganhar  as getInstance() already exists, we can not remove it, or it will break compatibility. So i plan to do like this
- keep getInstance(), but it will not construct an object instance, and all subsystems use the same function name
- construct subsystem instance in engine

After we implement RTTI, then deprecated `getInstance()` method, use `engine->getSubsystem()` instead.

[2022-05-12 06:47] oahc09 opened #11041 "A optimization point about v8 Object.cpp, will affect framerate drop"
### Use Case

Profile game's fps, use android profiler to check the code cpu consume time.

### Problem Description

In Object::init

if (__objectMap) {
	CC_ASSERT(__objectMap->find(this) == __objectMap->end());
	__objectMap->emplace(this, nullptr);
}

we can find the _objectMap's size will increase with engine run, this will make map->find consume more time, and fps will drop.

This is the size s

[2022-05-12 06:47] darklinden opened #11042 "get ammo.js back, please"
### Use Case

[code]

### Problem Description

All other code based on Ammo.js is not work after changed ammo.js to cocos/bullet
And there still some old functions call 'ammo.js' in the engine code

[code]

### Proposed Solution

get ammo.js back, please

### How it works

_No response_

### Alternatives Considered

get ammo.js back, please

### Additional Information

_No response_

[2022-05-12 07:03] pandamicro opened #11043 "Improve profiler time calculation for renderer"
Currently on native platform the time for renderer module contains present process which will wait for GPU to complete the rendering process. As our device rendering is running in another thread, it wouldn't be very accurate to show what user actually cares, we should make renderer time end before present, and frame time end after present

[2022-05-12 07:44] dumganhar commented on #11027
That's ok for me.

[2022-05-12 08:08] #11029 closed, assigned to nobody

[2022-05-12 08:38] Ronsku commented on #11014
I'm also wondering about this! Isn't the WEBP Compression working?

[2022-05-12 08:43] Ronsku commented on #11014
I took an webp Image from my build and ran it through another compression tool. It clearly doesn't work in CC3.5, because it compressed the image a lot!
![image](https://user-images.githubusercontent.com/7983358/168030021-54de983c-615e-49a1-8a7b-ce6fe81a3007.png)

[2022-05-12 08:56] SantyWang commented on #10354
Yes, we have identified some optimization points, such as eliminating built-in effects and optimizing the decorators, and in version 3.6, we will optimize these part

[2022-05-12 09:00] SantyWang commented on #10194
yeah, it's a good advise, but who knows? perhaps creator will have own package manager 😃

[2022-05-12 09:01] stanleyljl commented on #11027
Urho3d‘ s solution is a good candidate.

[2022-05-12 09:07] xianyinchen opened #11046 "Chrome throw ERR_INSUFFICIENT_RESOURCES error when open devtools"
### Cocos Creator version

3.5.0

### System information

Chrome on Window

### Issue description

![image](https://user-images.githubusercontent.com/8321365/168034485-319e5298-c01f-4e21-9227-71f5423a844c.png)
![image](https://user-images.githubusercontent.com/8321365/168034515-99145fff-1e1c-402b-a50f-a2171c6321de.png)
![img_v2_4c51f7f2-cc34-4c58-b6aa-61dadb5caf6g](https://user-images.githubuserco

[2022-05-12 11:10] Ronsku commented on #10354
Amazing, can't wait! I will be a very big boost to the game loading :)

[2022-05-12 11:11] Ronsku commented on #11014
@yoki0805 I think you can solve your issue by re-doing your custom texture compression setups for your project. The structure has changed like this:
![image](https://user-images.githubusercontent.com/7983358/168060145-de98670f-f9f9-4456-b6f3-305187894a09.png)

[2022-05-12 12:07] yoki0805 commented on #11014
I will try it. Thank you.

[2022-05-13 02:13] minggo commented on #11027
Yep, we will use it after we implement RTTI as i said above.

[2022-05-13 03:25] minggo commented on #10731
I will enable clang-format workflow after merging v3.5.x to v3.6.0, or it will bring many conflicts.

[2022-05-13 03:34] xianyinchen opened #11056 "particle has residual shadow under specific conditions"
### Cocos Creator version

3.5.0

### System information

web-mobile, window

### Issue description

after particle node'parent remove from his parent node, then wait a second, re-add to parent node, particle  will show the last time render status when render new first frame.

### Relevant error log output

_No response_

### Steps to reproduce

[test.zip](https://github.com/cocos/cocos-engine/fil

[2022-05-13 04:32] gitignorekun opened #11058 "3.5.0 Make Android Chome OS (x86, x86_64) failed!"
### Cocos Creator version

3.5.0

### System information

Windows 10 Editor, Android Build Chome OS (x86, x86_64)

### Issue description

![image](https://user-images.githubusercontent.com/81616993/168210992-25ed664b-8401-473c-a891-b5a0e0c72791.png)
![image](https://user-images.githubusercontent.com/81616993/168211037-efb6b877-63cb-4fff-a7f6-78711f197dea.png)
![image](https://user-images.githubuse

[2022-05-13 06:57] star-e opened #11062 "vertex input attribute is missing in macro"
### Cocos Creator version

3.4.2

### System information

Windows

### Issue description

shader input attribute will be missing, if it is in macro's both branches.

### Relevant error log output

_No response_

### Steps to reproduce

put input attribute in to macro's both branch, in any shader

### Minimal reproduction project

_No response_

[2022-05-13 08:53] zxx43 commented on #11056
pr https://github.com/cocos/cocos-engine/pull/11066

[2022-05-14 02:53] PPpro opened #11076 "optimize engine macro workflow"
### Use Case

code in engine repo
[code]

### Problem Description

currently the engine macro has no default value,
the defined default value only works on engine runtime, it's not for the build time

we need to provide a config file to register the default value for engine macro, these default value should works on both runtime and build time

### Proposed Solution

_No response_

### How it work

[2022-05-14 03:00] pandamicro opened #11077 "Review texture cube import and build format, allow compression and reduce package size"
Reported https://forum.cocos.org/t/topic/135475

Related https://github.com/cocos/3d-tasks/issues/10900

1. Review the current process and ability
2. Make sure build process can generate accurate and compact texture cube formats, and user controllable

[2022-05-14 04:25] jk20012001 commented on #11077
![image](https://user-images.githubusercontent.com/15099632/168410563-56308e6f-90a6-4b99-8bb1-647b543ae13f.png)
use zlib for lossless compression
quality must be set to 100, keep RGBE data precision

[2022-05-14 05:40] attolee opened #11082 "cc.Node decorator is not shown in inspector"
### Cocos Creator version

3.4.1

### System information

Windows 11 Editor

### Issue description

[code]

this decorator can't shown in inspector when named it as `node`.

[more infomation here.](https://forum.cocos.org/t/topic/134918/3)

### Relevant error log output

_No response_

### Steps to reproduce

Just name it as `node`, then check the inspector.

### Minimal reproduction project

[dec

[2022-05-14 07:41] Ronsku commented on #11014
I think we can close this ticket.
For developers, this is an issue with upgrading from cc 3.4.x -> 3.5.0 where the structure of the compression config has changed to an object with "quality" property instead of just a number. This is not an issue with new project that starts from 3.5.0.
This should probably be written in the upgrade breaking changes.

[2022-05-14 08:16] dumganhar commented on #10929
There is a 53bit hash implementation for JS: https://github.com/bryc/code/blob/master/jshash/experimental/cyrb53.js

[2022-05-14 08:44] bofeng-song opened #11090 "The test case ‘’test-cases-3d/2d-rendering-in-3d.scene“ crashes on a specific device on the Android platform"
### Cocos Creator version

3.5.1

### System information

Windows Creator 3.5.1, build gles3 backend and abi armeabi-v7a. Device: Android 5.1.1 Vivo X7Plus Qualcomm Snapdragons qualcomm  MSM8976

### Issue description

After starting '2d-rendering-in-3d.scene' test case, the program crashes

### Relevant error log output

2022-05-14 16:04:33.520 456-456/? I/DEBUG: *** *** *** *** *** *** *** *** *

[2022-05-14 08:51] minggo commented on #10929
If using 53bit hash in JS, then should provide a corresponding C++ version.

[2022-05-14 09:05] dumganhar opened #11091 "Don't need configure classes_need_extend in binding configuration file (.ini)"
Since Creator 3.x use typescript for writing engine code, there is no need to have `ctor` and `SE_BIND_SUB_CLS_CTOR `.

Currently in v3.5, there is only one place in tool/spine.ini which still use `classes_need_extend` configuration.
[code]

It could be simply defined to `empty` to ignore binding `ctor` method.

[code]

Spine code in our engine doesn't use any functionality of `ctor` & `SE_BIND_SU

[2022-05-14 09:26] SantyWang opened #11092 "Test code coverage optimization"
Many of our current unit tests have low code coverage and cannot guarantee that the engine works properly under various boundary cases. Code coverage evaluation needs to be introduced to guide the writing of test cases afterwards.

* Investigate the tools that can evaluate code coverage
* Try to integrate into the **ci pipeline** and **auto test framework**
* Specify code coverage requirements

[2022-05-14 09:47] dumganhar commented on #10929
Yes.

Or could we just ignore 11 bits (64 - 53) from the boost 64 bit hash? We need to investigate and test hash collision.

[2022-05-14 09:49] dumganhar commented on #10929
BigInt is supported from Chrome 67 and some browsers and mini-game platforms may not support BigInt.

[2022-05-14 09:52] star-e commented on #10929
When compute/hash combine 53bit value, the intermediate result should also be 53bit. Otherwise it might produce different result in different language (javascript / c++).

[2022-05-14 09:57] dumganhar commented on #10929
So if we wanna use 53bit hash, we need to replace `boost` hash function with the new 53bit hash algorithm which works both on javascript & native and generate the same hash value if input is the same.

[2022-05-14 10:00] star-e commented on #10929
Yes. All std::hash, boost::hash, boost::hash_combine need rewrite. It is quite a lot of work.

[2022-05-14 11:24] novain1102 commented on #10674
Android breakpoint download function also fixed in above PR :)

[2022-05-14 13:22] #11056 closed, assigned to zxx43

[2022-05-14 15:15] dogeFu commented on #10998
该问题是材质绑定异常导致，已在3.5.1修复。

[2022-05-14 15:15] #10998 closed, assigned to dogeFu

[2022-05-14 16:57] #11014 closed, assigned to nobody

[2022-05-15 09:52] #11005 closed, assigned to jk20012001, troublemaker52025

[2022-05-16 03:22] minggo opened #11106 "Restart engine will crash"
How to reproduce:
- use latest cocos-engine codes with v3.6.0
- run 3d test case `Restart`
- will crash on macOS

![WeChatWorkScreenshot_39b1be7a-3b12-4b22-9644-6054af3e076a](https://user-images.githubusercontent.com/488203/168514543-ea0f5ee3-f2dc-4381-8b2d-8a5387f03acf.png)

I think it may crash on all platforms.

[2022-05-16 05:43] #10853 closed, assigned to qiuguohua

[2022-05-16 11:44] dumganhar opened #11115 "Missing `location` to join `hash compute` in input-assembler.ts"
input-assembler.ts

![企业微信截图_1d330af8-f483-40ed-9e16-1a1ffff66831](https://user-images.githubusercontent.com/493372/168585512-f0471366-123d-4ef8-94b8-b9e3cb42413c.png)

GFXInputAssembler.cpp
<img width="572" alt="企业微信截图_9a6e9cf5-b352-4402-b76e-de6a9b02eb1f" src="https://user-images.githubusercontent.com/493372/168585547-c44ddc5d-be12-40b3-8a19-1b07cba4cf70.png">

[2022-05-17 02:12] dumganhar commented on #10929
There is a problem if we using 53 bits hash for web, look at this example:

<img width="370" alt="企业微信截图_e9e4b84d-e634-4b4d-9c8a-95417e641f6a" src="https://user-images.githubusercontent.com/493372/168712471-5ae9b65a-a4ec-41cf-b4b3-df3eb8cfb6c8.png">

JS safe number range is (-2^53, 2^53), Math.pow(2, 32) is 0x100000000, if we right shift it by 1, it should be the value of Math.pow(2, 31) which is

[2022-05-17 07:09] jk20012001 opened #11122 "add skybox material UI for users"
add an editable material, allow users set any material. if this material is null, use skybox default material for rendering

添加一个editable的材质, 可以允许用户拖拽自定义材质上去, 如果为空的话就还是使用skybox默认创建的material

[2022-05-17 07:29] minggo opened #11124 "Does it need to delete gfx device when doing restart javascript vm?"
Now `Engine::restartVM()` will destroy and delete gfx device. Is it needed? If not delete the gfx device, will it cause memory leak? Especially GPU memory leak.

[2022-05-17 07:42] dumganhar commented on #11124
When script engine restarts, all GFX binding objects must get collected by GC, the relevant c++ GFX objects must be destroyed. In this case, whether to delete GFXDevice will make no much differences, it is just the case of whether to reuse GFXDevice instance.

So if there are memory leaks, they need to be fixed.

[2022-05-17 07:45] star-e commented on #11124
If some part of native engine is not destroyed, and these parts hold some gfx objects. Then GFXDevice shall not be destroyed.

[2022-05-17 07:50] minggo commented on #11124
Can not make sure if any object holds gfx object until invoke `DeviceValidator::doDestroy()`. So may be move the logic to another function to check GPU memory leak?

[2022-05-17 07:50] minggo commented on #11124
Can not make sure if any object holds gfx object until invoke `DeviceValidator::doDestroy()`. So may be move the logic to another function to check GPU memory leak?

[2022-05-17 07:55] star-e commented on #11124
Yes, gfx need to provide these statistics.

[2022-05-17 09:21] #10887 closed, assigned to zxx43

[2022-05-17 09:31] minggo commented on #11124
@holycanvas does TS engine destroy all GPU resources before restarting?

[2022-05-17 09:41] SantyWang commented on #11124
For now, it's not. In the long term, I think it depends on how we define ***restarting***，If we want to achieve the cleanest reboot, then I think we need to go through the destruction of all the modules and then go through the boot process again, not just restart the virtual machine

[2022-05-17 10:02] novain1102 commented on #11106
![WXWorkCapture_16527815749728](https://user-images.githubusercontent.com/18634782/168785597-73b87eab-391b-4ef2-ab3b-6800e1ad299f.png)
Also crash on windows. Debug Info shows Resrouce leaded in Pass.cpp

[2022-05-17 10:33] novain1102 commented on #11106
<img width="1945" alt="wecom-temp-a4a43b00b2088d8aee91995644cec798" src="https://user-images.githubusercontent.com/18634782/168791719-30d94cdc-265b-41aa-8ee8-9577337918bd.png">
Remove gfx::DeviceManager::destroy() logic restart run well. Need to figure out why we add this logic

[2022-05-17 11:55] xubing0906 commented on #11077
The current compression level is already the fastest.
![企业微信截图_16527854862328](https://user-images.githubusercontent.com/49358166/168797274-8172f358-3c75-403c-8053-e9d5e2a1cb4f.png)
For example image size 1024*51 51KB jpg format，compressionLevel = 0 total size of 6 pictures is 1.5MB，compressionLevel = 9 the size is 405 KB.
If use JPG format to generate six sides，the total size is 25.6KB.

[2022-05-18 01:36] minggo commented on #11124
Then what's the difference between restart VM and re-launch application?

[2022-05-18 01:45] minggo commented on #11106
Can refer https://github.com/cocos/cocos-engine/issues/11124. But it indicates that some gfx objects are not deleted, which causes memory leak. Should fix the memory leak.

[2022-05-18 02:14] xianyinchen opened #11129 "Low performance feedback"
### Cocos Creator version

3.5.0

### System information

iphone6

### Issue description

Test with 100 box, FPS the down to 42FPS in wechat mini game.
![image](https://user-images.githubusercontent.com/8321365/168942983-12ce09d9-dff3-4ba9-902a-3318a873763d.png)

### Relevant error log output

_No response_

### Steps to reproduce

a simple demo to reproduce.
[Performance.zip](https://github.com/c

[2022-05-18 02:15] jareguo commented on #11082
Sorry, node is the inherited propery of Component. You would see some warning when re-declaring an existing property.

[2022-05-18 02:15] #11082 closed, assigned to nobody

[2022-05-18 02:25] dumganhar commented on #10929
In Cocos Creator engine, hash value in asset json file is defined as 32 bits integer.
[code]

Because JS number could not be represented as 64 bits integer, we could not put a 64 bits integer directly since it will be cut while being deserialized. To solve this, the hash data needs to be saved by two 32bits integers separately (low 32bits, high 32bits). This breaks the compatibility and needs to d

[2022-05-18 02:57] minggo commented on #11058
@gitignorekun what's Android Chrome OS?

[2022-05-18 05:04] pandamicro opened #11134 "Add user manual for RenderTexture readPixels usage"
The screen capture feature introduction and usage are missing in the manual

https://docs.cocos.com/creator/manual/en/asset/render-texture.html?h=rendertexture

[2022-05-18 05:15] pandamicro opened #11135 "Add native public API documentations"
Currently there is no doc about how to use jsb APIs, they are absolutely needed for native development. The missing content include but not limited to

1. Application
2. FileUtils
3. PAL related APIs
4. Native Events
5. Network

@minggo please give a complete list and assign the tasks

Either we create manual docs which describes briefly all the APIs, or we generate all native APIs from JS Binding

[2022-05-18 05:35] #10931 closed, assigned to Zhmz

[2022-05-18 05:38] jareguo commented on #10996
这个问题由于我们最近都没收到同类反馈，可能已经修复了。麻烦你尝试一下 最新 版本的引擎（3.5），看看这个 bug 是否仍然存在。先不用考虑升级到 最新 版是否稳定，会不会出现新的问题，仅仅是为了测试这个 bug。
如果没问题了，你们才考虑是否升级或者合并引擎某些修复。如果测试完仍然有问题，可以 reopen，我们来跟进处理。

[2022-05-18 05:38] #10996 closed, assigned to nobody

[2022-05-18 06:13] minggo commented on #11135
Ok, i will check which module is needed and suitable to be public in v3.6.0 for native developers.

[2022-05-18 06:28] minggo commented on #11135
And should check if anything is available in ts, but missing documentation.

[2022-05-18 07:01] minggo commented on #11135
JSB related documentation:
- [x] FileUtils(should check if some api missed) @qiuguohua
- [x] jsb.copyTextToClipboard @qiuguohua
- [x] jsb.zipUtils @mmyduckx
- [x] jsb.garbageCollect @PatriceJiang
- [x] reflection @timlyeee
- [x] AssetsManager @PatriceJiang

Where and how to write the API doc @PPpro

[2022-05-18 07:17] dumganhar commented on #11135
JSB related documentation:

jsb.onError
jsb.garbageCollect
jsb.copyTextToClipboard
jsb.saveByteCode
jsb.zipUtils

[2022-05-18 07:19] dumganhar commented on #11135
Should `EventDispatcher` be public for native developers?

[2022-05-18 07:21] bofeng-song commented on #11058
@gitignorekun

Compiling libuv with a higher version of NDK will appear  __ stack_ chk_ fail_local  error that does not exist
You can try the following methods
1.  choose lower ndk version, such as 21
2. try to add back the missing function, you can refer to this link https://stackoverflow.com/questions/64679192/undefined-reference-to-stack-chk-fail-local

[2022-05-18 07:21] #11058 closed, assigned to bofeng-song

[2022-05-18 07:41] minggo commented on #11135
If not, then how to listen some events in c++? Some application may do some operations based on these events in C++.

jsb.copyTextToClipboard
jsb.saveByteCode

Does engine have these features?

[2022-05-18 08:57] AFeiYA opened #11138 "Support KHR_material_specularGlossiness"
### Use Case

Render gltf specular-glossiness shading model correctly.

### Problem Description

The importer built in the engine ignores KHR_material_specularGlossiness data in the gltf extension , so the engine cannot render the specular glossiness lighting model properly.

### Proposed Solution

Mapping the KHR_material_specularGlossiness  extension data to the engine specular-glossiness  effec

[2022-05-18 09:04] dumganhar commented on #11135
Why do developers need to write event registration code by C++ ? In general, he should do it in JS to subcribe `touch`, `mouse`, `background`, `foreground` ... events.  I think `EventDispatcher` should be private now and it should be only used for dispatching events to JS or interactive with other internal modules.

Yes, I found some code like :
[code]

[2022-05-18 09:59] SantyWang commented on #11124
Oh，I'm talking about restarting, not just restart VM. For restart vm, I don't think it's necessary to clean up the gfx device

[2022-05-18 10:09] xianyinchen opened #11141 "Spine decode crash with binary data"
### Cocos Creator version

3.5.0

### System information

Native Platform

### Issue description

When decode mesh attachment from binary data, will crash.

### Relevant error log output

_No response_

### Steps to reproduce

I try borrowing the fixed code from js version implementation.
PR: https://github.com/cocos/cocos-engine/pull/11132

### Minimal reproduction project

_No response_

[2022-05-18 12:09] mrtzd opened #11144 "director.pause() stops UI animations from working correctly"
### Cocos Creator version

3.5.0, 3.4.2

### System information

Windows 10 Editor

### Issue description

`director.pause()` should not stop the UI animations (like button scale transition) from working. Right now it's not possible to use the "Scale Transition" for UI buttons in a pause menu even though the "Sprite Transition" still works.
Is there any other method to pause the game's logic witho

[2022-05-19 01:50] minggo commented on #11124
@holycanvas the implementation of `game.restart()` is `engine::restartVM()`. So we should define the behavior of `game.restart()` first. If it equals to re-launch, then should try to do re-launch operation instead restart VM. If operation system doesn't support the operation, then do simulator, like current implementation.

[2022-05-19 03:04] minggo commented on #11135
It is ok not be public currently.

Yep, we should add docs for `copyTextToClipboard ` .

[2022-05-19 06:22] minggo opened #11148 "Crash when delete ScriptEngine in exit process"
Steps to reproduce:
- run test case 3d in macOS
- enter `2d rendering 3d` test case
- close the app by click close button

Don't forget to enable `Address Sanitizer`.

[2022-05-19 08:53] shrinktofit opened #11152 "More runtime control over animation controller"
- Re: https://forum.cocos.org/t/topic/135685/4

- [ ] Expose elapsed time and duration of motion states

- [ ] Transition to specific state of specific time

Depends on:

- #11157

- #11158

- #11159

[2022-05-19 10:20] shrinktofit opened #11157 "Implement offset into transition destination in animation graph"

[2022-05-19 10:21] shrinktofit opened #11158 "Implement transition interruption in animation graph"

[2022-05-19 10:22] shrinktofit opened #11159 "Implement negative speed in animation graph"

[2022-05-19 16:34] finscn opened #11161 "the description of `enableCulling` in `creator.d.ts` is wrong"
### Cocos Creator version

2.4.9

### System information

all

### Issue description

the CCTiledMap's `enableCulling` should be  setter & getter
[code]

the CCTiledLayer's `enableCulling` should be :
[code]

I think the CCTiledLayer also should use setter &  getter  (but need to change the source code).

### Relevant error log output

_No response_

### Steps to reproduce

please open the creator

[2022-05-20 02:38] minggo opened #11162 "game.restart() in native"
The meaning of `game.restart()` is to exit an app and re-launch it again. Current implementation just restarts the JS VM, should fix the behavior.
- android: @bofeng-song
- iOS/macOS @mmyduckx
- windows @timlyeee

[2022-05-20 03:20] dumganhar commented on #11162
For compatibility, is it better to add a new function called `game.restartApp()` for re-launching app. And continue to keep `game.restart()` to be just restarting js vm but deprecate it and add a new function called `game.restartScriptVM()`.

[2022-05-20 03:31] minggo commented on #11162
Is there any reason to have a function to just restart JS VM?

[2022-05-20 03:40] dumganhar commented on #11162
It may be used after hot-updating JS code and restart JS VM for all platforms.

Some platforms may not support to restart application.

[2022-05-20 03:44] minggo commented on #11162
It is a new request. We can create another issue.

If so, then try to simulate the behavior as possible.

[2022-05-20 06:39] #11091 closed, assigned to dumganhar

[2022-05-20 06:44] minggo opened #11169 "Memory leak with SceneGlobals"
SceneGlobals will create SkyBox, and SkyBox will create Material instance. SceneGlobals is created and hold by Scene, but is not destroyed anywhere. Currently, SkyBox listen `close` event to free Material instance in native. It is not correct. Scene should destroy SceneGlobal instance when scene is destroyed.

https://github.com/cocos/cocos-engine/pull/11164/files listen `restart` event to free Ma

[2022-05-20 06:54] dumganhar commented on #10929
Another option is:
- Keep using 32 bits Hash for web
- C++ code  uses 64 bits Hash
- When JS invokes JSB methods to get hash value, convert the 64 bits result to 32 bits by right shift & xor operation, for example

[code]

So CPP code keeps using 64 bits hash on 64 bits device.

There is another problem:
Currently, we use boost::hash_range/hash_combine for compute hash value , it only accesses siz

[2022-05-20 07:10] dumganhar commented on #11162
So for the platform that doesn't support the true restartApp, engine has the responsibility to implement it by restartScriptVM?

[2022-05-20 07:43] star-e commented on #10929
I think it is too troublesome to use 64-bit hash. The problem introduced by 64bit-hash is larger than 32bit hash collision.
Use 32-bit hash is also easier in x64. We just need to provide custom hash function.
We can also get consistent hash-value across 32bit/64bit systems.

We can reduce object number, or uses different groups to control hash collision.

[2022-05-20 09:22] sfzhanglimin opened #11172 "can not set target api when build."
### Cocos Creator version

3.4.2-3.5.0

### System information

android

### Issue description

already set target api to 31 .
but the PROP_COMPILE_SDK_VERSION version still 28 when build.

### Relevant error log output

_No response_

### Steps to reproduce

already set target api to 31 .
but the PROP_COMPILE_SDK_VERSION version still 28 when build.

### Minimal reproduction project

_No response

[2022-05-23 01:33] oahc09 opened #11177 "About jsb cpp file name spelling problems"
### Use Case

no

### Problem Description

In cocos-engine\native\cocos\bindings\manual

jsb_platform_ohos.cpp
jsb_platfrom_apple.mm
jsb_platfrom_linux.cpp
jsb_platfrom_qnx.cpp
jsb_platfrom_win32.cpp

the "platfrom"  is in wrong spelling

### Proposed Solution

_No response_

### How it works

_No response_

### Alternatives Considered

Change  "platfrom" to  "platform"

### Additional Information

[2022-05-23 01:44] minggo commented on #11162
Yep, as the function is provided by engine.

[2022-05-23 03:39] jk20012001 opened #11178 "shadow map shader if performance optimize"
We use if to enable shadow calculations, if can be translated to uniform dynamic branch or static branch. There is an obvious performance cost with static branch. So we should use macro instead of if to solve this, but stucking will occur when user changing UI.

1. PCFType should use CC_DIR_SHADOW_PCF_TYPE instead of cc_shadowWHPBInfo.z
2. Use CC_ENABLE_DIR_SHADOW instead of cc_mainLitDir.w, when

[2022-05-23 08:32] #10674 closed, assigned to novain1102

[2022-05-23 08:38] xianyinchen opened #11180 "Spine Incorrect rendering with enabled premultipliedAlpha"
### Cocos Creator version

3.5.0

### System information

chrome on window

### Issue description

display in 2.4.9
![1653294978(1)](https://user-images.githubusercontent.com/8321365/169778779-a6f020f4-f80d-4437-a4a6-b123870455e6.png)

display in 3.5.0, there has white noise.
![1653294991(1)](https://user-images.githubusercontent.com/8321365/169778828-9b166c45-af20-4758-a0c5-11c326ff5996.png)

###

[2022-05-23 09:32] dumganhar opened #11183 "[v3.6][bug] Pass.getPassHash is invoked frequently"

[2022-05-23 11:00] xianyinchen commented on #11180
disable "Fix Alpha Transparency Artifacts", and then it fixed.
![bc7ad404bd7d934dab6bc3f52964bac](https://user-images.githubusercontent.com/8321365/169804981-aae82633-39d4-48ff-bea5-c9f977a4fbc9.png)

[2022-05-23 11:00] #11180 closed, assigned to zhakesi

[2022-05-23 13:03] novain1102 commented on #11162
It seems NO restart API to exit an app and re-launch it again in iOS

in macOS, restart instructions may be like this:
[code]

[2022-05-24 05:50] #11183 closed, assigned to dumganhar

[2022-05-24 05:52] dumganhar opened #11195 "Rename cc::optional, cc::any, cc::variant to ccstd::optional, ccstd::any, ccstd::variant"

[2022-05-24 06:09] jareguo opened #11196 "Optimize dynamic atlas packing strategy"
### Use Case

all games

### Problem Description

https://forum.cocos.org/t/topic/135586
Many users complained about the poor space utilization of the dynamic atlas packing.

### Proposed Solution

A solution from 乐府
https://forum.cocos.org/t/topic/98157

1. 参考乐府帖子 4.1，允许回收纹理时合图空间也跟着释放
2. 采用分帧合图，逐步降低 drawcall，不要求一次性合完，每一帧合并一张纹理
3. 参考帖子 4.3 对 待合并的纹理采用排序策略，优先合并小图、尺寸规整的图、低频改动的图（如 UI 背景），最大化合图收益
4. 优化

[2022-05-24 07:35] minggo opened #11198 "Sync modification of Ambient/SkyBox to v3.6"
When synchronizing v3.5.1 to v3.6, i found the logic of Ambient and SkyBox were changed, but i am not sure if there is other logic was changed too. So need to synchronize it to v3.6.0.

[2022-05-24 07:39] star-e opened #11199 "clear shader source after creation"
### Use Case

in GLES3Shader.cpp, we might clear shader sources after creation.

### Problem Description

shader source might take-up memory.

### Proposed Solution

_No response_

### How it works

_No response_

### Alternatives Considered

Shader sources might be used elsewhere.

### Additional Information

_No response_

[2022-05-24 07:43] timlyeee commented on #11199
I've just cleared the stage list for a simple demo, and everything works fine.
[code]

[2022-05-24 11:52] Ronsku opened #11210 "CC 3.5.0 - Opacity = 0 (invisible), still causes a Drawcall"
### Cocos Creator version

3.5.0

### System information

Windows 11, Chrome

### Issue description

In CC2 when you put something to opacity = 0 it didn't cause a drawcall. In CC3 this is not the case. It only works by disabling the node. Using opacity is in many times more comfortable than disabling a node. Also having a node disabled by default won't run the attached components.
![image](https:

[2022-05-25 02:36] #11027 closed, assigned to minggo

[2022-05-25 03:19] #11106 closed, assigned to novain1102

[2022-05-25 03:24] minggo opened #11212 "Add documentation for sebind"

[2022-05-25 03:34] minggo commented on #11162
Can use exit function to exit. Is there a function to re-launch it?

[2022-05-25 03:37] minggo commented on #11124
https://github.com/cocos/cocos-engine/issues/11162 will refactor game.restart(). Current implementation may need on some platforms. But do not have to delete device.

[2022-05-25 03:41] minggo opened #11214 "refactor file system"
FileUtils is too simple to be a file system, should refactor it. Can refer to other engine's implementation. And use new file system to implement FileUtils to keep compatibility.

[2022-05-25 03:45] #11195 closed, assigned to dumganhar

[2022-05-25 03:53] minggo opened #11215 "unify destroy behavior"
As TypeScript doesn't have destructor, so need a destroy function to free some resources, such as GPU resources. It means an object should not be used after being destroyed. But some module doesn't obey the rule, an object will be re-initialized after being destroyed, such as the codes in root.ts:
[code]

I am not sure if any other module has the same design. But we should unify the behavior of it

[2022-05-25 07:12] dogking18 opened #11220 "Liquidfun is built-in engine, but no public API found."
### Use Case

I'm working hard at a physics game.
use built-in library liquidfun to create water. but no API found, is very difficult to use.

### Problem Description

liquidfun is an extension of box2d, add a particle system into box2d.
The Library was already in cocos-engine. but no public API about it.

### Proposed Solution

Design a new class of the `cc.ParticleBody`.
This class for create an

[2022-05-25 07:43] dumganhar opened #11221 "[v3.6] Memory leaks"
![Screen Shot 2022-05-25 at 15 42 32](https://user-images.githubusercontent.com/493372/170208375-367c9448-85ef-4e63-9054-d90528be1012.png)

[2022-05-25 07:55] minggo opened #11223 "Use C++ 17"
In order to support iOS 10.x, engine can not use C++17. I collected the market share of iOS 10.x through the [web site](https://gs.statcounter.com/os-version-market-share/ios/mobile-tablet/worldwide). It seems iOS 10.x 's market share is very low. Using C++ 17 brings some conveniences:
- can use variant
- can use optional
- can use constexpr in if statement which is easy to write codes

[2022-05-25 07:59] freeboy commented on #11223
can use nested namespaces

[2022-05-25 08:06] hana-alice commented on #11223
`const auto [x, y, z] = [](){return std::tie{1.0F, 2U, "3"}}` [structure binding](https://en.cppreference.com/w/cpp/language/structured_binding)

[2022-05-25 09:44] #11077 closed, assigned to xubing0906

[2022-05-26 02:08] hnmli099 opened #11226 "Cocos can only detect dynamic rigid bodies?"
### Cocos Creator version

2.x

### System information

PhysicsManager.testPoint

### Issue description

PhysicsManager.testPoint use PhysicsAABBQueryCallback，
PhysicsAABBQueryCallback.prototype.ReportFixture = function (fixture) {
var body = fixture.GetBody();
if (body.GetType() === b2.Body.b2_dynamicBody) {
if (this._isPoint) {
if (fixture.TestPoint(this._point)) {
this._fixtures.push(fixture);

[2022-05-26 02:17] hnmli099 opened #11227 "PhysX must find bug"
### Cocos Creator version

3.4.2

### System information

Native platform or direct simulator operation

原生平台，或者直接模拟器运行

### Issue description

The camera is attached to the player

Players add the capsulecollider component and rigidlybody component

Set player movement through setlinearvelocity

摄像机挂载在玩家身上
玩家添加CapsuleCollider组件和RigidlyBody组件
通过setLinearVelocity设置玩家移动

### Relevant error log outpu

[2022-05-26 02:24] hnmli099 opened #11228 "BoxCollider2D"
### Cocos Creator version

Creator 版本： <3.4.1>

### System information

Target platform: < IOS / Android >
目标平台： < iOS / Android >

### Issue description

In the [spriteframe] during the animation playback, the size of the collider [boxcollider2d] is dynamically changed, so that the attack judgment can be made only at the time of the attack picture

The following problems are found in the implemen

[2022-05-26 02:39] hnmli099 opened #11230 "Multiple rigid bodies and collision experience Caton 多个刚体和碰撞体会卡顿"
### Cocos Creator version
no
未填写

### System information

xiaomimix4

### Issue description

When models with physical rigid bodies and collision box components are created together,

On the computer, 50 will be stuck for about one second, and 100 will be stuck for about two seconds.
有物理刚体+碰撞盒组件的模型，一起创建生成的时候，
在电脑上，50个会卡顿一秒左右，100个会卡顿2秒左右。

### Relevant error log output

_No response_

### Steps to

[2022-05-26 02:57] hnmli099 opened #11232 "State synchronization physical collision 状态同步物理碰撞"
### Cocos Creator version

no

### System information
no
未填写

### Issue description

Player a Controls object a,

Player B Controls object B,

Each player is responsible for submitting their own location data.

Scene: a moves, B stops.

When player a Controls object a to rush towards player B, a physical collision will occur. Because of the network delay, when a shows that it collides with B, the

[2022-05-26 02:57] hnmli099 opened #11233 "状态同步物理碰撞"
### Cocos Creator version

未填写

### System information

未填写

### Issue description

玩家A操控物体a，
玩家B操控物体b，
每位玩家分别负责提交自己的位置数据。

场景：A移动，B停止不动。
当玩家A操控物体a冲向玩家B时，将产生物理碰撞，因为网络延迟，A显示碰撞到B的时候，B的页面显示A还未到达（延迟），这就出现了一个问题，A的页面显示已经将B撞飞了（本地物理效果），B的页面显示刚撞上，又因为B提交自己的位置数据，A的页面会显示B在来回闪烁移动（因为A的页面也运行了物理碰撞效果，B也在运行本地物理效果，所以来回闪烁）

### Relevant error log output

_No response_

### Steps to reproduce

场景：A移动，B停止不动。
当玩家A操控物体a冲

[2022-05-26 03:16] dumganhar opened #11235 "[v3.6] Refactor image data binding strategy"
## Background

Currently, we implement a fake HTMLImageElement on native platform for easily adapting some code of Image loading.
Read the `// ----> ` in the following code.

[code]

[code]

[code]

## Problems

This implementation is good in most case. But it may have some drawbacks:

- It add a new method called `destroy` for HTMLImageElement class  which doesn't exist on web, the developers who

[2022-05-26 03:18] shrinktofit opened #11236 "Support more TypeScript/JavaScript file extensions"
Now that [TypeScript 4.7 was released](https://devblogs.microsoft.com/typescript/announcing-typescript-4-7/), it eventually implemented full Node.js ESM support. It introduces new file extensions: _.mts_, _.cts_ which corresponding to _.mjs_, _.cjs_ respectively. We're planing to land TypeScript 4.7 into ~3.6 and It'd be better if we can support these extensions.

- Basic support, including:

  -

[2022-05-26 05:46] jareguo commented on #11236
It doesn't seem to see too obvious a benefit, and we still recommend staying unified at this stage.

For third party modules, we can support importing mts if needed. But it does not feel necessary to create mts scripts in editor.

[2022-05-26 05:48] #11236 closed, assigned to PPpro

[2022-05-26 06:03] PPpro opened #11239 "移除小游戏平台 audioTimer 的使用"
之前是为了解决平台 timer 不靠谱的问题，做了这个上层封装，详细见 https://github.com/cocos/cocos-engine/pull/8960
但是这个封装也不靠谱，audioTimer 很依赖底层的事件回调，一旦事件回调不准确了，计时器本身也不准确了，所以计划直接从平台接口上去取 currentTime，不再做上层封装了

[2022-05-26 08:22] dumganhar opened #11243 "[v3.6] Missing ShadowsInfo::_planeDirection/planeHeight in cpp code"
[code]

[2022-05-26 10:05] timlyeee opened #11247 "[Feature] Windows DLL support."
### Use Case

Export dynamic library for windows platform

### Problem Description

The mechanism to build and compile a dynamic library for Windows Platform is out of date, need to unify APIs and headers.

### Proposed Solution

_No response_

### How it works

_No response_

### Alternatives Considered

update code, and prebuilt cocos-engine library

### Additional Information

_No response_

[2022-05-26 10:49] pandamicro commented on #11210
We haven't been ruling out draw calls for zero opacity objects, by design, inactive node or disabled component won't be rendered. We are trying to avoid too many checks in the renderer, but we will consider it. @holycanvas please take a look

[2022-05-26 10:52] OnlyKoei opened #11248 "crypto-es does not work with 3.5.0"
### Cocos Creator version

3.4.2，3.5.0

### System information

chrome

### Issue description

https://forum.cocos.org/t/topic/135954
![image](https://user-images.githubusercontent.com/40415168/170473187-0c6b7368-5dd9-41eb-8b21-1dc07cd84ade.png)

The crypto-es can be used in 3.4.2 tests.

### Relevant error log output

_No response_

### Steps to reproduce

https://www.npmjs.com/package/crypto-es

[2022-05-26 22:08] avpeery commented on #10659
Saw this issue linked to: https://github.com/mapbox/mapbox-gl-js/issues/11609

Received an update from webkit that it is resolved in 15.5 Safari release: https://bugs.webkit.org/show_bug.cgi?id=237918#c10. Cheers!

[2022-05-27 02:54] bofeng-song commented on #11172
@sfzhanglimin
This PR(https://github.com/cocos/cocos-engine/pull/10627) has been fixed this problem.
Please refer to the previous PR.

[2022-05-27 02:54] #11172 closed, assigned to bofeng-song

[2022-05-27 03:29] #11239 closed, assigned to PPpro

[2022-05-27 03:48] #11233 closed, assigned to SantyWang

[2022-05-27 06:00] hnmli099 opened #11253 "2.x Physical joint2d shaking"
### Cocos Creator version

2.0.8

### System information

simulator   模拟器

### Issue description

A chain made according to the official physical example, but I added an additional spherical rigid body. Rotation joints are also added. However, the joint cannot be fixed after adding. Removing the sphere is no problem. Sphere I have tested the custom physical area and the circular physical area, and

[2022-05-27 08:13] OnlyKoei opened #11258 "[3.5.0] The image is restored to clamp-to-edge"
### Cocos Creator version

3.5.0

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/135969
![image](https://user-images.githubusercontent.com/40415168/170657051-81c1130d-ae96-4bc0-9572-4a50a61acbb7.png)

### Relevant error log output

_No response_

### Steps to reproduce

1. import image,The default wrap type is clamp-to-edge
![image](https://user-images.git

[2022-05-27 08:44] OnlyKoei commented on #11258
![image](https://user-images.githubusercontent.com/40415168/170664427-130af17c-c788-4fa8-826c-0958e208145e.png)
It could be the same problem.

[2022-05-27 10:47] novain1102 commented on #11221
remaining memory leak after merge above pr:
<img width="1853" alt="image" src="https://user-images.githubusercontent.com/18634782/170685298-94927e3c-ff4b-475d-bd0d-f35063b80c75.png">

[2022-05-27 11:04] linruimin opened #11261 "WeChat mini-game does not support webP format images"
### Cocos Creator version

3.3.2

### System information

P30Pro wechat game

### Issue description

Real machine test on WeChat mini-game does not support webP format images, WeChat development tools are normal.

### Relevant error log output

_No response_

### Steps to reproduce

Test cc.sys.capabilities.webp in Real machine is false.
![企业微信截图_16536457587292](https://user-images.githubuserconte

[2022-05-27 15:17] Ronsku commented on #11210
@pandamicro
Thanks for your response. I was guessing so, but it was awesome that it didn't cost drawcalls in CC2 when somethign was opacity = 0, because it helped keeping the games performant. There are many benefits of using opacity = 0 instead of disabling the whole node.

I just happened to read this forum topic also just a second ago
https://discuss.cocos2d-x.org/t/scrollview-optimization-v3-5

[2022-05-27 18:01] Ronsku opened #11264 "CC 3.5.0 - Browser hot-reload on Prefab/Animation Save"
### Use Case

Speed up development by hot-reloading the development game after saving a prefab or a timeline animation.

### Problem Description

When saving a Scene you trigger a hot-reload, but not when saving a prefab or timeline animation. Usually you work in Prefabs or timeline animation and not in scenes. Hot-reloads are very handy and speeds up the development. This was how it worked in CC2

[2022-05-28 20:44] Ronsku commented on #10891
@yanjifa How do you try to set the spine animation to "None"? I think it says "None" in the Cocos dropdown menu, but if you set the animation though code you should set it to an empty string
`setAnimation = '';`
Otherwise it is looking for an animation with the name "None"

[2022-05-28 20:51] Ronsku commented on #11210
The same way if something is invisible with opacity = 0, would it be possible to detect if something is hidden by another graphic, especially in 2D?

Let's say you have 100 drawcalls and place a fullscreen image above it without transparency. Imagine if that would cause drawcalls to go down to 1 :)

Is it possible?

[2022-05-28 20:55] Ronsku commented on #10977
I have experienced the same with Howler, I think it has to do something with performance of the game, memory and stuff. I know sounds eat up a lot of memory at least. I don't think it's something related directly to the CC sound engine. Just my guess.

[2022-05-28 21:02] Ronsku commented on #10935
I've also noticed that even though the scene is preloaded and ready to be fired up, it takes some time to launch. Would it be possible to create a "await preLaunch()" command that does the launching without showing or causing drawcalls and then launch itself would be almost instant?

Often you want to swap scenes in a matter of milliseconds, mid animation transition or such and it's quite difficul

[2022-05-29 11:28] yoki0805 commented on #10977
Yes, it's happening later with newer iPhone (more larger memory).
But, I did many projects in 2.4.x version, they didn't seem to have this issue.
Android works fine, either 2.4.x or 3.4.2.

[2022-05-29 15:56] zenskcode opened #11271 "摄像机使用rendertexture时未禁用触摸，导致触摸结果不确定"
### Cocos Creator version

3.5.0

### System information

windows10

### Issue description

canvas下2个摄像机A、B，A为canvas使用的摄像机，B为rendertexture摄像机，B未禁用触摸，导致触摸结果不确定,影响canvas下触摸操作
类似帖子（5月9日）：
https://forum.cocos.org/t/topic/135198

请问在引擎修复前，我们可以采取什么方式先规避问题，目前影响功能进行

### Relevant error log output

_No response_

### Steps to reproduce

canvas下存在一个自动创建的摄像机A，copy A得到摄像机B，B使用rt

### Minimal reproduction proj

[2022-05-29 21:21] Ronsku commented on #10977
@yoki0805 do you have the same drawcalls in CC2 as in CC3 in your games? I had myself slight issues with performance in CC3, for example opacity = 0 causes a drawcall in CC3 which it didn't in CC2. I have created this issue/suggestion for the drawcalls on invisible items https://github.com/cocos/cocos-engine/issues/11210.

[2022-05-30 01:22] yoki0805 commented on #10977
No, they are different games, but I control the drawcalls in 70~100 times for my games.

[2022-05-30 02:46] dumganhar commented on #10936
[code]

[code]

### Solution

Add a conversion function without const prefix.

[code]

[2022-05-30 02:48] dumganhar commented on #10935
@Ronsku Yes, I also notice that, the time of loading scene is much less than the time of the next scene is shown.
@holycanvas Any thoughts of that? Are there better solutions ?

[2022-05-30 03:34] star-e commented on #11223
can use std::string_view

[2022-05-30 03:44] PatriceJiang commented on #11223
The `if constexpr` can combine a large number of specialized template implementations to reduce the amount of code.

https://www.codingame.com/playgrounds/2205/7-features-of-c17-that-will-simplify-your-code/constexpr-if

[2022-05-30 03:48] endless3000 opened #11273 "Mask Bug"
### Cocos Creator version

2.4.3

### System information

ios,android,模拟器

### Issue description

当存在多摄像机和mask时，index低的节点会被高的节点所影响造成bug;

### Relevant error log output

_No response_

### Steps to reproduce

前提条件是场景上存在多个摄像机，且节点2的group 为camera1;节点1和3上有mask；在web上节点2正常显示整个方块；在模拟器或者手机原生上节点2无法正常显示（会被节点3的mask影响）;可以查看zip内的工程
[NewProject_1.zip](https://github.com/cocos/cocos-engine/files/8795288/NewProjec

[2022-05-30 05:47] SantyWang commented on #10935
I would like to know, What is the functionality of these two scenes? and what transition needed for the two scenes?

[2022-05-30 06:47] dumganhar opened #11279 "[v3.6] Crash when clicking close button in Spine Test."
<img width="1450" alt="WeChatf20cd1c13be63209da61de8b75791ae2" src="https://user-images.githubusercontent.com/493372/170932709-8c176463-3f78-40b7-9f3e-9857bb0ac4dc.png">
<img width="890" alt="WeChat23040e9504d82a3374081f4f2918deb2" src="https://user-images.githubusercontent.com/493372/170932751-1aa71313-9c7d-4bda-83c9-ba59213824e4.png">
<img width="461" alt="WeChat4465fb098c67c8e983cfa6365f72910a"

[2022-05-30 07:02] dumganhar commented on #11148
Similar issue:
https://github.com/cocos/cocos-engine/issues/11279

[2022-05-30 08:16] minggo commented on #11135
@PPpro please describe where and how to write the API.

[2022-05-30 10:22] #11177 closed, assigned to qiuguohua

[2022-05-30 10:55] OnlyKoei opened #11287 "The parameters in the scrollToPercentHorizontal method need to be changed to optional parameters"
### Cocos Creator version

3.4.2，3.5.0

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/136031

### Relevant error log output

_No response_

### Steps to reproduce

![企业微信截图_16538989043128](https://user-images.githubusercontent.com/40415168/170977502-2415f72a-9f14-4541-bc32-848c520d8ed7.png)

### Minimal reproduction project

_No response_

[2022-05-30 11:15] timlyeee opened #11288 "[ Feature ] Reduce the memory usage of GFXBuffers and mesh arrays."
### Use Case

Right now the graphics memory usage is much higher than Unity, as we would draw precisely the same object but with a greater number of triangles, for example, a car with 500,000 triangles.

The principal cause of it is that we use FLOAT and UNSIGNED_INT to store all data, which is not necessary for normal and UV, as well as a mesh with less than 65535 triangles.

### Problem Descript

[2022-05-30 19:39] Ronsku commented on #10935
I use multiple scenes per game to keep everything organized. Just as an example, let's say you are playing a 2D overview game and walk into a door, you run a quick animation that opens the door (covering the whole screen with something) and swap scene mid animation where screen is covered by the animation. This animation could be ran on a persistent node above both scenes. This would make it possi

[2022-05-30 20:03] Ronsku opened #11290 "CC 3.5.0 - Multiplied Drawcalls for each Canvas"
### Cocos Creator version

3.5.0

### System information

Windows 11, Chrome

### Issue description

When you create more Canvas Components, you multiply ALL drawcalls by the number of Canvas components you have in your project, even though the other Canvas or Cameras would not render anything.

I think Canvas / Camera rendering should be separated completely from each other and not affected what

[2022-05-31 01:42] zhefengzhang commented on #9623
This issue has been fixed on the latest version of 3.x. https://github.com/cocos/engine-native/pull/3381

[2022-05-31 02:13] dumganhar commented on #10935
@Ronsku I think you could create a new issue to describe the problem. This issue is just for comparing the loading performance between 3.5 & 3.6 . Thanks.

[2022-05-31 02:22] pandamicro commented on #11290
Hi, the reason for that is your project have all node set to DEFAULT layer and all cameras set to see DEFAULT layer

![截屏2022-05-31 上午10 19 09](https://user-images.githubusercontent.com/632460/171079979-ff3de705-27b1-470e-8fbc-bacc5a3fb39f.png)

If you want to use multiple Canvas (contains multiple camera), you can either use only one camera to capture them all, or manage nodes layer and Camera vi

[2022-05-31 02:23] #11290 closed, assigned to nobody

[2022-05-31 02:26] pandamicro commented on #11271
@PPpro please check whether user can forbid a camera from being managed by the Input

[2022-05-31 03:21] dumganhar opened #11295 "Add Downloader Test to testcase"

[2022-05-31 03:25] jareguo commented on #11273
这个问题由于我们最近都没收到同类反馈，可能已经修复了。麻烦你尝试一下 最新 版本（2.4.9）的引擎，看看这个 bug 是否仍然存在。

[2022-05-31 03:49] xianyinchen opened #11297 "[3.6.0] Loading problem of ttf font"
### Cocos Creator version

3.4.2,3.5

### System information

Android 12

### Issue description

**different rendering result in editor and runtime.**

editor picture:
![企业微信截图_16539688169869](https://user-images.githubusercontent.com/8321365/171088863-531ac60c-80b5-42f5-82c1-dd3f5c4d549e.png)

runtime picture:
![Screenshot_20220531-114501_test](https://user-images.githubusercontent.com/8321365/17

[2022-05-31 06:19] PPpro commented on #11271
可以试试合并这个修改，禁用 RT 上的触摸检测

https://github.com/cocos/cocos-engine/pull/11299

[2022-05-31 06:29] endless3000 commented on #11273
@jareguo  hi，在2.4.9版本中依旧存在此bug;

[2022-05-31 06:35] #11243 closed, assigned to novain1102

[2022-05-31 06:45] timlyeee opened #11302 "Add audio backend by using AvAudioEngine"
On Apple devices, AVAudioEngine is suggested to use, and could reduce bug on OpenAL

[2022-05-31 08:27] zhefengzhang opened #11305 "Creator 2.x version setResizeCallback needs to be adapted to wx.onWindowResize"
### Use Case

。

### Problem Description
![图片](https://user-images.githubusercontent.com/35944775/197491932-cc47df7f-f6d7-494e-84c5-13ca0c920baa.png)
。

### Proposed Solution

_No response_

### How it works

_No response_

### Alternatives Considered

。

### Additional Information

_No response_

[2022-05-31 08:31] knoxHuang commented on #10790
<img width="726" alt="image" src="https://user-images.githubusercontent.com/7564028/171128977-61748b44-e3a5-4706-9cd2-397800d79463.png">

The try catch code here is wrong and needs to be adjusted to the following code

<img width="532" alt="image" src="https://user-images.githubusercontent.com/7564028/171129050-f693f14b-6736-47ab-a64b-95ac04a4aa2e.png">

[2022-05-31 08:31] #10790 closed, assigned to knoxHuang

[2022-05-31 08:48] qiuguohua opened #11306 "dispatchOrientationChangeEvent is not called"
### Cocos Creator version

3.5.0 3.5.1

### System information

Andorid/IOS

### Issue description

In 3.5 and 3.5.1, the dispatchOrientationChangeEvent function is not called, so the js layer cannot call back the onOrientationChanged function

### Relevant error log output

_No response_

### Steps to reproduce

The mobile terminal triggers the screen orientation switch

### Minimal reproduction

[2022-05-31 09:53] dumganhar opened #11310 "[v3.6][bug] VideoPlayer script error"
[code]

[2022-05-31 10:04] dumganhar commented on #11310
WebView test also triggers similar issue.
[code]

[2022-05-31 10:35] zhefengzhang opened #11311 "[3.5.0] When vulkan + swappy is checked in the Android platform build, the game retires to the background and returns to the foreground with a black screen"
### Cocos Creator version

3.5.0

### System information

android 12，redmi k40

### Issue description

https://forum.cocos.org/t/topic/135980

![图片](https://user-images.githubusercontent.com/35944775/171152880-d88781e0-d354-4c74-9d8c-a502a56e6e48.png)

### Relevant error log output

_No response_

### Steps to reproduce

1、Create a new HelloWorld project, then open the build panel and select the a

[2022-05-31 10:42] minggo commented on #11162
As not all platforms support re-launch application, so use the same way. I just deleted and re-created all resources as possible in https://github.com/cocos/cocos-engine/pull/11301

[2022-05-31 10:43] #11162 closed, assigned to bofeng-song, novain1102, timlyeee

[2022-05-31 11:08] OnlyKoei opened #11312 "texture Displays an exception after setting PremultiplyAlpha"
### Cocos Creator version

2.4.x

### System information

web

### Issue description

https://forum.cocos.org/t/topic/135706

### Relevant error log output

_No response_

### Steps to reproduce

demo:
[AlphaTest.zip](https://github.com/cocos/cocos-engine/files/8804518/AlphaTest.zip)

Interim approach：cc.macro.ALLOW_IMAGE_BITMAP = false；

### Minimal reproduction project

_No response_

[2022-06-01 02:12] jareguo commented on #10886
PR 合并到了 2.8，但 2.4.9 还是有用户报。https://forum.cocos.org/t/topic/135553

但是我认为这个问题不应该直接修复，如果引擎从始至终都这样，修复了会对兼容性造成破坏

[2022-06-01 03:31] timlyeee opened #11317 "Force set v8's symbol visibility to hidden."
On Android platform, the symbols of v8 are exported directly to libcocos.so, including v8::internal which is unneccessary.

Should recompile v8 and set visibility to hidden to solve this issue.

[2022-06-01 03:34] ashleylin97 commented on #11311
We can reproducible this problem by this phone.
中兴ZTE Axon30 | Android 11 | 8GB+128GB | Snapdragon 870

[2022-06-01 03:50] pandamicro commented on #11311
If user encounter this issue, please ask them to switch off Swappy temporarily

[2022-06-01 07:43] #10955 closed, assigned to qiuguohua

[2022-06-01 07:43] #11306 closed, assigned to qiuguohua

[2022-06-01 07:43] #10935 closed, assigned to dumganhar, SantyWang

[2022-06-01 07:48] #11124 closed, assigned to minggo

[2022-06-01 07:51] PatriceJiang commented on #11041
`__objectMap` is an instance of `std::unordered_map` and the Complexity of `find` is `O(1)` which should not be the bottleneck.

Would you pls upload the profiling data or screen capture

[2022-06-01 07:59] #11297 closed, assigned to nobody

[2022-06-01 08:34] pandamicro commented on #11271
@zenskcode
If you don't want to modify the engine, you can also temporarily forbid all system events for canvas panel that is rendered on the RenderTexture, use [pauseSystemEvents](https://docs.cocos.com/creator/3.5/api/zh/class/Node?id=pauseSystemEvents) API

[code]

[2022-06-01 09:14] #11235 closed, assigned to novain1102

[2022-06-01 09:23] oahc09 commented on #11041
yes, find is o(1) , i didn't notice before
i write some code to test
pc c++14 test release mode:
map 10,000 size find consume time is 100 ns
map 50,000 size find consume time is 0 ns
map 100,000 size find consume time is 100 ns
map 1000,000 size find consume time is 100 ns
map 10000,000 size find consume time is 0 ns

time is not always 0 ns, sometime is 100ns

below screen shot is android cpu pro

[2022-06-01 12:35] hnmli099 opened #11328 "Inexplicable joint jitter 关节莫名抖动"
### Cocos Creator version

2.0.8

### System information

simulator 模拟器

### Issue description

A chain made according to the official physical example, but I added an additional spherical rigid body. Rotation joints are also added. However, the joint cannot be fixed after adding. Removing the sphere is no problem. Sphere I have tested the custom physical area and the circular physical area, and t

[2022-06-01 12:37] hnmli099 opened #11329 "Rigid body rotation not synchronized to node 刚体旋转未同步到node"
### Cocos Creator version

cocoscreator 3.4.0

### System information

chrome

### Issue description

Reproduction method: add 2D rigid body and collision body to the picture. When the rigid body changes its rotation under the influence of the physical system, use node Rotation obtains the rotation angle. The resulting angle is the same as the initial angle of the object and is inconsistent with t

[2022-06-01 12:44] jareguo opened #11330 "Touch Event adaptation issues on WeChat Mini Program"
In the forum, there are many touch-end related issues when running in the webview of WeChat Mini Program.
It seems all of them are caused by the same problem and only raise in WeChat DevTools, not real device. Could be fixed by using
[code]

Please verify and fix in 2.x/3.x.

See
https://forum.cocos.org/t/topic/103840
https://forum.cocos.org/t/touchend/62783
https://forum.cocos.org/t/h5-web-view/7

[2022-06-01 13:28] hnmli099 opened #11331 "No response from force to rigid body 力到刚体上无响应"
### Cocos Creator version

2.4.5

### System information

 simulator

### Issue description

Reproduction method: for a rigidbody component, call its applyforcetocenter() to apply a force to the center of mass on the rigid body. Change the mass attribute of rigidbody, and the acceleration of rigidbody does not change

First error: no error

重现方式：对一个RigidBody组件，调用其 applyForceToCenter （）施加一个力到刚体上的质心

[2022-06-01 14:43] hnmli099 opened #11332 "Physical material problems 物理材质问题"
### Cocos Creator version

3.2.1

### System information

bullet

### Issue description

When playing a small ball bouncing game, I originally applied linear speed to the ball to simulate bouncing, but the feel was not very good

So the physical material is used and the elasticity is set, but the collision event (istrigger = false) cannot be triggered stably, and the triggering event (istrigger =

[2022-06-01 14:52] hnmli099 opened #11333 "2D engine coordinate system error 2D引擎坐标系错误"
### Cocos Creator version

2.4.6

### System information

null

### Issue description

In version 2.4.6, the 2D physics engine now has a coordinate system error. When will this problem be fixed?

I haven't tried the 3.xx version. I don't know if there are any problems

2.4.6版本，2d物理引擎现在坐标系错误，这个问题啥时候修复呢？

3.XX版本没试过，不知道有没有一样的问题

### Relevant error log output

_No response_

### Steps to reproduce

ht

[2022-06-01 14:58] hnmli099 opened #11334 "Hang point bug 挂点BUG"
### Cocos Creator version

2.4.3

### System information

 IOS

### Issue description

Game design purpose: spin animation of hanging guns at the muzzle of characters

Reproduction: drag another node into the hanging point. Let's call it gunmouth. At this time, we are adding a monochrome sprite frame in gunmouth. At this time, we rotate the weapon. The monochrome sprite frame can accurately rotate

[2022-06-01 15:02] hnmli099 opened #11335 "If senesor is ticked, it will not be triggered SENESOR勾上导致回调就不触发了"
### Cocos Creator version

2.2.2

### System information

null

### Issue description

The introduction of sensor is "collision callback can be generated but no physical collision effect will occur"

Here, after I try to tick it, the original collision callback will no longer trigger specific information. You can see the effect in the above picture

4D69283A-65A1-44fb-AC3D-B827ECFF93E6
4D69283A-65

[2022-06-01 15:09] hnmli099 opened #11336 "collision can be detected even if collider2d is disabled 禁用了Collider2D也能被碰撞检测到"
### Cocos Creator version

 3.2

### System information

null

### Issue description

Creator version: 3.2

Physical engine: builtin

Phenomenon: collision can be detected even if collider2d is disabled

Reproduction method: first disable collider2d, then set its group, and the shape removed when disabled will be added again, resulting in collision detection when disabled

Recurrence probability:

[2022-06-02 03:17] zenskcode commented on #10998
3.5.1测试不再复现

[2022-06-02 03:28] dumganhar opened #11339 "[v3.6] Crash after hot update"
It's dangerous to use a thread that is detached.

<img width="713" alt="WeChatd045b816d0efec0f19686a16d4572108" src="https://user-images.githubusercontent.com/493372/171546930-e577ba10-7846-4d14-9844-b6a29678b321.png">
<img width="1972" alt="WeChatb2483f91871ca867ebd70bf33ae4e764" src="https://user-images.githubusercontent.com/493372/171546945-e9073a1a-0bb5-4697-b10c-e7958d745aa3.png">

<img width

[2022-06-02 03:39] dumganhar commented on #11339
https://github.com/cocos/engine-native/pull/4008

[2022-06-02 03:49] smitpatel88 commented on #10354
@holycanvas Does this help in native env as well?

[2022-06-02 05:35] dumganhar opened #11341 "[v3.6] Random crash when launching hot update demo"
https://github.com/cocos-creator/cocos-tutorial-hot-update
<img width="1932" alt="WeChat2be9c0730b99ccac21dc8593378d8017" src="https://user-images.githubusercontent.com/493372/171559886-2ff06203-7ca8-4072-a7c2-9c5b6b10a5e7.png">

[2022-06-02 05:36] hnmli099 opened #11342 "Unstable frame rate 帧率不稳定"
### Cocos Creator version

null

### System information

null

### Issue description

Suppose a very simple scenario. I let a little man run forward at a constant speed. For example, 10m/s. Use the setlinearvelocity (0,0,10) function.

Then I found that on some low-end machines. Because you can't reach 60 frames. It can only run for 30 frames, which makes the running speed of the little man slow b

[2022-06-02 05:40] hnmli099 opened #11343 "2D物理 改变了节点的scaleX导致碰撞触发错误"
### Cocos Creator version

cocos creator v2.4.0

### System information

cocos creator

### Issue description

When using physical collision, the two objects are still in contact, but changing the direction will trigger onbegincontact and onendcontact repeatedly.

在使用物理碰撞的时候，两个物体还在接触阶段，但是改变方向却会重复触发onBeginContact和onEndContact。

如图：

Kapture 2020-08-12 at 1.34.26.gif

会出现这种情况的原因是改变了节点的 scaleX。（这个应该是

[2022-06-02 05:52] hnmli099 opened #11344 "Rigid bodies cannot close 刚体无法关闭"
### Cocos Creator version

null

### System information

null

### Issue description

The desktop splicing is gradually disconnected through collision. Now the rigid body information is set. I want to close it and open it during collision, but it can't be closed

image
桌面拼接 通过碰撞逐渐断开 现在都是设置好了刚体信息了 想着关闭 然后碰撞的时候打开就好了 但是关闭不了啊

### Relevant error log output

_No response_

### Steps to reproduce

https

[2022-06-02 06:02] hnmli099 opened #11345 "Invalid collation matrix collision matrix无效"
### Cocos Creator version

null

### System information

null

### Issue description

Set such a collision matrix. The physical collision engine is buildin

Add boxcollider2d to the two nodes respectively. One group is set to a and the other group is set to B. There will be no collision callback.

In addition, if the groups of both nodes are set to default,

In callback

onBeginContact(selfCollide

[2022-06-02 06:11] hnmli099 opened #11346 "When the sensor property is false, onpresolve cannot be executed normally sensor属性为false时，无法可正常执行onPreSolve"
### Cocos Creator version

null

### System information

null

### Issue description

When the sensor attribute is false, the onprosolve method can be executed normally. After setting the sensor to true, the onprosolve method will not be executed. Please consult the great gods. How to solve it. thank you.
sensor属性为false时、可正常执行onPreSolve方法、设置sensor为true后，onPreSolve方法不执行了。请教各位大神。如何解决。谢谢。

### Releva

[2022-06-02 07:07] dumganhar commented on #11339
## How to Fix

Don't detach consumer thread, save the instance and join it at the end of terminateConsumerThread.

[code]

[2022-06-02 09:43] xianyinchen opened #11350 "[3.5.0] spine switching animation will have a flicker and a residual image"
### Cocos Creator version

3.5.0

### System information

Android 11

### Issue description

spine switching animation will have a flicker and a residual image

### Relevant error log output

_No response_

### Steps to reproduce

Test engineering has been provided.

### Minimal reproduction project

_No response_

[2022-06-02 10:14] jk20012001 opened #11352 "select object is not accurat enough"
### Cocos Creator version

3.6.0

### System information

Windows 10

### Issue description

select object is not accurat enough

### Relevant error log output

_No response_

### Steps to reproduce

![image](https://user-images.githubusercontent.com/15099632/171608614-8573157e-b70e-4707-854c-c53585e7c47d.png)
Create a new scene, place a sphere(0, 2, 0) on the top of a plane which at (0, 0, 0), wh

[2022-06-02 14:59] zenskcode opened #11356 "编辑器搜索功能，结果为文件夹时，希望可以提供展开下级的选项，便于开发"
发现可以在右侧预览进行观察，已关闭issue
![image](https://user-images.githubusercontent.com/46669456/171660798-afd18b50-868a-4708-ba3c-691451c78cd5.png)

[2022-06-02 15:04] #11356 closed, assigned to nobody

[2022-06-03 08:00] Ronsku commented on #10354
@holycanvas I really hope this ticket will be taken seriously, because it is actually causing a lot of problems for me currently.

Having over 2x size on cc.js doesn't only cause 2x loading downloading time, but the worst part is that especially on slower devices parsing of huge JavaScript files is really costly.

I have huge difference between loading CC2 and CC3 games. I was even struggling a bi

[2022-06-03 10:31] Ronsku commented on #10354
How about "Feature Cropping"? It doesn't seem to affect the bundle size if you check out most of the packages form the feature cropping in project settings.

For example in 2D games, I'm just guessing that the whole 3D library is packaged with it, even though it is not selected in the feature cropping.

[2022-06-03 12:49] jareguo opened #11357 "Should not export atlas plist raw file when building project"
### Cocos Creator version

3.5.0

### System information

WeChat Mini Game & Android

### Issue description

![image](https://user-images.githubusercontent.com/1503156/171856772-63813540-efc2-4c91-b0cb-cfd10ab2da74.png)
This file is useless, since we already import plist as SpriteAtlas object.

Re: https://forum.cocos.org/t/topic/135525/14?u=jare

### Relevant error log output

_No response_

###

[2022-06-03 22:55] Ronsku commented on #10997
@PPpro is it really fixed?
I tried 3.6.0 branch and I still get these errors
![image](https://user-images.githubusercontent.com/7983358/171964362-f51ca423-5b4c-4d4d-b7da-9bdd14885890.png)

this is from the "postinstall" and "build" npm runs. What do you suggest to do to fix this?

[2022-06-03 23:57] Ronsku commented on #10354
Some Google Lighthouse stats, on a game with most features removed 😬

Non-GZIP
![image](https://user-images.githubusercontent.com/7983358/171967496-17fc637b-ad87-4fee-b9d7-a1d0defe22b5.png)
![image](https://user-images.githubusercontent.com/7983358/171967438-d3d1c48a-d679-45f8-9331-ba7ceaf72513.png)
![image](https://user-images.githubusercontent.com/7983358/171967461-392d06c6-1eeb-4be4-95d3-99f312

[2022-06-04 00:05] Ronsku commented on #10354
Same on **CC 2** Gzip:ed, not great, but much better:
![image](https://user-images.githubusercontent.com/7983358/171968268-df7267d6-ebdf-494e-bc2b-ccf61ad2fb9c.png)
![image](https://user-images.githubusercontent.com/7983358/171968213-3d8ae760-4382-45ff-9279-ca6517c10169.png)
![image](https://user-images.githubusercontent.com/7983358/171968329-9b16a927-b505-4360-a793-94a5f41f8883.png)

[2022-06-06 02:23] zhakesi commented on #11350
* https://github.com/cocos/cocos-engine/pull/11358

[2022-06-06 02:23] #11350 closed, assigned to zhakesi

[2022-06-06 02:29] PPpro commented on #10997
https://github.com/cocos/cocos-engine/pull/11001
https://github.com/cocos/cocos-engine/pull/11013

This 2 PR doesn't fix the issue you mentioned, it fix the error like:
[code]

And sorry the issue you mentioned is not easy to solve at present  :(
but it should have little impact

This issue could be solved after engine modularization，which is a long term task

@Ronsku

[2022-06-06 03:01] timlyeee opened #11362 "[3.6] No debugger could be attached."
Once the application is already init, the code to set debugger's info makes no meaning here.
[code]
Thus we have no debugger tool to use or attached.

[2022-06-06 03:27] dumganhar opened #11363 "Apple platform macros need to be adjusted"
Currently,
[code]

Suggestion:
[code]

[2022-06-06 05:35] #11339 closed, assigned to dumganhar

[2022-06-06 05:38] #11148 closed, assigned to dumganhar

[2022-06-06 05:39] #11279 closed, assigned to dumganhar

[2022-06-06 05:43] shrinktofit opened #11367 "Supports browser field in package.json"
There are still many npm packages using `browser` field in package.json to declare the browser edition entries of the package. Developers are eagerly looking forward to such support.

See also: https://forum.cocos.org/t/topic/119511/114

Formal description of `browser` field: https://github.com/defunctzombie/package-browser-field-spec

[2022-06-06 06:22] PPpro commented on #11367
Unit Test https://github.com/cocos/creator-programming/pull/16/files

[2022-06-06 07:09] Ronsku commented on #10997
@PPpro How do you run and develop on the engine then?
I would just get it to run since I really need to look and try to modify the engine to get rid of dead code in a 2D game.
I'm here referring to my ticket: https://github.com/cocos/cocos-engine/issues/10354

[2022-06-06 07:28] PPpro commented on #10997
I would just get it to run since I really need to look and try to modify the engine to get rid of dead code in a 2D game.

[code]
All these log should be warning messages to generate cc.d.ts,
they are not the error messages that blocking you from running the engine.

I am not quite sure what issue you encounter when you are running the engine ?

[2022-06-06 07:48] timlyeee commented on #11288
As it's mentioned before, right now I realize that it all depends on how JS shows the data in mesh.ts, which should be checked first

[2022-06-06 07:51] OnlyKoei opened #11372 "sp.spine syntax error"
### Cocos Creator version

3.4.2，3.5.1，3.5.0

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/136317

3.4.2：
![image](https://user-images.githubusercontent.com/40415168/172118558-510f18e0-928a-4987-88b1-b3bc1a460090.png)

3.5.1，3.5.0：
![image](https://user-images.githubusercontent.com/40415168/172118663-9a5d3af6-ee20-4f37-b1dc-26dee47a91c8.png)

### Relevan

[2022-06-06 07:58] Ronsku commented on #10997
@PPpro Thanks for your swift responses!
I see, I thought that was required to run it properly. Because when I start the engine with `npm run server` It does start up the server but it is missing a bunch of files:
![image](https://user-images.githubusercontent.com/7983358/172120015-c6bd8051-8359-4342-a3c4-40189b3535a7.png)

[2022-06-06 08:08] Ronsku commented on #10997
@PPpro Here is from the terminal
![image](https://user-images.githubusercontent.com/7983358/172121510-e2b08a1c-e1c3-4475-b0cd-bcc3e952148c.png)

[2022-06-06 08:10] xianyinchen opened #11373 "script import error"
### Cocos Creator version

3.4.2,3.5.1

### System information

Chrome on Window

### Issue description

the script load OK in 3.4.x, but throw an error in 3.5.1

![企业微信截图_16544974369777](https://user-images.githubusercontent.com/8321365/172121425-75c044bd-ec54-4d17-b6a5-99586fc0eb02.png)
![企业微信截图_16544974755886](https://user-images.githubusercontent.com/8321365/172121445-0d30c6c1-8fcf-452f-aaec-7

[2022-06-06 08:15] PPpro commented on #10997
@Ronsku Oh, sorry, we have not maintained the playground for a long time, the `npm run server` is not working now.

For now, if you want to run the custom engine, you can try on the  docs **Engine Customization Workflow**
https://docs.cocos.com/creator/manual/en/advanced-topics/engine-customization.html?h=customiz

[2022-06-06 08:52] Ronsku commented on #10997
@PPpro ahaa, I see. Thanks!

[2022-06-06 09:46] shrinktofit commented on #11367
The following is some popular packages that use browser field:

- https://github.com/axios/axios (as one of npm top 10 packages)

@PPpro  They're also good points to verify our implementation.

[2022-06-06 10:04] dumganhar opened #11377 "[v3.6] Game Activity ANR in model animation test case"
## Reproduce Step:

Demo: https://github.com/cocos/cocos-benchmark

Model Animation -> Modify editorbox -> set model count to 800 -> ANR
[anr_2022-06-06-17-50-02-070.zip](https://github.com/cocos/cocos-engine/files/8843586/anr_2022-06-06-17-50-02-070.zip)

[code]

[2022-06-06 14:15] pandamicro commented on #11288
@timlyeee It's because the mesh asset is using the specific format for those attributes, the engine itself won't change format settings.

If any optimization applicable to the attribute format, it should be applied during DCC import process.

@shrinktofit please confirm how we created the mesh asset, and how we determine the attribute format. Is there any space to improve the memory usage of mesh

[2022-06-07 01:45] obraz29 commented on #9659
Hello @yeshao2069 sorry for opening this thread, it's more than 6 months and this issue is still exist, currently on cocos 3.4.2, 3.5.x, the drawcall still increase even when we use same atlas. I mean even we create 2 animations which are same spine on scene, drawcall still increase. It's affecting on our game much, could you please suggest any solution or patch to fix it ?

[2022-06-07 02:35] shrinktofit commented on #11288
Vertex attribute format is determined by the model file it belongs to. In glTF case, it can be one of the possible formats as specified in https://www.khronos.org/registry/glTF/specs/2.0/glTF-2.0.html#meshes-overview . In case of FBX, all attributes are stored as 32 bits floating points except as joint indices are stored as 32 bits unsigned integers.

[2022-06-07 03:56] dumganhar opened #11382 "PhysX Physics costs some time even there is not physics node in scene"
## How to Reproduce ?

- Open cocos-benchmark ( https://github.com/cocos/cocos-benchmark ) project in Cocos Creator
- Project -> Project Settings -> Feature Cropping -> Packing all features -> Physics System -> select PhysX Based Physics System
<img width="800" alt="WeChat5768f38932361d99ba9ec8cd10e88393" src="https://user-images.githubusercontent.com/493372/172292059-e7f64ef5-8f51-4b5f-8b71-cf505

[2022-06-07 06:11] timlyeee commented on #11288
Formate Type defined in define.ts, which does not include a type with half_float,
[code]
In fact, in javascript, number is a type for 32bit, which makes no difference between half_float and float.
On Native, all data come from javascript, thus format type keeps the same.
[code]

Should add one format type a least

[2022-06-07 07:48] minggo opened #11388 "Sync component related events to native"
The corresponding modification can refer to [this commit](https://github.com/cocos/cocos-engine/pull/11387/commits/f17ab5d950e2f28af0719b0a674bfe97ce1e7d87).

[2022-06-07 08:57] shrinktofit commented on #10354
@Ronsku  Have you tried the build setting "Erase module structure(experimental)"? That option will flattern import chain.

[2022-06-07 09:10] Ronsku commented on #10354
@shrinktofit No I had not tried that one before. I tried it now with an empty project. Here are the results:
Feature Cropping:
![image](https://user-images.githubusercontent.com/7983358/172342013-9469bb0b-057d-4229-b3e7-d7810068f8a9.png)

Build Settings WITHOUT "Erase module structure(experimental)"
![image](https://user-images.githubusercontent.com/7983358/172341930-1de8d710-902e-44bc-b827-a8d309

[2022-06-07 09:16] shrinktofit commented on #10354
@Ronsku Well this option is dedicated to project scripts, not engine :)

[2022-06-07 10:24] pandamicro commented on #11288
There are three critical point along the way to make sure GPU using more compact layout of data:

1. Importer: FBX and glTF importer should both support choosing suitable data format, for example, using RGB16F for normal or uv attributes when possible. The new formats also need to be defined in FormatType. @AFeiYA
2. Runtime asset loading: While loading the mesh asset in runtime, we need new types

[2022-06-07 10:35] star-e commented on #11288
Different platforms might need different formats.
For example, some platforms, half(float16) might not be supported.

https://developer.qualcomm.com/sites/default/files/docs/adreno-gpu/developer-guide/gpu/best_practices_vertex.html#:~:text=One%20array%20with%20vertex%20attributes%20and%20other%20attributes,no%20support%20for%20half%20floats%20in%20Vulkan%20shaders.

[2022-06-07 10:38] star-e commented on #11288
There are also some recommendations on android.

    Compressing vertex position to half-precision 16-bit floats
    Compressing UV texture coordinates to 16-bit unsigned integer ushorts
    Compressing the tangent space by encoding normal, tangent, and binormal vectors using quaternions

https://developer.android.com/agi/frame-trace/vertex-formats

[2022-06-07 10:51] linruimin opened #11390 "Spine textures are compressed using ETC1 RGB Separate A, transparency is lost"
### Cocos Creator version

3.4.2

### System information

huawei p30pro

### Issue description

There are no hints in the documentation and editor, hope to add.

### Relevant error log output

_No response_

### Steps to reproduce

refer to：https://forum.cocos.org/t/topic/128684

### Minimal reproduction project

_No response_

[2022-06-07 14:48] #10840 closed, assigned to nobody

[2022-06-08 01:44] lealzhan commented on #11382
step() functions of all other physics-backend's PhysicsWorld check the number of sharedBodies. If the number is zero, it will directly return.PhysXWorld::step() funciton does not  do this.
![企业微信截图_16545850256520](https://user-images.githubusercontent.com/9999378/172513435-5ab674a0-2818-42ec-96fb-dc6854aa3a93.png)

[2022-06-08 05:39] #11382 closed, assigned to lealzhan

[2022-06-08 06:49] dumganhar commented on #11288
Need to check `GL_ARB_half_float_vertex` for OpenGLES.

[2022-06-08 07:53] dumganhar opened #11404 "Typo: ISubMesh.vertexBundelIndices"
Need to deprecate it and rename to vertexBundleIndices .

[2022-06-08 08:36] bofeng-song commented on #11377
https://github.com/cocos/cocos-engine/pull/11406

[2022-06-08 10:33] OnlyKoei opened #11412 "richtext triggers two click events"
### Cocos Creator version

3.5.1

### System information

chrome

### Issue description

When the text is a line break, the overlapping part of the text area will trigger two click events；
In the video you can see that the log prints twice after clicking in some areas

https://user-images.githubusercontent.com/40415168/172595151-4c174b9b-84dd-4322-aef5-1037cde9958c.mp4

### Relevant error log outp

[2022-06-09 03:02] #11341 closed, assigned to novain1102

[2022-06-09 03:29] shrinktofit commented on #11373
Fixed in https://github.com/cocos/cocos-editor/pull/308

[2022-06-09 05:50] bofeng-song commented on #11377
11406 pr 已解决该问题

[2022-06-09 05:50] #11377 closed, assigned to bofeng-song

[2022-06-09 06:34] #11388 closed, assigned to minggo

[2022-06-09 09:29] OnlyKoei opened #11439 "richtext Line feed display exception"
### Cocos Creator version

3.5.0，3.5.1

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/136509
![image](https://user-images.githubusercontent.com/40415168/172813817-8efd0538-6dfc-41b6-a61c-82494077d973.png)

video:

https://user-images.githubusercontent.com/40415168/172813912-7af6fe34-9c8e-463a-94bc-5d8e67f2f935.mp4

### Relevant error log output

_No respo

[2022-06-09 10:40] linruimin opened #11443 "canot use Export Asset Package"
### Cocos Creator version

3.5.1

### System information

Windows 10 Editor

### Issue description

use Export Asset Package , the editor shows :[Scene] Cannot read property 'E:\gitee\forum\136461_351\assets\bundle001' of undefined
![image](https://user-images.githubusercontent.com/18083506/172828099-8cc095d5-97db-4261-93f0-2398a46fcad3.png)

![企业微信截图_16547673312325](https://user-images.githubuser

[2022-06-10 02:37] PPpro commented on #10839
another warnning optimization request
https://forum.cocos.org/t/topic/136402/21

[2022-06-10 06:02] OnlyKoei opened #11450 "Native platform dragonBones does not get the correct node size"
### Cocos Creator version

2.4.9，3.5.1

### System information

window10, android , web

### Issue description

https://forum.cocos.org/t/topic/136526
![image](https://user-images.githubusercontent.com/40415168/172986868-3b32396a-b3d5-44de-9847-73c7b9004e38.png)

The native platform is the initial size of the node, while the web platform gets the size of the node after the dragonBone animation is

[2022-06-10 06:24] SantyWang opened #11454 "When a node is in a nested prefab, a fixed node id needs to be provided"
When doing network synchronization, the node ids need to be mapped between clients. The ids of the nodes in prefab are dynamically generated，so we need a fixed generation algorithm.

NOTE: Attention needs to be paid to the situation in the nested prefab

[2022-06-10 06:38] MossFrog opened #11455 "Linux Compatible Build For Cocos-Creator"
### Use Case

We work on multiple web based games as a company both playable-ads and HTML5 games.

### Problem Description

Some members of the company use linux as their primary operating system within the company and would like to request a Linux build for the engine or at least a compatibility layer/wrapper that allows the engine to run within an Arch or Debian based environment.

### Proposed

[2022-06-10 13:33] zenskcode opened #11465 "animationClip uuid 搜索遗漏"
### Cocos Creator version

3.5.1

### System information

windows10

### Issue description

1、控制台报资源丢失
![image](https://user-images.githubusercontent.com/46669456/173075316-b99e5719-3910-440f-a537-34320928cb25.png)
编辑器搜索uuid，搜索不到
但是通过vscode检索prefab，可以查到该uuid,
![image](https://user-images.githubusercontent.com/46669456/173076068-836a7753-ac8b-43c5-9d91-36a36523b034.png)
得知组件为animation后，返回编辑器查找该组件
!

[2022-06-10 14:37] jk20012001 commented on #11198
https://github.com/cocos/cocos-engine/pull/11322

[2022-06-10 14:37] #11198 closed, assigned to jk20012001, xubing0906

[2022-06-10 14:39] pandamicro commented on #10659
@avpeery Thanks for the notification, we will verify and close it

[2022-06-10 17:54] mikecoker opened #11466 "Latest engine leaks HTMLCanvasElements"
### Cocos Creator version

3.5.1

### System information

ALL

### Issue description

https://github.com/cocos/cocos-engine/blob/f7e0deca938c27a6489a9f43ecc882cc5916165e/cocos/2d/assembler/label/font-utils.ts#L146

someone commented out the return to the pool and it should be this:

`public destroy () {
        this.image = null;
        // Label._canvasPool.put(this._data);
        CanvasPool.get

[2022-06-11 06:44] #11373 closed, assigned to shrinktofit

[2022-06-11 09:45] az198071123 opened #11469 "[2.4.9] Got SyntaxError when using `SignalR` 6.0.5"
### Cocos Creator version

2.4.9

### System information

MacOS 12.4

### Issue description

I try to use `SignalR` from npm
when I import signalR and use it then I got error in Editor.

<img width="869" alt="image" src="https://user-images.githubusercontent.com/5800906/173182482-7caad99c-8bc4-4070-9fb6-242fc5e214aa.png">

Note: When I using version 5.0.17, It's works fine.

please help me take a

[2022-06-12 08:52] PPpro commented on #10821
JS can't do that, neither by `Proxy` or use `Object.defineXXX` methods.
There is no way to make a proxy to access the top level variable for JS.
Also there is no way to override the constructor of class. Though the `Proxy` provide a way to do that, it's not polyfillable.

And here is what we can do to optimzie the UI deprecated info for developers:  https://github.com/cocos/cocos-engine/pull/11472

[2022-06-12 08:53] PPpro commented on #10819
There is no way for JS to do this,

for more detailed info, please take a look into this issue: https://github.com/cocos/cocos-engine/issues/10821

[2022-06-12 16:05] mrtzd opened #11474 "Unable to export ParticleSystem2D to plist file"
### Cocos Creator version

3.5.1

### System information

Windows 10 Editor

### Issue description

Trying to export any kind of ParticleSystem2D to a .plist file results in the following errors:

[code]

[code]

[code]

![image](https://user-images.githubusercontent.com/82378750/173242079-5017dbaa-7e88-4706-9283-13f17aaa2668.png)

### Relevant error log output

_No response_

### Steps to reprodu

[2022-06-13 02:20] shrinktofit commented on #10821
We may achieve this with the help of transpiling:

[code]

👇

[code]

but the deficiency is certain forms of import can not be captured:

[code]

----------------------------

Edit: well I got an idea to handle the above case:

[code]

[2022-06-13 04:56] #11076 closed, assigned to PPpro

[2022-06-13 08:11] dumganhar opened #11481 "[JSB] Support std::string_view conversion"

[2022-06-13 08:34] #11122 closed, assigned to xubing0906

[2022-06-13 10:27] obraz29 commented on #9659
@yeshao2069 hello,

[2022-06-13 10:30] obraz29 commented on #9659
Hello @yeshao2069 , currently on cocos v342, cocos v350, spines are not batched at all, even we use same atlas, is it a bug ?

[2022-06-14 01:24] PatriceJiang commented on #11041
I have noticed that the execution time of these functions is relatively low. I don't think optimization is needed at present.

And I suppose frame dropping may be caused by other reasons

[2022-06-14 01:33] oahc09 commented on #11041
ok，this issue can be closed firstly, thks for reply.

[2022-06-14 01:37] #11041 closed, assigned to PatriceJiang

[2022-06-14 01:59] #11362 closed, assigned to dumganhar

[2022-06-14 05:58] fish9167 commented on #10987
Change the action (run test cases) triggering
- manual: add comments "@cocos-robot "
- auto: [x] needs automatic test cases check.

[Change action run test cases #11386](https://github.com/cocos/cocos-engine/pull/11386)
[sync action yml #11495](https://github.com/cocos/cocos-engine/pull/11495)

[2022-06-14 09:44] jareguo commented on #11465
1，构建过程中的报错，3.6 会改成警告（实际上用户一般不关心，其它引擎也完全不管），并且警告信息里会像 2.x 一样包含比较详细的信息便于查找
3，增加一个搜索选项“仅丢失资源的节点“（Only Nodes with Missing Asset），置于底部，效果和这个一样样
![image](https://user-images.githubusercontent.com/1503156/173559487-d16a2941-756c-4470-b959-b03bad2226ca.png)

[2022-06-14 10:28] Ronsku commented on #10354
@shrinktofit I see, but didn't help with loading speed for me at least. Engine size is the issue

[2022-06-14 10:35] Ronsku opened #11503 "CC 3.5.1 - Scene Swap Performance is slow"
### Use Case

Related to this ticket: https://github.com/cocos/cocos-engine/issues/10935

I use multiple scenes per game to keep everything organized. Just as an example, let's say you are playing a 2D overview game and walk into a door, you run a quick animation that opens the door (covering the whole screen with something) and swap scene mid animation where screen is covered by the animation. Th

[2022-06-14 14:33] PPpro commented on #11135
docs added https://github.com/cocos/3d-tasks/blob/master/api-docs/native-binding-api.md
related PR https://github.com/cocos/cocos-engine/pull/11478

[2022-06-15 02:28] shrinktofit opened #11507 "Animations keep running even the component has been inactivated"
### Cocos Creator version

3.5.0

### System information

Windows 11

### Issue description

Transferred from https://forum.cocos.org/t/topic/136699

### Relevant error log output

_No response_

### Steps to reproduce

See the project attachment.

### Minimal reproduction project

_No response_

[2022-06-15 03:07] thinhlv opened #11508 "[3.4.0] iOS AudioEngine.play(clip) cause memory leak on iOS build."
### Cocos Creator version

3.4.0

### System information

Iphone 8, iOS 15.4

### Issue description

- AudioSource play audio background music cause memory leak for every time we changes the music clip.
- Create a simple script to change your  background music by time, on the native platform (iOS 15.4).
- The memory leak will be accured for every music changes.
- Look at the Instrument result, the

[2022-06-15 03:20] shrinktofit commented on #11507
Fixed by https://github.com/cocos/cocos-engine/pull/11510

[2022-06-15 03:45] OnlyKoei opened #11511 "Native platform setting dragonBones cache mode crashes"
### Cocos Creator version

3.5.1

### System information

android，window10

### Issue description

https://forum.cocos.org/t/topic/135736
![image](https://user-images.githubusercontent.com/40415168/173731846-4da158b7-5e90-4368-90c8-ac15700972b5.png)

Error Log：
![企业微信截图_16552605009996](https://user-images.githubusercontent.com/40415168/173731985-bb06a5d8-16b2-4d96-b31a-2e46bc3c36b0.png)

### Relev

[2022-06-15 05:46] jareguo commented on #11357
3.0 开始就有的 bug

[2022-06-15 06:59] jareguo commented on #10748
1 已完成

[2022-06-15 07:47] VisualSJ commented on #11357
功能已经合并，3.6 将带上

[2022-06-15 07:47] #11357 closed, assigned to VisualSJ

[2022-06-15 07:51] PatriceJiang commented on #10834
Fixed in https://github.com/cocos/cocos-engine/pull/11522

[2022-06-15 07:51] #10834 closed, assigned to PatriceJiang

[2022-06-15 07:57] #11169 closed, assigned to minggo

[2022-06-15 10:10] minggo commented on #11223
Already use c++17. But we should add c++17 features carefully in future.

[2022-06-15 10:10] #11223 closed, assigned to minggo

[2022-06-15 10:53] shrinktofit commented on #10787
Fixed by https://github.com/cocos/engine-extensions/pull/78

[2022-06-15 10:53] #10787 closed, assigned to shrinktofit

[2022-06-15 10:56] shrinktofit commented on #11248
Fixed by https://github.com/cocos/cocos-editor/pull/320

[2022-06-15 14:24] pandamicro commented on #10354
In v3.6, we will remove effects.js from the engine to achieve two goals
1. Reduce engine package size by 20% - 30%
2. Improve engine initialize speed by only loading necessary shaders to GPU

This is also described in https://github.com/cocos/cocos-engine/issues/10529, so we will complete the last in v3.6, and I'm moving this issue to v3.7 so that we can keep tracking further optimizations

@holyc

[2022-06-15 14:53] pandamicro commented on #10377
What @minggo mentioned is how we check the webp support actually, so if it doesn't work then it won't be loaded from the server. @PPpro Is there anything else to do with this issue ? If not we should close it

[2022-06-15 14:54] pandamicro commented on #10528
Is there anything else to be done? If not please close it

[2022-06-15 15:01] pandamicro commented on #10748
The second will be done with custom render pipeline task, this issue will be closed

[2022-06-15 15:01] #10748 closed, assigned to star-e

[2022-06-15 15:05] pandamicro commented on #10936
This won't be shipped with v3.6, rescheduled to v3.7

[2022-06-15 15:13] hana-alice commented on #10528
nothing has been done yet, still planned.

获取Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: pandamicro ***@***.***>
Sent: Wednesday, June 15, 2022 10:54:57 PM
To: cocos/cocos-engine ***@***.***>
Cc: Zeqiang Li ***@***.***>; Assign ***@***.***>
Subject: Re: [cocos/cocos-engine] refactor gfx::FramebufferInfo (Issue #10528)

Is there anything else to be done? If no

[2022-06-15 16:40] PPpro commented on #10377
It seams that Safari 14 starts supportting webp, but `HTMLCanvasElement.toDataURL('image/webp')`  is not supported yet.
we can try detecting the browser version of Safari to force openning the webp support.

[2022-06-16 01:45] minggo commented on #11508
@thinhlv thanks for feedback. Can i know more detail informations:
- Does it only cause leak on iOS 15.4? Have you tested on other platforms?
- Have you tested other iOS devices?

[2022-06-16 01:58] minggo commented on #11508
As this issue is reported later, do not have to fix it before 6.20.

[2022-06-16 01:59] thinhlv commented on #11508
I'm not sure for other devices and os versions. I have just tested on only my phone and ios 15.4. Thanks

[2022-06-16 02:02] pandamicro commented on #10377
Please make sure of it, this issue will remain active

[2022-06-16 02:10] 911lqn commented on #10659
It is verified that this problem does not occur on safari of IOS 15.5 and 15.6

[2022-06-16 02:16] #11248 closed, assigned to shrinktofit

[2022-06-16 02:37] #11138 closed, assigned to AFeiYA

[2022-06-16 02:42] pandamicro commented on #10659
Ok, this issue can be closed because Apple have fixed it

[2022-06-16 02:42] #10659 closed, assigned to jk20012001

[2022-06-16 03:32] zenskcode opened #11535 "AudioSource CurrentTime精度或同步问题"
### Cocos Creator version

3.5.1

### System information

windows10

### Issue description
测试平台：
web 编辑器开发过程中，原生未测试

需求：
同一首曲子的10个声道分别导出为出10个mp3文件（都为15秒），在游戏中不定时触发播放，播放进度以游戏中第一个触发播放的mp3为准，实现10个音频节奏点同步。

实现：
建立一个父节点，拥有10个带有audioSource的子节点，分别用于播放10个mp3。播放开始时，搜索10个节点中audiostarte state处于playing的组件，获取currentTime给当前需要播放的mp3后，调用play()

结果：
日志显示，currentTime数值有效（如 5.23345...）,但是多个音乐无法实现节奏（播放时间）同步。

问题：
不确定

[2022-06-16 03:32] #11481 closed, assigned to dumganhar

[2022-06-16 03:46] #11310 closed, assigned to dumganhar

[2022-06-16 05:57] dumganhar opened #11538 "[android] Don't run into sleep logic if device refresh rate is equal to game frame rate"

[2022-06-16 06:05] #11363 closed, assigned to minggo

[2022-06-16 06:47] zhefengzhang opened #11544 "Particle materials need to support normalmap"
### Use Case

In unity, you can add normalmap to particle materials to achieve this kind of effect. Currently creator 3.5.x does not support this. This is very important for creating particle effects, and we need it.

![图片](https://user-images.githubusercontent.com/35944775/174008465-030720bb-b10a-4748-9922-0fdc1b2478ce.png)

### Problem Description

-

### Proposed Solution

_No response_

### Ho

[2022-06-16 06:52] zhefengzhang opened #11545 "When exporting ETC2 rgba compressed textures on MAC using Creator 3.5.0, textures are displayed abnormally on android devices"
### Cocos Creator version

3.5.0、2.4.x

### System information

android all

### Issue description

https://forum.cocos.org/t/ios-etc-mac/88456/13?u=zzf_cocos

I used the solution here to solve the problem.

### Relevant error log output

_No response_

### Steps to reproduce

-

### Minimal reproduction project

_No response_

[2022-06-16 06:55] Zhmz opened #11547 "Label content size is assigned as float so that it is fuzzy on the border of label"
### Cocos Creator version

3.6.0

### System information

All

### Issue description

![a55c1a9a9487ac179ef6921cb595316](https://user-images.githubusercontent.com/32831993/174009641-daa85298-7d25-451f-8a2c-966a866a9f93.png)

* The first line
1. it is a richtext component
2. the reason of showing fuzzily is same as the second line Label component

* The second line
1. set labelOverflow as None
3. s

[2022-06-16 07:25] shrinktofit commented on #11159
Implemented in https://github.com/cocos/cocos-engine/pull/11549

Here's a video showing the effect on negative speed motion. The progress field also shows the runtime value of `MotionStateStatus.progress`.

https://user-images.githubusercontent.com/28807867/174015650-be94ae7b-86f0-4b9d-9673-0cdf66cc3023.mp4

Project:

[Animation Graph - Speed and Progress.zip](https://github.com/cocos/cocos-engine

[2022-06-16 07:47] dumganhar commented on #11538
https://developer.android.com/guide/topics/media/frame-rate
https://android-developers.googleblog.com/2020/04/high-refresh-rate-rendering-on-android.html

[2022-06-16 08:11] PPpro commented on #11535
建立一个父节点，拥有10个带有audioSource的子节点，分别用于播放10个mp3。播放开始时，搜索10个节点中audiostarte state处于playing的组件，获取currentTime给当前需要播放的mp3后，调用play()

初始化时将所有mp3播放，并将volume设置为0，需要播放时将volume设置为1，是可以实现同步的

- 这两种方式的主要差异在哪里呢，前者是先 set currentTime ,再播放；后者是先静音播放，在开启声音吗
- 播放不同步主要是指 10 个音频没有同时播放，会有延时吗

[2022-06-16 09:40] zenskcode commented on #11535
前者是需要播放A的时候，在池子里取出任意一个已经播放的音频B，获取当前currentTime，设置给A，
后者是初始化时全部静音播放，等待需要播放A的时候，将音量设置为1。

目前采取了第三种方式作为解决方案：
是需要播放A的时候，在池子里取出任意一个已经播放的音频B，获取当前currentTime，设置给池子里所有的音频，听起来也没有什么切换的卡顿。

[2022-06-16 11:38] SantyWang commented on #9385
请问下你的使用场景中，很多情况下旋转是一样的，然后需要重新 setRotation 么

[2022-06-16 12:04] #10377 closed, assigned to PPpro

[2022-06-16 14:40] Ronsku commented on #10377
Thanks guys! 🥳

[2022-06-17 02:18] #11159 closed, assigned to shrinktofit

[2022-06-17 03:26] gdoudeng commented on #11474
+1

[2022-06-17 07:01] dumganhar opened #11570 "[JSB] Node::inverseTransformPoint is not bound correctly"

[2022-06-17 08:01] dumganhar opened #11574 "[v3.6.0] Sync code from PR #9378 to native, uiTransformDirty is removed in v3.4"
PR: https://github.com/cocos/cocos-engine/pull/9378

<img width="1215" alt="Screen Shot 2022-06-17 at 16 01 00" src="https://user-images.githubusercontent.com/493372/174254469-a3a6b803-c1bd-4c63-91c4-c8d19f5ade00.png">

[2022-06-17 10:34] #11574 closed, assigned to minggo

[2022-06-17 10:55] oahcy commented on #11221
leak point is this line:
![image](https://user-images.githubusercontent.com/9692838/174284871-275f5ed9-b0f7-4c50-90c5-78ed7222d8b8.png)
but i remove subview immediately， it also found this leak ：
![image](https://user-images.githubusercontent.com/9692838/174285067-db681443-7e91-4590-9063-fad6e9a67aee.png)

may check tools wrong？

[2022-06-18 04:51] #11258 closed, assigned to nianba23

[2022-06-18 04:54] PPpro commented on #10821
what if developers code like

[code]

[2022-06-18 07:38] #11295 closed, assigned to novain1102

[2022-06-18 10:53] #10999 closed, assigned to PatriceJiang

[2022-06-19 01:50] darklight9811 commented on #1841
Really sad to see that there are no linux support yet :c

[2022-06-20 02:06] #11507 closed, assigned to shrinktofit

[2022-06-20 02:56] SantyWang opened #11607 "Optimize resetHasChangedFlags"
When there are too many nodes, resetHasChangedFlags consumption will gradually increase. and this operation is **per-frame**

![image](https://user-images.githubusercontent.com/15109777/174517164-8afe8219-2b2a-46cf-9ba1-3e9326044d89.png)

for example. when number of node comes to 50K, resetHasChangedFlags consumption comes to **3ms** on the native platform.
Need to find a way to optimize this per-

[2022-06-20 03:08] minggo commented on #11607
Any suggestion?

[2022-06-20 03:35] SantyWang commented on #11607
In most cases, the user only needs to determine whether the transform has changed, not exactly which part of the RTS has changed. Maybe can try the following solution

[code]

[2022-06-20 03:40] #11157 closed, assigned to shrinktofit

[2022-06-20 03:59] minggo commented on #11607
It is a good solution. The only concerned is that, it will break compatibility. `Node.hasChangedFlags()` will return an enum value, which indicates which part is changed.

We should discussion if we can modify like this.

[2022-06-20 04:12] PatriceJiang commented on #11607
Or by using seperate storage field

[code]

[2022-06-20 04:21] PatriceJiang commented on #11607
For a 60 fps game, 2^32(4294967296) lasts for 828.5 days, that should be enough for local games. I am not sure if it will be a problem for server mode?

[2022-06-20 06:21] SantyWang commented on #10529
there is some issue, https://github.com/cocos/3d-tasks/issues/11681

[2022-06-20 06:21] #10529 closed, assigned to SantyWang

[2022-06-20 07:29] timlyeee opened #11615 "[Native Feature] unify AudioCache and AudioDecoder as one header for platforms."
The implementation for AudioEngine::getOriginalPCMBuffer right now is highly reliant on AudioDecoder, and each time the method is called, the decoder will be called once. It's an expensive cost.

Also, AudioDecoder in android will resample the audio when it's opened, but when we're trying to get PCMHeader, it's not needed.

So there're several works to do:

1. Use cache mechanism to manage all aud

[2022-06-20 07:51] minggo opened #11616 "Upgrade zlib to latest version"
Some developer reported that, zlib 1.2.11 has security issue, should update to latest version.

[2022-06-20 08:37] PatriceJiang commented on #11607
According the test result
![image](https://user-images.githubusercontent.com/40414978/174560569-968549c4-8665-4c0a-bed4-7475dbaf0c0a.png)
The benefits brought by the modification need to be further verified

[2022-06-20 15:48] PPpro commented on #11271
we've fixed this issue here on v3.6.0, thanks for feedback

https://github.com/cocos/cocos-engine/pull/11299

[2022-06-20 15:48] #11271 closed, assigned to PPpro

[2022-06-20 21:36] Ronsku commented on #11290
Yeah, thanks! I figures this out later, it all makes sense! 💪 Should have closed the ticket :)

[2022-06-21 06:07] Zhmz opened #11632 "Over iOS version 15.3, should modify regex"
### Cocos Creator version

3.6

### System information

over iOS 15.3

### Issue description

![Uploading 36cdb47c291823137aaa9c367ad96c3.png…]()

### Relevant error log output

_No response_

### Steps to reproduce

change regex

### Minimal reproduction project

_No response_

[2022-06-21 07:12] yiwenxue opened #11635 "Native Glslang upgrade"
Our Glslang library is out of date, and doesn't support Vulkan 1.3, so cocos game will crash when running with Vulkan 1.3.

The solution contains two parts:
- [x] Add new VK flags to cocos-engine.
- [ ] upgrade the `Glslang` libraries in `cocos-external-project` to `11.10.0`.

[2022-06-21 07:15] yiwenxue commented on #11635
The first part https://github.com/cocos/cocos-engine/pull/11445#issue-1265966110

[2022-06-21 07:23] minggo commented on #11607
It is wired. Though it does't improve performance, i think we should also change the logic because:
- it can simplify the codes, for example, can remove `BookOfChange` in ts
- it can reduce memory size: currently, engine uses a global vector to store dirty nodes, but doesn't shrink the size

[2022-06-22 01:37] PatriceJiang commented on #11607
Committed at https://github.com/cocos/cocos-engine/pull/11639

[2022-06-22 01:37] #11607 closed, assigned to PatriceJiang

[2022-06-22 02:06] jareguo commented on #11616
九龙云天在催，稍微提高优先级

[2022-06-22 04:03] obraz29 opened #11644 "Uncaught RangeError: offset is out of bounds"
### Cocos Creator version

3.4.2, 3.5.0

### System information

Chrome

### Issue description

Hello cocos team, I created 5 spines on scene and get this error, could you please help check:
![image](https://user-images.githubusercontent.com/52654061/174940491-7f2e47ca-36e9-4897-8ddc-491595e010f6.png)

### Relevant error log output

_No response_

### Steps to reproduce

Create 5 nodes with spine

[2022-06-22 06:28] PatriceJiang opened #11645 "Prevent changing `node._hasChangedFlags` without update _flagChangeVersion"
Ref: https://github.com/cocos/cocos-engine/pull/11639

[code]

Developers may write `_hasChangedFlags` without updating`_flagChangeVersion` in `node.ts`, the inconsistency cause errors.

A possible solution is create a class
[code]
That may work in C++, since abstraction has no cost, but does not work in JS.

Any suggestions?

[2022-06-22 08:17] oahcy commented on #11616
Updated zlib to 1.2.12 for android, win, linux platforms @jareguo

[2022-06-22 09:31] hnmli099 opened #11652 "Different platform frame rates lead to different motion simulated by the physical engine 不同平台帧率不同导致物理引擎模拟的运动不同"
### Cocos Creator version

null

### System information

null

### Issue description

Different platform frame rates lead to different motion simulated by the physical engine. The 2D physical engine can be measured by setting the physical step size, but the 3D physical engine cannot. Then the physics engine has no use value. Is there a solution? Now almost all chess and card companies have closed

[2022-06-22 10:03] zhakesi opened #11655 "support number of skin weights larger than 4."
### Use Case

this feature request is from a virtual idols project.
4 skin weights for each vertex can't get accurate enough details.
the art tools and some game engine (like maya, unity) support setting more than 4 weights of each vertex.

### Problem Description

1. only 4 skin weights for each vertex may can't get an accurate performance.
2. when importing models with more than 4 skin weights,

[2022-06-22 11:16] xianyinchen opened #11662 "freeze frame happend on window native platform"
### Cocos Creator version

3.4.2, 3.5.1

### System information

window11

### Issue description

I think it has something to do with the Canvas context of Label, the canvas object depends on GC destruction, the canvas will create DC and hold FONT handle on window platform, if a large number of Canvas instances are not released, there will be handle instance exception and the window rendering will

[2022-06-23 02:42] dumganhar opened #11664 "[android] JNI methods (Java_com_google_xxx) in GameSDK need to be exported"
For example:

[code]

needs to be

[code]

[2022-06-23 07:25] bofeng-song commented on #11664
https://github.com/cocos/cocos-engine-external/pull/264

[2022-06-23 07:25] #11664 closed, assigned to bofeng-song

[2022-06-23 09:59] OnlyKoei opened #11677 "Terrain error report"
### Cocos Creator version

3.5.2

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/137013
![image](https://user-images.githubusercontent.com/40415168/175271416-a0d66d92-7ab0-4a09-93e2-43f6e9b2fa01.png)
![image](https://user-images.githubusercontent.com/40415168/175271494-7cbdf239-0def-40ff-832e-7902ea684f3b.png)

### Relevant error log output

_No response_

[2022-06-23 10:17] dumganhar opened #11678 "[bug] GeometryRenderer use lots of memory"
<img width="1276" alt="企业微信截图_3e32015d-10a1-4aad-a2c1-5bf2226aa61b" src="https://user-images.githubusercontent.com/493372/175276028-894e462d-5df4-4c82-91cb-3d8de0992e43.png">

Probably, it needs to be lazy initialized.

[2022-06-23 10:38] linruimin opened #11682 "Error in the inspector when filling an array"
### Cocos Creator version

3.5.2

### System information

Windows10

### Issue description

component array canot add component in order.
Question source:
https://discuss.cocos2d-x.org/t/error-in-the-inspector-when-filling-an-array/56419

### Relevant error log output

_No response_

### Steps to reproduce

add the component Test1 to the element at index 1,then the index 2 canot add Test2.
![image

[2022-06-24 06:20] dumganhar opened #11692 "[jsb] More SE_BIND_FUNC_FAST binding for Node transform relevant API"

[2022-06-24 07:36] Zhmz commented on #11632
<img width="1083" alt="36cdb47c291823137aaa9c367ad96c3" src="https://user-images.githubusercontent.com/32831993/175486853-d7efa233-a270-4ae8-936a-e3937f15de2b.png">

[2022-06-24 09:10] Zhmz commented on #11632
committed PR:
https://github.com/cocos/cocos-engine/pull/11698

[2022-06-24 09:14] PPpro commented on #9212
fixed on v3.4.1 https://github.com/cocos/cocos-engine/pull/10000

[2022-06-24 09:14] #9212 closed, assigned to PPpro

[2022-06-27 05:47] #10782 closed, assigned to PPpro

[2022-06-27 06:46] xianyinchen opened #11712 "Called cc.game.restart and immediately rotating the screen will cause a crash"
### Cocos Creator version

3.4.2

### System information

Android 11

### Issue description

As I know, the EventDispatcher hold a static jsOrientationEventObj  value, when engine restart the v8 will recreate, if orientation event hapend and jsOrientationEventObj  is an old value, that must cause crash.

[code]

**crash statck:**

![image](https://user-images.githubusercontent.com/8321365/17587470

[2022-06-27 10:03] OnlyKoei opened #11717 "Shadows lost"
### Cocos Creator version

3.5.2

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/135688
![image](https://user-images.githubusercontent.com/40415168/175916331-cee875fe-aef9-4528-ad1f-a093451c4ea5.png)

### Relevant error log output

_No response_

### Steps to reproduce

demo:
[NewProject_23.zip](https://github.com/cocos/cocos-engine/files/8990878/NewProjec

[2022-06-28 06:38] dumganhar opened #11725 "[native][bug] SE_ENABLE_INSPECTOR should not be enabled in Release mode by default."

[2022-06-28 06:52] dumganhar opened #11726 "Simulator should be compiled in release mode"
Currently, we build simulator in debug mode.
Start from v3.6, more code is implemented in CPP. If using debug flags to build simulator, it may impact game performance in simulator.

## Expectation

Simulator ( Win + Mac) should be compiled in release mode .

[2022-06-28 06:55] dumganhar commented on #11726
If simulator needs log output in debug mode, probably, we could define CC_DEBUG=1 in release mode for simulator only.

[2022-06-28 07:20] PatriceJiang commented on #11725
Fixed in commit https://github.com/cocos/cocos-engine/pull/11727

[2022-06-28 07:20] #11725 closed, assigned to PatriceJiang

[2022-06-28 08:17] minggo opened #11730 "Classes inherits RefCounted should hide destructor"
If a class inherits RefCounted, then should use reference count to control the life cycle for its instance. If not, it is easy to cause memory issues, for example:
[code]

[2022-06-28 08:40] finscn opened #11731 "Some errors in creator.d.ts"
### Cocos Creator version

2.4.9

### System information

all

### Issue description

`DynamicAtlasManager  insertSpriteFrame().`  should return  Frame (not void)

`TiledMap.enableCulling(value:any)`  , the method should be  getter & setter , value type is boolean

`TiledLayer.enableCulling(value:any)`  the argument should be boolean.

### Relevant error log output

_No response_

### Steps to rep

[2022-06-28 08:49] finscn commented on #11731
declare let CC_JSB: boolean
declare let CC_EDITOR: boolean
declare let CC_PREVIEW: boolean
declare let CC_TEST: boolean
declare let CC_DEBUG: boolean

以上变量被重复定义. 报错信息如下:

Identifier 'XXXXXX' has already been declared.

[2022-06-28 09:05] minggo opened #11732 "Add InstrusivePtr::reset()"
stl smart pointer has reset function. Add InstrusivePtr::reset() will make developers familiar.

[2022-06-28 09:30] PPpro commented on #11535
抱歉，这块有办法提供一个 demo 吗，我们验证下问题

[2022-06-28 09:50] PPpro opened #11735 "support generating visualized module graph on project build workflow"
### Use Case

We need to use this graph to check the bundle occupancy of the module， like the graph below

![image](https://user-images.githubusercontent.com/17872773/176149502-b19c9464-a66a-404e-9d6c-317faeb4e751.png)

[2022-06-28 09:58] OnlyKoei opened #11736 "left mouse button swipe on WeChat PC is invalid"
### Cocos Creator version

3.4.2 ，3.5.2

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/137187
![image](https://user-images.githubusercontent.com/40415168/176148871-1c6e7017-a842-4850-adbf-07cf4a282815.png)
![image](https://user-images.githubusercontent.com/40415168/176155432-82a742e3-71ca-4146-a296-a5cc01482055.png)

### Relevant error log output

_No res

[2022-06-29 03:27] qiuguohua opened #11744 "When the emulator is initialized, it will cause a file system leak"
### Cocos Creator version

3.6

### System information

Windows，MAC

### Issue description

When the simulator is initialized, the file system will be initialized once, but it will be initialized again when the engine is initialized, causing memory leaks

related pr：
https://github.com/cocos/cocos-engine/pull/11089
https://github.com/cocos/cocos-engine/pull/11679

### Relevant error log output

_N

[2022-06-29 07:29] novain1102 commented on #11726
change Simulator(Mac) compile from debug to release https://github.com/cocos/cocos-engine/pull/11755

[2022-06-29 09:16] #11678 closed, assigned to stanleyljl

[2022-06-29 10:57] zhakesi commented on #11644
please try to modify code:
[code]
to
[code]
engine/cocos/2d/renderer/static-vb-accessor.ts

[2022-06-29 14:50] jk20012001 opened #11764 "FogInfo deserialization bug in native engine"
enable linear fog, and set default value for fogStart=0.5 and fogEnd=300 which wrote in scene-globals.ts
![image](https://user-images.githubusercontent.com/15099632/176464920-5bc0b24c-73fa-4964-bceb-b51aff4f8cc5.png)
deserilizated value for fogEnd becomes 0.5(should be 300) in native engine, the scene looks very foggy like this:
![image](https://user-images.githubusercontent.com/15099632/176466993

[2022-06-29 14:55] jk20012001 commented on #11764
https://github.com/cocos/3d-tasks/issues/12911

[2022-06-29 14:55] #11764 closed, assigned to jk20012001

[2022-06-30 02:35] #11616 closed, assigned to oahcy

[2022-06-30 02:59] liufsd opened #11766 "支持手机设备系统相机 绑定共享纹理绘制"
### Use Case

Android/iOS 可以通过共享纹理id的方式（OpenGL shareContext），给到小游戏前端，但 cocos似乎没有对应的方式可以绘制出来，目前采用的方式是客户端给rgba数据给到游戏然后通过 https://github.com/cocos/cocos-engine/blob/6a29cb9fdb558a4ef99fe8aa7de47448527b0d7a/cocos/core/gfx/base/device.ts#L326  进行绘制。

### Problem Description

但这种方式性能太差，因为从客户端相机中拷贝GPU数据到内存(glReadPixels)，速度会非常慢，帧率无法达到要求。

### Proposed Solution

是否有绑定纹理id的解决方案？
类似
[code]

### How it works

[2022-06-30 03:04] pandamicro commented on #10987
Change the template to

- [ ] does not change any runtime related code or build configuration

[2022-06-30 06:24] timlyeee opened #11774 "[Feature] Refactor/Optimize getProperty/setProperty method of Material for consistency"
### Use Case

On showcase-physics example, getProperty is a different behavior on Web and Native
[code]

### Problem Description

On native platform such as Windows, when the ts script tries to get/set property of material, it will create a copy of native property and a ts object as well.

But the behavior on the Web is different because it actually gets the reference of the property.

It might ma

[2022-06-30 10:20] #10929 closed, assigned to dumganhar

[2022-06-30 10:23] timlyeee opened #11791 "Autorization of audio max instance of apple platform"
### Use Case

Now is 24, some how it's a small number of audio instances
[code]

### Problem Description

When reached the max limit, audio cannot play

### Proposed Solution

_No response_

### How it works

_No response_

### Alternatives Considered

make it a dynamic method to set, sync to other implementation

### Additional Information

_No response_

[2022-06-30 11:20] xianyinchen opened #11795 "[3.5.2] particle node play animation will throw webgl error"
### Cocos Creator version

3.5.2

### System information

chrome

### Issue description

preview in chrome and display this error:

![1656587919413](https://user-images.githubusercontent.com/8321365/176664614-ed37958c-9209-4d4b-84eb-530225ca7a5c.png)

### Relevant error log output

_No response_

### Steps to reproduce

[particleDemo.zip](https://github.com/cocos/cocos-engine/files/9019257/particl

[2022-07-01 02:00] #11726 closed, assigned to novain1102, timlyeee

[2022-07-01 03:14] tuyazuo commented on #11731
`removeCache(): void;`   need one argument

[2022-07-01 03:53] stanleyljl opened #11799 "Support Color class with RGBA byte for general usage"
### Use Case

class Color {
byte r;
byte g;
byte b;
byte a;
}

### Problem Description

One byte for each color channel is usually enough. Using byte color instead of float color can save video memory and improve cache hit rate.

### Proposed Solution

_No response_

### How it works

_No response_

### Alternatives Considered

None

### Additional Information

_No response_

[2022-07-01 04:42] #10821 closed, assigned to PPpro

[2022-07-01 04:43] #10819 closed, assigned to SantyWang

[2022-07-01 06:12] liufsd commented on #11766
应用场景：AR；
需要手机系统相机实时数据， 配合游戏引擎做很多效果。
但是走rgba方案(https://developers.weixin.qq.com/minigame/dev/api/media/camera/Camera.onCameraFrame.html)，基本不太商用,   比如微信提供的数据帧小的可怜，模糊，无法当背景使用；
所以拿相机共享的纹理id， 在配合小游戏才能达到高清高帧率； 但引擎这一块没有看到可以绑定纹理的。

是否可以开放支持？

[2022-07-01 08:46] bofeng-song commented on #11662
Firstly: need to call pb.destroy at test case. the issue will disappear at version 3.4.2, 3.5.1.
Secondly: the problem also exist at version 3.6.0, we fix it at this pr (https://github.com/cocos/cocos-engine/pull/11809)

[2022-07-01 08:46] #11662 closed, assigned to bofeng-song

[2022-07-01 09:11] hana-alice opened #11812 "Missing light in instanced lighting scene"
### Cocos Creator version

3.6.0

### System information

MacOS 12

### Issue description

<img width="802" alt="Screen Shot 2022-07-01 at 17 07 43" src="https://user-images.githubusercontent.com/18626925/176863778-d3a6292f-45e3-44f7-8f47-6046908056bb.png">
应该是要有4个光源叠加的效果的
<img width="646" alt="Screen Shot 2022-07-01 at 17 11 09" src="https://user-images.githubusercontent.com/18626925/176864273-23

[2022-07-01 09:52] hana-alice commented on #11812
can't reproduce on windows

[2022-07-01 09:52] #11812 closed, assigned to pandamicro, troublemaker52025

[2022-07-01 09:56] troublemaker52025 commented on #11812
* https://github.com/cocos/cocos-engine/pull/11798

[2022-07-01 10:08] yanjifa opened #11817 "NodePool should't put a node has been destroy"
### Cocos Creator version

3.5.0, 3.6.0

### System information

ALL

### Issue description

节点池 put 了 destroy 过的 node 后，get 使用时，会出现一些非预期的情况，希望不要 put 进去， 并且打印警告

### Relevant error log output

_No response_

### Steps to reproduce

无

### Minimal reproduction project

_No response_

[2022-07-02 14:32] Ronsku commented on #10354
@holycanvas Is this ready for 3.6 already. Am I able to see fetch it as a custom engine already or is this a build in editor feature somehow?

[2022-07-03 08:58] dev-keishen opened #11821 "[RichText] Richtext break the line incorrect"
### Cocos Creator version

3.4.2

### System information

MAC OSX

### Issue description

<img width="542" alt="Screen Shot 2022-07-03 at 15 48 20" src="https://user-images.githubusercontent.com/78413486/177032426-cf319879-a6af-4f77-9c09-f4637eeff9d8.png">

Please look at above screenshot
The line was broken incorrectly

Please help me fix this or give me an PR which fixed this issues

### Steps t

[2022-07-04 06:47] minggo commented on #11221
Ok, it seems it is error reporting. Close it.

[2022-07-04 06:47] #11221 closed, assigned to oahcy

[2022-07-04 07:14] xianyinchen opened #11828 "[3.5.2] websocket crash"
### Cocos Creator version

3.4.2

### System information

Android 11

### Issue description

In some cases, such as cc.game.restart call, onClose event will be triggered twice, as you can see in the screenshot below, if a JS object holds an instance and the reference count is 1, releasing the instance is obviously incorrect, and the instance becoming a wild pointer when the JS object is released.

[2022-07-04 07:17] bofeng-song opened #11829 "label’s cacheMode to CHAR text wrapping happens on letters not on words"
https://discuss.cocos2d-x.org/t/weird-text-wrapping-when-use-char-cache-mode-in-cc-label/56513?u=rutudhvaj

Platform : iOS, Android, MacOS
Editor version : 2.4.6

[2022-07-04 07:25] PPpro commented on #11019
![1](https://user-images.githubusercontent.com/17872773/177103360-346b462c-82ce-4ff3-a119-c342a4e7c7c3.png)

This is what we expected，we should restart the audio if it's playing when call `audioSource.play()`

[2022-07-04 07:25] #11019 closed, assigned to PPpro

[2022-07-04 08:06] Zhmz commented on #11632
please QA group validate it.

[2022-07-04 08:28] Zhmz commented on #11632
Test steps：
1. provide an appID to me and add authority on it to start WeChat minigame in high performance mode.
2. modify "iOSHighPerformance" as "true" in game.json
3. compare FPS of various iOS versions. If there is a small distance between 14 to 15.3 and other area of versions, it succeeds.

[2022-07-04 08:44] OnlyKoei opened #11833 "Model building issues"
### Cocos Creator version

3.5.2

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/135678
![image](https://user-images.githubusercontent.com/40415168/177112744-79ed1d5f-6dc2-4e8e-a70f-b58a3fa800ee.png)

The model used on the scene is a custom material，
but the resources generated after the build contain the materials and maps from the virtual resources parse

[2022-07-04 09:50] minggo opened #11837 "Should support gles2 on native?"
Supports GLES2 only makes sense for Android devices that only supports gles2. We should try to get the market share of these devices then decide whether to support it.

[2022-07-04 09:52] zhefengzhang opened #11838 "plist resets the configuration when re-importing the editor"
### Cocos Creator version

3.5.2

### System information

mac

### Issue description

When a plist resource is re-imported, even if the same file is imported, it will cause a complete configuration reset. Testing texture resources does not have this problem.

### Relevant error log output

_No response_

### Steps to reproduce

https://forum.cocos.org/t/topic/136548

### Minimal reproduction proje

[2022-07-04 09:56] dumganhar commented on #11837
I guess the devices those only support OpenGLES2 are in a very low percentage.
They're born at least ten years ago and it's really hard to run any games on them.
Yep, it's better to get device percentage report to help us make the decision.

[2022-07-04 10:03] OnlyKoei opened #11839 "Triangles and drawcall display exceptions"
### Cocos Creator version

3.5.2， 3.5.1

### System information

chrome

### Issue description

https://forum.cocos.org/t/topic/136456
![image](https://user-images.githubusercontent.com/40415168/177131498-848790fa-bf4a-441e-a374-abb1edb4dcb6.png)

Custom materials are used, USE_INSTANCING is checked.
![image](https://user-images.githubusercontent.com/40415168/177131920-cf1d55b9-b13c-4568-8e2c-30b6

[2022-07-05 05:33] #11570 closed, assigned to dumganhar

[2022-07-05 06:00] dumganhar opened #11849 "[v3.6] Crash on windows if vulkan is enabled"
![1657000775(1)](https://user-images.githubusercontent.com/493372/177259670-eb0ca69e-942d-4ee4-88b1-3d4460f5bc53.png)

[2022-07-05 06:12] star-e commented on #11635
https://github.com/cocos/cocos-engine/issues/11849

[2022-07-05 06:44] #11849 closed, assigned to star-e

[2022-07-05 06:52] novain1102 commented on #11828
已修复, 参考修复:
[code]

[2022-07-05 06:52] #11828 closed, assigned to novain1102

[2022-07-05 08:50] dumganhar opened #11853 "[bug] The result of scene::Camera testcase is not correct"

[2022-07-05 10:09] shrinktofit opened #11858 "Model import: Promote single root node"
By default, when importing model file(both glTF/FBX), prefabs are created for each scene in model file. Each prefab corresponds to a single scene. Root nodes under model file scene are then placed under prefab. We have such design is because glTF allow multiple roots in a scene.

Some times this is not intuitive. Especially for FBXs -- FBX scene has definitely only one root. Creating a wrapping no

[2022-07-05 10:28] shrinktofit commented on #11858
PRs: https://github.com/cocos/engine-extensions/pull/123 , https://github.com/cocos/cocos-engine/pull/11867

[2022-07-06 02:33] timlyeee commented on #11317
https://github.com/cocos/cocos-engine-external/pull/271

[2022-07-06 02:33] #11317 closed, assigned to timlyeee

[2022-07-06 02:42] xianyinchen commented on #11439
补充测试文本
[code]

[2022-07-06 05:59] roadright commented on #11677
mark

[2022-07-06 06:55] #11853 closed, assigned to yiwenxue

[2022-07-06 06:56] #11692 closed, assigned to dumganhar

[2022-07-06 07:59] dumganhar opened #11873 "[windows] Debug version exe should link v8 with debug enabled."
[code]
In v8.dll , it will release memory allocated in `.exe` ( `std::shared_ptr<v8::BackingStore>` ), if the library (debug / release) doesn't match, it will crash.

[2022-07-06 08:36] #11833 closed, assigned to yanOO1497

[2022-07-06 08:41] OnlyKoei opened #11875 "Image deletion causes an error in the editor"
### Cocos Creator version

3.5.2

### System information

window10

### Issue description

https://forum.cocos.org/t/topic/137530
![image](https://user-images.githubusercontent.com/40415168/177513864-9d7ef4e3-ceb5-4f75-acaa-6dd1888a004d.png)

### Relevant error log output

_No response_

### Steps to reproduce

![bug](https://user-images.githubusercontent.com/40415168/177508460-40b046be-16fd-47cf-

[2022-07-06 10:05] timlyeee commented on #11873
* https://github.com/cocos/cocos-engine-external/pull/273
* https://github.com/cocos/cocos-engine/pull/11876

[2022-07-06 10:05] #11873 closed, assigned to timlyeee

[2022-07-06 15:50] mrtzd opened #11878 "'game.end()' takes too long to quit the game on Android"
### Cocos Creator version

3.5.2

### System information

Windows 10 Editor

### Issue description

This doesn't always happen but generally when I've played the game for a longer period and then I try to quit my game it doesn't exit immediately. Instead the game hangs for more than 1 minute and then eventually quits. I'm using the 'game.end()' function, should I do something else before I call th

[2022-07-08 02:33] zhefengzhang opened #11888 "There is a problem with spine setEndListener"
### Cocos Creator version

3.5.0 & 3.5.2

### System information

chrome web

### Issue description

https://forum.cocos.org/t/topic/135666

<img width="767" alt="图片" src="https://user-images.githubusercontent.com/35944775/177905229-8e8decc1-cf5b-4a22-84b0-560afe5b37fc.png">

### Relevant error log output

_No response_

### Steps to reproduce

null

### Minimal reproduction project

_No response_

[2022-07-08 06:29] tuyazuo opened #11894 "Some issues in creator2.4.9"
### Cocos Creator version

2.4.9

### System information

 android，arm64-v8a

### Issue description

详情可见论坛帖 https://forum.cocos.org/t/topic/135200

1. 在onLoad中用AudioSource播放音频会奔溃(start方法中播放正常)
[code]

2. 音频设置playOnLoad后，只播放一次，不符合使用习惯，在2.3和3.0都是每次节点active时都播放
3. 构建包体时 MIN_SDK_VERSION > 22 时，包内平台库文件libcocos2djs.so不压缩了，导致包体大小增加近20M

### Relevant error log output

_No response_

### Steps to reproduc

[2022-07-08 09:23] Yetland opened #11899 "websocket crash"
### Cocos Creator version

2.4.3

### System information

Android 11 (SDK 30)

### Issue description

WebSocket在网络不好的时候，出现断线重连容易发生crash

### Relevant error log output

*** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
pid: 0, tid: 0 >>> com.xxx.xxx <<<

backtrace:
  #00  pc 00000000008a7b90  /data/app/~~Ufumv1bVWmwewH0UBoN9lw==/com.xxx.xxx-tXGFzvuMly1fIfRRdiKJ0A==/split_config.arm64_

[2022-07-09 03:33] minggo commented on #11635
Update glslang will cause crash on some Android devices.
@star-e i suggest to move this issue to other milestone, treat it as a known issue.

[2022-07-09 03:35] minggo commented on #11199
I think it is fixed by https://github.com/cocos/cocos-engine/pull/11781.

[2022-07-09 03:38] minggo commented on #10528
I suggest to move this issue to other milestone as we start testing v3.6, and will not accept refactored codes.

[2022-07-09 05:46] star-e commented on #11635
I agree. It is too risky to upgrade in v3.6. @minggo

[2022-07-09 05:47] star-e commented on #11199
Fixed in https://github.com/cocos/cocos-engine/pull/11781

[2022-07-09 05:47] #11199 closed, assigned to star-e

[2022-07-09 05:58] minggo commented on #11894
@timlyeee please take a look of issues about audio
@bofeng-song please take a look of issue of android packing

@tuyazuo please use english in future, thanks.

[2022-07-09 06:01] minggo commented on #11878
I think it is fixed in v3.6, but i am not sure.
@timlyeee please double check it.

[2022-07-09 06:03] minggo commented on #11817
I am not if it is to reuse Node for performance in web. And if want to reuse Node, then need to destroy it first and initialize it again.

@yanjifa please use english in future, thanks.

[2022-07-09 06:04] minggo commented on #11731
@PPpro is it fixed in v3.6?

[2022-07-09 06:06] minggo commented on #11712
@bofeng-song please check if it is fixed on v3.6.

[2022-07-09 06:16] SantyWang commented on #10354
@Ronsku Yes, In 3.6, all builtin effects had been removed from engine

[2022-07-09 06:16] minggo commented on #10704
@timlyeee can close it now?

[2022-07-09 06:17] SantyWang commented on #9994
settings module has been supported in v3.6

[2022-07-09 06:17] #9994 closed, assigned to SantyWang

[2022-07-09 06:21] SantyWang commented on #10631
@star-e Please take look at this

[2022-07-09 06:26] minggo commented on #9500
@linruimin please check if it still has problem in v3.6.

[2022-07-09 07:09] bofeng-song commented on #11894
@tuyazuo My environment:
ndk version: 21.4.7075529,
abi: arm64-v8a
change the min_sdk_version from 20 to 26,  The file size of libcocos2djs.so changes within 0.5M

[2022-07-09 07:10] dumganhar opened #11911 "[v3.6][optimization] Use External ArrayBuffer to optimize the shared memory in Node"

[2022-07-09 07:22] tuyazuo commented on #11894
![image](https://user-images.githubusercontent.com/5566986/178096019-1f44d4bf-5636-4618-b19b-5477430b5ba7.png)
abi: arm64-v8a
target api level: 32
min_sdk_version:  23
ndk version: 19.0.5232133

will check it with ndk21 later

[2022-07-09 07:58] bofeng-song commented on #11712
fix at this issue:   https://github.com/cocos/cocos-engine/pull/11914

[2022-07-09 07:58] #11712 closed, assigned to bofeng-song

[2022-07-09 08:19] #11858 closed, assigned to arsen2010, shrinktofit

[2022-07-09 08:51] tuyazuo commented on #11894
@bofeng-song  i tried with ndk21.4.7075529, has the same issue.
its an empty project, but the apk size is 28.3 MB, maybe you need my build log
[native.log](https://github.com/cocos/cocos-engine/files/9076147/native.log)

creator2.4.9 WIN10 21H2
PROP_COMPILE_SDK_VERSION=32
PROP_MIN_SDK_VERSION=23
PROP_TARGET_SDK_VERSION=32
PROP_BUILD_TOOLS_VERSION=28.0.3
PROP_APP_ABI=arm64-v8a

[2022-07-09 08:56] bofeng-song commented on #11894
Comparing different MIN_SDK_VERSION, what is the difference in APK size

[2022-07-09 09:02] tuyazuo commented on #11894
![image](https://user-images.githubusercontent.com/5566986/178099217-8f28b1ff-0063-4c9e-b86f-29ffc5d794d0.png)
normal size is 9.97 MB because  the file of libcocos2djs.so is compressed

[2022-07-09 09:02] bofeng-song commented on #11894
Maybe I reproduce the problem. The size of so changes little, but APK changes a lot

[2022-07-09 09:17] bofeng-song commented on #11894
@tuyazuo you can add the attribute  'android:extractNativeLibs="true"'  to your androidManifest.xml's application. And the so files can be compressed.

[2022-07-12 02:28] timlyeee commented on #11878
Hey, @mrtzd, in v3.6 we've refactored the procedure by finishing the activity on Android, while in v3.5.2, it exits the process rudely.

But no matter for v3.6 or v3.5, they will all call dispatch close event to make sure the user's state could be saved, and tasks finished with assurance. If you've registered some js event callback on `Game.END`, they would be all called at this moment and it take

[2022-07-12 02:36] #10704 closed, assigned to nobody

[2022-07-12 03:58] freeboy opened #11939 "InputEvents need a windowId"
### Use Case

Project: cocos-test-projects-3.6
Scene: node-event.scene

### Problem Description

Set two UICameras to render to different RenderWindows respectively, and found that clicking on the first window, but the button in the second window responded to the event.

### Proposed Solution

_No response_

### How it works

_No response_

### Alternatives Considered

struct InputEvent
{
    ...

[2022-07-12 06:33] zxx43 commented on #10829
instanced particle support
particle noise module added

[2022-07-12 06:41] dumganhar commented on #10829
bindings:
[FEATURE] Support TextEncoder & TextDecoder for converting Uint8Array to String with better performance. https://github.com/cocos/cocos-engine/pull/10665

bug fixes:
[FIX] Use 32 bits hash in native code to avoid precision loss when returning 64 hash value to JS. https://github.com/cocos/cocos-engine/pull/11179

[2022-07-12 06:43] PPpro commented on #10829
feature:
- support audio PCMData and sampleRate getter https://github.com/cocos/cocos-engine/pull/11470
- support `native` module, and deprecate global variable `jsb` https://github.com/cocos/cocos-engine/issues/11135

bug fix:
- ban UI hitTest on renderTexture https://github.com/cocos/cocos-engine/pull/11299
- fix invalid mouse button in move move event https://github.com/cocos/cocos-engine/pull/