[2021-06-24 09:45] yeshao2069 commented on #8821
用户可以通过  去掉勾选  调式模式，减小包体。
目前如果去掉勾选调式模式的话，cc.js大概是 1.8MB

[2021-06-25 06:27] zhefengzhang commented on #3489
使用 2.4.5 测试，在 一加 8 T 上没复现问题。
2.4.5 引擎代码：
![图片](https://user-images.githubusercontent.com/35944775/123379869-4d774a80-d5c1-11eb-9e22-e2b21c4e0a04.png)
测试 demo：
[002.zip](https://github.com/cocos-creator/engine/files/6713995/002.zip)

[2021-06-25 06:42] zhefengzhang commented on #3612
From an error, the prohibited request full screen should be able to solve the problem.

I don't know how to test this problem through Chrome? Can you tell me what the test is?

[2021-06-25 06:43] zhefengzhang commented on #3786
Since you have not replied for a long time, temporarily close.

[2021-06-25 06:43] #3786 closed

[2021-06-25 06:43] zhefengzhang commented on #3789
Since you have not replied for a long time, temporarily close.

[2021-06-25 06:43] #3789 closed

[2021-06-25 06:50] zhefengzhang commented on #3902
您好，这个报错可能是 WebGL 上下文崩溃了，这个问题应该属于特殊机型上对 webgl 的支持不好的原因，这边暂时没有解决方案建议。
这是我们这边 Android 测试机型
![图片](https://user-images.githubusercontent.com/35944775/124108308-af8bf000-da98-11eb-8fac-19ea30211d7f.png)

使用 2.4.5 测试 example-case 场景都没有遇到您这边的问题。您可以提供 demo 给我们测试看看哈。

[2021-06-25 06:58] #7599 closed

[2021-06-25 06:58] zhefengzhang commented on #7599
修复 pr：https://github.com/cocos-creator/engine/pull/7746/files。    已合并到 2.4.4 版本。

[2021-06-25 07:16] #6118 closed

[2021-06-25 07:52] yeshao2069 commented on #8208
你好，这边使用2.4.5复现你的问题，发现没有你说的这个问题。（推荐你提供你测试的demo, 便于我们复现问题）
复现方式：
使用2.4.5版本，新建a,b,c节点，a节点白色，b节点 粉色，c节点绿色。
因为sprite和mask不能挂在同一个节点上，所以在a下挂一个mask组件，b下挂一个mask组件。
设置分组a,b,c , 节点a和节点a下的mask  分组为a， 节点b和节点b下的mask  分组为b,  节点c的分组 c
![F174C45861B7F37CA458F3EFF0DE01F7](https://user-images.githubusercontent.com/14273437/123390291-53732880-d5cd-11eb-9001-e0c2f03ac034.jpg)
![C6CF160FCC5E70DD9EEC010FE2BB9D44](https:

[2021-06-25 08:03] #8208 closed, assigned to nobody

[2021-06-25 08:21] yeshao2069 commented on #6332
感谢反馈。
经过测试验证，并没有发现这个问题。如果还有疑问，可以再次和我们反馈。

测试Creator版本：2.4.5
测试工程： 默认的helloworld-ts工程
测试设备：mac book pro    macOS 11.3.1
测试平台：android
测试android studio版本：
![image](https://user-images.githubusercontent.com/14273437/123393869-1c9f1180-d5d1-11eb-9d85-98e735178af9.png)
测试结果
![image](https://user-images.githubusercontent.com/14273437/123393970-32acd200-d5d1-11eb-89b7-9ec33ef5c6bd.png)
测试工程：
[NewProject_1

[2021-06-25 08:32] #6332 closed

[2021-06-25 10:58] yeshao2069 commented on #4911
你好，这个问题方便提供Demo这边排查？

如果没办法提供Demo, 推荐你 升级至  2.4.x最新的版本 2.4.5，并重试。
https://docs.cocos.com/creator/manual/zh/render/effect.html?h=shader
https://docs.cocos.com/creator3d/manual/zh/material-system/overview.html

[2021-06-28 13:18] df257 opened #8904 "求助，2.4版本怎么加载json文件，脑袋要炸了！谁设计的这个资源加载方式，这么不灵活，我想拍死他！！！"

[2021-06-28 13:35] #8904 closed, assigned to nobody

[2021-06-29 02:59] xianyinchen commented on #4214
你好，物理引擎同步状态的时候，不会考虑节点的缩放系数，这种情况只能开发者在设计物理关联的UI元素时做下规避。
<img width="860" alt="WeChatf75ced692368b70bfa785b75c9124a84" src="https://user-images.githubusercontent.com/8321365/123730433-edd2b500-d8c8-11eb-9c1d-236424707877.png">

[2021-06-29 02:59] #4214 closed

[2021-06-29 03:23] xianyinchen commented on #4412
你好， Number.EPSILON 是 ES6 新增的特性，考虑部分平台的兼容性问题，目前这块代码保持最初设计版本。

[2021-06-29 03:23] #4412 closed

[2021-06-29 03:47] xianyinchen commented on #5121
你好，引擎目前没有这个计划，布局预览图的需求可以参考下面方法。
https://forum.cocos.org/t/ui/96354

[2021-06-29 03:47] #5121 closed

[2021-06-29 03:56] xianyinchen commented on #6545
This is the MAX_PATH length limit on window, we generally recommend moving the project directory to a short path directory to circumvent this problem.

[2021-06-29 03:56] #6545 closed

[2021-06-29 05:39] #6461 closed

[2021-06-29 05:40] #6357 closed

[2021-06-29 05:44] xianyinchen commented on #6282
你好，请问你使用的creator版本是多少？2.4.x版本资源管理添加了引用关系，你如果使用decRef这类接口去做资源释放操作，不会出现你提到的问题，可以参考文档。
https://docs.cocos.com/creator/manual/zh/asset-manager/release-manager.html

[2021-06-29 05:55] xianyinchen commented on #6643
你好，如果你遇到 m_world.IsLocked() 判断导致的抛出异常，说明你是在物理引擎监听事件回调里做了更新物理节点坐标的操作，这个是不允许的，你可以加个定时函数异步去更新物理节点即可。

[2021-06-30 02:22] #6129 closed

[2021-06-30 02:23] xianyinchen commented on #6129
该问题是由于热更新打包前后版本的加密密钥配置不一致导致。

[2021-06-30 02:52] yeshao2069 commented on #8878
https://github.com/cocos-creator/engine/issues/8821

[2021-06-30 02:57] yeshao2069 commented on #8878
目前发布微信小游戏，包体过大的优化方案： https://forum.cocos.org/t/topic/115923/16， 可以通过该优化来减少包体大小。
后续会把这个方案做成构建模板，放在插件商城上。

[2021-06-30 02:57] #8878 closed, assigned to yeshao2069

[2021-06-30 02:59] yeshao2069 commented on #8821
你好，这个问题的话，可以通过 不勾选 调式模式来减少包体。另外，发布微信小游戏的时候，包体过大的优化方案，可以通过 https://forum.cocos.org/t/topic/115923/16， 可以通过该优化来减少包体大小。
后续会把这个方案做成构建模板，放在插件商城上。请知悉，谢谢。

[2021-06-30 02:59] #8821 closed, assigned to yeshao2069

[2021-06-30 03:07] yeshao2069 commented on #8870
这个问题，确实有问题。

[2021-06-30 05:16] finscn opened #8918 "希望能将 cc.visibleRect 向上取整"
因为浮点数误差的原因,  cc.visibleRect 以及其他屏幕相关的组件里的大小 位置等
经常出现小数. 如果游戏里直接拿来用,  经常会出现错误的 边缘缝隙.

希望能做向上取整处理

[2021-07-01 00:22] laurieattwobulls commented on #8459
Thank you for your answer :)
That is something new with the cocos 3.+ versions, is that correct?
Because I have a project on cocos creator 2.4.5, and I have a jenkins running on a physical mac machine on which I build the project via command line.

[2021-07-01 10:15] #3489 closed

[2021-07-01 10:17] #3902 closed

[2021-07-01 10:25] yeshao2069 commented on #4594
Thanks for the feedback.
It's true that ArmatureNames can't be displayed if you follow your code, but I found that there is no way to specify armatureName by default if you leave dragonAsset/dragonAtlasAsset empty for the dragon bone animation.
You need to specify a default armatureName to display it properly.
Here to provide a demo of my test, if there are still questions, you can again and I fee

[2021-07-01 11:00] #4594 closed

[2021-07-01 11:08] yeshao2069 commented on #4830
感谢你的反馈，已经把该需求提交给引擎组。

[2021-07-01 11:08] #4830 closed

[2021-07-02 02:19] xianyinchen commented on #6765
这个压缩格式会导致透明度失真，但是应该不会出现mac和window存在差异情况，需要有对比图和原图资源才能确认。

[2021-07-02 03:12] yeshao2069 commented on #6643
感谢反馈。
建议  在物理引擎监听事件回调( 如做了物理碰撞的  onBeginContact )， 可以在回调中记录状态然后去更新物理节点。  或者 加一个定时函数 异步去更新物理节点(延迟1帧 以上时间)。
https://docs.cocos.com/creator/manual/zh/physics/physics/contact-callback.html?h=%E7%A2%B0%E6%92%9E

[2021-07-02 03:12] #6643 closed

[2021-07-02 05:43] zhefengzhang commented on #8807
方案出炉：
https://forum.cocos.org/t/topic/115923/25

[2021-07-02 05:43] #8807 closed, assigned to zhefengzhang

[2021-07-02 08:28] yeshao2069 opened #8929 "[2.4.4] 使用macOS 打包Android 包，在Creator构建面板 编译失败"
经过测试，使用MacOS 打包Android，在构建面板上构建后，使用 Android Studio 可以正常打包apk。但是在Creator构建面板点击编译会报错。

错误信息如
[error.log](https://github.com/cocos-creator/engine/files/6753205/error.log)

[2021-07-02 08:31] yeshao2069 commented on #8929
测试的版本： 2.4.4
测试的jdk版本：1.8.0_291、16.0.1 都会有问题

测试过，在Android Studio build出apk包，再在构建面板上点击编译，也是报错

[2021-07-02 11:06] xianyinchen opened #8930 "3.1.2 编辑器设置2D物理节点旋转角度实际运行显示错误"
RigidBody2D 节点配置 Z 旋转

<img width="1431" alt="wecom-temp-8d4cdf03d030655110718292349a53d9" src="https://user-images.githubusercontent.com/8321365/124261248-25f52480-db63-11eb-9afc-7ef1d5c641be.png">

实际运行情况

<img width="1135" alt="wecom-temp-0c9359279a51e1054c422076404e6431" src="https://user-images.githubusercontent.com/8321365/124261324-39a08b00-db63-11eb-8651-8af323a9ebb3.png">

[2021-07-02 16:25] dorthl opened #8931 "AbortController is not defined"
### Creator version?（版本号）
3.2.0

### Affected platform?（受影响的平台）

Android

### How to reproduce?（如何重现）
使用 AbortController

[2021-07-04 12:19] dev-keishen opened #8933 "[COCOS CREATOR v3.1.1,v3.2] Memory leak on Spine animation"
Hello cocos creator team

I am facing a critical problem on cocos creator v3.x

My problem is a huge memory leak was occur when a scene has an spine animation

My scene 1 has no spine animation and nothing memory leak occur
When i switch to scene 2 which has a chacracter animation,my memory increase so much and increase time by time

I would like to send an video to describe this issue
[memory-lea

[2021-07-05 03:13] xianyinchen commented on #8459
No change on cocos 3.+.
You can build via command line, but the system user interface still need.

[2021-07-05 06:25] zhefengzhang commented on #8929
2.4.5 有这个问题么，请验证一下？2.4.4 是旧版本了，我们没法解决问题。

[2021-07-05 08:51] yeshao2069 commented on #8929
2.4.5 版本也是一样的。
测试方式： 使用构建面板构建Android工程，然后使用Android Studio build，可以build出apk
如果此时，使用构建面板上的编译功能，直接编译，编译失败。
如果使用构建面板重新构建且编译，编译失败。
[native.log](https://github.com/cocos-creator/engine/files/6762942/native.log)

[2021-07-05 09:03] xianyinchen commented on #8933
This is a known issue and we have arranged to deal with it.

[2021-07-05 09:21] dev-keishen commented on #8933
Thank you very much
Pleasure when see your answer

[2021-07-06 02:18] yeshao2069 commented on #8931
可以告知你是怎么使用的吗？方便提供demo看看吗？
https://developer.mozilla.org/zh-CN/docs/Web/API/AbortController
我看了AbortController 是一个实验中的功能，此功能某些浏览器尚在开发中，请参考浏览器兼容性表格以得到在不同浏览器中适合使用的前缀。由于该功能对应的标准文档可能被重新修订，所以在未来版本的浏览器中该功能的语法和行为可能随之改变。
![image](https://user-images.githubusercontent.com/14273437/124533233-84aced80-de44-11eb-88d4-f156a9ac3cbc.png)

![image](https://user-images.githubusercontent.com/14273437/124533300-a7d79

[2021-07-06 04:12] laurieattwobulls commented on #8459
I understand that you are saying that the machine needs an interface, and I am running my CI on a physical machine that has an interface.

What I am trying to explain is that, while I don't have any issue running cocos creator 2.4.5 from the command line, running the same command line with cocos creator 3.+ opens a dashboard that prompt me to select the path of the project.
<img width="1452" alt="

[2021-07-06 05:51] xianyinchen commented on #8459
Ok, I see it.
3.x can only open from the dashboard, but allow you to do a command line build.
you problem is caused by your command line parameters are not correct.

refer this document: https://docs.cocos.com/creator/3.1/manual/en/editor/publish/publish-in-command-line.html

[2021-07-06 08:06] dorthl commented on #8931
我在使用 npm 包 @microsoft/signalr ^5.0.7 时候遇到的
包中的调用如下
[code]
不知道为什么 signalr 在判断 fetch 存在后就认为 AbortController也存在了...
在把 fetch 指定为 undefined 后问题解决了

[2021-07-06 08:09] dorthl commented on #8931
解决的过程中我碰到一个问题就是引用 polyfill包非常非常难 基本无解 只能自己定义一个js文件 但是又没有类型注释 而且无法引用npm包 这种情况有什么比较好的解决办法吗  我搜索了很多 3.2.0版本的基本没有相关说明
AbortController 可以不实现 但是官方应该提供 引用 npm polyfill 包的办法

[2021-07-06 08:15] dorthl commented on #8931
还有 现在遇到的两个问题 在 3.2.0版本中
1. 在原生平台调用 game.restart() (windos,安卓) 都会直接闪退 安卓中 vulkan 模式下会闪退,gles3下 游戏会失去响应 只能强行杀死进程
2. 在安卓平台下
`systemEvent.on(SystemEvent.EventType.KEY_DOWN, this.onKeyDown);`
监听不了安卓的返回事件调试
java端
```onKeyDown(int keyCode, KeyEvent event)``` 是调用了的 并且 keyCode =4
但是在js端 onKeyDown根本没有调用

[2021-07-06 08:22] dorthl commented on #8931
还有 https://docs.cocos.com/creator/3.2/api/zh/ 这个api文档 的搜索功能在多数情况下会直接卡死
还不如 2.4版本的这个 https://docs.cocos.com/creator/api/zh/  但是3.0的api又变更很大...  太难了

[2021-07-06 23:52] laurieattwobulls commented on #8459
Oh yep! I see, --path has changed for --project. Didn't catch that ^^

Thanks!

[2021-07-07 03:14] OnlyKoei opened #8940 "2.4.4微信上同时播放两次音频，第一次两个音频均无法播放，第二次开始正常播放"
用户工单：6629
问题：2.4.4微信上同时播放两次音频，第一次两个音频均无法播放，第二次开始正常播放；

暂时通过延迟播放第二次音频的办法；
测试demo:
[LabelDemo.zip](https://github.com/cocos-creator/engine/files/6774008/LabelDemo.zip)

[2021-07-07 06:34] #8459 closed, assigned to nobody

[2021-07-07 08:37] yeshao2069 opened #8944 "「关联节点到预制」可能存在bug"
用户反馈，工单：6558

因为项目合作原因，meta文件可能存在冲突之类的情况，有时候meta文件会被删除后者丢失，会导致项目上使用到该prefab的场景或者资源  发生missing prefab的异常。此时需要重新关联节点到预制，可能会存在关联预制体后保存会丢失的情况。

情况跟进排查。

版本：2.4.4

[712062428e50759ec739497c1ce3214f41500.mp4.zip](https://github.com/cocos-creator/engine/files/6775667/712062428e50759ec739497c1ce3214f41500.mp4.zip)

[2021-07-07 10:29] obraz29 commented on #8933
@xianyinchen hello Xian, we're also encountering this issue, any hotfix we can apply ?

[2021-07-07 10:30] xianyinchen commented on #8933
Yes, this is issue already fixed, refer it please.
https://github.com/cocos-creator/engine-native/pull/3686

[2021-07-07 10:31] #8933 closed, assigned to nobody

[2021-07-08 03:50] zhefengzhang commented on #8812
2.4.6 版本计划在 2021 年 7 月 19 日发布。

[2021-07-08 04:08] zhefengzhang commented on #8929
这个问题有内部 issus 了么，关联一下。

[2021-07-08 11:50] yeshao2069 opened #8949 "[3.1.1] 使用命令行打包Android，报错"
工单：6670

使用命令行打包Android，会提示报错。

操作步骤：

新建一个helloworld 工程，在构建面板上，打包Android平台，勾选  构建后立即生成，配置好 APP-ABI等。
把构建配置导出 buildConfig_android.json
在命令行处，使用

 /Applications/CocosCreator/Creator/3.1.1/CocosCreator.app/Contents/MacOS/CocosCreator --project /Users/apple/work/cocosProj/test311 --build "platform=android;debug=true;configPath=/Users/apple/work/cocosProj/test311/build/buildConfig_android.json
"

会提示报

[2021-07-08 11:52] yeshao2069 commented on #8949
使用android studio 打包 ，正常
![image](https://user-images.githubusercontent.com/14273437/124917056-f2643f80-e025-11eb-8902-0853aed88e13.png)

[2021-07-09 05:56] yeshao2069 commented on #8929
经过排查，这个原因是是MacOS 电脑缺少 tools.jar包导致的，这个需要拷贝一下即可。可尝试以下方案。
方案：
1.  在命令行终端，输入   /usr/libexec/java_home -V ， 可以查看到自己macOS安装的jdk版本。

![image](https://user-images.githubusercontent.com/14273437/125029556-6ea96200-e0bc-11eb-8dc4-a159e27b2f73.png)
2. 在命令行终端，输入  java -version， 可以查看当前生效的jdk版本。

![image](https://user-images.githubusercontent.com/14273437/125029624-8c76c700-e0bc-11eb-8779-e118926093bf.png)
3.

[2021-07-09 05:59] yeshao2069 commented on #8929
Link 相关issue   https://github.com/cocos-creator/engine/issues/8949

[2021-07-09 06:01] #8929 closed, assigned to yeshao2069

[2021-07-09 06:28] yeshao2069 commented on #8949
mac出包Android 命令行打包测试
creator: 2.4.5
macOS: 11.3.1
jdk版本：1.8.0_291
测试结果： OK    功能正常，构建、编译正常
终端命令
/Applications/CocosCreator/Creator/2.4.5/CocosCreator.app/Contents/MacOS/CocosCreator --path /Users/apple/work/cocosProj/test245 --build "platform=android;debug=true;autoCompile=true"

测试命令行打包：
![image](https://user-images.githubusercontent.com/14273437/125033299-b8487b80-e0c1-11eb-84da-ca43527b7b15.png

[2021-07-09 07:50] yeshao2069 commented on #8949
mac出包Android 命令行打包测试
creator: 3.1.1
macOS: 11.3.1
jdk版本：1.8.0_291
测试结果： OK 功能正常，构建、编译正常
终端命令
/Applications/CocosCreator/Creator/3.1.1/CocosCreator.app/Contents/MacOS/CocosCreator --project /Users/apple/work/cocosProj/test311 --build "platform=android;debug=true;configPath=/Users/apple/work/cocosProj/test311/build/buildConfig_android.json"
![image](https://user-images.githubusercontent.com/14273437

[2021-07-09 08:14] xianyinchen commented on #8353
这个节点主要是用于计算节点区域位置，layer值不影响。

[2021-07-09 08:23] yeshao2069 commented on #8949
因为window10的 如果命令窗口出现中文乱码，会导致后续输出无法输出，实际上打包还是正常的。

可以在命令窗口输入  CHCP 65001     来解决这个问题
https://www.cnblogs.com/lisa2016/p/12193446.html

然后打包流程和之前一直即可。

window10 出包Android  构建面板测试     成功
window10 出包Android 命令行构建生成   成功
creator : 2.4.5
jdk : 1.8.0_291
终端命令
G:\CocosDashboard\resources\.editors\Creator\2.4.5\CocosCreator.exe --path C:\Users\Administrator\test245 --build "platform=android;debug=true;auto

[2021-07-09 08:49] yeshao2069 commented on #8949
因为window10的 如果命令窗口出现中文乱码，会导致后续输出无法输出，实际上打包还是正常的。

可以在命令窗口输入  CHCP 65001     来解决这个问题
https://www.cnblogs.com/lisa2016/p/12193446.html

然后打包流程和之前一直即可。

[2021-07-09 08:49] yeshao2069 commented on #8949
因为window10的 如果命令窗口出现中文乱码，会导致后续输出无法输出，实际上打包还是正常的。

可以在命令窗口输入  CHCP 650001     来解决这个问题
https://www.cnblogs.com/lisa2016/p/12193446.html

然后打包流程和之前一直即可。

[2021-07-09 09:19] stapler-j commented on #8353
我看 #8677 已经修复过了 ，现在应该没啥问题了

[2021-07-09 09:20] #8353 closed, assigned to nobody

[2021-07-09 10:13] yeshao2069 opened #8951 "富文本richtext在文字、数字字母混用的情况下，换行显示异常"
工单：6651

<color> MR 。王：</c><color>Text网网111111111111111111111111111111111111</color>
![41AB1A0CBF8EBCFD7558B477F9A22FD4](https://user-images.githubusercontent.com/14273437/125062676-3f591c00-e0e1-11eb-88d7-9ab5bf175dd8.png)

建议优化。

测试2.4.5 和3.1.1版本，目前都是这种情况。

[2021-07-09 10:39] LiuyuqingGit commented on #8951
补充一下，不光RichText，，Label也是一样的

[2021-07-10 01:29] zhefengzhang commented on #8951
Label 不会吧

[2021-07-10 01:38] LiuyuqingGit commented on #8951
你可以自己试一下，会的，2.4.5，我昨天试了

[2021-07-10 01:39] zhefengzhang commented on #8951
嗯，刚试了，确实会。

[2021-07-10 01:55] zhefengzhang commented on #8951
@yeshao2069 请你排查一下 label 自动换行失败的原因，尝试给个临时方案出来。

[2021-07-10 04:31] #3612 closed

[2021-07-10 04:33] zhefengzhang commented on #3612
The user has not replied for a long time and is temporarily closed.

[2021-07-10 04:35] zhefengzhang commented on #4404
不理解你的需求，请你详细描述一下你的需求。

[2021-07-10 04:37] zhefengzhang commented on #4451
Maybe you didn't use canvas's Fit Hight and Fit Width correctly.
![图片](https://user-images.githubusercontent.com/35944775/125151880-eee2cc80-e17b-11eb-9da6-1c72fa2be17c.png)
https://docs.cocos.com/creator/1.9/manual/en/components/canvas.html#property

[2021-07-10 04:40] #4451 closed

[2021-07-10 04:46] #4911 closed

[2021-07-10 04:46] zhefengzhang commented on #4911
客户长时间未回复，暂时关闭。

[2021-07-10 04:52] #5983 closed

[2021-07-10 04:55] zhefengzhang commented on #6031
用户长时间未回复，暂时关闭。

[2021-07-10 04:55] #6031 closed

[2021-07-10 04:55] #6065 closed

[2021-07-10 04:57] #6158 closed

[2021-07-10 04:58] #6175 closed

[2021-07-10 05:00] #6252 closed

[2021-07-11 03:59] #8931 closed, assigned to nobody

[2021-07-12 02:09] LiuyuqingGit commented on #8951
请问有临时解决方案没

[2021-07-12 02:10] LiuyuqingGit commented on #8951
这两个组件

[2021-07-12 02:11] LiuyuqingGit commented on #8951
在原有组件上进行封装也不是很好解决，特别是富文本

[2021-07-12 02:16] yeshao2069 commented on #8951
这边会尝试先出一个临时解决方案

[2021-07-12 02:16] LiuyuqingGit commented on #8951
好的

[2021-07-12 02:42] xianyinchen commented on #5353
The crashes appear inside the v8 library and a reproducible demo needs to be provided so that we can have a direction for analysis.

[2021-07-12 03:25] xianyinchen commented on #5530
多媒体播放都是有实例限制的，不过苹果官方文档没有提到视频播放实例的上限，只是超过设备支持上限会有报错反馈，比如类似下面的报错。

2016-11-07 15:53:46.548288 SampleApp[1810:515089] Video player Status Failed: player item error = Error Domain=AVFoundationErrorDomain Code=-11839 "Cannot Decode" UserInfo={NSUnderlyingError=0x1704414d0 {Error Domain=NSOSStatusErrorDomain Code=-12913 "(null)"}, NSLocalizedFailureReason=The decoder required for this media is busy., NS

[2021-07-12 03:25] #5530 closed

[2021-07-12 03:56] zhefengzhang commented on #8768
已经拿到设备，准备修复。

[2021-07-12 05:36] yeshao2069 commented on #8649
经确认3.x版本， node.getWorldPosition/setWorldPosition 接口时开放给用户使用，2.4.5版本还没有。

[2021-07-12 05:47] zhefengzhang commented on #8918
我觉得这个参数用户自行取整吧，引擎只是返回了平台底层返回的画布宽高信息。

[2021-07-12 05:47] #8918 closed, assigned to nobody

[2021-07-12 05:53] xianyinchen commented on #5856
The current design is such that the engine will synchronize the node position of the physical world to the scene node in real time, but the scene node will not synchronize the changes to the physical engine node in real time. If you need to synchronize the scene node position to the physical world, please call syncPosition manually.

[2021-07-12 05:53] #5856 closed

[2021-07-12 06:00] zhefengzhang commented on #8870
谢谢反馈。
目前 2.x 版本的 enum 参数都会有这个问题，后续版本集中时间优化一遍吧。
3.x 版本已经没有此问题。

[2021-07-12 06:00] #8870 closed, assigned to nobody

[2021-07-12 06:06] yeshao2069 commented on #4680
Thanks for the feedback, I have synchronized this requirement to our development, and we may investigate the requirement for this feature in the next version.

[2021-07-12 06:10] xianyinchen commented on #5391
I think you was setting the max length to zero for label component, so no more text can be inputed.

<img width="1030" alt="WeChat4aa49a14a2fa75d126fdcc7ec6d53bcb" src="https://user-images.githubusercontent.com/8321365/125238862-736b5180-e31a-11eb-9730-5b17fe1b5292.png">

[2021-07-12 06:10] #5391 closed

[2021-07-12 06:14] zhefengzhang commented on #8860
关联到内部 task issues 了，这个需求还是有必要研究看看的。

[2021-07-12 06:14] #8860 closed, assigned to nobody

[2021-07-12 06:15] yeshao2069 commented on #8386
HDR文件识别的需求，已经提交。

[2021-07-12 06:30] xianyinchen commented on #6148
Staggered 模式引擎未实现，不支持这个格式地块渲染，目前2.x没有实现这个模式的计划。

[2021-07-12 06:37] zhefengzhang commented on #8850
- 是的，在 loaded 为 false 的时候，也不会 updateRenderer
![图片](https://user-images.githubusercontent.com/35944775/125241744-68b2bb80-e31e-11eb-9707-3ff97b257bc4.png)

- 这个没问题啊，反正都是取合并为大图之前的原始图。

[2021-07-12 06:41] #8816 closed, assigned to nobody

[2021-07-12 06:46] zhefengzhang commented on #8815
你好，我看到你之前有提过相同的 issues。
https://github.com/cocos-creator/engine/issues/8489

目前引擎后续会升级 3.x 的 spine 库，但是不会再对 2.x 版本进行升级了。后续开发者可以根据 3.x 的提交记录自行升级。

[2021-07-12 06:47] #8815 closed, assigned to nobody

[2021-07-12 07:01] xianyinchen commented on #6149
是的，引擎只支持tmx，只支持 tmx 会有什么问题吗？

[2021-07-12 07:07] xianyinchen commented on #6188
这类问题希望可以直接给引擎仓库提交优化PR，目前2.3不再更新了， 我们同事会提交个优化更新到最新的 2.x 版本。

[2021-07-12 07:32] xianyinchen commented on #6195
你好，目前设计是会出现这个情况，你的建议是可取的，由于引擎暂时没有这块内容的优化计划，你可以先按照你的建议优化这个问题，非常感谢你的反馈。

[2021-07-12 07:32] #6195 closed

[2021-07-12 07:42] xianyinchen commented on #6136
Sorry for the late reply, we can't reproduce this problem in 2.3.4, if the issue still exist on new version, please provide an test project, we will try.

[2021-07-12 08:14] #8386 closed, assigned to nobody

[2021-07-12 09:01] #8789 closed, assigned to yeshao2069

[2021-07-13 01:52] yeshao2069 commented on #7012
3.x版本 可以通过 Material.getHash()获取材质的哈希值，也可以通过通过  mat.hash 获取材质实例的哈希值。
2.x版本目前暂时还没有这样子的接口暴露。

[2021-07-13 02:19] xianyinchen commented on #6089
这个需要提供ipad型号和系统版本，早期设备脚本运行环境会自动切换到JSC引擎，JSC 存在 promise 问题，需要自己使用第三方 promise 实现替换原有的 promise。这个可能是存在的问题之一。

[2021-07-13 02:24] #4982 closed

[2021-07-13 02:34] #8850 closed, assigned to nobody

[2021-07-13 02:56] zhefengzhang commented on #8827
你好，我这边测试是没有问题的哈。
![图片](https://user-images.githubusercontent.com/35944775/125382794-ea5f2380-e3c8-11eb-897f-d343966d341d.png)
这是我的测试 demo，你看一下。
[001.zip](https://github.com/cocos-creator/engine/files/6805552/001.zip)

[2021-07-13 02:56] #8827 closed, assigned to nobody

[2021-07-13 03:21] #6188 closed

[2021-07-13 03:32] zhefengzhang commented on #8819
你好，我这边测试没有问题，请你看下我的测试 demo 是否和你差不多？
[testAudio.zip](https://github.com/cocos-creator/engine/files/6805666/testAudio.zip)

[2021-07-13 03:32] #8819 closed, assigned to nobody

[2021-07-13 06:24] yeshao2069 commented on #8949
windows10 命令行打包 2.4.5 android包的时候，会报错
![A567EF6CF2B0D566C55E5A7BBEB08A85](https://user-images.githubusercontent.com/14273437/125403081-b0514a00-e3e7-11eb-932e-eb2324b45c74.png)

[2021-07-13 06:59] yeshao2069 commented on #5314
在2.4.5版本上验证
第一个问题 let duration = cc.audioEngine.getDuration(audioId);  可以获取到时间的。
在发布的web-mobile上获取duration 是没问题的。
[code]

![image](https://user-images.githubusercontent.com/14273437/125405817-b7c62280-e3ea-11eb-9883-bf0ed7692340.png)

第二个问题

//设置音效剪辑
audioSource.clip = clip;

//取得音效持续时间
let duration = audioSource.getDuration();
在发布的web-mobile上获取duration 是没问题的。
![image](https://user-images.githubus

[2021-07-13 07:08] GHChrisSu commented on #8827
@zhefengzhang 谢谢帮忙看，您应该是用的1.4.1的正式版， 2.0是walletconnect的测试版， 2.0开始才支持其他的公链  1.x版本仅支持以太坊  所以想要2.0  不知道和cocos的导入方式有关系 我在用vue的前端 webpack打包的时候可以导入

[2021-07-13 07:15] yeshao2069 commented on #5314
感谢反馈，你可以升级到最新2.x版本  2.4.5版本试试。

[2021-07-13 07:15] #5314 closed

[2021-07-13 07:42] yeshao2069 commented on #5156
你好，这个方便提供一个demo？

[2021-07-13 07:58] yeshao2069 commented on #5154
该问题无法复现，另外从论坛下载的demo中的 https://game.jiulingwan.com 网址已经失效，无法测试。

[2021-07-13 08:19] yeshao2069 commented on #8949
这个问题使用构建面板构建编译一次后，在使用命令行打包没问题。
另外，可能需要修改一下  NDK版本，最好使用17~19.   for 2.4.x版本

之后可以使用命令行打包成功，不过可能会没有打包过程中的日志输出。

[2021-07-13 08:19] #8949 closed, assigned to yeshao2069

[2021-07-13 08:30] yeshao2069 commented on #5154
另外，webview 不会自动播放，是因为出于安全性考虑，你可以自己模拟播放操作。在2.4.5上测试，发布ios和网页上预览，webview销毁后，声音也会停止。

你可以升级到最新2.4.5版本试试。
测试demo
[NewProject_5.zip](https://github.com/cocos-creator/engine/files/6807176/NewProject_5.zip)

[2021-07-13 08:30] #5154 closed

[2021-07-13 08:37] yeshao2069 commented on #5773
感谢反馈，目前暂时不支持 打包流程开放给开发者， 请知悉，谢谢。

[2021-07-13 08:37] #5773 closed

[2021-07-13 11:01] yeshao2069 commented on #8951
如果需要临时方案，可能需要通过自定义引擎的方式来实现。

[2021-07-13 11:02] yeshao2069 commented on #8811
目前该需求已经同步给引擎组，在讨论实现方案， 后续版本有可能提供支持。

[2021-07-13 11:03] LiuyuqingGit commented on #8951
需要怎么改

[2021-07-13 11:05] #8811 closed, assigned to yeshao2069

[2021-07-13 11:09] yeshao2069 commented on #6841
Can you provide a demo?

[2021-07-14 02:45] novain1102 commented on #8759
![WeChatWorkScreenshot_1f4734d1-00c1-4329-9208-43774cf6ba4e](https://user-images.githubusercontent.com/18634782/125552683-78f6762b-429a-43cf-892e-2c1d7a7dc75b.png)
试试这个写法

[2021-07-14 03:10] #8759 closed, assigned to zhefengzhang

[2021-07-14 03:10] zhefengzhang commented on #8759
验证上面的写法能正常加载了。

[2021-07-14 03:17] zhefengzhang commented on #8768
目前也同样出现了模型穿模的问题，应该属于同一个问题。一并再次记录。

[2021-07-14 05:51] liujin1992112 opened #8975 "dragoneBone挂点BUG"
在挂点上面绑定的子节点，并在子节点下添加物理引擎的碰撞器组件，会出现挂点下的子节点位置错误，在官网example-cases下的龙骨测试也遇到同样的问题（注意：必须要将物理引擎开启）

[2021-07-14 09:33] yeshao2069 commented on #8951
Label 的临时方案 可以修改  ttf.js 来定制引擎。
[code]
定制后的效果如
![57193370BEFC1B13B61323C6E169DBE0](https://user-images.githubusercontent.com/14273437/125599137-75cdad4c-b640-42c6-9132-8c67741cc63d.png)
![11D4339BA4DBC5253E44F2A61CAFEC49](https://user-images.githubusercontent.com/14273437/125599143-314ce5de-58d7-4510-ad9e-e1850d5c3412.png)

[ttf.js.zip](https://github.com/cocos-creator/engine/files/6815051/ttf.js.

[2021-07-14 09:36] LiuyuqingGit commented on #8951
那RichText怎么解决

[2021-07-14 09:39] yeshao2069 commented on #8951
富文本，我还在改，晚点发出

[2021-07-14 09:39] LiuyuqingGit commented on #8951
好的，那麻烦您了，多谢

[2021-07-14 10:09] LiuyuqingGit commented on #8951
刚测试了一下Label，有两个问题，我用数字测试的，第一个是如果都是数字，在resize_height模式下第一行会比下一行缺一个，第二，如果宽度设置的不合适，那么会出现第一排以下的排数会出现一个数字的截断问题

[2021-07-14 10:09] LiuyuqingGit commented on #8951
![image](https://user-images.githubusercontent.com/87181702/125604742-c5d4de43-414a-4698-b9ad-410595f2fe32.png)

[2021-07-14 10:10] LiuyuqingGit commented on #8951
![image](https://user-images.githubusercontent.com/87181702/125604857-ce2fd388-e413-4f95-82e6-f1502563dff2.png)

[2021-07-14 10:15] LiuyuqingGit commented on #8951
![image](https://user-images.githubusercontent.com/87181702/125605484-7603774a-d0a8-4281-978b-c6c5823e94ab.png)

[2021-07-14 10:20] yeshao2069 commented on #8951
好的，上面的问题我试一下。  另外，这部分修改在编辑器中表现不一致是确定的。因为这部分只修改引擎运行部分，可能不会直接影响编辑器下的效果

[2021-07-14 10:24] LiuyuqingGit commented on #8951
我运行的时候和编辑器的效果一样

[2021-07-14 10:25] LiuyuqingGit commented on #8951
![image](https://user-images.githubusercontent.com/87181702/125606796-264d5eea-aafd-4de3-91fa-a7b902c29dcc.png)

[2021-07-14 10:38] LiuyuqingGit commented on #8951
![image](https://user-images.githubusercontent.com/87181702/125608743-16a22324-acde-4cd3-88bc-fc58526876d1.png)

[2021-07-14 10:39] LiuyuqingGit commented on #8951
改了一下宽度，代码加载了一段

[2021-07-14 10:40] LiuyuqingGit commented on #8951
改了一下宽度，代码加载了一段

[2021-07-14 10:51] yeshao2069 commented on #8951
[code]
改成这样子试试

[2021-07-15 01:53] LiuyuqingGit commented on #8951
好的，我试一下

[2021-07-15 02:05] LiuyuqingGit commented on #8951
还是不可以，问题更多了，我把宽度设为200，文字左对齐，文字尺寸40，行高40，输入数字从一输入到9，输入9的时候行高就基本没了，再输入一个0，才变成两行，一直输第二行尾部还是比第一行多个数字

[2021-07-15 02:06] LiuyuqingGit commented on #8951
![image](https://user-images.githubusercontent.com/87181702/125716687-a036e3ea-e285-41ce-96a9-d2c844c2254a.png)

[2021-07-15 02:07] LiuyuqingGit commented on #8951
![image](https://user-images.githubusercontent.com/87181702/125716721-33c81ac4-fec6-4587-af46-57a7e52b7751.png)

[2021-07-15 02:07] LiuyuqingGit commented on #8951
![image](https://user-images.githubusercontent.com/87181702/125716780-455fb175-9484-4805-8841-30c95dd308ee.png)

[2021-07-15 02:08] LiuyuqingGit commented on #8951
继续输入
![image](https://user-images.githubusercontent.com/87181702/125716826-fe852ecb-4522-4882-b631-20263f1ef0d6.png)

[2021-07-15 02:40] LiuyuqingGit commented on #8951
您那边有没有验证一下

[2021-07-15 02:46] yeshao2069 commented on #8951
我验证的数字，使用的是你之前提供的那些

MR 。王：Text网网111111111111111111111111111111111111
11111111112222222111111111111111
1111111111111111111111111111

[2021-07-15 02:51] LiuyuqingGit commented on #8951
如果可以的话还是希望全方位验证一下，

[2021-07-15 02:53] yeshao2069 commented on #8951
那你提供一些数据，我来验证看看吧~ 有时候考虑可能不全面。

[2021-07-15 02:58] LiuyuqingGit commented on #8951
那您直接改完我帮您做验证吧，这样可能好一点

[2021-07-15 02:59] LiuyuqingGit commented on #8951
有什么问题我第一时间告诉您

[2021-07-15 03:04] yeshao2069 commented on #8951
行。

[2021-07-15 03:17] yeshao2069 commented on #8951
刚才改了一下，是因为计算问题导致上面的问题。
改下这个验证看看，我修复上面你提到的123456789 行高消失问题，以及文本字符显示异常问题。
[code]
![9547BE8A8E613D6BCC77823236708152](https://user-images.githubusercontent.com/14273437/125723685-b857f241-7684-48a2-acdc-c227563c9273.png)
![0AA7737F46E8EBC0B6210BC22CD49F9F](https://user-images.githubusercontent.com/14273437/125723688-7b375ac5-d2e2-466a-b171-b42c8d9391f3.png)

如果还有其他情况，麻烦即使告知。

[2021-07-15 03:18] LiuyuqingGit commented on #8951
好的

[2021-07-15 03:25] zhefengzhang opened #8982 "[3.2.0] GAME_SHOW 回调在微信小游戏平台没有返回值"
小秘书工单：6767

https://developers.weixin.qq.com/minigame/dev/api/base/app/life-cycle/wx.onShow.html

![图片](https://user-images.githubusercontent.com/35944775/125724636-ffbf9a8a-0318-4a2b-982b-d44a0b348f49.png)

微信小游戏的 wx.onShow 接口是能获取参数返回值的。

[2021-07-15 03:46] LiuyuqingGit commented on #8951
![image](https://user-images.githubusercontent.com/87181702/125725936-7f5904f7-e662-426d-baef-7d6523177b0e.png)

[2021-07-15 03:47] LiuyuqingGit commented on #8951
表现其实也可以了，我估计有的问题是因为有些阿拉伯数字占宽不同比如1

[2021-07-15 03:48] yeshao2069 commented on #8951
那是因为在Canvas里面去获取数字宽度的时候  1，2，3，4，5，6，7，8，9，0这些的宽度都是  22.246. 但是实际渲染的时候，其实数字的大小并没有这么宽，所以会导致这个问题的。

[2021-07-15 03:48] LiuyuqingGit commented on #8951
你可以通过随便多输一些字符，通过在编辑器上去拉伸这个label的宽度去试一下效果

[2021-07-15 03:49] LiuyuqingGit commented on #8951
好吧

[2021-07-15 03:50] yeshao2069 commented on #8951
那你在测试看看，有没有其他的问题。

[2021-07-15 04:46] LiuyuqingGit commented on #8951
目前已经全方位测试了（控制变量堆了几十组测试用例，包括不同种类文字的排列），暂时没发现其他问题，（您那边如果有测试组的话，在引擎新版本发布的时候（如果包含了修复这次的问题的话）可以再让测试组过一遍）。另外请问一下富文本组件的同样的问题大概什么时候能够解决？

[2021-07-15 04:48] LiuyuqingGit commented on #8951
临时方案

[2021-07-15 05:57] yeshao2069 commented on #8951
富文本的临时方案要重新试一下，那个实现比这个复杂一些。

[2021-07-15 05:59] zhefengzhang commented on #8975
这个问题在 3.2.0 版本上没有复现哦~

[2021-07-15 05:59] #8975 closed, assigned to nobody

[2021-07-15 06:00] LiuyuqingGit commented on #8951
好的

[2021-07-15 06:37] #8685 closed, assigned to nobody

[2021-07-15 07:51] zhefengzhang commented on #8683
感谢反馈，已确认为当前版本 bug ，我们会进行修复的。

[2021-07-15 07:51] #8683 closed, assigned to nobody

[2021-07-15 07:51] #8664 closed, assigned to nobody

[2021-07-15 08:13] zhefengzhang commented on #8771
[005.zip](https://github.com/cocos-creator/engine/files/6821430/005.zip)

There was no problem in my test.

[2021-07-15 08:13] #8771 closed, assigned to nobody

[2021-07-15 08:51] zhefengzhang commented on #8451
我这边测试没有泄漏的情况呢。
![图片](https://user-images.githubusercontent.com/35944775/125759117-f4a57081-7e08-4f2a-bdd3-f63007cfa9d5.png)
请你也测试一下我的代码
[wechatgame.zip](https://github.com/cocos-creator/engine/files/6821678/wechatgame.zip)

[2021-07-15 08:51] #8451 closed, assigned to nobody

[2021-07-15 08:52] zhefengzhang commented on #8649
谢谢反馈，.d.ts 的问题，可以先修，接口的开放问题我们也出再处理。

[2021-07-15 08:52] #8649 closed, assigned to nobody

[2021-07-15 09:55] #7012 closed

[2021-07-15 09:56] #7008 closed

[2021-07-15 09:57] #7009 closed

[2021-07-15 09:58] #7010 closed

[2021-07-15 10:02] yeshao2069 commented on #7922
https://github.com/cocos-creator/engine-native/pull/3565  这个修复PR试试

[2021-07-15 10:09] yeshao2069 commented on #4437
Can you upgrade to the latest 2.4.5 version, and then try to have this problem?

[2021-07-16 07:21] zhefengzhang opened #8992 "[2.4.5] 偏好设置里勾选默认设置预制体为自动同步之后，预制体嵌套会出现 bug"
小秘书工单 id：6780

复现视频：

https://user-images.githubusercontent.com/35944775/125908495-39450a48-91a1-42ed-9398-48e9451de904.mov

[2021-07-16 07:26] OnlyKoei commented on #8429
方便提供个demo?, 简单测试没有出现你说的这种情况，而且看 isEmptyObject 的耗时非常低，
测试版本 2.4.4，不确定是不是需要什么特别设置。
![image](https://user-images.githubusercontent.com/40415168/125908791-e4b742ee-618a-460b-97ac-42dd5e3d5a0c.png)
我这边的测试demo:
[BUG.zip](https://github.com/cocos-creator/engine/files/6828671/BUG.zip)

[2021-07-19 03:01] yeshao2069 commented on #8176
感谢反馈，短时间内，可能暂时不会对tween扩展tween.show和tween.hide。
我这边封装了一个 CCUtils类，你可以试一下。tween来实现。
目前暂时封装了 cc.fadeIn、cc.fadeOut、cc.show、cc.hide。
https://gitee.com/yeshao2069/cocos-creator-how-to-use/blob/v3.0.0/Tween/CCUtilsDemo/assets/ccUtils.ts

[2021-07-19 03:01] #8176 closed, assigned to nobody

[2021-07-19 03:49] yeshao2069 commented on #7480
Thanks for the feedback, this problem has been fixed in version 3.0, you can upgrade to version 3.x and try again.
[testRotate.zip](https://github.com/cocos-creator/engine/files/6837758/testRotate.zip)

[2021-07-19 03:49] #7480 closed

[2021-07-19 10:00] yeshao2069 opened #9006 "使用blender导出的FBX模型，在Creator上显示效果和blender显示效果差距比较大"
工单：6816
用户使用版本： 3.2.0

因为用户提供的文件属于私密，已经贴在内部issue中，这边不提供。 这边同步处理结果给用户。

[2021-07-20 02:34] az198071123 opened #9009 "[2.4.5] 嵌套 Prefab 在 Game.fire 会报错，附图"
### Creator version?（版本号）
Cocos Creator 2.4.5

### Affected platform?（受影响的平台）
目前只在 Mac 測試過

### How to reproduce?（如何重现）
### JavaScript output or error produced?（报错信息和调用栈）
![image](https://user-images.githubusercontent.com/5800906/126253235-a5acbd9a-cdb8-40a0-8161-2e5c01c40141.png)

[2021-07-20 03:10] OnlyKoei commented on #9009
你好，这个问题在文档中已经有提到了，你这边是开启了自动同步，所以会造成这个现象：
![image](https://user-images.githubusercontent.com/40415168/126256078-39287120-2764-4563-9c28-70791593b9d9.png)
文档链接：https://docs.cocos.com/creator/manual/zh/asset-workflow/prefab.html?q=

[2021-07-20 05:40] az198071123 commented on #9009
你好，感谢回覆

还有一个问题：
这个 Prefab 我放在`另一个 Prefab` 中没事，只有放在 `.fire` 下会报错
请问是嵌套 Prefab 只能在 Prefab 中使用吗？

[2021-07-20 08:17] yeshao2069 opened #9017 "微信小游戏，骨骼动画帧事件触发异常"
小秘书工单：6781

3.2.0版本

使用骨骼动画，在动画编辑器上，添加帧事件，在web上预览，帧事件正常触发。在微信小游戏上，帧事件不能触发。

临时方案：

在场景中，骨骼动画，去除 关联到prefab资源 选项，变成普通节点后，在微信小游戏上 帧事件可以触发。

[2021-07-20 09:17] zhefengzhang commented on #4122
这边在 2.4.5 版本测试i，问题已经优化了。最终打出来的图片是这样的。
![图片](https://user-images.githubusercontent.com/35944775/126295821-206bd3fd-0675-4f7e-9bc8-fe3c2e3743ee.png)

测试demo：
[002.zip](https://github.com/cocos-creator/engine/files/6847067/002.zip)

请升级引擎版本体验~

[2021-07-20 09:17] #4122 closed

[2021-07-20 09:18] zhefengzhang commented on #4404
用户长时间未回复，暂时关闭。

[2021-07-20 09:18] #4404 closed

[2021-07-20 09:25] zhefengzhang commented on #5353
The user has not replied for a long time and is temporarily closed.

[2021-07-20 09:25] #5353 closed

[2021-07-20 09:32] zhefengzhang commented on #6089
用户长时间没有回复，问题暂时关闭。

[2021-07-20 09:32] #6089 closed

[2021-07-20 10:08] #6136 closed

[2021-07-20 10:11] #6149 closed

[2021-07-20 10:14] #6282 closed

[2021-07-20 10:24] #6582 closed

[2021-07-20 10:25] zhefengzhang commented on #6582
就当做 他们都不支持倒着播放好了.
- 那就关闭此 issues 了。

[2021-07-21 02:38] OnlyKoei commented on #9009
Prefab 界面，你如果再建个prefab A, 然后在card_back 节点上挂载同个脚本，一样是挂载不上 选择自动同步的 prefab A的；

[2021-07-21 02:45] xianyinchen commented on #8275
404  mean the server can't find the requested resource, please check you remote resource.
https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/404

[2021-07-21 03:04] xianyinchen commented on #8242
目前引擎不支持 b2_fixtureContactListenerParticle 这个效果，所以会直接抛出异常 throw new Error()。

[code]

[2021-07-21 03:09] xianyinchen commented on #7933
if you publish to web-mobile platform, it work OK. but Native will fail, because native code use float type.

[2021-07-21 03:14] xianyinchen commented on #7933
this issue has fixed, refer this PR.
https://github.com/cocos-creator/engine/pull/8073

[2021-07-21 03:14] #7933 closed

[2021-07-21 06:09] xianyinchen commented on #7880
你可以原生层canvas绘制的默认的预乘关闭来解决这个问题
<img width="1108" alt="WeChat349c86fc8eec849554a153ec2761fbdf" src="https://user-images.githubusercontent.com/8321365/126437014-54bf386f-fab4-439b-bb5f-74be707db48f.png">

[2021-07-21 06:09] #7880 closed

[2021-07-21 06:43] xianyinchen commented on #7825
感谢反馈，编辑器确实是这样处理的，这个问题触发的是警告，所以建议使用的时候注意下，采取删除 this._super() 而不用注释的方式。

[2021-07-21 06:43] #7825 closed

[2021-07-21 07:01] xianyinchen commented on #7745
你好，你提供的信息有限，我们这边猜测可能是证书验证问题，可以自己手动传入。

证书获取参考帖子
 https://forum.cocos.org/t/websocket-ssl/60024/6

证书传入示例代码
[code]

[2021-07-21 07:10] LiuyuqingGit commented on #8951
请问富文本的OK了吗？

[2021-07-21 07:26] jiangjiali commented on #7745
好呢。收到。

[2021-07-21 07:33] xianyinchen commented on #7567
从报错信息看，应该是材质被destroy掉了，可能是资源被错误释放了，具体需要给个demo才能排查。

[2021-07-21 07:42] xianyinchen commented on #7402
It is not possible, because the character draw is use the system/browser function, missing character alway instead by default font set.

[2021-07-21 07:42] #7402 closed

[2021-07-21 08:05] yeshao2069 commented on #8951
富文本的还没，今天我会再尝试一下，前几天有别的事情需要处理，没来得及处理。

[2021-07-21 08:35] yeshao2069 commented on #6663
支持的typescript版本，文档是有说明的，比如3.1版本的，可参考https://docs.cocos.com/creator/3.1/manual/zh/scripting/language-support.html?h=%E8%AF%AD%E8%A8%80%E6%94%AF%E6%8C%81

引擎不支持开放typescript版本选择，请知悉，谢谢。

[2021-07-21 08:35] #6663 closed

[2021-07-21 09:06] yeshao2069 commented on #6648
感谢反馈。
关于在编译失败的情况下给出更详细的信息，已经提交需求。
目前编译失败或者自定义引擎为空的情况下，会提示后并使用内置引擎。

临时方案： 如果你遇到这种卡死的情况下，可以尝试删除自定义引擎，也可以升级目前3.1.2版本试试。

[2021-07-21 09:06] #6648 closed

[2021-07-21 10:50] zhefengzhang commented on #8768
临时解决方案：https://forum.cocos.org/t/topic/117447/3?u=zzf_cocos

[2021-07-21 10:51] #8768 closed, assigned to zhefengzhang

[2021-07-21 10:54] OnlyKoei commented on #6532
Issue has been created to deal with this problem, this side first shut down。 #https://github.com/cocos-creator/3d-tasks/issues/7539

[2021-07-21 10:54] #6532 closed

[2021-07-21 11:04] OnlyKoei commented on #9009
具体原因主要是： 自动同步的预制中的组件无法引用该预制外的其他对象，就是上面发的截图，具体可看上面发的文档链接里的具体内容，这边这个 issue 就先关了

[2021-07-21 11:04] #9009 closed, assigned to nobody

[2021-07-21 12:01] mjshin82 opened #9036 "[3.2.0] The nearest filter for the texture does not work on the Web."
![image](https://user-images.githubusercontent.com/22926212/126485253-e670dbe3-8ebf-443a-877c-4a22ea19007c.png)
The nearest filter for the texture does not work on the Web.
It only works on the editor.

### Creator version?（版本号）
3.2.0/ 3.1.2

### Affected platform?（受影响的平台）

Web

### How to reproduce?（如何重现）
Every time

### JavaScript output or error produced?（报错信息和调用栈）

No

### Demo project?（demo 项

[2021-07-21 14:07] Ronsku commented on #6532
https://github.com/cocos-creator/3d-tasks/issues/7539 page not found 🤔

[2021-07-22 01:52] jadestrong commented on #8176
这个工具类可以和 tween 结合起来一起用吗，比如：
[code]
能转换成3的用法吗：

[code]

[2021-07-22 06:58] #6639 closed

[2021-07-22 07:47] xianyinchen commented on #7209
这个是目前设计的问题，你可以通过修改下面代码进行优化
<img width="1452" alt="WeChatf87029fda88bf510bdc403472f1d7281" src="https://user-images.githubusercontent.com/8321365/126605454-4deb4e57-316a-417f-a35a-e44c9613a88c.png">

[2021-07-22 07:47] #7209 closed

[2021-07-22 08:10] xianyinchen commented on #6916
this spine data parse fail, possible compatibility issues, you can try use spine 3.8.

<img width="1686" alt="WeChat98aeb6a44058a25558f76cddc13b4683" src="https://user-images.githubusercontent.com/8321365/126607597-c4a82be2-f7e0-4539-b88a-34a6bd993570.png">

[2021-07-22 08:59] zhefengzhang opened #9040 "[2.4.6] wecatgame 上 assetManager 加载远程 bundle 之后，getDirWithPath 返回空数组，而 web 正常"
小秘书工单 id：6893

web 上：
![图片](https://user-images.githubusercontent.com/35944775/126611939-0e08e8c2-962a-43d4-bc73-90699e7a4f45.png)

wecatgame 上：
![图片](https://user-images.githubusercontent.com/35944775/126612801-7ed4f83a-cb0d-48e1-8cc2-b3711f06298c.png)

测试 demo：
[002.zip](https://github.com/cocos-creator/2d-tasks/files/6861023/002.zip)

[2021-07-22 10:25] yeshao2069 commented on #6310
感谢反馈，你的需求已经提交引擎组。

[2021-07-22 10:25] #6310 closed

[2021-07-22 10:29] yeshao2069 commented on #8176
这种写法目前不支持。因为ccutils内部就是tween实现，如果你要写成上面那种的话，你可能还需要在 call中来实现。

如

tween(node).delay(10).call(
()=>{
  CCUtils.fadeOut(node, 0.1)
});  这样子

[2021-07-22 11:33] LiuyuqingGit commented on #8951
您好请问富文本可以了吗？

[2021-07-23 06:20] PPpro opened #9048 "支持 screen.windowSize 接口，同时废弃 sys.windowPixelResolution 接口"
需要吧 view 里对 dpr 的降采样操作放到 pal 层里

[2021-07-23 06:21] PPpro commented on #9048
https://github.com/cocos-creator/3d-tasks/issues/8181

[2021-07-23 06:21] #9048 closed, assigned to PPpro

[2021-07-23 06:34] yeshao2069 commented on #8951
这边富文本有方案了，不过我只是做了简单的测试，你那边可以帮忙测试不？

[2021-07-23 06:36] LiuyuqingGit commented on #8951
行

[2021-07-23 06:38] yeshao2069 commented on #8951
修改 engine下的  engine/cocos2d/core/components/CCRichText.js文件，  _updateRichTextWithMaxWidth
[code]
![4C56892EBE34E0536B56148ACC960CEF](https://user-images.githubusercontent.com/14273437/126745769-9b777869-3198-446a-895a-d659ffe91fd2.png)

[2021-07-23 07:07] LiuyuqingGit commented on #8951
效果还不错，容我在中间插入一些图片试试

[2021-07-23 07:16] LiuyuqingGit commented on #8951
暂时未发现有什么问题

[2021-07-23 07:16] LiuyuqingGit commented on #8951
暂时未发现有什么问题

[2021-07-23 07:19] yeshao2069 commented on #8951
好的，那这两个方案都同步给你了，这个issue就关闭咯

[2021-07-23 07:21] ChasenTsai opened #9052 "触摸节点 紧接着 pauseSystemEvents 再释放触摸后导致所有触摸失效"
### Creator version?（版本号）
2.4.4

### Affected platform?（受影响的平台）
Web & Android

### How to reproduce?（如何重现）

1. 给一个节点添加`TOUCH_START`事件，事件触发的方法是调用节点的暂停系统事件方法
2. 点击这个节点，即可重现

### JavaScript output or error produced?（报错信息和调用栈）
无报错信息

### Demo project?（demo 项目）
在任意可见的节点身上添加这个事件即可

[code]
我注意到 @PPpro 提交的RP：
 #8969
我尝试了将它合并到我的版本中，但并不能解决这个问题

[2021-07-23 07:21] #8951 closed, assigned to yeshao2069

[2021-07-23 08:00] yeshao2069 commented on #6277
Can you provide a demo for test?

[2021-07-23 08:18] #6598 closed

[2021-07-23 08:42] yeshao2069 commented on #6528
have a try :

https://github.com/2youyou2/transitions

[2021-07-23 08:48] yeshao2069 commented on #6480
@shrinktofit    现在这个有修复吗？

[2021-07-23 08:53] yeshao2069 commented on #6148
该需求已经提交给引擎组，感谢反馈。

[2021-07-23 08:53] #6148 closed

[2021-07-23 09:11] yeshao2069 commented on #6668
感谢反馈，这个需求已经同步给引擎组。

[2021-07-23 09:11] #6668 closed

[2021-07-23 09:34] yeshao2069 commented on #7722
验证了一下，在2.4.5版本上也有这个问题。打包的时候，只有cocos2d-js-min.js这个的md5不一样。

[2021-07-23 09:49] OnlyKoei commented on #6572
已建立内部 issue，对这个进行讨论，感谢反馈！
这边 issue 先关闭了。

[2021-07-23 09:49] #6572 closed

[2021-07-24 07:59] hideoncode1990 opened #9058 "Z"

[2021-07-24 09:04] gdtdftdqtd opened #9059 "widget的updateAlignment调用父节点的时候没有判断父节点widget是否禁用(enabled)"
建议增加个判断，判断widget的enabled值为false时，不更新
[code]

[2021-07-26 06:32] xianyinchen commented on #6255
这个定义已经有了的，你可以看下这样书写
[code]

[2021-07-26 06:32] #6255 closed

[2021-07-26 06:37] xianyinchen commented on #6765
你好，如果该问题还有继续跟踪，麻烦提供个demo，我们会再做确认。

[2021-07-26 06:37] #6765 closed

[2021-07-26 08:20] xianyinchen commented on #6736
你可以安装client版本
npm install socket.io-client

然后提取里面的放到creator设置成插件
node_modules/socket.io-client/dist/socket.io.min.js

详见npm库和对应文档
https://www.npmjs.com/package/socket.io-client
https://socket.io/docs/v4/client-initialization/

[2021-07-26 08:23] xianyinchen commented on #6736
引擎对该npm库的兼容性存在问题，可以按照你的操作方法规避，或者使用下面这个帖子里面的socket.io库文件
https://forum.cocos.org/t/typescript-socket-io/51670/2

[2021-07-26 08:23] #6736 closed

[2021-07-26 08:48] xianyinchen commented on #5130
你好，该问题需要提供一个可复现的demo，由于你使用的是早期版本，建议你升级最新版本，然后确认问题是否同样存在。

[2021-07-26 08:50] xianyinchen commented on #8930
该问提已经修复，参考PR
https://github.com/cocos-creator/engine/pull/8938

[2021-07-26 08:50] #8930 closed, assigned to xianyinchen

[2021-07-26 08:52] xianyinchen commented on #8275
If the problem still exists, please provide a test project and we will confirm it again.

[2021-07-26 08:52] #8275 closed, assigned to xianyinchen

[2021-07-26 08:54] xianyinchen commented on #6916
If the problem still exists after upgrading the spine export version 3.8, please provide the spine source file and we will confirm it again.

[2021-07-26 08:54] #6916 closed

[2021-07-26 09:55] yeshao2069 commented on #7722
感谢反馈。
经过验证，这个问题在2.4.6版本上修复了，建议你升级到2.4.6版本试试。

[2021-07-26 09:55] #7722 closed

[2021-07-26 09:56] JeffGoing commented on #7722
好的，谢谢

---原始邮件---
发件人: ***@***.***&gt;
发送时间: 2021年7月26日(周一) 下午5:55
收件人: ***@***.***&gt;;
抄送: ***@***.******@***.***&gt;;
主题: Re: [cocos-creator/engine] 命令行和构建面板构建出来的cocos2d-js-min.js文件的md5值不一致 (#7722)

感谢反馈。
 经过验证，这个问题在2.4.6版本上修复了，建议你升级到2.4.6版本试试。

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-07-26 09:57] #9058 closed, assigned to nobody

[2021-07-26 09:59] #7878 closed

[2021-07-26 10:51] zhefengzhang commented on #9040
经过测试是我这边原本装的 1.0.3 开发版本微信小游戏开发者工具的 bug。升级到 1.0.5 稳定版后问题解决。
稳定版下载链接：
https://developers.weixin.qq.com/miniprogram/dev/devtools/stable.html

[2021-07-26 10:51] #9040 closed, assigned to zhefengzhang

[2021-07-27 03:02] yeshao2069 commented on #9006
我们的工程师密切关注这个问题。主要是材质问题导致的。目前主要有2个最新的反馈同步。
1. 环境光漫反射调整的不对，会导致总体色调偏蓝(一部分可能美术视角喜欢色调调整很像蓝天一样导致)，所以这个引擎后续考虑优化解决(通过自动生成的方式来处理);
2. 导入模型之后裤子材质的底图丢失了，导致使用了默认的黄色。这个问题还在排查。(目前的处理方式是，通过新建一个材质，然后，贴上贴图后，在模型上使用)

[2021-07-27 03:29] yeshao2069 commented on #7477
感谢反馈，你的需求已经提交给引擎组，谢谢。

[2021-07-27 03:29] #7477 closed

[2021-07-27 03:40] yeshao2069 commented on #4437
No reply for a long time, the issue is temporarily closed

[2021-07-27 03:40] #4437 closed

[2021-07-27 04:16] zhefengzhang commented on #7099
应该是和 https://github.com/cocos-creator/engine/issues/8768 一样的问题。
参考临时方案：
https://forum.cocos.org/t/topic/117447/3?u=695105047

[2021-07-27 04:16] #7099 closed

[2021-07-27 06:09] yeshao2069 commented on #6388
感谢反馈，这个需求已经提交给引擎组，谢谢。

[2021-07-27 06:09] #6388 closed

[2021-07-27 07:19] shrinktofit commented on #6532
Creator 3.3(comming soon) shipped the experimantal import map feature. By which you can implement the affects like tsconfig paths.

[2021-07-27 08:22] yeshao2069 opened #9078 "3.1.1 播放音效的时候，第一次无声，第二次声音正常"
有相同的反馈
https://discuss.cocos2d-x.org/t/cc3-1-1-bug-audio-plays-double-on-first-time/54062

3.1.1  播放音效的时候，第一次无声，第二次声音正常

初步排查，是个bug.

复现demo

    playEffect () {
        let clip = this.audioclips[this.index];

        if (clip) {
            this.audioSource.clip = clip;
            this.audioSource.loop = false;
            this.audioSource.volume = 1;
            this.audioSource.play();

[2021-07-27 09:45] chichinohaha opened #9080 "重命名 effect 会导致 inspector 显示错误"
### Creator version?（版本号）
3.3

### Affected platform?（受影响的平台）

windows
### How to reproduce?（如何重现）
重命名 effect 然后点击 material 资源，此时查看 inspector 中的 Effect 下拉框，找不到重命名后的 effect
### JavaScript output or error produced?（报错信息和调用栈）

没有报错哦
### Demo project?（demo 项目）

没有demo哦

[2021-07-27 09:45] #9080 closed, assigned to arsen2010

[2021-07-28 03:39] fjqingyou commented on #5130
无法提供复现了！

[2021-07-28 03:39] #5130 closed

[2021-07-28 07:44] OnlyKoei commented on #9052
在那个 pr 的基础上，这边加个判断
[CCEventManager.zip](https://github.com/cocos-creator/engine/files/6891203/CCEventManager.zip)，
![image](https://user-images.githubusercontent.com/40415168/127283751-aed0510e-39e2-44c0-8791-133075e5f344.png)

[2021-07-28 07:44] #9052 closed, assigned to nobody

[2021-07-29 01:46] yeshao2069 commented on #6608
感谢反馈，你的需求已经收到，已经提交给引擎组，谢谢。

[2021-07-29 01:46] #6608 closed

[2021-07-29 05:55] #6886 closed

[2021-07-29 05:56] #6909 closed

[2021-07-29 05:58] #7517 closed

[2021-07-29 06:24] OnlyKoei commented on #6644
#https://github.com/cocos-creator/2d-tasks/issues/3440

[2021-07-29 06:24] #6644 closed

[2021-07-29 06:25] xianyinchen commented on #7421
你好，经过测试2.4.5版本可以正常运行，网页预览和发布网页版本均正常运行，请自行验证下。

[2021-07-29 06:25] #7421 closed

[2021-07-29 06:38] xianyinchen commented on #7113
你好，这个demo在2.4.5版本测试并不会出现上述错误信息，请确认。

[2021-07-29 06:38] #7113 closed

[2021-07-29 07:03] #8787 closed, assigned to OnlyKoei

[2021-07-29 07:04] OnlyKoei commented on #8429
由于你这边长期没有回复，该 issue 暂时关闭，如果后续有问题，可继续进行反馈，给你带来的不便，感到非常抱歉！

[2021-07-29 07:04] #8429 closed, assigned to OnlyKoei

[2021-07-29 07:09] OnlyKoei commented on #8940
#https://github.com/cocos-creator/2d-tasks/issues/3402

[2021-07-29 07:12] OnlyKoei commented on #8810
由于贴图是单通道灰度图，在微信中固定当成 RGBA 格式的 PNG，并且做了预乘处理，需要将图片改成 RGBA 格式

[2021-07-29 07:12] #8810 closed, assigned to OnlyKoei

[2021-07-29 07:18] xianyinchen commented on #7105
Thanks for the feedback, this is an issue and you can bypass the problem using the code below.

[code]

[2021-07-29 07:18] #7105 closed

[2021-07-29 07:23] OnlyKoei commented on #6424
already modified,test version 2.4.6:
![image](https://user-images.githubusercontent.com/40415168/127449266-7c7e635c-8d53-475e-93c1-2b737ada1dba.png)

[2021-07-29 07:23] #6424 closed

[2021-07-29 07:26] OnlyKoei commented on #5917
Can you provide a screenshot to see the actual situation?

[2021-07-29 07:28] yeshao2069 commented on #6704
使用2.4.6测试， 指定android 为ETC1 RGB ， Web 和 MiniGame 为 PNG ， 构建安卓和web-mobile，没问题。
安卓生成pkm，web不会生成pkm。(不管是先构建安卓还是先构建web)

[2021-07-29 07:28] yeshao2069 commented on #6704
我试试2.3.3 看看

[2021-07-29 08:17] yeshao2069 commented on #6704
2.3.3 测试，如果 指定android 为ETC1 RGB ， Web 和 微信小游戏 为 PNG， 那么打包安卓或者web，pkm不生成。
如果 指定android 为ETC1 RGB， 不指定  Web 和 微信小游戏，  那么打包安卓或者web，pkm不生成。

感谢你的反馈，你可以升级 creator 2.4.6试试。

2.3.3测试例
[test233.zip](https://github.com/cocos-creator/engine/files/6898967/test233.zip)
2.4.6测试例
[test246.zip](https://github.com/cocos-creator/engine/files/6898978/test246.zip)

[2021-07-29 08:17] #6704 closed

[2021-07-29 08:20] #6951 closed

[2021-07-29 08:22] OnlyKoei commented on #6307
动态修改 MotionStreak 组件上的 color 就行，测试版本2.4.6

[2021-07-29 08:22] #6307 closed

[2021-07-29 08:30] yeshao2069 commented on #6528
You can try to follow the plan. If you have any other questions, please feel free to give us feedback. Thanks.
https://github.com/2youyou2/transitions

[2021-07-29 08:30] #6528 closed

[2021-07-29 08:37] yeshao2069 commented on #6744
已建立内部 issue，对这个进行讨论，感谢反馈！
这边 issue 先关闭了。

[2021-07-29 08:37] #6744 closed

[2021-07-29 11:09] OnlyKoei commented on #9059
感谢你的反馈，已告知相关技术人员。

[2021-07-29 11:09] #9059 closed, assigned to nobody

[2021-08-02 02:02] yeshao2069 commented on #6676
感谢反馈，该需求已经提交给引擎组，谢谢。

[2021-08-02 02:02] #6676 closed

[2021-08-02 02:47] xianyinchen commented on #6915
因为原生渲染器与与Web端的渲染器有所区别，你可以使用下面方法规避问题。

[code]

[2021-08-02 02:48] #6915 closed

[2021-08-02 02:52] #7567 closed

[2021-08-02 02:52] yeshao2069 commented on #6617
这个需求和 https://github.com/cocos-creator/engine/issues/6951 是相同issue.
目前这个issue 需求已经同步给引擎组了，感谢反馈。

[2021-08-02 02:53] #6617 closed

[2021-08-02 02:57] yeshao2069 commented on #7247
感谢反馈。

[2021-08-02 02:57] yeshao2069 commented on #7247
FIX_ARTIFACTS_BY_STRECHING_TEXEL_TMX 并不能解决根本问题, 还会让一些没问题的产生问题.

--- 这个产生新的问题， 有具体是哪些问题？

[2021-08-02 03:00] yeshao2069 commented on #7922
你好，你可以参考这个修复 pr 手动修复一下你的引擎，pr 已经合并到 2.4.6 版本，即将合并到 3.3 版本。
cocos-creator/engine-native#3565
定制引擎的流程参考：
https://docs.cocos.com/creator/3.1/manual/zh/advanced-topics/engine-customization.html?h=%E5%AE%9A%E5%88%B6

也可以升级引擎到2.4.6版本。感谢反馈。

[2021-08-02 03:00] #7922 closed

[2021-08-02 03:10] yeshao2069 commented on #6636
感谢反馈，该需求已经提交到引擎组，谢谢。

[2021-08-02 03:10] #6636 closed

[2021-08-02 03:12] yeshao2069 commented on #8288
问题可以复现，已经反馈给引擎组排查。

[2021-08-02 03:14] yeshao2069 commented on #5156
感谢反馈，使用2.4.6测试，问题仍然存在，已经提交给引擎组排查。

[2021-08-02 03:17] yeshao2069 commented on #8812
2.4.6版本已经发布，可以测试一下。

[2021-08-02 06:26] yeshao2069 commented on #6759
感谢反馈，这个应该是一个引擎的bug了。

临时方案：
修改自动图集的配置，取消扩边选项(这个会导致左右各多出1像素)，修改默认的图片间距 padding 默认为0(padding默认为2，会导致左右多出各2像素)

[2021-08-02 06:40] yeshao2069 commented on #6759
另外，你使用  sf.originslSize.width   sf.originslSize.height  这两个也是原始尺寸。

[2021-08-03 07:53] xianyinchen opened #9124 "3.1.2 模型meta数据字段存在随机排序导致git差异更新"
同一个版本，蓝色和绿色的两个字段位置出现调换

<img width="420" alt="wecom-temp-249707e0881a9c8df674f6cc6263b89c" src="https://user-images.githubusercontent.com/8321365/127978403-7d6f0b59-827b-43ce-9a43-405c04c1cafd.png">

[2021-08-03 11:47] Jeleren commented on #8451
请问能发下源码吗 我这要加jsb才能在我们的宿主上运行

[2021-08-03 11:51] zhefengzhang commented on #8451
[spine-leak-test.zip](https://github.com/cocos-creator/engine/files/6923788/spine-leak-test.zip)

[2021-08-03 11:52] zhefengzhang commented on #8099
User did not reply for a long time, temporarily closed

[2021-08-03 11:52] #8099 closed, assigned to nobody

[2021-08-05 02:08] OnlyKoei commented on #5917
The test could not be reproduced. Since you have not replied for too long, the issue is temporarily closed

[2021-08-05 02:08] #5917 closed

[2021-08-05 03:47] panhaozi commented on #8242
但是开发者有这需求怎么办？

[2021-08-05 07:22] yeshao2069 opened #9141 "3.1.2 3D粒子使用UIMeshrenderer组件报错"
工单： 7116

3.1.2  3D粒子使用UIMeshrenderer组件报错
![image](https://user-images.githubusercontent.com/14273437/128308680-8458be4b-2112-45c7-a7f7-3308c71ebc21.png)

[2021-08-05 08:55] zhefengzhang commented on #6235
感谢反馈，问题已经反馈给引擎开发团队处理，issues 暂时关闭。

[2021-08-05 08:55] #6235 closed

[2021-08-05 09:02] zhefengzhang commented on #6356
这个问题可以参考这个帖子中的方案解决：
https://forum.cocos.org/t/topic/101523

[2021-08-05 09:02] #6356 closed

[2021-08-05 09:18] zhefengzhang commented on #6641
这个需求没必要加到引擎中。用户自己封装个方法不就好了？

[2021-08-05 09:18] #6641 closed

[2021-08-05 09:22] zhefengzhang commented on #6677
感谢建议，已反馈给引擎团队评估需求，另外这个功能已经在 CocosCreator 3.x 版本支持了。

[2021-08-05 09:22] #6677 closed

[2021-08-05 10:47] zhefengzhang commented on #6699
Thanks for the feedback, it has been submitted to the engine team for processing.

[2021-08-05 10:47] #6699 closed

[2021-08-05 11:14] zhefengzhang commented on #6840
You can use cc.isValid to determine whether the node has been destroyed.
https://docs.cocos.com/creator/api/en/modules/cc.html#isvalid

[2021-08-05 11:14] #6840 closed

[2021-08-05 11:29] zhefengzhang commented on #7346
Thanks for the feedback, we will improve it into the engine.

[2021-08-05 11:29] #7346 closed

[2021-08-05 20:14] Ronsku commented on #6840
I see, so it gets destroyed before next frame. I got a lot of weird bugs when thinking that node.destroy() would actually destroy it immediately. Couldn't this function be asynchronous then and resolve on next frame when it actually is destroyed? :)

[2021-08-06 08:20] dserWei commented on #8819
仍然存在这个问题，只要调用new window.AudioContext就会暂停

[2021-08-07 02:21] wijesijp opened #9150 "Loading bar in game release build is missing"
### Creator version?（3.2.0）

### Affected platform?（受影响的平台）
Release build on all platforms

### How to reproduce?（如何重现）
Previous versions there is a loading bar in the release build of the game. With the new version this feature is missing.
In previous version it had;

[code]
Using this loading bar could be adjusted.

May I know how to add something similar to the release build of Cocos Creator 3.

[2021-08-10 03:04] OnlyKoei commented on #7499
由于你这边长期没回复，暂时关闭 issue，如果后续有问题，可以继续反馈。

[2021-08-10 03:04] #7499 closed

[2021-08-10 08:05] yeshao2069 commented on #6874
这个问题是因为scene这个node 没有position的信息导致的。修复PR https://github.com/cocos-creator/engine/pull/9154

[2021-08-10 08:07] yeshao2069 commented on #6277
Due to long time no response, the ticket is temporarily closed. If possible, provide a simple demo for verification. thanks.

[2021-08-10 08:07] #6277 closed

[2021-08-10 08:14] yeshao2069 commented on #6480
感谢反馈，这个问题已经修复了。你可以升级到最新版本(2.4.6) 或者3.1.2版本，试试

[2021-08-10 08:14] #6480 closed

[2021-08-10 09:29] yeshao2069 commented on #6841
Due to long time no response, the ticket is temporarily closed. If possible, provide a simple demo for verification. thanks.

[2021-08-10 09:29] #6841 closed

[2021-08-10 10:07] yeshao2069 commented on #6759
感谢反馈，这个问题已经反馈给引擎组优化了。
可以按照临时方案处理，谢谢。
1、修改自动图集的配置，取消扩边选项，修改默认的图片间距 padding 默认为0
2、不修改配置的情况下，可以使用sf.originslSize.width sf.originslSize.height代替 sf.width/sf.height.

[2021-08-10 10:07] #6759 closed

[2021-08-10 10:10] #6874 closed

[2021-08-10 10:38] yeshao2069 commented on #7474
感谢反馈，这个需求已经同步给引擎组。
另外，我看了一下，callback里面的参数是可选的，这个应该使用和on off 一样的把？

[2021-08-10 10:38] #7474 closed

[2021-08-10 10:41] yeshao2069 commented on #7247
该问题已经提交引擎组。该工单暂时先关闭。

[2021-08-10 10:41] #7247 closed

[2021-08-11 06:13] xianyinchen opened #9161 "[3.3] 3D 粒子渲染坐标位置不正确"
编辑器效果，粒子应该是位于面片上方

<img width="1672" alt="WeChat04777e3de4379194aba9940bb690d194" src="https://user-images.githubusercontent.com/8321365/128976934-ca319cef-fdf7-4d97-856a-bf34d00abfd8.png">

实际运行跑到了面片下方了

<img width="1890" alt="WeChat48fbd6cc0550f98e6c6f6c61830c2f54" src="https://user-images.githubusercontent.com/8321365/128977043-97668732-cbe5-40e1-9550-fc0307bb8578.png">

https://github.com/coco

[2021-08-11 06:21] xianyinchen commented on #6981
该问题已经提交引擎组。该工单暂时先关闭。

[2021-08-11 06:21] #6981 closed

[2021-08-11 06:53] xianyinchen commented on #7574
Thanks for the feedback, the problem has been submitted to the engine group.

[2021-08-11 06:53] #7574 closed

[2021-08-11 07:21] xianyinchen commented on #8240
该问题已经提交引擎组。该工单暂时先关闭。

[2021-08-11 07:21] #8240 closed, assigned to nobody

[2021-08-11 07:32] xianyinchen commented on #8242
该需求已经提交给引擎组处理，短期无法实现，后续有实现会在版本更新信息同步，该issue先做关闭处理。

[2021-08-11 07:32] #8242 closed, assigned to xianyinchen

[2021-08-11 07:46] xianyinchen commented on #9036
use nearest filter, please uncheck the packable box of image. or it will use a global dynamic atlas with line filter.

<img width="1090" alt="WeChat5c391b29611a3bec3661229811809db2" src="https://user-images.githubusercontent.com/8321365/128989938-b097d72f-f656-487f-bde4-91e1641b313b.png">

[2021-08-11 07:46] #9036 closed, assigned to nobody

[2021-08-11 08:46] xianyinchen commented on #9150
Please tell me which version is the previous version. 3.2.0 is no such code, if you add it, you can refer to the previous version.

[2021-08-11 09:05] wijesijp commented on #9150
@xianyinchen I was using 2.4.3 before switching to 3.2.0
All games i build before have the loading bar with logos.

I would like to do the same.

Can we do something similar in 3.2.0?

[2021-08-11 09:42] xianyinchen commented on #9150
Yes, you can, modify both the html code and application.js

[2021-08-11 10:26] wijesijp commented on #9150
can you please provide a code sample on how to change progress bar from application.js?
previous code to change the progress bar is missing in application.js now.

Not sure how to change application.js to detect loading progress...

[2021-08-12 02:39] wijesijp commented on #9150
@xianyinchen can you please provide some code sample showing how to do this in applicaiton.js ?

[2021-08-12 09:35] OnlyKoei commented on #7830
已经建立内部issue，对其进行跟踪修复，这边 issue 先关闭了。

[2021-08-12 09:35] #7830 closed

[2021-08-12 11:48] zhefengzhang opened #9169 "[3.1.1] android 平台 spine 调用 findSkin 之后报错，而 web 端正常"
工单 id: 7236

报错信息：

[code]

[2021-08-12 11:54] zhefengzhang commented on #9169
测试了 3.3.0 081201 版本，在 windows 平台的模拟器上能正常输出，但是打包到真机上闪退了。

[2021-08-13 06:21] zhakesi commented on #9169
能把你测试用的工程发我看下么？
我写了例子测试了下，函数本身没啥问题，只有在findSkin返回空，然后未加判断直接使用空值才会报错挂掉

[2021-08-13 06:40] zhefengzhang commented on #9169
[test-cases-3d.zip](https://github.com/cocos-creator/engine/files/6980391/test-cases-3d.zip)

[2021-08-13 09:40] zhefengzhang commented on #9169
修复 pr：https://github.com/zhakesi/engine-native/commit/b2b5c038e8333ba1a3a7f62f45989697d81e6d7b

[2021-08-13 12:14] zhefengzhang commented on #9169
![图片](https://user-images.githubusercontent.com/35944775/129355385-8d741492-548a-4ad1-b9c9-1d19c1ffb87b.png)

添加修复代码后问题依然存在。

[2021-08-14 01:37] bluedoctorhazan opened #9180 "[2.4.6]IOS and Simulator error websocket receiver data Cocos creator 2.4.6"
When I build my project with cocos creator 2.4.6, parse json string error, error for ios and emulator, android and website works well.
I'm sure it's faulty, because when I build it with 2.4.5 version, it works well all platform.

[2021-08-16 05:43] zhefengzhang commented on #9169
多次测试后，确认可以解决问题。

[2021-08-16 05:43] #9169 closed, assigned to zhefengzhang

[2021-08-18 03:55] yeshao2069 opened #9203 "3.0.0 Smart Alert Questions"
Feedback on the small secretary:

assetManager.utils.getUrlWithUuid has an error in the options parameter type smart hint, the implementation is actually nativeExt, the code hints at a small problem

![wecom-temp-bab02d7c415289dba222da05d30bc5bf](https://user-images.githubusercontent.com/14273437/129834414-a702f5a5-9caa-4b60-a637-2d8039b88ca3.png)

![wecom-temp-697e818385ab41b445d4d31cfd04acc0](ht

[2021-08-18 07:59] OnlyKoei opened #9206 "3.3.0 频繁设置刷新材质导致卡死问题"
工单：7344
运行报错：
![image](https://user-images.githubusercontent.com/40415168/129860057-271f0601-7932-4c19-9e4e-3930b14199d9.png)
排查发现是频繁刷新设置材质（ sp.customMaterial = material）导致
#https://github.com/cocos-creator/3d-tasks/issues/8726

[2021-08-18 08:32] yeshao2069 opened #9208 "OPPO 模型动画显示异常的问题"
小秘书用户反馈

在OPPO 小游戏  快应用，使用模型显示异常。

新建此单，跟踪反馈。

[2021-08-19 06:48] zhefengzhang opened #9212 "[3.2.1] cc.Mask's image_stencil mode event delivery has an exception"
工单id: 7360

测试 demo：
[002.zip](https://github.com/cocos-creator/engine/files/7012306/002.zip)

[2021-08-19 08:03] yeshao2069 commented on #9208
你好，这边目前和 OPPO方取到联系，OPPO侧的快应用，在4.4.1版本上存在浮点纹理的问题，在4.5版本已经修复了。
4.5版本已经在放量测试，预计8月底开放全量。
另外，OPPO侧提供了4.6.0的测试版本
https://download.cocos.org/CocosTest/chengen/github9208/OPPO-4.6.0-DEV.zip

在OPPO Reno3 Pro 5G机型上测试，使用烘焙的模型动画，显示正常。

另外，在编辑器上，关闭烘焙显示异常，以及在OPPO上关闭烘焙时显示异常的问题，我们的工程师还在排查这个问题。

[2021-08-19 09:39] 958877748 opened #9215 "调试断点对不上"
### Creator version?（版本号）2.4.5

tmx-layer-...js   这个文件   fillbuff 方法

[2021-08-20 03:23] liujin1992112 commented on #8975
我采用的cocoscreator2.4.4版本，生成龙骨的挂点功能。现在creator.3.x 支持了龙骨自动生成挂点吗？如果有后期我用creator3.x版本测试一下

[2021-08-20 08:20] yeshao2069 commented on #9006
用户反馈：

 问题2：新建材质，因为有太多的参数，我们有很多人物，这个工作量有点大，暂时没有使用
有没有好一点的办法，目前

[2021-08-20 09:00] dorthl opened #9219 "AnimationClip.createWithSpriteFrames 方法内部生成的动画数据并没有加入到 Clip 里面"
https://github.com/cocos-creator/engine/blob/fbd92ab01ffc4a40c42bb5342872ee0443432284/cocos/core/animation/animation-clip.ts#L104

是否缺少clip.addTrack(track);?

[2021-08-20 11:28] yeshao2069 opened #9221 "原生上不支持Spine局部换装问题(使用图片局部换装)"
用户反馈：

使用多个attachment换装，在原生上， getAttachment接口找不到，从而没办法在原生上实现spine局部换装。

https://blog.csdn.net/xjw532881071/article/details/107766975

经过测试移植发现，现有的JSB自动绑定，存在问题。

[2021-08-21 20:44] zhefengzhang commented on #9221
skin 的 getAttachment 是有实现 jsb 绑定的
![图片](https://user-images.githubusercontent.com/35944775/130332920-a516b782-9687-42b3-b8e5-120266abab62.png)
目前通过 getAttachment 和 setAttachment 是能够实现 web 和 原生平台的局部换装效果的，只不过相比使用贴图来替换插槽的方案，会显得游戏包体更大。所以目前还无法做到的只是原生平台的 spine 贴图换装方案。

[2021-08-21 20:47] zhefengzhang opened #9225 "[3.1.1] spine 中 skin 访问 attachments 报错"
工单 id: 7343

[2021-08-21 20:48] zhefengzhang commented on #9225
问题是 skin.attachments 报错了，而在 web 端并不会报错。
这是 spine C++ 库自身和 web 端属性行为不一致导致的，因为在 C++ 层 _attachments 是私有属性（private）。
另外引擎也没有对这个情况写适配代码。

![图片](https://user-images.githubusercontent.com/35944775/130334968-daf5be32-91e1-4cf4-9acc-57604de2cfed.png)

### 经过沟通，确认是用户通过引擎非开放接口获取了私有属性之后产生的报错，因为引擎目前只保证已开放接口的兼容性，并不会对 spine 所有的私有属性和方法进行平台适配，所以引擎不会进行修复，只能开发者自行修改项目代码或自行定制 spine 代码。

首先 3.1.1 版本需要参考此 pr ：https://gi

[2021-08-21 20:50] zhefengzhang commented on #9221
这个就作为后续的预研方案吧，这个不是客户小秘书反馈的问题。我们下周一回来还是着重解决下面这个 issues 问题。
https://github.com/cocos-creator/engine/issues/9225

此 issues 关闭。

[2021-08-21 20:50] #9221 closed, assigned to yeshao2069

[2021-08-23 02:33] zhefengzhang commented on #9225
skin.getAttachments 也有同样问题。

[2021-08-23 04:08] zhefengzhang commented on #9225
由于是用户调用了非引擎开放接口获取的 skin 对象，所以此问题引擎不背锅。由技术顾问组给用户一个规避报错的方案即可。

[2021-08-23 07:28] zhefengzhang commented on #9225
方案已出， issues 关闭。

[2021-08-23 07:28] #9225 closed, assigned to yeshao2069

[2021-08-24 06:04] yeshao2069 commented on #9208
你好，该模型在编辑器上，去掉勾选【烘焙动画】，模型显示异常的问题，目前有新的进展。
在模型上，去掉勾选【是否禁用Mesh拆分】，重新导入一次材质即可。
![image](https://user-images.githubusercontent.com/14273437/130564512-90a1927a-192f-442f-a06d-bb316eca4326.png)
取消勾选后 prefab 结构有变化的，材质可能会被拆成多个，需要重新设置一下材质。

[2021-08-24 06:05] yeshao2069 commented on #9208
方案已出，该跟踪issue关闭。

[2021-08-24 06:05] #9208 closed, assigned to yeshao2069

[2021-08-24 06:08] yeshao2069 commented on #9215
你是在Chrome上面直接调试的么？

[2021-08-24 06:46] zhefengzhang opened #9241 "[3.1.0 & 3.3.0] Label 组件使用 BMFont 字体是时，使用 shrink 模式取消自动换行会出现渲染异常。"
测试 demo：
[002.zip](https://github.com/cocos-creator/engine/files/7036985/002.zip)

<img width="818" alt="图片" src="https://user-images.githubusercontent.com/35944775/130569527-b78eab9e-d493-4cd8-9b8a-50dcd73a476f.png">

[2021-08-24 07:17] OnlyKoei commented on #9206
3.3.0 最新版已修复，由于修复 pr 是在3.3的基础上修改的，改动有点大，无法合并，非常抱歉！

[2021-08-24 07:17] #9206 closed, assigned to OnlyKoei

[2021-08-24 09:04] #5156 closed

[2021-08-24 09:05] #8288 closed, assigned to xianyinchen

[2021-08-24 09:19] OnlyKoei commented on #7790
你好，简单测试，并未复现该情况，测试步骤：
项目A：
创建一个3d 球体预制，导出预制；

项目B：
导入该预制，正常，没有警告；

测试版本：2.4.3，2.4.6
方便的话提供个简单的demo, 以便排查；

[2021-08-24 09:36] OnlyKoei commented on #6833
你好，简单在 2.4.6 上测试了一会儿，并未复现该情况，不确定是否修复了，方便提供个简单的 demo 确认下嘛？

[2021-08-24 09:54] xianyinchen commented on #9150
The progress bar of the download progress is not implemented, this is determined not to provide the feature, this is not a problem, I will submit a suggestion and the engine group can discuss restoring the feature, [link](https://github.com/cocos-creator/3d-tasks/issues/8851).

I can't provide such reference code at the moment, so propose you to refer to the index.html progress bar implementation

[2021-08-24 12:04] shangdibaozi commented on #7790
我已经从上家公式离职了。无法提供相关资源了。

[2021-08-24 12:04] #7790 closed

[2021-08-24 12:42] 958877748 commented on #9215
是的

[2021-08-25 09:07] OnlyKoei opened #9249 "[2.4.x] scrollview下的 content 加 layout组件，Grid模式下, StartAxis=VERTICAL, 有1个隐藏子item 必现堆栈溢出"
测试demo:
[LayoutStackOverflow.zip](https://github.com/cocos-creator/engine/files/7045553/LayoutStackOverflow.zip)

报错截图：
<img width="610" alt="83ea6734990c27baa5165d13cca7c31" src="https://user-images.githubusercontent.com/40415168/130761904-bf892851-a79b-4aaa-b994-4f3b67f9c5cf.png">

[2021-08-26 03:34] OnlyKoei commented on #9219
已修复。
#9244

[2021-08-26 03:34] #9219 closed, assigned to nobody

[2021-08-26 07:20] yeshao2069 commented on #9215
试一下把chrome 开发者模式->设置里面，关闭 javascript 的 sourcesmap，然后在 cc.js 或者 preview里面断点你需要的代码看看

[2021-08-26 07:24] yeshao2069 commented on #9141
同步最新情况
1 GPU 粒子目前不支持 MeshRenderer
2 UIMeshRenderer不支持多个材质，如果粒子包含了主材质和trail材质就报错。

[2021-08-26 08:04] yeshao2069 opened #9253 "骨骼动画复用，动画显示异常"
用户反馈  小秘书工单： 7454

骨骼动画，复用的时候，骨骼一样的 动画模型boy 和 动画模型 girl

boy 里面复用  girl里面的动画animation，会导致显示异常的问题。

[2021-08-26 12:22] 958877748 commented on #9215
嗯   可以了  谢谢

[2021-08-26 12:22] #9215 closed, assigned to nobody

[2021-08-26 12:30] yansixing opened #9254 "UV贴图更改TilingOffset不循环"
### Creator version?（版本号）
Cocos Creator 3.0.0

### Affected platform?（受影响的平台）

web（Mac环境下Chrome测试）
### How to reproduce?（如何重现）

！！！注意，编辑器界面看起来是没问题的，必须是运行场景时复现bug
修改编辑器设置的功能裁剪引发的bug，勾选再取消之后setting.json自动保存，退出cocos重新打开就不行了
![image](https://user-images.githubusercontent.com/10561285/130962510-52b9f705-9ab1-485d-aabf-dab4965ad749.png)
![image](https://user-images.githubusercontent.com/10561285/1309625

[2021-08-27 01:02] 1S33dp1sk opened #9255 "Almost Impossible To Access Elements After Output"

[2021-08-27 02:55] yeshao2069 commented on #9253
网格形状不同，骨骼动画不能复用。

[2021-08-27 05:46] #8812 closed, assigned to zhefengzhang

[2021-08-27 06:06] yeshao2069 commented on #8770
已经内部跟进了。

[2021-08-27 06:09] yeshao2069 commented on #8763
可以升级一下Creator版本到2.4.6再试试。

[2021-08-27 06:35] yeshao2069 commented on #9253
用户反馈：

1、骨骼一样，mesh（角色）不一样，骨骼是不可以复用的，需要重新配置权重。
2、骨骼一样，mesh（角色）不一样，但是已经绑定好了，权重也配置好了，动画是可以复用的，目前的流程就是这样。

[2021-08-27 09:27] linruimin opened #9257 "3.3.0光照贴图功能异常"
完全按用户手册上的步骤操作，烘焙完没有显示模型的阴影

[2021-08-27 10:16] OnlyKoei commented on #6833
由于长期无回复，暂时关闭issue，如有需要，可重新开启联系我们

[2021-08-27 11:07] #9255 closed, assigned to nobody

[2021-08-28 06:21] hjoeson opened #9258 "3.3.0 预置组件嵌套的BUG"
预置组件A嵌套到B里，在B中修改A中子Node的尺寸，保存后没有生效（反而使得该预置组件的最后一个Node的尺寸发生了变化）

![image](https://user-images.githubusercontent.com/6767087/131208432-ad2e33b2-7f0f-46b3-9654-3cadaf920f7d.png)

如上图：
我修改了dialog_inner的宽度，保存后，dialog_inner的宽度没变，而zhuangshi_2 这个node的宽度变了。。。

[2021-08-28 12:18] CocosGames opened #9259 "文档里函数的返回值是用冒号后面最后一个词自动标记的吗?"
https://github.com/cocos-creator/engine/blob/f09a8e444973dc63059622d31dc97dfb28e542ca/cocos/core/director.ts#L596
这样就会出现像
![image](https://user-images.githubusercontent.com/42052366/131217623-3cb9a124-368b-45b7-a321-a90df3890273.png)

该返回Scene的写成返回void的情况.

[2021-08-30 06:17] junlas commented on #9253
今天和我们设计师讨论，在设计师 Blender 那边的骨骼相对的坐标，男孩和女孩是一样的值，尽管mesh不一样，按照设计师的思路，骨骼动画针对的 Blender 中的权重，所以他们在 Blender 中不同模型可以共用同一个动画。我想知道因为cocos中无法共用.animation动画文件，为什么导入到cocos里以后，节点上显示的骨骼结点的坐标，和 Blender 中的骨骼坐标差异那么大，应该就不是同一个节点坐标的东西？

[2021-08-30 10:33] OnlyKoei commented on #9258
论坛上已回复，这边先关了。
https://forum.cocos.org/t/topic/120284/7

[2021-08-30 10:33] #9258 closed, assigned to nobody

[2021-08-30 11:42] yeshao2069 opened #9262 "blender导出的模型显示异常"
blender导出的模型，显示异常，显得很油腻。

[2021-08-30 11:42] yeshao2069 commented on #9262
因为导入fbx phong材质的时候,  编辑器 会自动使用builtin-default PBR材质, 但phong材质的参数并没有迁移过来, 应该使用roughness = 1.0 - pow(2.0, -10 / shinness)将fbx材质中的高光幂FbxSurfacePhong.Shininess转换到粗糙度再设置给builtin-default

[2021-08-30 11:43] junlas commented on #9253
和小秘书沟通的结果是：这个问题是个bug，暂时没有修复方案，需要等待引擎开发人员进行修复。
---- 非常关心这个问题大概在哪个版本中会修复呢？能给个大概计划的时间吗？

[2021-08-30 11:44] junlas commented on #9262
同样最想关心：编辑器修复这个bug有大概的计划时间吗？

[2021-08-30 11:52] junlas commented on #9262
另外，想问下cocos那边是怎么判断给的模型文件是phong还是pbr模型呀？麻烦告之，谢谢

[2021-08-30 11:59] zhefengzhang commented on #9253
模型渲染异常的问题可以提高优先级处理，大概率会在 3.4 版本解决，3.4 预计在 10 月份发布。

[2021-08-30 12:02] zhefengzhang commented on #9253
一旦有修复方案，我们会第一时间发上来的。

[2021-08-31 02:27] yeshao2069 commented on #9259
冒号后面的 返回值，是函数的返回值的类型定义。如果你放着为空，则会根据类型自动定义。比如
[code]
则返回值默认为 string， 你要定义
[code]
也是挺好的。

另外
[code]
这边获取的Scene 是 有可能 为空的情况，所以你在使用的时候需要做一下 判空处理。
比如
[code]

[2021-08-31 02:28] #9259 closed, assigned to nobody

[2021-08-31 02:35] yeshao2069 commented on #9262
同样最想关心：编辑器修复这个bug有大概的计划时间吗？
----  已经在确定问题，尽快同步给你

[2021-08-31 02:39] yeshao2069 commented on #9203
This issue has been brought back to the engine team and will be optimized for smart tips.

[2021-08-31 02:39] #9203 closed, assigned to yeshao2069

[2021-08-31 02:41] #9150 closed, assigned to nobody

[2021-08-31 03:17] yeshao2069 commented on #9180
Can you provide a simple demo？

[2021-08-31 06:42] yeshao2069 commented on #9254
感谢反馈，你这个不是bug.

在编辑器上生效，web预览不生效，是你的纹理贴图的大小是 1280 * 1280，不是2次幂，在运行时 repeat 模式自动切换成了 clamp-to-edge模式，导致的tillingoffset等属性失效了。这边也有提示，你需要修改你的纹理贴图即可。

![image](https://user-images.githubusercontent.com/14273437/131453177-18304359-7e7a-41b9-84bf-4b98ee2c5af3.png)

这边简单修改了一下你的贴图  为1024 * 1024 (裁剪了)，验证OK。
[UVBugReport.zip](https://github.com/cocos-creator/engine/files/7081774/UVBugReport.zip)

[2021-08-31 06:42] #9254 closed, assigned to nobody

[2021-08-31 06:48] yeshao2069 commented on #8420
该需求转内部跟进，此单关闭。

[2021-08-31 06:49] #8420 closed, assigned to SantyWang, troublemaker52025

[2021-08-31 08:33] yeshao2069 commented on #9180
https://forum.cocos.org/t/topic/120464

[2021-08-31 09:08] yeshao2069 commented on #8944
看了很多次异常的视频，不确定  missing prefab这种是怎么复现的。

[2021-08-31 09:10] yeshao2069 commented on #8944
需要注意的问题是：

1 当你重新关联预制体之后，你需要对预制体点击自动同步 ( 这个时候你需要选择 应用 )后且保存后，再到预制体界面编辑预制体，这个时候使用预制体的prefab或者场景就可以自动同步修改。

2 当你重新关联预制体之后，你可以选择到预制体界面进行对预制体进行修改，但是如果你退出预制体编辑界面的时候，你需要保存预制体的修改。 然后你需要在 prefab上点击自动通过功能，然后选择  回退(如果你选择应用的话，你会丢失你刚才在预制体界面编辑的修改，回退的话，会在场景/prefab上自动同步你刚才的修改)

[2021-08-31 09:10] yeshao2069 commented on #8944
https://docs.cocos.com/creator/manual/zh/asset-workflow/prefab.html#还原预制

[2021-08-31 09:11] yeshao2069 commented on #8944
另外，最新的2.4.x版本，目前是2.4.6，可以升级版本看看。

[2021-08-31 09:11] #8944 closed, assigned to yeshao2069

[2021-08-31 09:21] yeshao2069 commented on #9141
这个是由于UIMeshRenderer不支持多个材质导致的，已经同步给引擎组。
故目前暂时 不在3D粒子上使用UIMeshRenderer组件，请知悉，谢谢。

[2021-08-31 09:21] #9141 closed, assigned to yeshao2069

[2021-08-31 09:24] yeshao2069 commented on #9006
在  https://github.com/cocos-creator/engine/issues/9262  跟进。

[2021-08-31 09:25] yeshao2069 commented on #9006
导入模型之后裤子材质的底图丢失了，导致使用了默认的黄色  --- 这个问题，应该是贴图的位置存放问题导致的。

[2021-08-31 09:25] #9006 closed, assigned to yeshao2069

[2021-08-31 10:02] xianyinchen commented on #9161
引擎设计中，透明物体不会参与深度测试，渲染层级设置为会先画不透明物体，再画透明物体，有两个方案规避该问题。

1. 修改粒子材质的渲染优先级，比plane节点的优先级低即可
<img width="1435" alt="wecom-temp-07cd4a3d4585" src="https://user-images.githubusercontent.com/3156403/129297475-7d7500f8-57b4-41c0-8520-07cd4a3d4585.png">

2. 或者将plane的材质设置成不透明
<img width="1435" alt="wecom-temp-b9baaa95d9ddb82a3246b3b508435726" src="https://user-images.githubusercontent.com/8321365/131483425-7d

[2021-08-31 10:02] #9161 closed, assigned to xianyinchen

[2021-08-31 10:36] bluedoctorhazan commented on #9180
Yes, the same it

[2021-08-31 10:39] bluedoctorhazan commented on #9180
It only happen with cocos simulator and ios

[2021-09-01 06:35] OnlyKoei opened #9269 "【2.4.x】tiledtile 原生上无法修改透明度;"
工单：7537
【2.4.x】tiledtile 原生上无法修改透明度;
#https://github.com/cocos-creator/2d-tasks/issues/3467

[2021-09-02 03:37] yeshao2069 commented on #6310
1.0.16版本我们会放松名称规范，但是不允许包括 @ 等特殊符号

如果真的希望用 @ 符号，可以在文件夹使用，例如 E:\CocosProj@user\project1

[2021-09-02 06:07] yeshao2069 commented on #9269
和这个问题是不是同一个问题   https://github.com/cocos-creator/engine/issues/8750

[2021-09-02 17:08] ZeroHackeR opened #9275 "[Error][CC3.3.0] Webview's onJsCallback Crashed the Game"
### Creator version: 3.3.0 and 3.2.0

### Affected platform: Android

### How to reproduce: We can simply follow [the official guide](https://docs.cocos.com/creator/3.3/manual/en/ui-system/components/editor/webview.html?h=webview#webview-internal-pages-call-external-code) and the app will crash when JS interface scheme is loaded (eg: *testkey://a=1&b=2* )

### JavaScript output or error produced:

[2021-09-03 08:58] yeshao2069 commented on #9275
Thanks for the feedback, I can reproduce this crash problem on your demo.   version 3.3.0
Please try to modify this, and then try to see if it works.
CocosWebView.java line 156
[code]
![image](https://user-images.githubusercontent.com/14273437/131979364-ef431515-6653-4cbc-ae8c-a928339aa471.png)

[2021-09-03 11:23] linruimin opened #9283 "[3.3.0]切换场景，会出现场景数据需要保存问题"
出现该弹窗后点击应用，切换到其他场景，再切换又会出现该弹窗。不是稳定重现的，用ctrl+R刷新下编辑器就不会出现该弹窗。
![WechatIMG202](https://user-images.githubusercontent.com/18083506/131997990-31397703-9fbd-4da5-ad02-d5c2a5bf1b28.png)

[2021-09-03 11:26] linruimin commented on #9283
https://github.com/cocos-creator/3d-tasks/issues/8979

[2021-09-04 01:22] gowdzy opened #9284 "[1.9.x] ios14 safari 旋转 横屏后 不全屏"
### Creator version?（1.9.x）

### Affected platform?（受影响的平台）
ios 14.x safari 浏览器

### How to reproduce?（如何重现）
空项目旋转横屏后,底部有灰边，如果修改了 __BrowserGetter.availWidth 和  __BrowserGetter.availHeight 返回 window.innerWidth ,window.innerHeight 的话，就显示了地址栏无法全屏了（横屏下），非ios14.x 不会有该问题
请问能否提供方法，或者思路 谢谢

[2021-09-04 05:57] ZeroHackeR commented on #9275
Sorry. I could not fix it :frowning:
Might be I was fixing the wrong file?

Is that the right path?
/Applications/CocosCreator/Creator/3.3.0/CocosCreator.app/Contents/Resources/resources/3d/engine-native/cocos/platform/android/java/src/com/cocos/lib

[2021-09-05 18:48] mikecoker commented on #5494
Where does Sprite type MESH exist? I see SIMPLE, SLICED, TILED, FILLED only. The editor does not properly display polygon sprites that I can tell.
Edit: Actually I see it is commented out now.
    // /**
    //  * @en The mesh type.
    //  * @zh  以 Mesh 三角形组成的类型
    //  */
    // MESH: 4

[2021-09-06 02:03] daxpot opened #9285 "[3.3.0]引擎改为统一在主循环中处理输入事件后，微信小游戏平台上click事件无法调起订阅消息"
### Creator version?（版本号）
## 3.3.0

### Affected platform?（受影响的平台）

## 微信小游戏

### How to reproduce?（如何重现）

1. 创建一个结点做按钮
2. 在结点上添加Button组件，并添加click事件
3. click事件回调函数中调用微信订阅消息接口requestSubscribeMessage

### JavaScript output or error produced?（报错信息和调用栈）

由于在3.3.0中做了（输入事件以前是接收到事件就进行派发，如果事件响应逻辑复杂可能会影响到帧回调，导致帧率不稳，v3.3 已调整为帧间记录事件队列，统一在主循环中处理事件队列。）这个改动，
导致现在click事件调用wx.requestSubscribeMessage接口都会报错，错误信息为 r

[2021-09-06 02:12] yeshao2069 commented on #9275
Link : https://discuss.cocos2d-x.org/t/error-cc3-3-game-crash-on-webviews-onjscallback/54422

[2021-09-06 02:18] yeshao2069 commented on #9275
Can you provide this CocosWebView.java ?

[2021-09-06 03:50] yeshao2069 commented on #9253
你好，经过和我们的工程师沟通以及排查分析。现在有几个反馈同步给你：
1 目前的骨骼动画复用的方式不推荐这么使用，会出现一些问题。
正确的使用方式是：导出一个骨骼动画 A，如果需要复用一个骨骼动画B.animtion，那么你可以在A的基础上，导出一个不带骨骼模型的 animation即可，然后在A上复用B

2 我们工程师，通过 unityce来测试你的这个demo，目前也是会有问题的。
![捕获](https://user-images.githubusercontent.com/14273437/132158199-f6bdcc12-e47e-4b9f-b579-99334b6ed474.PNG)

[2021-09-06 03:52] #9253 closed, assigned to yeshao2069

[2021-09-06 03:54] #8763 closed, assigned to yeshao2069

[2021-09-06 05:54] ZeroHackeR commented on #9275
I was just trying to add try/catch so that we can trace the error and prevent the app from crashing due to unexpected error.
But, I didn't get anything in the log.
Perhaps, I modified the wrong file?

[code]

[2021-09-06 08:52] yeshao2069 commented on #9275
Error tips?

[2021-09-06 08:58] ZeroHackeR commented on #9275
I got nothing in the log. I think, I'm modifying the wrong file.
So, can you tell me which file to modify (I used Cocos Dashboard and Installed Creator 3.3, not complied from source)?

[2021-09-06 10:31] xianyinchen commented on #9285
问题已提交给引擎组，有处理结果会继续同步。

[2021-09-06 18:55] minnguyen0507 commented on #9180
@phamvansy Hi bro, Have you fixed the bug?

[2021-09-07 01:34] mikecoker opened #9292 "Cannot set Particles Burst count in cocos creator."
### Creator version?（版本号）3.3.0

### Affected platform?（受影响的平台）

Windows Editor

### How to reproduce?（如何重现）
1. Create a new particle system
2. set Bursts to 1
3. Observer Count has no input field.
4. Change to any type
5. Observer JS output error

### JavaScript output or error produced?（报错信息和调用栈）

 [Scene] Cannot read property 'replace' of undefined
at Object.parsingPath (C:\CocosDashboard_1.0.17

[2021-09-07 03:19] amit-gshe opened #9294 "节点tween动画的同时改变节点的position，节点显示位置不改变，tween动画停止的时候才能改变位置"
### Creator version?（版本号）
3.3.0

### Affected platform?（受影响的平台）

Windows Editor / Web

### How to reproduce?（如何重现）
对节点使用tween动画的同时更新节点的位置

### JavaScript output or error produced?（报错信息和调用栈）

没有报错

### Demo project?（demo 项目）

https://github.com/amit-gshe/cocos-tutorial

[2021-09-07 05:51] yeshao2069 commented on #9294
是这个link https://forum.cocos.org/t/topic/120795 吧

[2021-09-07 06:01] yeshao2069 commented on #9294
感谢反馈，这个确实是有这个问题的。
原因是，3.x版本的 tween.by \ tween.to 中缓动的是 node某个属性，修改position的时候，你获取的是当前的node.position.x，那么这个数值就被保存着，所以就会在原地不会移动(看起来就像无效一样)

![image](https://user-images.githubusercontent.com/14273437/132292298-0a673b16-0397-422f-97b7-f59210f99cdf.png)

[2021-09-07 06:26] yeshao2069 commented on #9275
Sorry, I should be the wrong number of lines in the screenshot, you can refer to this to modify it.
[CocosWebView.java.zip](https://github.com/cocos-creator/engine/files/7119390/CocosWebView.java.zip)

[2021-09-07 06:47] amit-gshe commented on #9294
那个地方按照tween().by的定义应该是`{ position: v3(0, -this._jumpHeight, 0) }`，就像这样：
https://github.com/amit-gshe/cocos-tutorial/blob/8477ec8e146f4fdca73b0aeeeeda2383459552c4/assets/scripts/Player.ts#L44-L60
但是还是不行。

请问下3.0版本应该怎样在tween动画的时候修改节点的位置呢？

[2021-09-07 08:47] yeshao2069 commented on #9294
再套一个父节点，缓动父节点Y，设置子节点X

这个是个可行的方案

[2021-09-07 08:52] yeshao2069 commented on #9078
这个问题，初步预计在creator 3.4版本解决。

[2021-09-08 03:25] ZeroHackeR commented on #9275
Thanks!

But, we are not busy with project deadline and can not look into it yet. :(

[2021-09-08 07:06] yeshao2069 commented on #9275
You can use a modified java to do a comparison or direct replacement to see if it can be fixed

[2021-09-08 08:19] yeshao2069 commented on #9262
blender导出的 FBX或者 glTF模型，显示异常的问题，目前已经计划在 3.4版本。

[2021-09-09 05:40] bluedoctorhazan commented on #9180
i'm in need of a new update to fix the bug

[2021-09-09 08:53] junlas commented on #9253
好的，我和我们的设计师再次反馈一下。

[2021-09-09 08:56] junlas commented on #9262
Animation Layer 也是在3.4版本中支持，对吗？

[2021-09-09 09:36] yeshao2069 commented on #9262
Animation Layer已经在3.4版本的计划中了。

[2021-09-09 10:00] yeshao2069 commented on #9294
目前的处理方式：
可以在节点A上挂载一个父节点B，父节点做缓动动画，节点A做左右的移动动画。

这个的原因是因为3.x版本去掉了 只修改部分属性的接口导致的问题，比如去掉了 positionX, positionY等属性，只保留了position, 需要同时修改x,y,z坐标，在和tween缓动一起使用的时候，就会产生问题，这个已经反馈给引擎组，建议重新开放node上的一些接口。

该issue关闭，感谢反馈。

[2021-09-09 10:00] #9294 closed, assigned to nobody

[2021-09-09 10:24] yeshao2069 commented on #9292
This is an editor bug on 3.3.0. It has been fixed in version 3.3.1.
Currently 3.3.1 released the community version (public beta version), you can log in to the Chinese forum to view and download the experience. Or wait for version 3.3.1 to be released (the official version will be released soon)
Thanks for the feedback.

Chinese Forum 3.3.1 Release Address   https://forum.cocos.org/t/topic/121026

[2021-09-09 10:24] #9292 closed, assigned to nobody

[2021-09-09 13:12] dev-keishen opened #9312 "[3.3.0][Web Mobile] Framerate drop in v.3.3.0"
Dear team
My project seem broken somethings when i update from 3.1.1 to 3.3.0

### Creator version : 3.3.0
### Affected platform : Web Safari Only

My project used many spine animation.

FPS is dropping from 60 FPS to 20 FPS

This is so bad.
Did you guys checked performance on web mobile with version 3.3.0?

On v3.1.1 , it has good performance for web mobile,but everything change in v3.3.0

[2021-09-09 15:17] dev-keishen commented on #9312
Resolve by merge https://github.com/cocos-creator/engine/pull/9248/files

[2021-09-09 15:18] #9312 closed, assigned to nobody

[2021-09-10 09:11] xianyinchen commented on #9284
可以加了这个 meta 信息后，屏幕旋转时，就不会下拉地址栏，但是整个网页文档的高度又是减去地址栏后的高度，导致高度适配上的不正确行为，这个是iOS的BUG, 无法解决.
[code]

[2021-09-10 09:12] finscn opened #9316 "[建议] 自动图集的配置信息直接记录到 对应的.pac文件里"
### Creator version?（版本号）
2.4.x

### Affected platform?（受影响的平台）
all

### 建议

目前 自动图集的配置信息 记录在了 .pac文件 对应的 .pac.meta 文件里.
如果 一个项目里 有多个 配置信息相同的自动图集, 开发者没办法通过 复制 pac文件的方式来复制图集信息.
而复制meta文件 又会产生类似 uuid冲突的问题.
(虽然 ide可以自动解决冲突, 但是如果在非ide环境 ,比如命令行脚本, 里就不行了.而且在IDE里不支持复制pac.meta文件)

建议 自动图集的配置信息直接记录到 对应的.pac文件里.

[2021-09-10 09:12] xianyinchen commented on #9180
You can apply this PR to current native code, and try.
https://github.com/cocos-creator/engine-native/pull/3789

[2021-09-10 09:12] #9180 closed, assigned to nobody

[2021-09-11 03:27] #9284 closed, assigned to nobody

[2021-09-11 11:52] jcyuan opened #9323 "UBOBinding没有offset参数？"
不知道是我没看到还是本来就没有。
多个shader的ubo共用一块float32array时，在绑定
descriptorSet.bindBuffer时，需要提供数据在这块内存中的偏移。
目前貌似没法指定。
![}4DUFY}LAVDQ0)5I%5({A5F](https://user-images.githubusercontent.com/850854/132969778-f29b2878-5b8d-4d0b-ab06-56d01836b298.png)
(图为webgpu原生api，ubo内存可以全部放在同一块内存中)

[2021-09-13 03:32] #9285 closed, assigned to nobody

[2021-09-13 03:33] #9275 closed, assigned to nobody

[2021-09-15 03:24] xianyinchen commented on #9323
接口有提供index参数，看下是否满足你的需求
descriptorSet.bindBuffer (binding: number, buffer: Buffer, index = 0)

[2021-09-15 05:35] truongpd88 commented on #9275
no it's wrong place, line 112 it's run on UI thread, it should run on game thread:

CocosHelper.runOnGameThread(new Runnable() {

[2021-09-15 08:01] jcyuan commented on #9323
感谢回复，刚刚具体看了下源码，这个index是指定对于这个binding在descriptorSet中的偏移，而不是ubo的数据偏移。

不过我已经知道答案了哈，需要使用gfx.BufferViewInfo就可以了。

1, 先创建无偏移的整块内存

    const ubo = device.createBuffer(new BufferInfo(....));

2, 然后再通过view来创建所需需的偏移ubo即可（内存是指向的同一块地址）

    const subUbo1 = device.createBuffer(new gfx.BufferViewInfo(ubo, 16, 4);

就可以了！cocos 牛b 👍

[2021-09-16 03:21] yeshao2069 commented on #9316
感谢你的反馈，你的宝贵意见已经提给引擎组，该issue 暂时先关闭。

[2021-09-16 03:21] #9316 closed, assigned to nobody

[2021-09-16 03:23] yeshao2069 commented on #9323
感谢你的方案。

[2021-09-16 03:23] #9323 closed, assigned to nobody

[2021-09-16 08:00] laurieattwobulls opened #9332 "Issue when attempting to write an extension for the inspector"
Hi,

I am trying to write an editor inspector for a component.
I have followed the [documentation](https://docs.cocos.com/creator/manual/en/extension/extends-inspector.html), but there are missing information, such as how to import Vue in the script.
Please note that I tried to find an [example](https://github.com/chichinohaha/engine/blob/366fde679ced3ba24c74dfccf9f5c12b786401e3/editor/inspector/c

[2021-09-16 15:53] 958877748 opened #9336 "2.4.5 动态图集 无法合并 过滤模式=Point 图片"
### Creator version?（版本号）

### Affected platform?（受影响的平台）

### How to reproduce?（如何重现）

### JavaScript output or error produced?（报错信息和调用栈）

### Demo project?（demo 项目）

[2021-09-16 15:54] 958877748 commented on #9336
可真是为难做像素游戏的了

[2021-09-16 23:11] #9332 closed, assigned to nobody

[2021-09-16 23:17] laurieattwobulls commented on #9332
I missed the fact that the main and inspector file where not the same file.
The main.js needs to have module.exports ={} in it even if it is empty.

[2021-09-18 06:09] yeshao2069 commented on #9336
你这个是怎么验证的？

[2021-09-18 07:00] SantyWang commented on #4680
I think it's a good feature, any references about this feature or maybe some other engine support this ? any info will help us, thanks

[2021-09-18 08:16] yeshao2069 commented on #9336
用2.4.5版本试了一下，POINT 模式 是可以合批的吧。

你需要设置一个自动图集  AutoAtlas，然后发布后看看。 我简单测试了一下，是有效果的。

[NewProject_30.zip](https://github.com/cocos-creator/engine/files/7189517/NewProject_30.zip)

[2021-09-18 08:17] yeshao2069 commented on #8793
Mac 上是支持动态开关 retina 的，并且支持 ratio 变化。现在 windows 和浏览器也都需要类似功能，否则一旦在不同屏幕间移动，就会出现缩放比例不正确，显示变糊的问题。

[2021-09-18 08:50] yeshao2069 commented on #6668
第一阶段，可以先提供对外的事件名称
第二阶段，可以考虑提供一个子系统做每一帧 Transform 信息变化的收集

[2021-09-18 09:50] xianyinchen opened #9353 "[3.3] 但图片资源丢失后，建议优化提示信息"
3.3 版本如果出现图片丢失，只会打印引用该资源的prefab文件路径，建议添加节点路径信息，方便定义问题。
![image](https://user-images.githubusercontent.com/8321365/133884728-a09f5e2e-3d28-4fc9-b549-8c36aa8e281e.png)

[2021-09-18 18:02] Ronsku commented on #7402
@xianyinchen wouldn't it be possible to first investigate the whole string and then decide if it contains any characters that isn't supported in the selected font and in that case use a fallback font for the whole label?

[2021-09-18 18:05] Ronsku commented on #5494
Thanks for the investigation @mikecoker!
@jareguo anything you can help with? I think this would be very beneficial for Cocos to support :)

[2021-09-19 05:45] 958877748 commented on #9336
不是这个  是运行时 动态合图

[2021-09-19 14:59] yeshao2069 commented on #9336
看看，有没有demo 可以看一下？

[2021-09-19 16:34] #4680 closed

[2021-09-22 04:58] finscn opened #9356 "【需求】希望 3.x 系列提供 skew 变换组件."
虽然 skew 可以用 node 3d 来替代
但是在2D游戏和 2D动画里, skew 有着不可替代的简单易用且直观, 对2D动画制作人员也更友好.
希望 cocos 3.x 能提供一个 可选组件 (作用于node 或者 渲染组件上) , 来实现 2.x时代的 skew变换.

[2021-09-22 09:20] jcyuan opened #9362 "PhysicsGroup不应该只为3D物理导出"
PhysicsGroup应该是需要2D 3D物理通用的吧，因为它对应了项目设置中的碰撞分组，
可是为什么目前只给3D的物理导出了？
2D的物理无法使用这个对象。。。

![image](https://user-images.githubusercontent.com/850854/134317151-d82ec02c-5291-43e8-966e-3ac790c5ee47.png)
3D物理接口，可用

![image](https://user-images.githubusercontent.com/850854/134317277-18539711-cd07-43b3-8569-656dfa88f0a8.png)
2D接口，不可用

我的是2D项目，所以在项目设置里面取消了所有3D模块的编译，但是这样我在代码里面就无法访问PhysicsGroup分组了。
麻烦请为2D的physic

[2021-09-23 16:39] thienhaflash commented on #4608
A temporary workaround (especially for Catalina) is opening the **cocos** build script and change from **python** to **python2**

Open the **cocos** file located in `/Applications/CocosCreator/Creator/2.4.6/CocosCreator.app/Contents/Resources/cocos2d-x/tools/cocos2d-console/bin/cocos` with your text editor (maybe VSCode), and change the last line

from:
`python "$COCOS_CONSOLE_BIN_DIRECTORY/cocos.

[2021-09-24 02:12] yeshao2069 commented on #9356
感谢大城小胖的建议，这个需求已经收集并反馈了给引擎组了。

目前建议：
单独添加一个 Skew 组件，参数和 2D 原来的用法一致。组件提供通用的 transformVertex 或 transformVertices 之类的 成员 函数 API，用来对任意顶点进行 skew 变换。2D 渲染组件或 assembler 在顶点计算的最后一步，通过这个 API 实现 skew 变换。目前只要支持 Sprite 就行，之后可以根据用户反馈，在 Label 之类的其它组件上也添加支持。

此issue暂时关闭。

[2021-09-24 02:12] #9356 closed, assigned to nobody

[2021-09-24 03:22] PPpro opened #9380 "优化 PointerEventDispatcher. _updatePointerEventProcessorList 逻辑"
目前是每次事件回调处理完就回去更新一次，实际上只要每帧的开头处理一次就好了
相关讨论 https://github.com/cocos-creator/engine/pull/9363

### Creator version?（版本号）

### Affected platform?（受影响的平台）

### How to reproduce?（如何重现）

### JavaScript output or error produced?（报错信息和调用栈）

### Demo project?（demo 项目）

[2021-09-24 03:23] #9380 closed, assigned to nobody

[2021-09-24 08:04] jcyuan opened #9385 "【性能建议】物理同步接口需要判断当前位置及旋转是否与当前值相同"
场景在子弹多的时候CPU就上来了。调试的时候才发现每帧node的dirtyFlag一直是3 (position | rotation)，但是我并没有设置过rotation，而且静态的刚体也一直在被更新。所以才发这个issue。建议官方更新一下，位置没变或旋转没变时忽略设置。

https://github.com/cocos-creator/engine/blob/33375839a602133d13c370b6e189367f0428b6c6/cocos/physics-2d/box2d/physics-world.ts#L213-L222

其实这个判断应该要放在node基类里面，
所有设置位置及旋转的接口里最好判断一下是否和当前值相同，
相同时直接return不设置dirtyFlag，否则造成太多不必要的matrix计算。

https://github.com/cocos-crea

[2021-09-24 09:43] zhefengzhang commented on #9362
感谢你的反馈和代码贡献，我会敦促相关审核人员处理你的 pr。

[2021-09-24 09:43] #9362 closed, assigned to nobody

[2021-09-24 10:16] OnlyKoei opened #9389 "关闭多点触摸，点击事件无法穿透"
工单号：7768
测试demo:
[NewProject_16.zip](https://github.com/cocos-creator/engine/files/7224883/NewProject_16.zip)

[2021-09-24 10:24] OnlyKoei commented on #9389
#https://github.com/cocos-creator/3d-tasks/issues/9286

[2021-09-24 10:34] linruimin opened #9390 "[3.3.1]使用copyTextureToBuffers方法获取到的arrayView数据不正确"
[Screenshot.zip](https://github.com/cocos-creator/3d-tasks/files/7224952/Screenshot.zip)
web上测试正常，打包到苹果8（ios14）上不正常，
xcode报错页面：
<img width="1400" alt="c4ce6e6a-6a5d-4657-8625-f0f30d4ecf80" src="https://user-images.githubusercontent.com/18083506/134660492-530587f3-4aaf-4dee-a72b-a56c243e3e9d.png">

工单：https://im.cocos.com/web/share/ticket?id=7760

[2021-09-24 11:26] junlas commented on #9390
密切关注。。。。

[2021-09-26 08:56] patrickyyang opened #9402 "JSCallback未接受到任何参数，与文档描述不同"
Cocos Creator version?（版本号）
3.3.0

### Affected platform?（受影响的平台）
iOS&Android

### How to reproduce?（如何重现）
根据官方webview示例，无法从webview接收参数
https://docs.cocos.com/creator/3.3/manual/zh/ui-system/components/editor/webview.html
从函数声明上看，callback未接受任何参数，实际调试也没有接收到参数。
public setOnJSCallback(callback: () => void): void;

[2021-09-26 17:01] yeshao2069 commented on #9385
使用的版本？

[2021-09-27 02:51] jcyuan commented on #9385
3.3.1

[2021-09-27 09:30] billyplus opened #9408 "[3.3.1]安卓平台无法监听按键事件"
### Creator version?
3.3.1

### Affected platform?
Android

### How to reproduce?
在代码中监听按键事件，打包安卓包，按返回键没有反应。
[code]
跟踪发现在`pal/input/native/keyboard.ts`文件`KeyboardInputSource`这个类里面，
[code]
在原生平台中，support=false导致不监听按键事件。

[2021-09-29 07:48] yeshao2069 commented on #6668
https://github.com/cocos-creator/engine/pull/9369/files   已经同步到3.4.0版本了

[2021-09-29 08:01] yeshao2069 commented on #9262
关于 blender ( DCC支持)，目前已经规划在3.4.0提供支持，此单先行关闭。谢谢。

[2021-09-29 08:01] #9262 closed, assigned to nobody

[2021-09-29 08:03] yeshao2069 commented on #9408
有没有Demo 验证看看？

[2021-09-29 08:36] yeshao2069 commented on #9408
试试   https://forum.cocos.org/t/android-9-api-28/82215  上的方案 看看

[2021-09-30 08:29] yeshao2069 commented on #9385
感谢你的反馈，该优化建议已经提交给引擎组，谢谢。

[2021-10-01 15:16] yeshao2069 commented on #9402
测试了一下，好像确实有点问题。需要再看一下。

[2021-10-01 15:17] yeshao2069 commented on #9385
已经把该需求提交给引擎组，该issue暂时关闭，如果有最新的反馈，我会继续同步在该issue，感谢反馈。

[2021-10-01 15:17] #9385 closed, assigned to nobody

[2021-10-01 15:41] yeshao2069 commented on #9336
经过测试 在2.4.5、2.4.6版本上，确实 在Point的过滤模式下，动态图集无法合并，我已经将这个反馈给引擎组，感谢你的反馈，该issue 暂时关闭。如果后续有更多的反馈，我会继续追加在这个issue上，感谢支持。

[2021-10-01 15:41] #9336 closed, assigned to nobody

[2021-10-02 19:03] finscn commented on #6668
2.4.x 系列能否同步下呢?  先提供对外的事件名称.

[2021-10-04 08:47] pandamicro commented on #6667
Sorry, 我拒绝了之前的 PR，这个处理方法并不合理，更新 RT 不是用户的责任，应该在 `_refreshTexture` 中增加对 RT 的特殊处理，在 RT 更新时做响应的更新（建议增加 RT 的内容更新事件）

[2021-10-07 08:53] thinhlv opened #9443 "[Bug][Spine Skeleton] Rotate the node contains Skeleton broke the animation on emulator or real devices."
### Creator version?（版本号）
3.3.1

### Affected platform?（受影响的平台）

Emulator, Android, iOS
### How to reproduce?（如何重现）
- Create empty project 2d or 3d
- Import any spine animation to project
- Drag spine to the scene, select the node that contains Skeleton dropped.
- On animation, chose any animation to play.
- On CAHE_MODE select SHARED_CACHE or PRIVATE_CACHE
- Change the node rotation by set Z rota

[2021-10-07 09:43] mrnobita commented on #9443
me too

[2021-10-08 02:30] yeshao2069 commented on #8788
最新同步：
在3.3.1版本上，也存在这个问题。

和工程师确认了一下，这个问题初步安排在3.4版本上解决。

[2021-10-08 02:43] yeshao2069 commented on #9443
Thanks for the feedback, I tested it briefly and didn't find this problem.
I ran it in the simulator in the editor with four different angles set to 0, 90, 180 and 270 and it showed no problem. I'll provide my test demo, do you refer to it and your test is the same usage ?
[NewProject_1.zip](https://github.com/cocos-creator/engine/files/7308103/NewProject_1.zip)

[2021-10-08 02:47] yeshao2069 commented on #9443
web
![image](https://user-images.githubusercontent.com/14273437/136490128-69df63de-1649-46e2-8f2d-31e7a1fabf9a.png)

cocos Emulator
Emulator
![image](https://user-images.githubusercontent.com/14273437/136490259-560f7992-3ac5-4217-b49a-5cbaa3d9d5bc.png)

[2021-10-08 03:09] thinhlv commented on #9443
hi, @yeshao2069
The SHARED_CACHE must be enabled then the issue will be occurred.
There is your sample project but the animation is on SHARED_CACHE mode
[NewProject_1_SHARED_CACHE.zip](https://github.com/cocos-creator/engine/files/7308217/NewProject_1_SHARED_CACHE.zip)
.

[2021-10-08 03:13] thinhlv commented on #9443
![image](https://user-images.githubusercontent.com/18746281/136492560-30b385e5-704e-4013-8111-2a849facc3e6.png)

[2021-10-08 03:55] thinhlv opened #9446 "[Bug][Skeleton] The enableBatch option is not work correctly on all platforms"
### Creator version?（版本号）
3.3.1

### Affected platform?（受影响的平台）

Web: show empty animation
Emulator, Android, IOS: Increase draw calls when spawn the same animations.
### How to reproduce?（如何重现）
The enableBatch option is disabled from Spine Editor windows, but not on api script, we enableBatch using script at onLoad callback.

demo: [SpineSkeleton_enableBatch_notwork.zip](https://github.com/cocos-

[2021-10-08 06:16] yeshao2069 commented on #9402
你好，经过验证，这个参数实际上是生效的。
1 模仿文档上的写法，写入 function jsCallback (target: any, url: string) 以及 设置 webview.setJavascriptInterfaceScheme(scheme) 和  setOnJSCallback(jsCallback as any) 接口
![image](https://user-images.githubusercontent.com/14273437/136506197-c8e1d65c-2b9a-4c9d-bef6-2e3075a0d842.png)

2 如果你使用的是 vscode的话，你可以安装liveserver插件来模拟本地服务器，或者自己本地开启一个web的服务器，写入以下代码
这个是由于webview需要点击html上的按钮切换的时候，去响应上面的jsCallb

[2021-10-08 06:19] yeshao2069 commented on #9402
[webviewTest.zip](https://github.com/cocos-creator/engine/files/7308962/webviewTest.zip)

附上测试的demo, 该issue暂时关闭。

[2021-10-08 06:19] #9402 closed, assigned to nobody

[2021-10-08 06:32] yeshao2069 commented on #9446
Thanks for the feedback, due to the 3.x and 2.x engine architecture refactoring, spine's enableBatch is currently temporarily not available for batching, we have planned to refactor this, and plan to arrange to provide a new batching solution in version 3.5. Thanks for your support.

[2021-10-08 06:32] #9446 closed, assigned to nobody

[2021-10-08 07:02] yeshao2069 commented on #9443
If i switch to SHARED_CACHE, it does show an exception, this I let the relevant engineers to check it, this may be a bug

[2021-10-09 03:41] yeshao2069 commented on #9443
This is a bug that has been fixed in the latest develop version 3.4.0. Currently, you can merge PR if you need it urgently and remember to recompile the engine.
https://github.com/cocos-creator/engine-native/pull/3884

[2021-10-09 03:55] thinhlv commented on #9443
Thank you! I noted that.

[2021-10-09 07:28] yeshao2069 commented on #9408
感谢反馈，和相关负责人确认了一下，这个是由于 之前的实现没有考虑到移动端的按键。已经内部反馈了，会安排在之后的版本适配。该issue暂时关闭。

[2021-10-09 07:28] #9408 closed, assigned to nobody

[2021-10-09 07:49] yeshao2069 commented on #9443
Also, when verifying this issue, don't use cocos emulator to verify this issue for now, because there may be problems. It is recommended to verify this issue on android or ios.
Because currently there may be some problems (known issues) on cocos emulator in some cases, and we are already arranging to fix these problems.
Attach a screenshot of my test on android for reference.
![8D2EF45E456452E36F2

[2021-10-09 07:52] #9443 closed, assigned to nobody

[2021-10-11 10:00] linruimin opened #9458 "3DMax导入的骨骼动画表现不一致"
3DMax版本：2022版
3DMax上效果：
![20211011001](https://user-images.githubusercontent.com/18083506/136771383-64ad733d-fcdb-4f33-a59d-8342d8366235.gif)
creator版本：3.0.1 (已在3.3.1上测试也是一样的效果)
creator上效果：
![maxGif](https://user-images.githubusercontent.com/18083506/136772321-8568cfd5-7a78-45e5-ac91-58d6527b2453.gif)
几点不同：
1.creator上武器脱离右手
2.creator上武器没有弯曲
3.creator上武器摆动的上下幅度不对

拔刀动作也会有武器脱手
![maxImport](https://u

[2021-10-11 10:15] loohoo opened #9459 "不修改任何东西, 每次构建都有文件名的hash值发生变化"
### Creator version:2.4.6（版本号）

### Affected platform? Windows (只在windows上测过)

### How to reproduce?（如何重现）
1. 创建 ts hello world 项目
2. 将若干项目文件夹设置成remote bundle (可能不是重现必要条件,但是现象告诉我对结果有影响)
3.构建-构建-构建 对比. 文件名中的hash有变化 但是文件内容前后一致. (android,win or mac等native 构建)

必现!

[2021-10-11 10:19] loohoo commented on #7722
看看我[这个](https://github.com/cocos-creator/engine/issues/9459).
请问你是怎么验证的? 如果按照我的方法重新不出来, 我录视频给你看.

[2021-10-12 10:39] pppluto commented on #8771
same issue in my game, build in target **level api 26** works, but crash in **api 30**

https://forum.cocos.org/t/topic/122966

[2021-10-12 12:34] thinhlv opened #9468 "[CameraViewPort] Low fps on native build (android/ios) if the scene contains big renderer components"
### Creator version?（版本号）
3.3.1

### Affected platform?（受影响的平台）

Android, IOS
### How to reproduce?（如何重现）
- Download the demo project and open with Cocos Creator 3.3.1.
- Build to Android or iOS (debug mode), the project contains an already built apk that used on video.
- Run the game on device, press ZOOM IN or ZOOM OUT button
- Looking for the fps changes.

Expectation: If the scene contains mul

[2021-10-12 13:08] MrZak-dev commented on #8771
@pppluto Have you tried using Cocos 3.3.1 ? , They have mentioned  that they fix this in this version .

[2021-10-13 06:44] pppluto commented on #8771
3.3.1 works, but when i build abb and run it, it crashed and said libcocos.so not found,  any idea? @zhefengzhang

[2021-10-14 02:53] yeshao2069 commented on #9284
https://discuss.cocos2d-x.org/t/black-screen-appears-in-bottom-when-rotated-from-portrait-to-landscape/54706

[2021-10-14 11:27] yeshao2069 commented on #9459
上个问题，他发布的是 同一个平台，在命令行面板和构建面板，打包出来的文件md5不一致的问题。
https://github.com/cocos-creator/engine/issues/7722

你这个构建的比较是：   你使用一个工程然后，分别构建android、windows\mac 后，去比较他们的同名文件，这样子的吗？

[2021-10-14 11:30] yeshao2069 commented on #9468
The result of the test demo is the same as you mentioned above, I will confirm it tomorrow

[2021-10-15 08:45] yeshao2069 commented on #9468
Thank you for your feedback, this problem has been submitted to the relevant engineers to investigate

[2021-10-16 02:04] dhb118 opened #9497 "memory leak"
https://github.com/cocos-creator/engine/blob/33375839a602133d13c370b6e189367f0428b6c6/cocos/core/pipeline/instanced-buffer.ts#L53

this Map will never remove after Pass destory.

[2021-10-18 02:41] yeshao2069 commented on #9497
Which version are you using?

[2021-10-18 04:48] thinhlv commented on #9468
I've tested this issue again, event if the renderers component still small and fit inside the camera. This issue still accured.
The bigger sprites are the lower fps is. My scene contains only 16 sprites.

Install the apk.
- press the "Smaller" the fps will be increased
- press the "Bigger" the fps will be decreased
[CameraViewPortPerformanceIssue.zip](https://github.com/cocos-creator/engine/files/

[2021-10-18 08:30] dhb118 commented on #9497
v3.2

[2021-10-19 06:32] yeshao2069 commented on #9459
https://forum.cocos.org/t/topic/122596/10  看看这个  是不是和你的问题是一样的

[2021-10-19 07:01] linruimin opened #9500 "[3.3.1]真机iPhoneXR、 ios13.6进入3D部分显示黑屏"
复现机型：iphoneXR ios13.6
复现效果：
![image](https://user-images.githubusercontent.com/18083506/137856703-988092b1-c8fa-4203-9749-768fbb0e42c4.png)
xcode上调试：![image](https://user-images.githubusercontent.com/18083506/137858251-cb5baf93-7512-4082-a4c8-e9fc6311d81c.png)
备注：
1.已在同等配置模拟器上试过是正常的，真机iphone7 ios13.5 ，iphoneXsMax ios13.6.1也试过都正常。
2.已试过官方demo和自己的项目都黑屏，用3.1.2打包的3d项目是正常显示的。
3.3d部分黑屏，2d部分正常。

[2021-10-19 07:51] linruimin opened #9501 "[3.3.1] Xcode13，构建iOS应用，构建OK 生成OK 运行报错"
![image](https://user-images.githubusercontent.com/18083506/137855209-7abfaf45-446a-4a9e-99d3-a7af0e87d5b9.png)
根据网上的解决方案：
![image](https://user-images.githubusercontent.com/18083506/137855583-c03a0bcc-7efc-41ff-a47e-b8212f49a258.png)
和用 sudo xcode-select -r
试过还是一样的报错

备注：
xcode13去掉instruments了：
https://stackoverflow.com/questions/68872891/xcode-13-beta-xcrun-error-failed-to-locate-instruments

[2021-10-19 13:35] zhefengzhang commented on #8770
@yeshao2069 请拿 CocosCreator 2.4.6 版本和最新版本的微信开发者工具和微信版本再测试一下这个问题。我想确认这个问题是微信小游戏的问题还是 CocosCreator 的问题。另外我还想知道是否是特殊某些机型才有问题。

[2021-10-19 13:37] zhefengzhang commented on #8793
@OnlyKoei 这部分优化在 3.4.0 完成了，这个问题有没有办法验证是否解决？

[2021-10-19 13:49] zhefengzhang commented on #9269
问题好像不太一样

[2021-10-20 05:49] OnlyKoei commented on #8793
用 3.4.0 之前的版本测试过，无法复现。

[2021-10-20 05:51] zhefengzhang commented on #8793
嗯，那就暂时关闭这个 issues 吧，3.4.0 已经完成优化。

[2021-10-20 07:51] OnlyKoei opened #9507 "[3.x] tiledmap中用object layer添加的图层在运行中不显示"
工单：7986
[3.x] tiledmap中用object layer添加的图层在运行中不显示

[2021-10-20 07:56] OnlyKoei commented on #9507
#https://github.com/cocos-creator/3d-tasks/issues/9651

[2021-10-21 07:40] yeshao2069 commented on #8755
同步最新：
1 使用2.4.6版本，这个问题也是存在的。
2 tiledmap,2.4.x版本支持1.2.0，看了一下demo里面的tiledmap文件，使用1.6.0版本的 tiled制作的。

[2021-10-22 02:07] useobjc opened #9520 "[2.4.x] 不支持Xcode 13"
### Creator version
2.4.6

### Affected platform
iOS

### How to reproduce
Build -> Run

** BUILD SUCCEEDED **

xcrun: error: Failed to locate 'instruments'.
xcrun: error: unable to find utility "instruments", not a developer tool or in PATH
Build succeed.
Deploying mode: release
Starting application.
Get simulator failed!

### 原因
Xcode 13 以后，instruments已经从xcrun命令行移除。详情可参考以下链接。

https://developer.

[2021-10-22 09:31] yeshao2069 commented on #9520
确实有这个问题。

[2021-10-22 09:32] yeshao2069 commented on #9520
https://github.com/cocos-creator/engine/issues/9501

[2021-10-22 09:37] yeshao2069 commented on #9520
感谢你的反馈，这个问题是已知问题，目前引擎还没有适配最新的xcode13导致的报错。问题已经反馈，该issue暂时先关闭。后续会陆续跟进这个问题进度。
Thank you for your feedback, this issue is a known problem, the engine is not yet adapted to the latest xcode13 caused by the error. The problem has been feedback, the issue is closed for now. We will follow up on the progress of this issue one after another.

[2021-10-22 09:37] #9520 closed, assigned to nobody

[2021-10-22 09:39] yeshao2069 commented on #9468
Thank you for your feedback again, has been synchronized to the relevant colleagues to deal with

[2021-10-22 09:41] yeshao2069 commented on #9459
这个问题，是个bug，将会在2.4.7版本解决。感谢你的反馈，可以留意2.4.7版本发布后，帮忙验证，感谢。该issue暂时关闭。

[2021-10-22 09:41] #9459 closed, assigned to nobody

[2021-10-22 09:42] yeshao2069 commented on #8793
该issue 暂时关闭。

[2021-10-22 09:42] #8793 closed, assigned to OnlyKoei

[2021-10-25 02:07] lizhiyu-me commented on #9283
怎么感觉现在没人做事了🤕

[2021-10-26 03:35] yeshao2069 commented on #6636
同步最新反馈
目前计划在3.5版本实现这个需求。
暂定方案：
新建一个子资源，允许关联一个 image 资源。

[2021-10-26 09:26] maskerliu commented on #9507
这个问题貌似是creator 3.1.2版本中修复以下问题中带入的，回退至之前的版本3.1.1则显示正常
.Tiledmap 修复
.修复使用多图集下的 Tilesets 显示错误
.修复 TiledLayer getTiledTileAt 函数报错问题

[2021-10-28 07:40] HeroKato-Developer opened #9557 "Update Spine Runtimes compatibility to ver. 4.0.45"
Current spine runtimes are outdated regarding latest Spine version.
i've tried fixing Spine's JSON animation file, but the runtime doesn't process correctly Colors and also Beziers.

- Creator version? 2.4.6
- Latest Spine Export Version

- Affected platform? All

- JavaScript output or error produced? Errors in JSON parsing and runtime behaviour not working properly

[2021-10-29 08:03] yeshao2069 commented on #8788
你好，这边这个问题，最终排查
此字体中的 offsetY 值为大于 0 的值，意味着在绘制时字体会偏下 offsetY * fontScale，这就导致了在居中时看起来并无法居中，这套算法还原了文件中的行为，表现是正常的，不需要更改。

你可以使用第三方的在线bmfont字体查看器，查看，可以发现，字体偏下了。你需要修改bmfont字体。
另外，在cocos creator 1.2.0表现正常，应该是之前版本的bug导致的。
![image](https://user-images.githubusercontent.com/14273437/139398247-b57e3da5-b26b-4fcf-86e6-e67585522e2f.png)
https://joshuahxh.com/bitmap-font-editor/

该issue的方案已经给出，该issue关闭，感谢支持！

[2021-10-29 08:03] #8788 closed, assigned to yeshao2069

[2021-10-29 09:36] yeshao2069 commented on #9557
Thank you for your feedback, I will feedback to our dedicated colleagues to upgrade. This issue is closed for now.

[2021-10-29 09:36] #9557 closed, assigned to nobody

[2021-10-29 09:48] yeshao2069 commented on #9497
Thank you for your feedback, I confirmed in the latest version 3.4.0, this part of the code has not been modified, has been internal feedback, thanks

[2021-10-29 09:50] yeshao2069 commented on #6667
关于这个问题的需求，目前已经提交内部反馈，该issue暂时先关闭，后续有修复，我会继续在此同步。

[2021-10-29 10:20] xianyinchen opened #9574 "[3.3] 光照烘焙效果异常"
光照烘焙后灯光变暗。

[2021-10-29 10:26] xianyinchen opened #9575 "[3.3] 动画导入异常"
1. 动画播放异常。
2. 动画从3.1.x版本升级到3.3版本显示异常。

[2021-10-29 12:08] foxkinght opened #9576 "web包后出现的bug"
### Creator version?（版本号）
2.4.2

### Affected platform?（受影响的平台）
 -->

### How to reproduce?（如何重现）
中：切换场景时出现；

### JavaScript output or error produced?（报错信息和调用栈）
27cocos2d-js-min.8e141.js:1 Uncaught TypeError: Cannot read property 'length' of null
    at CCClass.getMaterial (cocos2d-js-min.8e141.js:1)
    at CCClass._updateMaterial (cocos2d-js-min.8e141.js:1)
    at CCClass._applySpriteFrame (cocos

[2021-10-29 13:57] finscn opened #9577 "[Bug] cc.Animation 不支持"空帧""
### Creator version?（版本号）
2.4.6

### Affected platform?（受影响的平台）
all

### How to reproduce?（如何重现）
使用 cc.Animation 制作帧动画 (动态改变 sprite的 spriteFrame) 时, 如果某一帧需要一个空帧 (spriteFrame为空) , 则运行是报错.
查看生成的 clip anim文件, 会有类似的代码:
[code]

然后在 动画编辑器里看, 这个地方也是显示一个错误图片的缩略图.

我觉得 "空帧" 这个需求是正常的,  clip anim里 ` "value": {}` 或者 `"value": null` 也都可以.
主要还是 编辑器 和 引擎运行时 对 "value": {} 不太对.

### JavaScript output or error prod

[2021-10-31 06:59] yeshao2069 commented on #9497
This issue has been internal feedback, we will analyze this issue, if confirmed as a bug, we will fix it in time, thank you for your feedback, this issue is closed for now.

[2021-10-31 06:59] #9497 closed, assigned to nobody

[2021-10-31 08:04] useobjc opened #9583 "[v2.4.6] JSB 反射接口提示语法错误"
[code]

iOS平台调用时，不需要指定`methodSignature `, 导致在VSCode里调用时，一直会有语法错误提示:
[code]

[2021-10-31 08:04] useobjc commented on #9583
虽然不耽误实际使用，但是看着很尴尬。

[2021-11-01 06:23] yeshao2069 commented on #9583
感谢你的反馈，这个问题已经反馈给引擎组处理。该issue暂时先关闭。

Thank you for your feedback, this issue has been sent back to the engine group to deal with. The issue is closed for now.

[2021-11-01 06:23] #9583 closed, assigned to nobody

[2021-11-01 06:31] yeshao2069 commented on #9576
你好，这个问题，是不是必现的，可否提供demo验证看看？

Hello, this question, is it must be present, can you provide a demo to verify to see?

[2021-11-01 06:37] yeshao2069 commented on #9468
你好，这个问题确实存在，也已经提交到引擎组处理了，但是很抱歉，目前没有处理进度。该issue会暂时先关闭，后续有处理进度，我会继续补充在这个issue上。再次感谢你的反馈和对creator的支持。

Hello, this issue does exist, and has been submitted to the engine group to deal with, but I'm sorry, there is no processing progress. The issue will be closed for now, and I will continue to add to this issue when there is progress. Thanks again for your feedback and support to creator.

[2021-11-01 06:37] #9468 closed, assigned to nobody

[2021-11-01 06:51] yeshao2069 commented on #9283
@lizhiyu-me 这些问题都有在处理的，不过因为复现的概率以及复现的原因不明，所以还没有处理好，issue上就暂时没有同步信息。
These problems are being dealt with, but because the probability of recurrence and the reasons for recurrence are unknown, they have not yet been dealt with, and there is no synchronization information on the issue for the time being.

[2021-11-02 10:36] xianyinchen opened #9600 "[2.4.x] spine 动画启动合批后，组件所在的3d节点旋转会出现异常"
下面是带有spine组件的3d节点，同样的旋转角度下，合批的spine动画表现出现异常

[code]

[2021-11-03 10:01] thinhlv opened #9610 "[Bug][3.3.1] This render pass descriptor's clear depth (1.000009) is outside of the range [0..1]"
### Creator version?（版本号）
3.3.1

### Affected platform?（受影响的平台）

iOS
### How to reproduce?（如何重现）
When preload a scene, after preloaded, run the next scene. Then back to the previous scene, then repeat again and again and again.

NOTED: My scenes are so complicated which contains sprites, animations, spine animations.

### JavaScript output or error produced?（报错信息和调用栈）

### Demo project?（demo 项目）

[2021-11-04 08:46] yeshao2069 commented on #9610
感谢反馈，这个问题应该是个bug，我们也接到了其他开发者的反馈，已经建立内部任务，来跟进排查这个问题，我们会尽快修复这个问题的。

Thanks for the feedback, this issue should be a bug, we have also received feedback from other developers and have set up an internal task to follow up and troubleshoot this issue, we will fix this issue as soon as possible.

[2021-11-04 09:17] thinhlv opened #9623 "[Bug][3.3.1] iOS background music increase play speed when resume game from background"
### Creator version?（版本号）
3.3.1

### Affected platform?（受影响的平台）

iOS (my iOS ver is 15.0.2)
### How to reproduce?（如何重现）
+ Create cocos creator 3.3.1 empty project.
+ Create an empty scene.
+ Add an AudioSource to the scene, loop = true, play on awake = true.
+ Set any music clip to AudioSource.
+ Save the scene.
+ Build to iOS then play on iPhone
+ Switch between the game and any app many times (f

[2021-11-05 05:52] #9610 closed, assigned to nobody

[2021-11-05 10:26] yeshao2069 commented on #9576
长时间没回应，该问题暂时先关闭。
No response for a long time, the issue is closed for now.
[NewProject_3.zip](https://github.com/cocos-creator/engine/files/7482344/NewProject_3.zip)

[2021-11-05 10:26] #9576 closed, assigned to nobody

[2021-11-06 09:04] loohoo commented on #9459
单纯地构建一种目标平台, bundleXX/config.xxx.json  里面的数组顺序每次都不一样 导致md5 计算出来並. 你们的构建脚本改了逻辑.

[2021-11-07 17:42] #9574 closed, assigned to xianyinchen

[2021-11-07 17:44] zhefengzhang commented on #9574
经过排查，是因为模型没有第二套贴图 uv 导致的。一般可以使用 3D max 查看通道信息来确认是否具有第二套贴图 uv。

[2021-11-08 05:01] thinhlv opened #10520 "[3.4.0] custom native-engine error: spawnSync /bin/sh ENOENT"
I've tried to custom engine for v3.4.0. Our project require too many bug fixes that already resolved on these branchs.
My steps are following the tutorial on [Engine customization Workfolow](https://docs.cocos.com/creator/3.0/manual/en/advanced-topics/engine-customization.html)

Machine: iMac
Mac version: Big Sur 11.4

preproduce steps:
- pull the native-engine repo
- checkout branch v3.4.0
- cd t

[2021-11-08 07:04] thinhlv commented on #10520
I've check again this issue, this may cause by there is no ./tools/cocos2d-console/download-bin.py on native-engine/tools directory.

gulpfile.js
[code]

I can't find the cocos2d-console directory,  so I guest this cause Error: spawnSync /bin/sh ENOENT when execute the init task.

I must download manually the [cocos2d-console](https://github.com/cocos2d/cocos2d-console) and attempted to fix this i

[2021-11-09 03:50] minggo commented on #10520
cocos2d-console is in the repo now. And you can use download-deps.py to download 3rd libraries.

[2021-11-09 07:53] jcyuan opened #9639 "【3.4.0预览版】PhysicsGroup枚举值未在编辑器中显示，但运行时正常。"
版本：v3.4.0预览版

在代码中写以下代码（2D box2d）：
![image](https://user-images.githubusercontent.com/850854/140881527-c3c8d338-3bef-4047-9e41-0aa8fcbd5fca.png)
但在编辑器中不会显示枚举值：
![image](https://user-images.githubusercontent.com/850854/140881609-5b252c46-d1c4-4b34-874e-ba8bbedc17f2.png)
但在运行时值是正确的：
![image](https://user-images.githubusercontent.com/850854/140882043-1d5736b8-aa45-4b81-a509-598eefd32386.png)

使用3D模块的

[2021-11-09 08:51] jcyuan commented on #9639
找到原因了。
![image](https://user-images.githubusercontent.com/850854/140892390-dfe603b1-1891-47bf-9799-821128177cc4.png)
需要加上这句IDE上就能显示。

但是如果同时勾3D物理和2D物理时，因为2D和3D的类都会导出这个东西，所以它们应该会相互覆盖吧？不过就算覆盖也没什么影响就是了因为两边的值都是相同的。

我稍等提交一个PR，具体能不能合并看官方意见哈。

[2021-11-11 02:22] jcyuan commented on #9639
需要其它解决方案，覆写internal.PhysicsGroup不是正确的解决方案。

[2021-11-11 02:22] #9639 closed, assigned to nobody

[2021-11-12 07:30] yeshao2069 commented on #9623
Thank you for your feedback, this issue does exist and is a known issue at this time, we have given feedback internally. The issue is temporarily closed, and I will continue to add to this issue if there is an update on the outcome.

[2021-11-12 07:35] #9623 closed, assigned to nobody

[2021-11-12 07:45] yeshao2069 commented on #9575
问题2：动画从3.1.x版本升级到3.3版本显示异常，处理反馈：

工程中的模型资源在非useBakedAnimation模式下显示异常。
3.1.2 进入动画编辑器时，不取消useBakedAnimation 选项。
3.3 进入动画编辑器时，会取消useBakedAnimation 选项， 因此会看到显示异常。
该工程中的模型在导入时勾选了禁用拆分mesh, 勾选此选项时，动画只可以在useBakedAnimation模式下使用
![捕获](https://user-images.githubusercontent.com/14008865/141400906-e8e7f65f-c773-4a34-b689-87d43d397a34.PNG)

[2021-11-12 10:46] yeshao2069 commented on #9577
是啥平台，我使用模拟器和web测试，没有这个报错。
![image](https://user-images.githubusercontent.com/14273437/141454609-f67fb77a-fffc-48c6-97fe-ffaf1bccb08e.png)
![image](https://user-images.githubusercontent.com/14273437/141454642-171c23d3-c502-404c-93e6-a5779a7f575c.png)
[testEmptyClip.zip](https://github.com/cocos-creator/engine/files/7526940/testEmptyClip.zip)

[2021-11-13 04:11] obraz29 opened #9657 "cc.Mask is crashed when combine tweening opacity & deactiving object"
### Creator version?（版本号）
3.3.1

### Affected platform?（受影响的平台）
All platform

### How to reproduce?（如何重现）
Hello, I'm working on a big project & the mask is usually crashed, after investigating, I found that if we disable node while tweening it's opacity, then child mask lost function. I'm sending a small test case in attachment, hope it can help you find the issue.
In the test project:
Step1. Pres

[2021-11-13 04:12] obraz29 commented on #9657
[TestProject.zip](https://github.com/cocos-creator/engine/files/7531376/TestProject.zip)

[2021-11-13 04:14] obraz29 commented on #9657
[TestProject.zip](https://github.com/cocos-creator/engine/files/7531379/TestProject.zip)

[2021-11-13 09:42] yuriilychak opened #9659 "[3.x] Batch issues"
### Creator version?（版本号）
3.3.2

### Affected platform?（受影响的平台）

Web / iOS / Android

### How to reproduce?（如何重现）
Hi. Currently I'm develop project where will be a lot of spine animations and particles. As I see now Spine skeletons and particles have one draw-call for each even if they use same atlas and material.
- Could you fix batching of particles that use same atlas and material.
- Could you

[2021-11-14 09:19] yeshao2069 commented on #8982
这个问题将在 3.4.0版本修复
修复PR https://github.com/cocos-creator/engine/pull/9661
可同步PR处理，或者升级到3.4.0版本(3.4.0正式版本还没有发布，敬请期待)

[2021-11-14 09:22] yeshao2069 commented on #9078
这个在目前的开发版本  3.4.0中解决，解决PR ： https://github.com/cocos-creator/engine/pull/9660

[2021-11-14 09:23] yeshao2069 commented on #9078
下周一验证

[2021-11-14 09:23] yeshao2069 commented on #8982
下周一验证

[2021-11-14 09:25] yeshao2069 commented on #9124
最新反馈:
这应该是一个 gltf，gltf 里导入的时候使用了 promise.all 乱序排列，而 meta 这个顺序依赖调用接口的顺序。在 3.3.0 已经进行处理。

[2021-11-15 03:15] yeshao2069 commented on #9078
验证在3.4.0 已经解决。敬请期待3.4.0正式版发布 或者 可以使用 [3.4.0社区版本](https://forum.cocos.org/t/topic/124094) 并合并PR https://github.com/cocos-creator/engine/pull/9660
该issue关闭

备注：验证方式  PR + 3.4.0-darwin-111508

[2021-11-15 03:15] #9078 closed, assigned to yeshao2069

[2021-11-15 03:25] #9124 closed, assigned to xianyinchen

[2021-11-15 03:26] yeshao2069 commented on #9124
原小秘书工单：  7071

[2021-11-15 06:20] yeshao2069 commented on #9575
问题1:   动画播放异常，这个在3.4.0修复了。

[2021-11-15 06:21] yeshao2069 commented on #9575
问题1 & 问题2  问题已经处理，该issue关闭，感谢支持cocos creator.

[2021-11-15 06:21] #9575 closed, assigned to xianyinchen

[2021-11-15 07:37] yeshao2069 commented on #8982
验证 3.4.0  修复了。(3.4.0正式版本还没有发布，敬请期待)
修复PR https://github.com/cocos-creator/engine/pull/9661/files
使用 v3.4.0-darwin-111508 并合并PR https://github.com/cocos-creator/engine/pull/9661/files

修复前
![181636961778_ pic](https://user-images.githubusercontent.com/14273437/141740707-7d62b2b3-1c27-4845-aac5-308d7afc3e7d.jpg)

修复后
![191636961779_ pic](https://user-images.githubusercontent.com/14273437/141740746-5

[2021-11-15 07:40] yeshao2069 commented on #8982
测试demo
[testGameShow340.zip](https://github.com/cocos-creator/engine/files/7536711/testGameShow340.zip)

该问题已经处理，该issue关闭。

[2021-11-15 07:40] #8982 closed, assigned to zhefengzhang

[2021-11-15 08:34] yeshao2069 commented on #9657
使用你的demo，确实有出现mask失效的问题，这个问题我们先内部反馈并处理。
另外，你这个问题，可以通过以下3种方式来处理：
方式1：注释  this.node.active = false; 这一句，问题可以避免；
方式2：在hide的时候，tween.to的时候，opacity改为 0.01 问题也可以避免；
[code]
方式3：不使用UIOpacity组件，改为直接使用sprite.color属性
[code]

Using your demo, there is indeed the problem of mask failure, this problem we first internal feedback and processing.
In addition, you this problem, can be dealt with in the following 3

[2021-11-15 08:48] yeshao2069 commented on #9657
感谢你的反馈，这个应该是一个bug导致的，我已经内部反馈了，该issue暂时关闭，后续有处理情况，我在本条issue上继续追加。
Thank you for your feedback, this should be a bug caused by, I have internal feedback, the issue is temporarily closed, the subsequent processing situation, I continue to add on this issue.

[2021-11-15 08:48] #9657 closed, assigned to nobody

[2021-11-15 08:53] yeshao2069 commented on #9659
Question 1: Particles currently do not support combined batches for the time being.
Question 2: spine does not support batching in version 3.x yet, but we are already planning to batch spine animations.

[2021-11-15 09:13] jiangerji opened #9666 "使用命令行打包，什么都没有修改，但再次打包，index.js 的文件名都会发生变化，但内容确什么都没有变"
### Creator version?（版本号）
2.4.6

### Affected platform?（受影响的平台）

Mac

### How to reproduce?（如何重现）
使用命令行打包编译，源码和资源没有任何修改，但是连续两次打包的话，打包最后的 index.js 的名字是不一样的，按理说应该是一样的
![image](https://user-images.githubusercontent.com/3794175/141753952-8862334b-4c75-4895-9bb8-532199f349bf.png)

编译使用的命令行
[code]

[2021-11-15 09:14] jiangerji commented on #9666
左边的 index.37a91.js 和  index.4e566.js 内容都是一样的，但文件名不一样

[2021-11-15 09:16] yeshao2069 commented on #8770
使用最新的 2.4.6 ，使用这个issue的demo，在微信上报错了，已经无法正常验证了。
![image](https://user-images.githubusercontent.com/14273437/141754604-044e3557-b16e-46f1-a96f-9107fe9fb483.png)

[2021-11-15 09:17] yeshao2069 commented on #8770
该issue暂时关闭。

[2021-11-15 09:17] #8770 closed, assigned to yeshao2069

[2021-11-15 09:26] yeshao2069 commented on #9666
https://forum.cocos.org/t/topic/122596/10
关于config和index的MD5问题
这个问题，之前有收到反馈，会在2.4.7修复。

[2021-11-15 10:24] jiangerji commented on #9666
那有手动修复的办法么？还是只能等2.4.7更新 @yeshao2069

[2021-11-15 10:55] yeshao2069 commented on #9666
要等2.4.7更新

[2021-11-15 11:45] #9666 closed, assigned to nobody

[2021-11-15 13:34] yuriilychak commented on #9659
@yeshao2069 Are there any plans for ability to specify single atlas for few skeletons?

[2021-11-16 02:23] GHChrisSu opened #9667 "制作插件时使用axios上传文件导致502 错误"
我在工程build完成之后做一个上传工程到网站的插件，在2.3.2的版本的时候 插件是好用的
到了3.3.2之后这个插件就出了问题  我按照新的插件写法做了  也调到了对应的方法
但是上传的时候出现了502的错误

### Creator version?（版本号）
3.3.2

### Affected platform?（受影响的平台）
Windows Editor

### How to reproduce?（如何重现）
2.3.2的代码如下
[code]

3.3.2的代码如下
[code]

依赖都是一样的 主要是  adm-zip axios form-data 这三个
[code]

### JavaScript output or error produced?（报错信息和调用栈）
![image](https://user-images.githubusercontent

[2021-11-16 02:52] yeshao2069 commented on #9659
@yuriilychak    https://forum.cocos.org/t/topic/124637     This is the technical solution we share to the Chinese forum first for now, see if it is what you need?

[2021-11-16 03:04] yeshao2069 commented on #9600
link    https://forum.cocos.org/t/topic/120731

[2021-11-16 03:10] yeshao2069 commented on #9659
@yuriilychak  For the time being, we suggest that you make all the spine animations that need to be combined in one spine file to solve your problem temporarily.
There is no plan to support multiple spines sharing one set of resources, but we will give priority to solving the problem of spine merging.

[2021-11-16 14:19] ClemAnto opened #9672 "TiledMap FLIPPED TILES issue 😮"
### Creator version?（版本号）
COCOS CREATOR v3.3.2

### Affected platform?（受影响的平台）
Windows Editor / Web

### How to reproduce?（如何重现）
Import and put on canvas a TiledMap with some FLIPPED TILE.

### JavaScript output or error produced?（报错信息和调用栈）
Imported TiledMap doesn't display correctly FLIPPED TILE
![image](https://user-images.githubusercontent.com/472231/142000692-a31d278b-fe4d-4cd0-b1c1-57ec6525b4

[2021-11-17 02:04] yeshao2069 commented on #9583
这个问题，最新的反馈：
在3.4版本上，会有新的接口来适配安卓和IOS，不过原本的接口，不做改动，会对原本的函数调用有破坏性。

[2021-11-17 02:07] yeshao2069 commented on #9497
fixed in 3.4.0

https://github.com/cocos-creator/engine/pull/9605

[2021-11-17 02:27] yeshao2069 commented on #9610
fixed in 3.4.0
https://github.com/cocos-creator/engine-native/pull/4044

[2021-11-18 09:10] yeshao2069 commented on #9600
同步最新反馈：

batch 模式, 模型矩阵在CPU中完成。 计算方式如下，Z坐标未参与计算。
vbuf[ii] = _x * _m00 + _y * _m04 + _m12;
vbuf[ii + 1] = _x * _m01 + _y * _m05 + _m13;
非batch模式shader 中模型矩阵为4x4的矩阵
#if CC_USE_MODEL
mvp = cc_matViewProj * cc_matWorld;
#else
mvp = cc_matViewProj;
#endif
z坐标参与计算，造成差异。
统一改为Z坐标不参与计算的方式很简单，但这样3D模式Z轴坐标就都丢失了。
若要正确修复该问题，需要将spine buffer中的顶点添加Z属性。

[2021-11-19 09:24] yeshao2069 commented on #9577
暂时关闭。

[2021-11-19 10:20] yeshao2069 commented on #9672
Thanks for the feedback.
- I looked at your tiledmap resource, which was made using version 1.7.2, but the current supported runtime version of the engine tiledmap is 1.4.0, and the problem occurs. Also the feature FLIPPED TILE is supported in tiledmap 1.5.0, so it shows an exception.

https://github.com/cocos-creator/engine/blob/v3.3.2/cocos/tiledmap/tmx-xml-parser.ts#L188
https://www.mapeditor.o

[2021-11-19 10:35] #9672 closed, assigned to nobody

[2021-11-19 10:38] yeshao2069 commented on #9667
502 有没有确认网站是否可以正常访问？

[2021-11-19 10:39] yeshao2069 commented on #9667
502 有没有确认网站是否可以正常访问？

[2021-11-21 12:59] finscn commented on #9577
macOS 下的 cc  2.4.6
游戏是  微信小游戏

[2021-11-21 13:02] finscn commented on #9577
@yeshao2069  我看了你的代码, 你的空帧是 :
[code]

但是我不知道为什么 , 我的空帧是 :
[code]

问题出这里. 你可以试一试 把 你那个anim文件里的  null 换成 {}

.

[2021-11-22 03:04] yeshao2069 commented on #9577
我试试，我这个 animation是在动画编辑器上直接编辑的。

[2021-11-22 03:29] zhefengzhang commented on #1841
对 Linux 的支持目前不在我们的短期计划中，但是我们会在以后的某个版本中实现。
Support for Linux is not currently in our short-term plans, but we will implement it in a future release.

[2021-11-22 03:29] #1841 closed

[2021-11-22 07:30] yeshao2069 commented on #9577
如果手动修改 null 为 {}， 是会报错。

![image](https://user-images.githubusercontent.com/14273437/142820682-1bca16ce-ae95-4201-aa63-de476ccb510d.png)

[2021-11-22 07:40] yeshao2069 commented on #9577
测试  3.3.2 版本， 支持空帧  { "frame": 0.2, "value": null},   不支持  { "frame": 0.2, "value": {} }

[2021-11-22 07:51] yeshao2069 commented on #9577
不支持 { "frame": 0.2, "value": {} }    这个内部反馈了、

[2021-11-23 10:46] #9659 closed, assigned to nobody

[2021-11-24 04:02] walzer opened #9718 "Typo: warpper -> wrapper"
https://github.com/cocos-creator/engine/blob/9b1b8bda017eaafa1a50eb5ed397024a592e97be/cocos/web-view/web-view-impl-web.ts#L73

I found that all "**wrapper**" in web-view-impl-web.ts & web-view-impl.ts were all typed to "**warpper**". Maybe someone should fix this.

[2021-11-24 10:02] shrinktofit commented on #9577
`{}` 表示一个截然不同的对象，只是属性为空而已，它并不是所谓的“空对象”。SpriteFrame 曲线中只应该有 `SpriteFrame` 和 `null`。

[2021-11-24 10:02] yeshao2069 commented on #9577
@finscn    最新反馈
{} 表示一个截然不同的对象，只是属性为空而已，它并不是所谓的“空对象”。SpriteFrame 曲线中只应该有 SpriteFrame 和 null。

[2021-11-24 10:19] yeshao2069 commented on #9718
The relevant colleagues have been informed to rectify the problem. Thank you!

[2021-11-24 10:29] #9577 closed, assigned to nobody

[2021-11-24 10:35] yeshao2069 commented on #9718
We have fixed this issue, PR: https://github.com/cocos-creator/engine/pull/9724. It will be fixed in the 3.4.0 release.

[2021-11-24 10:42] #9718 closed, assigned to knoxHuang

[2021-11-25 09:38] OnlyKoei commented on #9389
3.4 优化后，关闭多点触摸，点击事件可以穿透

[2021-11-25 09:38] #9389 closed, assigned to OnlyKoei

[2021-11-26 01:36] yeshao2069 commented on #9667
暂时关闭

[2021-11-26 01:36] #9667 closed, assigned to nobody

[2021-11-26 01:38] yeshao2069 commented on #9390
最新反馈：

fixed v3.4.0
cocos-creator/engine-native#4019
cocos-creator/engine-native#4042

[2021-11-26 02:36] yeshao2069 commented on #9390
@linruimin  麻烦验证一下

[2021-11-26 02:49] yeshao2069 commented on #9390
在3.4.0社区版本验证，修复的PR已经合入。问题已经修复。
![image](https://user-images.githubusercontent.com/14273437/143519275-4cde0b89-30fd-4ce3-ae84-cf49911f1e51.png)

[2021-11-26 02:49] #9390 closed, assigned to linruimin

[2021-11-26 08:48] ankye opened #9736 "[3.x]获取不到场景name"
scene name为空
### Creator version?（版本号）
3.4.0

### Affected platform?（受影响的平台）

all
### How to reproduce?（如何重现）

cc.director.on(cc.Director.EVENT_BEFORE_SCENE_LAUNCH, (scene: cc.Scene) => {
    console.log("before scene launch  ========>",scene.name);

});

cc.director.on(cc.Director.EVENT_AFTER_SCENE_LAUNCH, (scene: cc.Scene) => {
    console.log("after scene launch  ========>",scene.name);
});

##

[2021-11-29 06:37] PPpro commented on #7878
canplaythrough 这个事件的支持意义不大了，仅仅是 web 平台 DOM Audio 的一个特性，支持了反而降低 DOM Audio 流式播放的体验，而且 DOM Audio 在 3.x 已经是接近废弃状态，load 事件倒是在各个浏览器上验证过，canplaythrough 事件不能确定有没有兼容性问题，暂时不考虑做支持了

感谢反馈

[2021-11-30 03:11] ankye opened #9743 "【3.4】新增的fillCacheBuffer，导致动态增加顶点的功能不生效"
### Creator version?（版本号）
creator 3.4

### Affected platform?（受影响的平台）

all

### How to reproduce?（如何重现）
update里面动态增加indices和vertices的功能不生效，并且会导致所以节点渲染异常

### JavaScript output or error produced?（报错信息和调用栈）

### Demo project?（demo 项目）

[2021-11-30 09:56] yeshao2069 commented on #9736
3.x版本获取场景的name 确实获取不到(空字符串)。

你可以先通过    node.parent.name 来 获取，试试。

[2021-11-30 09:58] yeshao2069 commented on #9736
该issue暂时关闭。问题已经反馈到引擎组。后续如果有新反馈，我会继续同步该issue.

[2021-11-30 09:58] #9736 closed, assigned to nobody

[2021-11-30 10:00] yeshao2069 commented on #9743
你好，这个问题可否提供可以测试的demo?

[2021-11-30 11:37] ankye commented on #9743
看了半天代码，搞定了，需要主动调用 this.setPassDirty();

[2021-11-30 11:37] #9743 closed, assigned to nobody

[2021-11-30 12:24] ankye commented on #9743
直接里面的这个函数也可以   director.root!.batcher2D._reloadBatch(); 但是不设置，所以节点都缩的只有一个点大小

 update(dt: number): void {
            this.stepGenVerts();
            this.markForUpdateUVData();
            this.markForUpdateRenderData(true);
            // this.setPassDirty();
            director.root!.batcher2D._reloadBatch();
}

[2021-11-30 12:44] ankye commented on #9736
scene.parent 为空

[2021-11-30 16:03] ezersdev opened #9745 "[3.3.2]在A物体绕着B物体旋转，B物体开始移动， LookAt函数计算错误，无法对准B物体"
### Creator version?（版本号）
creator3d 3.3.2

### Affected platform?（受影响的平台）

Mac Editor Web
### How to reproduce?（如何重现）
让 cubeA 绕着 cubeB旋转，在cubeB为静态时，LookAt一切正常，当cubeB开始运动，则LookAt函数 朝向就出现错误，貌似是最初始的那个点的方向

### JavaScript output or error produced?（报错信息和调用栈）

### Demo project?（demo 项目）

绕着目标旋转函数
 public static RotationAroundNodeLocal(self:Node,pos:Vec3,axis:Vec3,angle:number):Quat
  {
      let _quat=n

[2021-11-30 16:24] #9745 closed, assigned to nobody

[2021-12-01 14:41] mikecoker opened #9749 "[3.x] Pointer lock still moves cursor"
### Creator version?（版本号）
3.3 and 3.4

### Affected platform?（受影响的平台）

platforms with mouse

The issue is in mouse-input.ts around line 37, this code
[code]
the lines that check this._pointLocked and then add movement to the locked position are wrong. If the pointer is locked, the x/y position reported should not change.  One solution is
[code]
I'm sure there's some reason this code was written li

[2021-12-05 12:31] qingwabote commented on #10520
I am plagued with this issue too.
[code]
download-deps.js clones the engine-native-external repo to local, download-bin.py downloads the released archive at the same time, why? duplicated?

[2021-12-06 07:19] PPpro opened #9766 "support PointerLock feature"
Fow now we use `canvas.requestPointerLock()` interface to implement PointerLock
it's a Web standard interface, instead of official engine interface

We need to support the PointerLock interface like `input.requestPointerLock()`, which is cross-platform.

Need to figure out what the correct behavior for `location` property in `MouseEvent` when the pointer is locked.

[2021-12-06 12:23] yanjifa opened #9773 "[3.4.0] Sampler binding ‘cc_spriteTexture’ at set 2 binding 11 index 0 is not bounded"
### Creator version?（版本号）
3.4.0

### Affected platform?（受影响的平台）
 Mac Editor / Windows Editor / Web / iOS / Android / Simulator

### How to reproduce?（如何重现）
修改 label 颜色

### JavaScript output or error produced?（报错信息和调用栈）
[Scene] Sampler binding ‘cc_spriteTexture’ at set 2 binding 11 index 0 is not bounded

### Demo project?（demo 项目）
必现，不需要

[2021-12-07 02:56] ankye opened #10519 "【3.4.0】Cannot read property 'UI_GPU_DRIVEN' of undefined"
1.set custom engine and native engine
2.rebuild engine and native engine
3. when rebuild native engine
[code]

[2021-12-07 06:10] Codes-Breaker opened #9775 "Failed to resolve symbol Quat, There is no symbol info. node_modules/tfig/build/recast.js:848"
### Creator version?（版本号）

### Affected platform?（受影响的平台）

Windows

### How to reproduce?（如何重现）
Start Debugging

### JavaScript output or error produced?（报错信息和调用栈）

### Demo project?（demo 项目）

[2021-12-07 09:23] yoki0805 opened #9779 "[2.4.6] cc.ParticleSystem不受Node透明度影響"
### Creator version?（版本号）
2.4.6

### Affected platform?（受影响的平台）

Web

### How to reproduce?（如何重现）
空場景中放置一個預設的粒子系統, 調整節點屬性即可重現

--

2.4.3版的粒子系統可以受節點透明度影響
2.4.6則否

此外若調整節點scale屬性
只有當粒子的PositionType為Grouped才能生效

[2021-12-09 03:26] #9773 closed, assigned to nobody

[2021-12-09 05:48] yeshao2069 commented on #9408
最新反馈：目前暂定在3.5版本修复这个问题。

[2021-12-15 02:42] qx opened #9813 "if cls.get_cocos2d_mode() is not "distro":"
### Creator version?（版本号）

2.4.7
### Affected platform?（受影响的平台）

mac m1,构建android项目

### How to reproduce?（如何重现）
<img width="1643" alt="截屏2021-12-15 10 40 58" src="https://user-images.githubusercontent.com/648406/146113155-775a0a26-f1e9-44b9-a091-f8649276d3ae.png">

### JavaScript output or error produced?（报错信息和调用栈）

### Demo project?（demo 项目）

[2021-12-15 07:37] yeshao2069 commented on #9779
你好，测试了一下 2.4.6版本，修改 节点的 color的透明度，表现和 2.4.3版本一致。具体的不受影响是什么表现。

调整节点 的 scale属性，需要当粒子的PositionType為Grouped才能生效。
https://docs.cocos.com/creator/api/zh/enums/ParticleSystem.PositionType.html

[2021-12-15 07:39] yeshao2069 commented on #9775
Hi, may I ask on which version you are having this problem. How do I need to go about reproducing this issue?

[2021-12-15 07:40] yeshao2069 commented on #9813
你好，Mac m1 构建空工程，可以复现吗？

Hi, Mac m1 build empty project, can I reproduce it?

[2021-12-16 01:36] yoki0805 commented on #9779
sorry, 我誤會了
我重新測試2.3.3 / 2.4.3 / 2.4.6, 發現這三個版本的節點透明度確實不影響粒子的透明度

想請問實務上常常會有動畫淡出的需求
如果粒子系統不受節點的透明度影響, 該如何實現粒子系統整體淡出的效果?

[2021-12-17 04:12] finscn opened #9833 "oppo小游戏 无法保存截图"
### Creator version?（版本号）
2.4.7

### Affected platform?（受影响的平台）

oppo 小游戏

### How to reproduce?（如何重现）

我把一张图片 画到 canvas上. 然后用 toTempFilePath 的api生成文件 存储到相册后, 文件生成了, 文件尺寸也对, 但是 canvas上的内容不对 .
这个过程没有报错.

我不用图片, 而是 用 clearRect  fillRect fillText 对canvas进行绘制, 导出的内容还是不对.
导出的图片上的内容总是屏幕左上角的一个区域.  如果我的这个canvas是 200x100, 那么导出的图片上的内容就是 屏幕左上角200x100的内容.

即使我什么都不做 ,只是 clearRect , 导出的也不是空白图片, 还是屏幕左上角区域的内容

##

[2021-12-17 04:24] finscn commented on #9833
测试代码:
[code]

[2021-12-17 08:21] yeshao2069 commented on #9779
2D粒子目前不支持 淡出/淡入 效果。

[2021-12-17 08:28] yeshao2069 commented on #9833
web上，正常吗？

[2021-12-17 09:04] ppjjzz commented on #8638
如果用的是gitlab-runner遇到这个问题要怎么解决呢

[2021-12-17 11:09] xubing0906 opened #9837 "切换场景UseHDR按钮，天空盒HDR状态和预期相反"
![3](https://user-images.githubusercontent.com/49358166/146535462-cb604a44-c479-48e3-a1bd-972a50115ac2.png)
![4](https://user-images.githubusercontent.com/49358166/146535466-8c881abb-6338-4bfe-9a12-cdfb0004d0be.png)
首次进入场景正常

[2021-12-17 11:15] xubing0906 commented on #9837
![企业微信截图_16397395064214](https://user-images.githubusercontent.com/49358166/146536124-4375b626-6ecc-4455-a9e0-a9ad0df76c51.png)
原因是切换时先更新了天空盒的HDR状态后才修改全局变量CC_USE_HDR的值，导致再次点击按钮时天空盒用上次的CC_USE_HDR值去显示HDR状态。
![企业微信截图_16397396882383](https://user-images.githubusercontent.com/49358166/146536624-a608d722-0a48-475d-b239-f3e8b0bf6848.png)

[2021-12-17 11:17] xubing0906 commented on #9837
![2](https://user-images.githubusercontent.com/49358166/146536652-1f7c5ecc-04fc-467d-aa01-02491eb3dbaf.png)
![1](https://user-images.githubusercontent.com/49358166/146536706-44785e5c-c30c-47a5-88aa-6e81a2e192bd.png)
修复后的效果

[2021-12-19 09:10] qingwabote opened #9840 "engine 定制如何正确创建新模块"
我试图参照文档来创建新模块，但是跑起来并没有在cc空间下找到我添加的内容，我是这么操作的：

在 exports 目录下放置新模块（我的理解是放置用于导出新API的ts文件），然后把模块加在 cc.config.json 的 features 字段里；
npm run build；
开发者->编译引擎；

如果我利用 exports 目录下已存在的官方的文件进行新API的导出是OK的，我想知道我缺少了哪些步骤，谢谢。

参考：https://github.com/cocos-creator/engine/blob/develop/docs/contribution/modules.md#create-public-module

engine v3.3.2

[2021-12-19 09:40] qingwabote commented on #9840
在 engine-features/render-config.json 添加上新模块的配置解决了这个问题，但是需要手动更改包括 render-config.json 在内的，schema.json 和 types.ts 三个文件，我不确定这些文件是应该手动修改还是使用某种工具自动生成的。

[2021-12-20 01:07] yoki0805 commented on #9779
瞭解了, 謝謝解答

[2021-12-20 01:07] #9779 closed, assigned to nobody

[2021-12-20 02:10] #9837 closed, assigned to xubing0906

[2021-12-20 10:42] yeshao2069 commented on #9840
使用上的问题，建议到论坛上问一下 https://forum.cocos.org/

[2021-12-20 15:43] #9840 closed, assigned to nobody

[2021-12-21 12:15] eos3tion opened #9852 "CocosCreator3.4 创建材质报错"
### Creator version?
CocosCreator3.4

### Affected platform?（受影响的平台）
Windows Editor

### How to reproduce?（如何重现）
[effects.zip](https://github.com/cocos-creator/engine/files/7755203/effects.zip)
创建一个材质，使用 zip包中 `effect3.effect`，然后就会报下面错误
CocosCreator3.3 正常

### JavaScript output or error produced?（报错信息和调用栈）
[Scene] The asset 16400885632650.8175421489308723 is invalid for some reason, detail message

[2021-12-23 02:52] linruimin opened #9860 "3.4.0预制体嵌套动画节点编辑时出错"
问题描述：3.4版本 A预制体里面镶嵌B预制体，在A预制体里面操作B预制体动画，退出动画后，B在A的显示会变成NewNode。
表现如下：
![Dec-22-2021 17-45-29](https://user-images.githubusercontent.com/18083506/147072290-c58595e7-6922-4fb7-a28a-967cdcfcc603.gif)

[2021-12-23 04:00] shenxiyou opened #9861 "plist 图集，如果精灵数量很多，在开发测试时加载SpriteAtlas超过3s,体验很差。"
### Creator version?（版本号）
3.4

### Affected platform?（受影响的平台）

Mac Editor / Windows Editor
### How to reproduce?（如何重现）
工程里放入一个超过300个精灵的plist 图集
调用
 console.time("load");
 resources.load("xxx", SpriteAtlas, (err, hero) => {
      console.timeEnd("load");// 时间会超过3秒。。
  });
原因是每个精灵都生成了一个json的描述文件，加载时io过高。。
建议同一个plist 的描述文件合并。

[2021-12-23 18:33] mrtzd opened #9865 "Can't read the value of "linearVelocity" of a RigidBody2D inside lateUpdate function"
### Creator version?（版本号）
3.4 and 3.3

### Affected platform?（受影响的平台）

Windows

### How to reproduce?（如何重现）
Whenever I try to read the value of "linearVelocity" from a "RigidBody2D" inside of the "lateUpdate()" function I get an error.

[code]

**Possible Solution**
To work around this issue I added a new function to RigidBody2D class (which is inside "cocos\physics-2d\framework\components\rigid-b

[2021-12-24 06:39] yeshao2069 commented on #9861
超过300个精灵的图集，你们的图集 多大？

可否提供资源测试？

[2021-12-24 06:46] yeshao2069 commented on #9736
可以通过scene 下的节点  node的parent的 name

scene -> node       node.parent(scene)的name

[2021-12-24 07:10] yeshao2069 commented on #9865
I did a simple test on my side and was not able to reproduce this error. Can you provide a demo for testing?
[NewProject_1.zip](https://github.com/cocos-creator/engine/files/7773090/NewProject_1.zip)

[2021-12-24 08:21] yeshao2069 commented on #9852
你好，shader中  texture纹理是没有 green 这个内置的纹理，你改为  white 应该就可以了
![image](https://user-images.githubusercontent.com/14273437/147333955-98cb1e3c-f5d8-49c4-9784-edb29326b741.png)

[2021-12-24 08:23] yeshao2069 commented on #9813
暂时无法复现，且长时间没有回复，该issue暂时关闭。

Temporarily unable to reproduce and no response for a long time, the issue is temporarily closed.

[2021-12-24 08:23] #9813 closed, assigned to nobody

[2021-12-24 08:24] yeshao2069 commented on #9775
Temporarily unable to reproduce and no response for a long time, the issue is temporarily closed.

[2021-12-24 08:24] #9775 closed, assigned to nobody

[2021-12-24 09:29] obraz29 opened #9871 "Game crash when destroy and reload spine many times"
### Creator version?（版本号）
Cocos 3.3.1, 3.3.2, 3.4

### Affected platform?（受影响的平台）
Android, iOS
### How to reproduce?（如何重现）
Release spine & reload (10 or 20 times), the game random crash

### JavaScript output or error produced?（报错信息和调用栈）
![2021-12-24 16 31 48](https://user-images.githubusercontent.com/52654061/147340410-3d305872-9155-4771-af68-38b869ec9043.jpg)

### Demo project?（demo 项目）
Project

[2021-12-24 10:42] yeshao2069 commented on #9871
Can you provide the code you loaded and released, or test cases?

[2021-12-24 11:43] obraz29 commented on #9871
Hi yeshao2069,
I'm loading assets via bundle like this:
bundle.loadDir('', Prefab, (finish, total, item)=>{
//update loading bar
}, (error, prefabs)=>{
...
//addRef
prefabs.forEach(prefab => {
prefab.addRef();
})
})

when release assets:
- I'm calling decRef() all prefabs, then bundle.releaseUnusedAssets().

I tried to make a delay between loading & releasing process but it doesnt help. sometimes

[2021-12-24 11:58] obraz29 commented on #9871
I will try to make a small demo, but not very sure it occurs on small project.
More info: game doesnt crash if the spine doesn't have Path & IK, the spine version is 3.7.94

[2021-12-24 12:46] obraz29 commented on #9871
I'm adding the stack, hope it helps:
![stack](https://user-images.githubusercontent.com/52654061/147353707-84ac908d-60d9-4234-b3e1-93b8022e5928.jpg)

[2021-12-24 13:07] shenxiyou commented on #9861
生成的plist图片只有2048x2048，里面精灵小图很多，每个精灵都是一个json，加载时会同时加载所有精灵的json，就会卡。。目前我不用plist了，自己在texturepacker导出json格式的自己解释，瞬间就加载好了

[2021-12-24 14:43] mrtzd commented on #9865
I think I found where the error was coming from. I was resetting the value of linearVelocity in the wrong way. This was my code:
`arrowRigidBody.linearVelocity = Vec2.ZERO;`

Now that I changed it like below this problem is resolved.
`arrowRigidBody.linearVelocity = Vec2.ZERO.clone();`

Thanks for the response. I'll close the issue now.

[2021-12-24 14:43] #9865 closed, assigned to nobody

[2021-12-28 03:07] yeshao2069 commented on #9871
Thank, i ' ll have a test.

[2021-12-28 09:11] PPpro opened #9886 "audio issues collection of 江南白景图 on vivo"
# 1
![1](https://user-images.githubusercontent.com/17872773/147549557-cc8b583c-ee35-4f1a-99a5-cc86824e6044.png)
# 2
![2](https://user-images.githubusercontent.com/17872773/147549569-4750ecef-a3da-4c3b-bb8a-aa32d529fcce.png)
# 3
![3](https://user-images.githubusercontent.com/17872773/147549584-7d258189-c3c9-496b-9fb2-7cd2be2bc7da.png)

[2021-12-28 12:19] finscn commented on #9886
又发现 vivo的一个奇怪bug.

[code]
那个 e 是 cc._Audio的实例, 我的某些音乐 完全是正常的, 但是  e.duration 却等于 -1 , 导致被判定为 ERROR .
越过状态检测 直接播放 是可以的.

[2021-12-29 03:16] Greg1129 commented on #7830
使用这个PR可以解决
https://github.com/cocos-creator/engine-native/pull/4121

[2021-12-29 03:37] jcyuan opened #9890 "PhysicsSystem2D (box2d) 全局监听物理事件时没有传递contact。"
https://github.com/cocos-creator/engine/blob/9b1b8bda017eaafa1a50eb5ed397024a592e97be/cocos/physics-2d/box2d/physics-contact.ts#L249

没有contact基本在回调里做不了任何事情 。。。
单独为指定body添加回调没有问题，参数都正常。

[2021-12-29 03:55] #9852 closed, assigned to nobody

[2021-12-29 05:50] PranavSK opened #9893 "Render texture read pixels bug."
https://github.com/cocos-creator/engine/blob/5d3b5d64c8cefae9f686bbb75020c09e1924aa2a/cocos/core/assets/render-texture.ts#L184

The height variable referenced in the above script needs to set height and not width.

[2021-12-29 11:07] ccbbsccbbs commented on #9893
i have wasted a long time to find this bug.

[2021-12-30 02:39] star-e opened #9901 "用RenderGraph重写ShadowFlow"
误操作

[2021-12-30 02:41] #9901 closed, assigned to nobody

[2021-12-30 03:58] #9890 closed, assigned to nobody

[2021-12-31 02:42] zhefengzhang commented on #9893
Thanks for the feedback, it has been fixed in version 3.4.1.

[2021-12-31 02:42] #9893 closed, assigned to zhakesi

[2021-12-31 02:54] zhefengzhang commented on #9861
你好，assetbundle 支持合并 json 的功能，你是否可以试试？此功能仅对构建后的项目有效
![图片](https://user-images.githubusercontent.com/35944775/147800399-8815a533-cd44-4cd6-b0c1-49e52944b68c.png)

![图片](https://user-images.githubusercontent.com/35944775/147800345-880106ff-9b88-4a94-94e6-1c239a318c79.png)

[2021-12-31 03:02] Xisrith opened #9908 "Web Preview Can't Launch Unless Editor is Running in Administrator Mode"
### Creator version?（版本号）
3.4.0

### Affected platform?（受影响的平台）
Windows Editor

### How to reproduce?（如何重现）

* Launch Cocos Dashboard regularly
* Open (or create) any project
* Launch the web preview

The game window will not show up in the web preview.

### JavaScript output or error produced?（报错信息和调用栈）
`ui.js: e.Size() is not a constructor`

### Demo project?（demo 项目）
In my experience, it occurr

[2021-12-31 04:02] zhefengzhang commented on #9861
图集资源的加载也会下载图片资源的，如果图片资源较大的话，也会算进加载时间。我这边测试 300+ 散图的 plist 也才 100+ k，序列化和加载的时长应该是很短的。你这边手动做序列化肯定也是快的，因为没有了图片下载的时间。

[2021-12-31 06:04] zhefengzhang commented on #9861
用户较长时间没有回复，暂时关闭此 issues 。

[2021-12-31 06:04] #9861 closed, assigned to nobody

[2021-12-31 06:19] yeshao2069 commented on #9871
Hi, I used your code snippet and really couldn't reproduce the issue, I tested it with Android version 3.4.0. Can you help me to see if there is any problem with this reproduced project?
[NewProject_4-release.apk.zip](https://github.com/cocos-creator/engine/files/7795443/NewProject_4-release.apk.zip)
[NewProject_4.zip](https://github.com/cocos-creator/engine/files/7795450/NewProject_4.zip)

[2021-12-31 06:24] yeshao2069 commented on #9908
Hi, can you help to confirm if the scene is not selected. I tested it on windows and mac, the preview on the web is fine, you can provide information about your device to troubleshoot the problem. Better yet, can you record a video and let's analyze it?

[2022-01-01 04:54] nyaris-005 opened #9912 "3.4.0 readPixels不能使用height参数"
https://github.com/cocos-creator/engine/blob/51ac077cc8b2bd15433ee827089495a621ed5c59/cocos/core/assets/render-texture.ts#L184

将宽度参数赋值给了height，导致height和this.height都没有作用

[2022-01-01 12:25] yeshao2069 commented on #9912
这个bug   已知，会在3.4.1版本修复，感谢反馈。

[2022-01-01 12:27] yeshao2069 commented on #9912
https://github.com/cocos-creator/engine/pull/9900/files   修复的PR

[2022-01-01 12:27] #9912 closed, assigned to nobody

[2022-01-04 08:36] Greg1129 opened #9915 "使用ArrayBuffer修改内置贴图生成过程"

[2022-01-04 09:03] zhefengzhang commented on #9908
We are sorry, but we are unable to reproduce this issue. This issue usually occurs on a small number of computers.
Since you have not updated your response for a long time, we have temporarily closed this issue and will reopen it when you provide us with more information.

[2022-01-04 09:03] #9908 closed, assigned to nobody

[2022-01-04 09:05] #9915 closed, assigned to Greg1129

[2022-01-05 02:09] Greg1129 opened #9918 "微信小游戏在安卓端加载时间过长"
https://forum.cocos.org/t/topic/127959

[2022-01-05 02:12] #9918 closed, assigned to Greg1129

[2022-01-05 11:45] SantyWang commented on #9249
cocos-creator/engine#9914，此 pr 已修复

[2022-01-05 11:45] #9249 closed, assigned to OnlyKoei

[2022-01-06 11:19] PPpro commented on #9408
会在 3.4.1 上修复，感谢反馈

[2022-01-10 02:26] xianyinchen opened #9951 "[3.4] 2D 粒子在界面显示的瞬间会出现非常多的粒子，之后恢复正常"
测试工程
[NewProject340.zip](https://github.com/cocos-creator/engine/files/7836548/NewProject340.zip)

[2022-01-10 02:46] #9951 closed, assigned to zxx43

[2022-01-11 10:12] pgeorge1324 opened #9957 "lowerAngle of HingeJoint2d set in editor is not converted to angle."
【v3.4.0】 HingeJoint2d  creator设置的lowerAngle没有进行弧度转换，代码单独调用一次UpdateLimits进行弧度转换才解决，是否存在这个问题？

### Creator version?（版本号）
V3.4.0

### Affected platform?（受影响的平台）

Windows Editor
### How to reproduce?（如何重现）
设置HingeJoInt2d lowerAngle和upperAngle

### JavaScript output or error produced?（报错信息和调用栈）

设置lowerAngle为-30
`console.log((it as HingeJoint2D).impl.impl.GetLowerLimit());

// @ts-ignore
(it as HingeJo

[2022-01-11 10:56] MrKylinGithub opened #10756 "Label artifact on web platform"
Can reproduce on PC and mobile web

![image](https://user-images.githubusercontent.com/5723832/148930217-06f76c5d-8aa5-49ae-8061-d43109d6ff3d.png)

After using LabelOututline, the artifact disapears

[2022-01-12 04:00] cuixin opened #9966 "After OrthoHeight is changed, all UI events fire all misaligned."
版本： cocos engine 3.4

环境： Windows 11

重现步骤：

1. 新建一个工程。
2. 在Hierarchy里面新建一个Button。
3. 关闭Canvas的AlignCanvasWithScreen。
4. 修改Canvas下的Camera的OrthoHeight为原来值的两倍。
5. 修改屏幕Button的位置向整个屏幕的左下或者任意方向偏移，尽量远离中心点。
6. Run。按钮点击将失效，从中心点方式偏移了。

cocos论坛好像早就报这个问题了，官方计划什么时候修复？

[2022-01-13 02:29] xianyinchen opened #9983 "[2.4.7] webp 和 pvr 压缩纹理配合预乘会出现问题"
**复现问题条件**

<img width="934" alt="WeChat8222043d188733bdee91f919a9fa1103" src="https://user-images.githubusercontent.com/8321365/149254796-67894769-887b-47df-9da8-ca104fb84550.png">

**目前定位是编辑器输出资源存在问题**

- webp 压缩导致数据丢失，没有开启 loseless。
- pvr 格式是本身 RGB 数据没有做预乘，所以纹理预乘不起作用

#### 比如这个spine模型的黑边问题

测试工程
[spineChange 4.zip](https://github.com/cocos-creator/engine/files/7859371/spineChange.4.zip)

使用经过手动

[2022-01-14 01:41] qx commented on #8638
只能在底层启动的时候做文章

[2022-01-14 02:46] LinYunMo commented on #10756
The contentSize is exactly equal to the label canvas, and it's probably using repeat clamp mode

[2022-01-14 11:10] Greg1129 opened #9994 "Remove the dependency of settings on window"
现在引擎的settings是依赖于window的，用法是window._CCSettings.xxx（xxx为具体的字段），不太合理，需要独立出来。

[2022-01-17 03:04] LiuPai opened #9999 "box2d physics rotation inconsistent with actual node rotation"
### Creator version?（版本号）
v3.1.2 - v3.4.1

### How to reproduce?（如何重现）
EN: RigidBody2D node with __negitive or greater than 360°__ z-axis rotation
中: 任意 RigidBodx2D 节点设置 __负数或大于360°__ z轴旋转

相关Issue #8930

提交 146385bdfb133dd0f10a5dd409e1aa76125e16b2 中 `this._rotationAxis.z` 可能为-1,导致设置角度错误.
简易补丁
[code]

[2022-01-19 12:26] linruimin opened #10022 "Dragonbone has different behavior between Android native and web."
安卓上切换到underattack后还会触发attack的事件，
![image](https://user-images.githubusercontent.com/18083506/150128588-d7a6d675-36de-4e8b-b036-e7f83c6b1580.png)
![image](https://user-images.githubusercontent.com/18083506/150128562-23198343-958a-4c46-b2b7-7e9bb2762009.png)

[2022-01-19 12:27] linruimin commented on #10022
https://github.com/cocos-creator/3d-tasks/issues/10940

[2022-01-20 05:52] lizhiyu-me commented on #8783
请问最后是怎么解决的啊

[2022-01-20 06:53] CaedmonKe commented on #8783
可能不是同一个问题哦，我这边记得是设置了cc.macro.ENABLE_MULTI_TOUCH导致的。

[2022-01-21 09:14] zhitaocai commented on #3391
你好，在 2.4.7 引擎上，我们还是会遇到这个问题

[2022-01-26 13:03] dylan465 commented on #9871
I had same issue on iOS when decRef prefab. HELP!!!

[2022-01-29 05:50] jareguo commented on #10022
重复了

[2022-01-29 05:52] jareguo commented on #9994
有什么实施上的建议吗？

[2022-01-29 05:56] jareguo commented on #9983
需要更新 webp 压缩工具，不能用 sharp。

[2022-01-29 06:11] #9860 closed, assigned to linruimin

[2022-01-29 06:11] jareguo commented on #9860
Fixed in 3.4.1

[2022-01-29 06:12] jareguo commented on #9886
计划 2.4.9 修复

[2022-01-29 06:20] jareguo commented on #9283
这个问题一般发生在版本升级后。目前 3.x 编辑器对待判定数据是否为脏，存在一定的缺陷，如果出现了版本升级有可能要在新版本中保存一次，否则会把旧版本的场景永远视为脏。后续我们会进行优化。

[2022-01-29 06:22] jareguo commented on #9353
列为 22 年重点目标之一。由于不属于重大缺陷，具体实现内部进行跟踪，本工单先关闭。

[2022-01-29 06:22] #9353 closed, assigned to xianyinchen

[2022-01-29 06:28] jareguo commented on #9501
2.4.8、3.4 已修复

[2022-01-29 06:28] #9501 closed, assigned to linruimin

[2022-01-29 06:31] jareguo commented on #9600
很抱歉人力有限，2.x 中 Spine 不考虑支持 3D 节点了。有需要的项目建议用 3.x

[2022-01-29 06:31] #9600 closed, assigned to xianyinchen

[2022-02-03 12:59] nkpresh commented on #1864
I tried this but I got an error @jareguo

[2022-02-07 05:08] obraz29 opened #10061 "Particle is flashing on v3.4.1"
Hello Cocos team, please check the particle issue on cocos 3.4.1, i'm attaching a demo & video.

### Creator version?（版本号）
v3.4.1

### Affected platform?（受影响的平台）

[NewProject_2.zip](https://github.com/cocos-creator/engine/files/8012487/NewProject_2.zip)

https://user-images.githubusercontent.com/52654061/152727672-46a68d3a-ab00-4be0-a01e-9c45f56add42.mov

[2022-02-07 07:48] obraz29 commented on #10061
I see it's fixed in v3.4.2.

[2022-02-07 07:48] #10061 closed, assigned to nobody

[2022-02-08 03:42] phidung2011 opened #10064 "Looping BGM is stopped after playing some looping sound effects"
### Creator version?（版本号）
v3.4.0

### Affected platform?（受影响的平台）

Web

### How to reproduce?（如何重现）
My game have one looping BGM and some looping sound effects. BGM will be discarded after playing some looping sfxs.

Step 1: Play BGM with loop
Step 2: Play sfxs with loop sometimes (at least 23 times)
Error: BGM is stopped

### JavaScript output or error produced?（报错信息和调用栈）

### Demo project?（demo 项

[2022-02-08 08:26] pandamicro commented on #9468
@thinhlv Which device have you tested on ?

[2022-02-10 06:00] igt-dbrett opened #10069 "Cocos Dashboard 1.0.20 may not add older projects to the project view"
Sorry if this isn't the right place for this but I couldn't find anywhere else to put this.

### Creator version?（版本号）
Cocos Creator Dashboard 1.0.20

### Affected platform?（受影响的平台）
Windows

### How to reproduce?（如何重现）
Try to add a project where the project.json does not specify the version (for me this was a project originally created on 1.9.7)

### JavaScript output or error produced?（报错信息和调用栈）

[2022-02-11 09:21] ccbbsccbbs opened #10085 "node.ts的641行，注释错误"
应该是rot
而现在是trans
`
/**
     * @en Perform a rotation on the node
     * @zh 旋转节点
     * @param trans The increment on position
     * @param ns The operation coordinate space
*/
`

[2022-02-14 06:48] zyqq commented on #1552
2.4.5 打包安卓，手机系统语言设置繁体返回的cc.sys.language是en，languageCode是en-us

[2022-02-15 02:13] zyqq opened #10107 "[2.4.5] Language is set traditional Chinese, return value of cc.sys.language is en, and the languageCode is en-us on Android."
### Creator version?（版本号）
2.4.5

### Affected platform?（受影响的平台）

安卓12 oppo reno5pro
### How to reproduce?（如何重现）
手机系统语言设置繁体返回的cc.sys.language是en，languageCode是en-us
![anzuofanti](https://user-images.githubusercontent.com/15664576/153979420-f411eaf4-b2b2-49bf-8487-bd5de750aa26.png)

### JavaScript output or error produced?（报错信息和调用栈）

<img width="1168" alt="cocosdabao" src="https://user-images.githubu

[2022-02-15 02:15] zyqq commented on #10107
补充测试：vivo 安卓10设置繁体就返回正常，android stuiod打包也正常，oppo安卓12如果语言列表里除了繁体以外没有简体以及英文也返回正常
因此考虑是cocos打包对安卓12有影响，会导致系统错误判断不支持的语言导致返回下一个语言

[2022-02-20 15:56] jareguo commented on #10069
It seems like Dashboard does not support project older than 2.0.0 @chichinohaha

[2022-02-21 02:14] chichinohaha commented on #10069
Add the Version field to the configuration file as follows
[code]

[2022-02-21 03:28] SantyWang commented on #10756
Should change label texture's WrapMode to Clamp

[2022-02-21 10:09] SantyWang commented on #10085
感谢反馈，已修复

[2022-02-21 10:09] #10085 closed, assigned to LinYunMo

[2022-02-22 02:14] igt-dbrett commented on #10069
I know I can do that but it'd be great if the dashboard would still load the files without it.

[2022-02-24 07:43] PPpro opened #10171 "自动图集被打包到了多张图片上"
场景 demo [SceneRef.zip](https://github.com/cocos-creator/engine/files/8130545/SceneRef.zip)

问题描述：
自动图集勾选了过滤没被使用的资源后，被场景引用的资源和被Prefab引用的资源会被分别打成两张图集，如果不够选的话就会被合并打到一张图集上

从打包的结果上看，应该是按单个资源扫描自动图集的依赖了
![0](https://user-images.githubusercontent.com/17872773/155480029-35a7b3c6-1b9e-4c95-b9dd-f7c3560ab078.jpg)
<img width="316" alt="1" src="https://user-images.githubusercontent.com/17872773/155480097-6157

[2022-02-24 07:56] knoxHuang commented on #10171
这个是由于 prefab 放在了 resources 下，它所依赖的资源，被打包到 resource 的 bundle 中，才导致出现出现该 issue 的情况

[2022-02-24 07:56] #10171 closed, assigned to knoxHuang

[2022-02-25 11:39] obraz29 commented on #9871
Hi, i couldn't reproduce using your demo, we decide to update to v3.4.1 and the bug appear on Android platform with same steps
![android](https://user-images.githubusercontent.com/52654061/155709172-563e8dd8-e3d0-4b9c-9827-51a51e8f35ef.jpg)
.

[2022-02-25 22:39] Ronsku opened #10194 "Feature Request - Support Spine 4 (with WebP image export)"
Finally WebP has been added as support for Spine in 4.1.20-beta version. When this verison comes out of beta it would be amazing for Cocos to finally also upgrade to Support Spine 4. It would be good at the same time to take a look at the Typings for Spine, because they are not so up to date, even in the latest CC 4.3.1.

![image](https://user-images.githubusercontent.com/7983358/155812603-9ab7ca0

[2022-02-26 15:22] jareguo commented on #10194
Thanks. Consider upgrading in 3.5 @holycanvas

[2022-02-28 02:47] minggo commented on #10107
@timlyeee 有时间看下这个问题。

[2022-02-28 03:10] SantyWang commented on #10194
@zhakesi Please research about Spine 4.x

[2022-03-01 08:18] obraz29 commented on #9871
Hello @yeshao2069 @zhakesi  , i'm sending you a small demo. Hope it helps you find the issue. The bug occurs on cocos v3.4.0, v3.4.1 (android platform), due to NDA, i removed image of spines.
Step:
- Run apk and press Test button (auto load & release spine continuously)
- The app is crashed after serveral load & release spines (sometimes it takes longer, in our project the game crashed after 3-5 t

[2022-03-01 10:11] chenenyu opened #10521 "V8 static library compiling error"
你好，我现在有个需求，就是在已有的ios项目中集成cocos，我用cc导出ios工程后，编译出了libcocos2d.a和其他资源，放到了自己的ios项目里(包括external里的一堆.a)，然后在编译自己的工程时，会报v8的错误：
![image](https://user-images.githubusercontent.com/6647088/156149652-05977ea0-6a95-45bc-aa32-cdcf750e87e8.png)

版本：cc 3.4.1

请问可能是什么原因呢？

[2022-03-02 01:50] minggo commented on #10521
libcocos2d.a 本身也会去链接它依赖的第三方库，这些库的内容不在 libcocos2d.a 里，所以你还得去链接引擎本身依赖的第三方库。

[2022-03-02 01:53] chenenyu commented on #10521
是指`engine-native-external`里的那些静态库吗？我也放进来了，现在除了v8这个报错，没有其他库的报错信息了

[2022-03-02 01:55] minggo commented on #10521
是那些库。你得看看代码是否有真的链接 v8 库。

[2022-03-02 02:22] chenenyu commented on #10521
目前是确定v8链接进来了，如果没有的话，会有很多报红：
![image](https://user-images.githubusercontent.com/6647088/156282297-f3a659c8-0e86-40db-a657-3a02069e1338.png)
现在不知道是不是cmake配置有问题，导致只有这两处报错

[2022-03-02 03:14] minggo commented on #10521
@PatriceJiang 你有什么想法吗？

[2022-03-02 03:18] PatriceJiang commented on #10521
@chenenyu 你们有调用 v8 的接口吗?

[2022-03-02 03:20] chenenyu commented on #10521
@PatriceJiang 没有，目前只是在调用Game类做最简单的尝试

[2022-03-02 03:39] PatriceJiang commented on #10521
用 objdump 看看 libv8_monolith.a 里面有没有对应的接口

[2022-03-02 04:01] chenenyu commented on #10521
![image](https://user-images.githubusercontent.com/6647088/156292603-77f889c6-4717-44cb-8f97-dfc1906c1813.png)

[2022-03-02 12:26] Ronsku opened #10231 "Bug: CC3.4.1 - Spine Blending Mode Additive"
Spine-Cocos bug to this ticket:
In CC 3.4.1

In Spine when using "Blending: **Additive**"
![image](https://user-images.githubusercontent.com/7983358/156362108-fea6387d-610a-41e3-aea9-50845e812b66.png)

and
in Cocos sp.Skeleton component **SHARED_CACHE**
![image](https://user-images.githubusercontent.com/7983358/156362151-186687de-e1c6-4198-a8e3-7d30e1e5d3b6.png)

The blending mode from Spine doesn

[2022-03-03 01:48] PatriceJiang commented on #10521
试试 ` -all_load` 或者 `-force_load`

[2022-03-03 10:26] obraz29 commented on #9871
Hi @yeshao2069 could you have a look ? Thank you so much

[2022-03-04 02:48] chenenyu commented on #10521
没有效果。自己的demo跟ccc里面的ios template不一样，没有使用cmake那一套编译体系，不确定这个有没有影响

[2022-03-04 03:11] PatriceJiang commented on #10521
这两个符号确实没找到定义.. 你试试 3.3 版本, 用的是旧版本的 v8.

[2022-03-04 04:17] chenenyu commented on #10521
我把3.3.2依赖的外部库丢进去，又会出现新的报错：
![image](https://user-images.githubusercontent.com/6647088/156698384-aac79769-9264-4446-8690-981121f280fb.png)

[2022-03-04 04:26] PatriceJiang commented on #10521
看起来像 libv8_monolith.a 没加进去

[2022-03-04 06:05] Camouflager opened #10240 "TiledLayer updateCulling bug with 3D camera"
### Creator version?（版本号）
2.4.8

### Affected platform?（受影响的平台）
All

### How to reproduce?（如何重现）
TiledMap组件和3D相机同时使用时TiledMap不显示

### JavaScript output or error produced?（报错信息和调用栈）
无报错

https://github.com/cocos-creator/engine/blob/22ca6465effd8063cb95e509843b8bef3d880759/cocos2d/tilemap/CCTiledLayer.js#L820-L840

https://github.com/cocos-creator/engine/blob/22ca6465effd8063cb95e509843b8bef3d880759

[2022-03-04 09:50] chenenyu commented on #10521
@PatriceJiang 3.3.2好像可以了，请问下个版本会修复v8的这个问题吗？

[2022-03-04 10:05] PatriceJiang commented on #10521
暂时没有遇到类似的问题,  我们也会尝试定位

[2022-03-05 09:30] Camouflager commented on #10240
前面描述有误，应该是`_vec2_temp.z`的值在camera.js里被out写入了，导致了后面的计算错误。

[2022-03-07 03:24] Camouflager commented on #10240
进一步的测试发现：3d相机的tiledmap裁剪整体是有问题不能用的？

[2022-03-08 03:55] jareguo commented on #10240
抱歉 2.x TiledMap 确实是不支持 3D 相机的，包含裁剪功能在内。
由于资源有限，2.x 不会在 3D 方面继续添加维护了，实在抱歉，如果有其它问题欢迎继续提 issue。
建议你升级到 3.x，可以参考 test-case 里面有一个 2d-rendering-in-3d 的测试用例。

[2022-03-08 03:55] #10240 closed, assigned to nobody

[2022-03-08 06:04] jareguo commented on #9353
已在 3.5 优化

[2022-03-08 18:23] cardinalblues7 opened #10265 "3.4.1 - CocosCreator Custom build extension not reload when hitting reload button"
### Creator version?（版本号）
3.4.1

### How to reproduce?（如何重现）
Modify the standard custom build template, recompile and reload in the creator build tab,It's just not reflecting changes.The workaround for now is restart the ide, it works fine after that.

[2022-03-09 04:13] obraz29 opened #10269 "Lost all sounds after reject calls"
Hello cocos team, please take time to have a look on this sound issue.

### Creator version?
Cocos v3.4.1, cocos 3.4.0

### Affected platform?（受影响的平台）
iOS

### How to reproduce?（如何重现）

1. Receive a call while game is running & reject the call, the sound resume normally.
2. Minimize the game => receive a call & reject.
3. Resume the game and all sound lost.

[2022-03-09 09:18] zhakesi commented on #10231
Thanks a lot for your bug report. This bug will be fixed in version 3.4.2
You can try again after the new version released. If 'SHARED_CACHE' mode still can't work with right color, please leave a message
zhakesi@foxmail.com

Thanks!

[2022-03-09 09:18] #10231 closed, assigned to zhakesi

[2022-03-09 12:09] Ronsku commented on #10231
Thanks @zhakesi!

[2022-03-11 04:17] koyoter opened #10313 "A bug in cc.tween"
https://github.com/cocos-creator/engine/blob/a4723efbdf10d575f69efc807278b585270cab60/cocos2d/actions/tween.js#L262

const v = 0;
  cc.tween(v).to(0.25, 1, {
      onUpdate: (start: number, end: number, current: number, ratio: number) => {
          cc.error(start, end, current, ratio);
      },
  });

因为 0 是符合 !target，所以 0-1 这种就执行不了。

[2022-03-11 08:26] yeshao2069 commented on #9017
使用最新的  cocos creator 3.4.1 版本排查问题。
用户demo上的直接挂载prefab到层级管理器上，用户的动画 帧事件，没有挂载事件帧回调的脚本导致在微信小游戏上无法正常触发帧事件。
处理方法：
在预制体上挂载必要的 PlayerEvent 脚本（事件帧回调函数 onSound 在该脚本中）
![195E348ABD61353551493BE3551BF368](https://user-images.githubusercontent.com/14273437/157829143-2f151c79-cad0-43a9-b961-47b410f6b879.png)
![9439EF985E83863A76F539517B9B7891](https://user-images.githubusercontent.com/14273437/157829158-792e99

[2022-03-11 08:26] #9017 closed, assigned to yeshao2069

[2022-03-14 03:23] az198071123 opened #10331 "[2.4.8] FPS In the latest version of Chrome vs Firefox, Chrome is noticeably inefficient"
### Creator version?（版本号）
2.4.8

### Affected platform?（受影响的平台）
Web

### How to reproduce?（如何重现）
測試機器：MacBook Air M1，macOS 12.2.1
測試手法：開 3 個 iframe 載入 cocos 遊戲

比對最新版 Chrome （99.0.4844.51）與 Firefox (98.0)
FPS 在 Chrome 裡只剩 20 (隨著場景複雜度下會更低)
而 Firefox 是穩定保持 60 FPS

目前確定是在 Chrome 最近 2022.02~03 某幾版更新後開始明顯效能低下

如果還需要更多測試，請在跟我說，感謝你們。

[2022-03-14 04:04] #9871 closed, assigned to zhakesi

[2022-03-15 11:50] yeshao2069 commented on #9458
这个存在2个问题。
1、 提供的 人物模型.FBX 和  动画.FBX 的动画本身效果不是对的，这个可以把模型和动画导入到3D MAX中进行查看。
![bbb](https://user-images.githubusercontent.com/14273437/158371934-4d87a4d6-c0fd-40c0-bc30-04b21a0d405d.gif)

2、提供的.max 工程文件中的动画效果是对的，在导出FBX的时候，导出需要勾选 烘焙动画，开始时间选择 0 结束时间选择 59 步长 1 (和动画的时间轴对应)，表现正常。
![0BD21E4C4651019C91AF7C84FF42BF2F](https://user-images.githubusercontent.com/14273437/158372280-14ce2bae-cc3a-49ab-a44b-6ddcd5

[2022-03-15 11:53] #9458 closed, assigned to yeshao2069

[2022-03-15 12:15] koyoter commented on #10313
https://github.com/cocos/engine/blob/a4723efbdf10d575f69efc807278b585270cab60/cocos2d/actions/tween.js#L276

这里也有点问题，开发环境不会报错，如果打包的就会报错。如果说 target 不能为 object 另说了。

[2022-03-15 18:53] Ronsku opened #10353 "CC 3.4.2 - Replace Splash Screen Issue"
If your goal is to have your players into the game as soon as possible you cannot really do it properly.

Everything defaults to 3000s delay before game starts. If you configure like below it will replace the image with a Cocos Creator 64bit encoded image and still run 3000ms.
![image](https://user-images.githubusercontent.com/7983358/158449501-2b5554a1-b4f7-4ea4-988f-32c43a84e89c.png)

The best h

[2022-03-15 19:09] Ronsku opened #10354 "CC3 Engine Code double size from CC2"
In CC3 the cc.js engine file seems to be quite a bit larger than in CC2. It's still huge after disabling all the features I don't need.
Are you looking into making it smaller or isn't it possible?

CC3 (2200 KB)
![image](https://user-images.githubusercontent.com/7983358/158453059-1bae09c3-e25d-4639-8c2e-9e6822da14bf.png)

CC2 (1011 KB, Over 100% smaller!)
![image](https://user-images.githubusercon

[2022-03-16 09:38] zxx43 commented on #9999
tempVec3.z = Quat.getAxisAngle(this._rotationAxis, node.worldRotation);
        if (this._rotationAxis.z < 0.0) {
            tempVec3.z = Math.PI*2-tempVec3.z;
        }
        bodyDef.angle = tempVec3.z;

最好是这么改，只要旋转轴为负，旋转方向就反一下

[2022-03-16 16:51] Ronsku opened #10377 "CC 3.4.2 - WebP support on iOS"
WebP format has been supported in Safari iOS for a long time, but still even in Cocos Creator 3.4.2 you cannot run WebP images on an iOS device when you build a web-mobile game.
https://caniuse.com/?search=webp
![image](https://user-images.githubusercontent.com/7983358/158643866-93d7f377-de92-4161-9cf9-94b5e748b627.png)

Testing a .webp image on an iOS Safari/Chrome browser works just fine
Random

[2022-03-17 02:02] SantyWang commented on #9999
将在 3.5 修复

[2022-03-17 02:02] #9999 closed, assigned to zxx43

[2022-03-17 02:32] minggo commented on #10269
@obraz29 thanks for feedback. Can i know the device and OS version?

[2022-03-17 04:29] obraz29 commented on #10269
Hello, i'm using iOS 15.3.1, sorry for missing information

[2022-03-17 04:35] obraz29 commented on #9871
We merged this pull and the issue is resolved,
https://github.com/cocos/cocos-engine/pull/10314

[2022-03-17 08:00] obraz29 opened #10383 "Spine Animation is flashing on first frame"
Hello cocos team, please have a look on this graphic issue,

### Creator version?（版本号）
Cocos 3.4.2 (not occurs on 3.4.1)

### Affected platform?（受影响的平台）

Web Browser

### How to reproduce?（如何重现）
1. Unactive the spine node.
2. Acitve the spine node & set animation
3. See the spine is trashing pixel on first frame. (see video)

### JavaScript output or error produced?（报错信息和调用栈）

No Error

### Demo p

[2022-03-17 08:40] pandamicro commented on #10756
Could be related to pixel alignment, user says he can fix it by keeping the label position rounded

[2022-03-17 08:55] novain1102 commented on #10269
not reproduce, seems normal.

reject is ok, but receive will lead to mute, working on it.

Enviroment: iPhone 12, iOS 15.3, Creator Version 3.4.2

[2022-03-17 10:25] obraz29 commented on #10383
We merged the pull #10349 and the issue is solved, fyi.

[2022-03-18 09:06] yeshao2069 commented on #9833
同步

直接调用 OPPO小游戏平台的 toTempFilePath API 编写测试例，在当前OPPO最新版本调试器 V4.9.1 中, 可复现该问题。
https://activity-cdo.heytapimage.com/cdo-activity/static/201810/26/quickgame/documentation/#/games/use
将与 oppo 反馈该问题。
临时处理方案，可通过接口中的 destWidth 与 destHeight 属性来控制生成图片的大小

[2022-03-18 09:14] yeshao2069 commented on #9257
目前 Cocos Creator 在烘焙光照贴图的时候，需要模型带第二套UV 用于烘焙 LightMap，目前引擎没有自动提供 展开UV的功能。已经反馈该需求了。

[2022-03-18 09:52] obraz29 commented on #10269
@mmyduckx i mean if you follow all 3 steps (1=>2->3) the sound will be lost, thank you for your fix, i will merge and recheck my case.

[2022-03-18 09:55] novain1102 commented on #10269
Please try the PR above and feel free talk to me.

[2022-03-21 03:56] minggo commented on #10269
Close this issue. Please reopen if still have problem.

[2022-03-21 03:56] #10269 closed, assigned to novain1102

[2022-03-21 07:08] cj841192685 opened #10420 "Are there plans to support Mac M1 for versions below creator 2.4.5? And v2.0.9 works."
### Creator version?（版本号）
2.2.0

### Affected platform?（受影响的平台）
Mac M1

### How to reproduce?（如何重现）
无法启动编辑器，或者报Error: This browser does not support webGL. Try using the canvas renderer

[2022-03-21 07:17] deadwin opened #10421 "cocos2.4+ a but with node.once()"
[链接](https://github.com/cocos/cocos-engine/blob/22ca6465effd8063cb95e509843b8bef3d880759/cocos2d/core/CCNode.js#L2108)
对任意一个`cc.Node`使用`once`如`touchend`和一个回调，再对同一个`cc.Node`使用`off`同一个回调。每次操作，都会多出一个匿名once函数，导致第二次对同一个`cc.Node`使用`once`和同一个回调，因为事件优先级原因，出bug。
该bug的表现是node._bubblingListeners._callbackTable["touchend"]存着越来越多的once匿名函数，第二次及以后的回调无法触发。
问题代码：
[code]

[2022-03-21 11:52] SantyWang commented on #10383
merged into v3.5

[2022-03-21 11:52] #10383 closed, assigned to nobody

[2022-03-22 03:04] pandamicro opened #10438 "Light map baking result is not preview-able"
### Creator version
v3.4.1

### Affected platform?
Editor

### How to reproduce?
Bake light maps and preview baked result

![image](https://user-images.githubusercontent.com/632460/159399631-e3fd6000-14ad-4a62-b60a-429fd627165f.png)

[2022-03-22 04:36] obraz29 commented on #10383
Hi @holycanvas, after merging this pull, we sometimes get this error when playing spine, could you have a look
![offset](https://user-images.githubusercontent.com/52654061/159408902-6424a353-5f24-4fe6-a1f8-da0525ff90b7.jpg)

[2022-03-22 11:09] #9283 closed, assigned to linruimin

[2022-03-23 02:38] zhefengzhang commented on #9262
@junlas Hi, regarding the issue of rendering exceptions for blender exported models, the editor will provide a better import mechanism in version 3.5.1. Version 3.5.1 is expected to be released in May 2022.

[2022-03-23 06:38] timlyeee opened #10458 "Investigate websocket power consumption issue on iOS"
For iOS game, **Energy Impact** showed by XCode profiler is extremely high when websocket is enabled and used.

![image](https://user-images.githubusercontent.com/43355299/159637546-e8bb7347-2778-4c9a-a524-548fce3f727c.png)
![image](https://user-images.githubusercontent.com/43355299/159637553-836ba11b-9253-4a2d-94f0-55b87ff9f88e.png)

This happens on cocos-engine 2.x and 3.x, as we use SocketRocke

[2022-03-23 08:20] yjwSurCode opened #10461 "How is cc3 cocos creator 3D embedded in Vue or react"
cocos creator2.x can be embedded in Vue or react projects

[2022-03-23 08:20] yjwSurCode commented on #10461
no iframe

[2022-03-23 09:12] qiuguohua opened #10465 "Link error when running virtualizer on ios"
![26c9802b966633061ae4c302f449c2f9](https://user-images.githubusercontent.com/5205637/159663720-4d87e784-ac0e-4c33-a868-2aae120f3efb.jpg)

[2022-03-24 06:49] timlyeee commented on #10465
Did it once, but not merged. dum....https://github.com/cocos/cocos-engine-external/pull/200

[2022-03-24 07:19] minggo commented on #10465
oops, i forgot to merge it? @timlyeee could you please notice me if i forgot  in future.

[2022-03-24 07:19] #10465 closed, assigned to novain1102

[2022-03-24 07:21] minggo commented on #10377
Thank you for feedback. I will ask somebody to take a look.

[2022-03-24 07:28] minggo commented on #10354
@Ronsku yep, we are still trying do more effort on it. Can i know where will you publish your games?

[2022-03-24 07:30] minggo commented on #10331
Thanks for feedback. Could you please use english in future? Thanks.

[2022-03-24 08:01] pandamicro commented on #10331
Could this be related to requestFrameAnimation implementation ? If you only open two iframe, will the frame rate change to 30 fps ? And if you have four iframe, is the fps 15 ?

[2022-03-24 08:36] minggo commented on #10420
Sorry, there is not plan. And please use english in future. Thanks.

[2022-03-24 08:36] #10420 closed, assigned to nobody

[2022-03-24 08:44] #9833 closed, assigned to nobody

[2022-03-24 08:45] heyanfei commented on #9500
使用hellword工程在iPhoneXR（14.5）和iPhoneSE(13.5.1)两台手机上进行验证均正常，Creator版本3.3.1；

[2022-03-24 08:58] timlyeee commented on #10458
# Summury

The investigation will start by comparing different 3rd party libraries, then different game engines. By comparing the average battery impact and network energy usage proportion.

## SocketRocket vs libwebsocket vs nw_connection_t

### Cocos2.4.x+SocketRocket vs SocketRocket official demo

We compared the energy impact of the SocketRocket library between our game and the official demo.

[2022-03-24 08:58] #10458 closed, assigned to timlyeee

[2022-03-24 09:01] minggo commented on #10458
Good job @timlyeee

[2022-03-24 09:29] minggo commented on #10377
We use the codes to check if support webp as suggested in [this topic](https://stackoverflow.com/questions/5573096/detecting-webp-support):
[code]

The codes works on chrome. But it does not work on safari. The result of `_tmpCanvas1.toDataURL('image/webp')` is
[code]

[2022-03-24 10:01] minggo commented on #10461
Any problem to integrate with them?

[2022-03-24 10:18] Zhmz commented on #10756
https://github.com/cocos/3d-tasks/issues/8825
Related issue
It could be related to uv offset, should first find correct baselineratio before handle this issue

[2022-03-25 01:19] Ronsku commented on #10377
Thank you @minggo!
Yes, I've noticed it now, tested it myself. That's very strange on iOS safari!
Very much appreciated that you look into this. I will also investigate and report back if I find anything useful.

[2022-03-25 01:21] Ronsku commented on #10354
Thanks @minggo, great to hear!
I only publish for **web-mobile** platform, let me know if I can help testing in any way.

[2022-03-25 01:40] swcleo opened #10487 "The value of node.angle is not as expected after invoking setRotation"
### Creator version?（版本号）

cocos creator 3.4.2

### 問題

使用 `angle` 來計算2d位置時，發現與預計數值不相符，查看了一下原始碼，在設定旋轉方法時會使用 `_eulerDirty` 判斷是否需要四元數的轉換，不過在使用 `angle` 時沒有特別的檢查是否需要轉換，想詢問一下是否有什麼考量？

[code]

[2022-03-25 02:20] Zhmz commented on #10756
![image](https://user-images.githubusercontent.com/32831993/160040686-45377f52-b0cb-49b6-8fcf-12eb993e373e.png)
Condition to reproduce:
1. ttf font (cachemode none)
2. content size <= width of all characters

![image](https://user-images.githubusercontent.com/32831993/160040892-3af4a4f6-a0fc-4985-b806-b97984c6d2c9.png)

[2022-03-25 03:08] minggo commented on #10377
It's my pleasure.
Yep, it is strange, macOS safari can not work too. May be should treat safari separately if can not find a general method.

[2022-03-25 03:12] minggo commented on #10354
Thanks @Ronsku , i will ask your help if needed.
Can i know more about the web-mobile platform? What's the limitation of the platform, for example, size limitation. And how can you earn money from it?

[2022-03-25 03:32] Zhmz commented on #10756
![image](https://user-images.githubusercontent.com/32831993/160048602-e5543252-3da7-4c89-8078-a348c76a82d2.png)

User provided an idea to adjust all position of label to integer, it helps to improve clarity, but not helping with the edge artifact
用户提供的思路应该是解决字体不清晰，而不是由虚边的问题，虚边问题我自己手动调pos为整数同样不会消除。

[2022-03-25 03:40] lulier opened #10494 "Use invalid index in SkinnedMeshBatchRenderer._createUnitMesh()"
**版本号**
3.4.2
**问题**
在_createUnitMesh中，下面这段代码的目的是找到每个vertexBundles中uv的offset，把结果保存在modifiedBundles中，用于在后面获取uv的具体数据。
但是modifiedBundles的下标写错了，应该是跟当前查找的vertexBundles是对应的，也即primitive.vertexBundelIndices[bundleIdx]，而不是bundleIdx，同理newMeshStruct.vertexBundles的下标也应该是primitive.vertexBundelIndices[bundleIdx]
**问题代码**
[code]

[2022-03-25 03:46] yjwSurCode commented on #10461
![Uploading image.png…]()

Do you have this problem？

[2022-03-25 03:50] yjwSurCode commented on #10461
CC. Generated by cocos package How to introduce JS

[2022-03-25 03:51] yjwSurCode commented on #10461
cc.js:1 Uncaught (in promise) TypeError: Wn.btDefaultCollisionConfiguration is not a constructor
    at new e (cc.js:1:823907)
    at new e (cc.js:1:741365)
    at cc.js:1:744628
    at cc.js:1:744707
    at t.emit (ammo-instantiated-07963f79.js:1:125986)
    at t.n._initOnRendererInitialized (ammo-instantiated-07963f79.js:1:1100076)
    at t.emit (ammo-instantiated-07963f79.js:1:125968)
    at t.

[2022-03-25 05:44] minggo commented on #10461
@shrinktofit any idea?

[2022-03-25 06:16] minggo opened #10502 "发布时不带 QNX 相关代码"
目前 QNX 的适配代码放在公开的仓库里，会随着编辑器打包发布。和 林顺 确认后，这些适配代码不能发布出去。

可能的解决方案是：
- 放私有仓库里，和 NX 适配类似
- 打包时动态过滤代码。不过改方案需要修改编辑器打包流程，且容易遗漏，感觉不是很好。

因为该任务是临时插入的，可以第一轮提测后再解决。

[2022-03-25 07:59] Ronsku commented on #10231
Yes, it seems to work now properly in 3.4.2! Thanks :)

[2022-03-25 08:58] yeshao2069 commented on #9203
We will optimize this smart tip in version 3.5.0, there is a problem but it is not a bug, thanks for your feedback.

Fixed PR:  https://github.com/cocos/cocos-engine/pull/10484

[2022-03-25 09:19] Ronsku opened #10505 "CC 3.4.2 - Sprite rename bug"
Version CC 3.4.2
https://user-images.githubusercontent.com/7983358/160091989-b14156aa-d28d-431a-a98d-7b33299b8731.mp4

- Clean new empty project
- Drop in the spriteFrame
- It is visible
- Rename it
- It is not visible anymore, linking still OK.

Scene, canvas and camera default settings:
![image](https://user-images.githubusercontent.com/7983358/160092207-ec413664-537a-40fe-a72f-e50d5d5acbde.png)

[2022-03-25 09:53] pandamicro opened #10506 "v3.5 Change Log"
v3.5 Community Test Version, welcome for testing and feedbacks.

Currently the release note haven't been formed in structure, please refer to the following comments.

## Download ver.041815

* [Windows](https://download.cocos.org/CocosCreator/v3.5.0/CocosCreator-v3.5.0-win-041815.zip)
* [Mac OS X](https://download.cocos.org/CocosCreator/v3.5.0/CocosCreator-v3.5.0-mac-041815.zip)

[2022-03-25 10:41] Ronsku opened #10507 "CC 3.4.2 - Animation Editor Bugs"
CC Version: 3.4.2

There are tons of weird behavior in Cocos Creator Animation tool for version 3.4.2. Here are a few listed below.

- Cannot drag the timeline-line by dragging at the time-area, have to click on the actual timeline to drag it
https://user-images.githubusercontent.com/7983358/160093165-18c44d4e-7061-4075-82b0-089f24fa0203.mp4

- Buggy behavior on moving keyframes unless you double-

[2022-03-25 14:12] qiuguohua opened #10510 "Put main.cpp in the template"
Put main.cpp in the template, because developers can customize platform-related things, such as interface addition and modification, platform initialization, etc.

[2022-03-26 10:16] jareguo commented on #10519
Sorry for the late reply, please test it with the latest version?

[2022-03-26 12:20] minggo commented on #10520
@qingwabote yep, there are duplicated. We should remove one.

[2022-03-26 15:30] star-e opened #10528 "refactor gfx::FramebufferInfo"
Currently gfx::FramebufferInfo hashes pointer, which might be invalidated.
We should use stable keys such as uuid、full descriptors to index framebuffer.

related pr & issues:
https://github.com/cocos/cocos-engine/pull/10525
https://github.com/cocos/cocos-engine/pull/10359
https://github.com/cocos/3d-tasks/issues/11549

[2022-03-27 04:32] stanleyljl opened #10529 "Shader compilation process optimization"
1, A better way is to automatically generate ts and c++ shaders at the same time through BuildEffect, or even fully automate it. For example, if a shader is modified, the editor will **automatically reload & compile**, which can greatly improve development efficiency.
2, Now to generate the C++ version of the shader, you need to right-click the builtin-res project in vs2019 to generate, the first

[2022-03-27 09:30] arsen2010 commented on #10438
![企业微信截图_1648373043883](https://user-images.githubusercontent.com/13517177/160275416-5c3712ae-7d09-4d7a-a674-6deca3f9c1ee.png)

用地形节点 + main light 测试正常，上述 issue 截图是有两张烘焙图，是怎么操作的，需要更具体些的信息

[2022-03-27 17:19] yeshao2069 commented on #9833
OPPO 侧修复该问题的版本已全量发布，可进行验证

[2022-03-28 01:36] zhefengzhang commented on #10438
正在找用户了解更多情况，如有必要会找用户要工程。

[2022-03-28 02:23] minggo commented on #10510
What's current implementation of main.cpp

[2022-03-28 02:28] qiuguohua commented on #10510
Currently it is implemented inside the engine.
The main job of main.cpp is to initialize the platform.

[2022-03-28 02:31] minggo commented on #10510
Yep, i agree put main.cpp in template if we will not change it.

[2022-03-28 05:37] ChannuKonin commented on #10438
In one scene, there are 11 sphere lights and 2 directional lights. In another scene, there are just two directional lights. The lighmapping generates too many images and some of them are not previewable. I followed this https://docs.cocos.com/creator/manual/en/concepts/scene/light/lightmap.html?h=lightmap to do lightmapping. All models have secondary UVs and all materials have Use lightmap checked

[2022-03-28 05:50] SantyWang commented on #10529
in 3.6, we will remove built-in effect compiling process and hand it over to editor

[2022-03-28 08:29] qiuguohua commented on #10510
This design mostly retains the original design because
(1) The platform and the application are isolated
(2) Some platforms do not have main (android platform)
(3) Realized by empty platform

[2022-03-28 08:55] Ronsku commented on #10354
@minggo, No limitations really, just like any website or software you want it to be loading as fast as possible to your users. Doubling the size of the engine causes bigger loading times and a worse user-experience. Earnings comes from user satisfaction and from the same logic as loading a webpage. If the webpage you are going to is loading for too long you might leave it and the company would los

[2022-03-28 09:01] minggo commented on #10354
@Ronsku thanks for the information. How long it takes based on your testing? And what's the loading time is acceptable?

[2022-03-28 09:38] PPpro opened #10545 "Support audio playback rate feature"
need to implement playback rate interface on
- [ ] native platforms
- [ ] web platforms (thanks @mikecoker https://github.com/cocos/cocos-engine/pull/9751)
- [ ] ~~minigame platforms~~ (cannot supported)

[2022-03-28 09:41] qiuguohua opened #10546 "Optimization of context2d text rendering"
1. The current canvas implementation is inconsistent across different platforms
2. There are some legacy interfaces that have been kept inside

[2022-03-28 18:09] #9257 closed, assigned to linruimin

[2022-03-29 02:14] qiuguohua opened #10555 "Modify the application interface name and remove the js keyword"
Later, our script may support lua or other scripts, so remove the js keyword

[2022-03-29 07:43] qiuguohua commented on #10555
[PR](https://github.com/cocos/cocos-engine/pull/10556)

[2022-03-29 07:47] #10555 closed, assigned to qiuguohua

[2022-03-29 07:48] minggo commented on #10487
@swcleo could you please use english? We will use github issues as our main issue system, and we want developers all over the world can joint the discussion.

[2022-03-29 07:48] qiuguohua commented on #10510
https://github.com/cocos/cocos-engine/pull/10556

[2022-03-29 07:48] #10510 closed, assigned to qiuguohua

[2022-03-29 07:50] minggo commented on #10546
@qiuguohua could you please describe it in more detail?

[2022-03-29 07:50] qiuguohua opened #10567 "Bug when creating windows restart"
When restarting, the window will be created repeatedly

[2022-03-29 07:50] qiuguohua commented on #10567
https://github.com/cocos/cocos-engine/pull/10566

[2022-03-29 07:50] minggo commented on #10546
@bofeng-song please take a look of it too.

[2022-03-29 08:14] minggo commented on #10353
@holycanvas is there a way to skip splash screen?

[2022-03-29 08:16] minggo commented on #10521
@chenenyu please ask it in forum: https://forum.cocos.org/. This is for issues.

[2022-03-29 08:16] #10521 closed, assigned to PatriceJiang

[2022-03-29 08:20] shrinktofit commented on #10461
Could you upload your demo code?

[2022-03-29 08:33] bofeng-song commented on #10546
What does Canvas means here? Context2D ?

[2022-03-29 09:23] #10567 closed, assigned to qiuguohua

[2022-03-29 09:55] shrinktofit commented on #10506
- [FEATURE] Animation graphs are now able to add more layers and here comes an new kind of asset: animation mask, to mask off bones on specified layer. https://github.com/cocos/cocos-engine/pull/10179

- [FEATURE] Trigger variables now have attribute called "Reset next frame". https://github.com/cocos/cocos-engine/pull/10179

- [BREAKING CHANGE] Now effectively change to `SkeletalAnimation.prototy

[2022-03-29 10:00] speakissilver opened #10574 "[3.4.2] Static_assert failed due to requirement 'sizeof (*to) == 8' error with iOS packaging(Archive)"
![image](https://user-images.githubusercontent.com/59194019/160586262-7af07f87-92e9-4191-ac7a-ed5bd6ee40b5.png)
请问下这边要怎么修改才能跑通?

[2022-03-29 10:48] hana-alice commented on #10506
- [NEW FEATURE] Game Frame Pacing Library:Swappy is available on android, both GLES and Vulkan.

[2022-03-29 10:57] Zhmz commented on #10506
- [NEW FEATURE] Support vertical alignment in richtext component.
https://github.com/cocos/3d-tasks/issues/9984
- [FIX BUG] Update the split algorithm when the size of richtext input content is over 2048.
https://github.com/cocos/3d-tasks/issues/10487
- [FIX BUG] Update the split condition of richtext truncations.
https://github.com/cocos/3d-tasks/issues/10454
- [FIX BUG] Avoid endless loop when f

[2022-03-29 11:56] yiwenxue commented on #10506
* [NEW FEATURE] Add a new format feature query interface.
    https://github.com/cocos/3d-tasks/issues/8203#issue-952522263
* [NEW FEATURE] New method to select mipmap range dynamically during runtime.
    https://github.com/cocos/3d-tasks/issues/7952#issue-932233523

[2022-03-29 12:12] novain1102 commented on #10506
- [FIX BUG] Fix iOS Simulator compile error when using TBB on Apple Silicon device https://github.com/cocos/cocos-engine-external/pull/232
- [OPTIMIZE] Remove Deprecated API `HttpClient::setTimeoutForConnect` `HttpClient::getTimeoutForConnect` `HttpClient::setTimeoutForRead` `HttpClient::getTimeoutForRead` in native network module. Please use `HttpRequest::setTimeout` `HttpRequest::getTimeout` ins

[2022-03-30 00:56] qiuguohua commented on #10506
Redesign platform adaptation layer
https://github.com/cocos/3d-tasks/issues/8883

[2022-03-30 01:16] xubing0906 commented on #10506
[NEW FEATURE] Skybox UI optimization.
https://github.com/cocos/3d-tasks/issues/10482

[2022-03-30 05:51] PatriceJiang commented on #10506
[OPTIMIZE] Simplify cmake configurations in the native template.
https://github.com/cocos/3d-tasks/issues/11440
[OPTIMIZE] Reimplement websocket with okhttp on Android.

[2022-03-30 05:52] timlyeee commented on #10506
[NEW FEATURE] Support iPhone compilation in the editor. (Old version: only iPhone-simulator's app can be built. )
relative issue: * https://github.com/cocos/3d-tasks/issues/10309

[2022-03-30 05:55] bofeng-song commented on #10506
fix translucent problem due to SurfaceView‘s limit
#10228

refine context2d, reduce call from native to js
#10211

[2022-03-30 05:55] chichinohaha commented on #10506
[NEW FEATURE] Add fix alpha transparency artifacts option
Fill transparent pixels with color of neareast solid pixel. These filled pixels would fix the dark halos at transparent borders of textures. Please turn on this option when you use the Alpha transparency channel in textures.
![image](https://user-images.githubusercontent.com/59186205/163236440-5b37a68b-f0ec-4038-823f-a7c94724512e.png)
relat

[2022-03-30 05:58] LinYunMo commented on #10506
- [FIX BUG] Opacity dirty bug when parent change (https://github.com/cocos/cocos-engine/pull/10416)
- [FIX BUG] Fix label Blend Factor bug for BYTEDANCE (https://github.com/cocos/cocos-engine/pull/10516)
- [FIX BUG] Clear Particle under UIMeshRenderer when play end(https://github.com/cocos/cocos-engine/pull/10468)
- [FIX BUG] fix ui-mesh-renderer in editor(https://github.com/cocos/cocos-engine/pul

[2022-03-30 06:14] dogeFu commented on #10506
1. fix render error when bakeing lightmap with prefab cocos/3d-tasks#10898
2. fix prefab data lost when exiting animation edit mode to prefab edit mode cocos/3d-tasks#11679
3. fix prefab/scene data may be overwrited when open scene/prefab quickly  cocos/3d-tasks#11446
4. fix warning when clicking on different FBX assets cocos/3d-tasks#11588

[2022-03-30 06:23] zhakesi commented on #10506
* [OPTIMIZE] Spine/Dragon bones socket attachment   ( https://github.com/cocos/cocos-engine/pull/10260  https://github.com/cocos/cocos-docs/pull/2030 )
* [FIX BUG] Fix setting animation not work when creating spine in a hided node (https://github.com/cocos/cocos-engine/pull/10380 )
* [FIX BUG] Fix Spine show a black shadow at first frame ( https://github.com/cocos/cocos-engine/pull/10349 )
* [FIX

[2022-03-30 06:24] MSoft1115 commented on #10506
fix LightFX multi-thread error
change lightmap bake lighting shader method
fix terrain rebuid weight buffer error(https://github.com/cocos/cocos-engine/pull/10470)
fix terrain lightmap warp mode error(https://github.com/cocos/cocos-engine/pull/10470)
add terrain flatten and set height sculpt tool(https://github.com/cocos/cocos-editor/pull/39)

[2022-03-30 06:25] PPpro commented on #10506
[BUG FIX] fix pointer event after camera.orthoHeight changed (https://github.com/cocos/cocos-engine/pull/10496)

[2022-03-30 07:21] yanOO1497 commented on #10506
【Animation Editor】
- [Feature] Support drag or select animation clips directly to the animation editor for editing;
![image](https://user-images.githubusercontent.com/27424848/160778454-486c08be-5db6-45d8-bdc0-6ac65828e982.png)

- [BUG] Fix a series of optimization points related to keyframe operation in the animation editor;

【Build】
- [Feature] Support to add custom texture compress tools in the

[2022-03-30 07:59] SantyWang commented on #10506
* Fix Particle System instantiation performance drop, https://github.com/cocos/cocos-engine/pull/10323

[2022-03-30 08:06] VisualSJ commented on #10506
- [Optimize] In lower-version editors, higher-version assets are allowed to be imported after a warning is thrown
- [Bug] Fixed an issue where the editor extension failed to start and could still be queried
- [Feature] Hide some attributes in a 2D project, when not using 3D modules
    - Hide 3D nodes in the "Creator Node" menu
    - Hide the properties of some of the 3D world in Inspector
- [Bug]

[2022-03-30 08:14] arsen2010 commented on #10506
- [Optimize] Optimizeproperty name display on inspector panel, like 'shadowColor' display 'Shadow Color'  [#10241](https://github.com/cocos/cocos-engine/pull/10241)
- [BUG] Fix bug: reset renderer-component would not update model in the scene [#10342](https://github.com/cocos/cocos-engine/pull/10342)
- [Optimize] Optimize edit material using cache data [#10376](https://github.com/cocos/cocos-engin

[2022-03-30 08:16] arsen2010 commented on #10438
@ChannuKonin  Hello, my local computer can not appear your report bug situation, maybe it relate to generate lightmap times, this panel use browser webGL module and it is broken.

[2022-03-31 00:12] qiuguohua commented on #10546
Yes, it's context2d

[2022-03-31 01:59] PatriceJiang commented on #10574
@speakissilver Is your App's target architecture 32 bits?  Uncomment the `static_assert` should work.

[2022-03-31 02:01] minggo commented on #10574
@speakissilver please use english in future. Or we will not handle it, thanks.

[2022-03-31 02:37] yanOO1497 commented on #10265
Hi, build extension will runs in three processes, you should reload the processe where your code is running. Form more details you can see in [Debugging build extension plugins](https://docs.cocos.com/creator/manual/en/editor/publish/custom-build-plugin.html#debugging-build-extension-plugins).

[2022-03-31 02:37] yanOO1497 commented on #10507
Thank you for your feedback!  The issue(1,2,4) mentioned below will be fixed in version 3.5.0.

[2022-03-31 03:15] speakissilver commented on #10574
OK
![image](https://user-images.githubusercontent.com/59194019/160969042-3db0f9a7-b1cd-49e2-915c-50a0e88593b9.png)
my mac is 64 bit

![image](https://user-images.githubusercontent.com/59194019/160969073-0bef86cc-6bc4-473f-9f72-78b6cdea0313.png)
target is arm64 and armv7 both 64bit
how can i do?

[2022-03-31 03:36] speakissilver commented on #10574
target is 64 bit.

when i try Uncomment the  `static_assert` ,
cause more errors
![image](https://user-images.githubusercontent.com/59194019/160971457-69ab2194-79ce-49c1-ba29-0f4dbbb025e5.png)

[2022-03-31 05:41] PatriceJiang commented on #10574
![image](https://user-images.githubusercontent.com/40414978/160984336-44a8e128-b61d-4673-887a-341999af7572.png)
  remove this in `Build Settings`

[2022-03-31 07:20] speakissilver commented on #10574
![image](https://user-images.githubusercontent.com/59194019/160999515-704d960e-d943-452b-9f9c-2638b4d47bcf.jpg)
I remove armv7 from  Build Setting
But still have errors

[2022-03-31 07:36] PatriceJiang commented on #10574
What are the target architectures of libcocos2d.a?

[2022-03-31 08:18] speakissilver commented on #10574
![image](https://user-images.githubusercontent.com/59194019/161009965-6b54fe88-6a97-4505-8622-9cf9a13f038e.png)

when i build xcode project form cocos creator
target haved cocos2d

[2022-03-31 08:25] walzer opened #10610 "Update the official readme for cocos engine"
1. The current readme is introducing Cocos Creator, not for the open source framework.
2. Since we merged engine-native in v3.5, we should include the introduction of both Web and Native.

[2022-03-31 08:48] walzer commented on #10610
Upload images for readme.

<img width="140" alt="cocos-logo" src="https://user-images.githubusercontent.com/345379/161016857-c86d8787-d039-4f4d-b9ad-eb546983f635.png">

![cocos-engine-architecture](https://user-images.githubusercontent.com/345379/161015590-d81346e6-6416-4439-9955-fccb3faa5c23.png)
![cocos-logo-scene](https://user-images.githubusercontent.com/345379/161015616-593d6d00-47cc-4af7-a06

[2022-03-31 09:08] PatriceJiang commented on #10574
I mean Build Settings of `cocos2d`

[2022-03-31 09:20] speakissilver commented on #10574
![image](https://user-images.githubusercontent.com/59194019/161022109-d0b14b54-4c7e-47ba-b25d-2d78fb3b09e5.png)
what's your mean?

[2022-03-31 09:39] PatriceJiang commented on #10574
Please check the `Build Settings` of target cocos2d, I need to know the target architectures of cocos2d.

[2022-03-31 10:12] speakissilver commented on #10574
![image](https://user-images.githubusercontent.com/59194019/161031964-8719ac12-e935-4dbd-91c3-7d3a4d35ab46.png)
is here?

[2022-04-01 01:58] PatriceJiang commented on #10574
Yes,  please remove armv7, it is no longer supported.

[2022-04-01 06:47] shrinktofit opened #10631 "Materials should warn if the mesh does not satify its requirements"
I generated a line (through `utils.createMesh` with only positions and vertex colors) then rendered it with the standard effect. The _use vertex color_ was enabled and the _primitive mode_ was set to _line_. However the line was always rendered in white.

@jk20012001 indicates that meshes pass to standard effect should have normal correctly configured.

I wonder if it'd better warning on such mist

[2022-04-01 07:45] minggo opened #10634 "Use CC_NEW/CC_DELETE instead"
Most codes use new/delete, some use CC_NEW/CC_DELETE. We should unify them, and i think use CC_NEW/CC_DELETE is better, as:
- can use custom memory manage module in future
- can calculate memory usage conveniently

[2022-04-01 07:49] stanleyljl commented on #10634
agree

[2022-04-01 07:52] dumganhar commented on #10634
Agree.
And we should not use malloc & free directly, should use CC_MALLOC & CC_FREE instead.

[2022-04-01 07:53] minggo commented on #10634
Right. The same reason.

[2022-04-01 07:57] shrinktofit commented on #10634
What about use `new` and replace the [operator new](https://en.cppreference.com/w/cpp/memory/new/operator_new) if needed?

Example from cppreference:

[code]

[2022-04-01 08:00] minggo commented on #10634
It will affect all codes, including 3rd party libraries. And may have potential issues.

[2022-04-01 09:01] minggo opened #10637 "Disable swappy by default"
As we found it may crash on some device, and we don't know how many devices will be affected. So i think we should disable it by default. We may enable it in debug mode to do more testing.

[2022-04-01 09:29] SantyWang opened #10638 "UI module i18n solution research"
Objectives：
* Research the solution of different UI layouts in multiple env
* Research the solution of text apparence of multiple language
* Research the asset varient workflow for different language
* Optimize UI developer workflow

[2022-04-01 09:39] holycanvas commented on #10638
related issue: https://github.com/cocos/3d-tasks/issues/8821

[2022-04-01 09:41] speakissilver commented on #10574
ok
when i remove armv7
it is work
thank you

[2022-04-01 09:41] #10574 closed, assigned to PatriceJiang

[2022-04-02 03:02] shrinktofit opened #10639 "Plain JSON files are recognized as spine assets"
### Cocos Creator version

3.5.0

### System information

Windows 11

### Issue description

My plain JSON file is recognized as spine asset.

### Relevant error log output

[code]

### Steps to reproduce

Put such a  JSON file in project named `Data.json`:

[code]

### Minimal reproduction project

[assets.zip](https://github.com/cocos/cocos-engine/files/8401674/assets.zip)

[2022-04-02 03:09] VisualSJ commented on #10639
Thanks for the feedback.

Our preliminary guess is that the Spine importer misidentified it.
We'll check it to reduce misidentification.

[2022-04-02 07:10] pandamicro opened #10644 "Remove deprecated APIs from Creator 3D v1.x"
Our engine have been published since 2019 with a dedicated version Cocos Creator 3D, it has been merged into Cocos Creator v3.0 in 2021. It's been a while since some features have been deprecated in dedicated version, we need to do some cleanup, @holycanvas @minggo please take some time for it.

Welcome for any contribution too

[2022-04-02 11:16] minggo commented on #10644
https://github.com/cocos/cocos-engine/pull/10656 remove some deprecated api

[2022-04-02 23:30] Ronsku commented on #10354
That's a very difficult question to answer, since it is all based on server and user connection and also user's device that needs to run the code, launch the Web Canvas etc.
The smaller the better without of course sacrificing features. This is why the "Feature Cropping" is a thing in Cocos Creator, to make the final bundle as small as possible while maintaining the features you've selected for yo

[2022-04-03 00:00] Ronsku commented on #10507
Amazing, thank you @yanOO1497!
I see that regarding the issue no3: "Updating values in animation window, doesn't make them update in the Inspector window". The video upload was apparently unsuccessful. The video just showed that when you update the animated value in the animation editor it doesn't match or update the property window the same way. They should have 2 way binding since they are repre

[2022-04-05 09:53] pandamicro opened #10659 "Safari feature WebGL via Metal have issue on iOS 15.4"
Feedbacks

- https://forum.cocos.org/t/topic/133522
- https://forum.cocos.org/t/topic/133821
- https://forum.cocos.org/t/topic/133819

Possible walk around:

- Disable shadowmap
- Disable WebGL anti alias

Testable projects:

- https://vshell-1257946517.cos.ap-nanjing.myqcloud.com/web-mobile.zip
- https://mmp-cdn.rayjump.com/qatask/t76700/v6/unity_en_ROK_R2IdHN6sk_ios/unity_en_ROK_R2IdHN6sk_ios.ht

[2022-04-06 03:28] timlyeee opened #10663 "iOS Simulator support for M1 Mac"
Right now if one would like to build one Xcode project that supports the M1 iOS Simulator, he should modify the CMakelist.txt in the external folder, which means that one cannot use the same project for building the M1 iOS Simulator App and Device App.

What produces this problem is that M1 Mac requires a different static lib for iOS Simulator(arm64), and lipo cannot create a fat lib for both arm6

[2022-04-06 03:41] timlyeee commented on #10663
Even more, [Mac Catalyst](https://developer.apple.com/mac-catalyst/) requires a different static lib(arm64).

[2022-04-07 00:49] ryanscottmurphy opened #10672 "cc.Label in inspector misses or incorrectly records typed characters (v3.4.x)"
### Cocos Creator version

3.4.0, 3.4.2

### System information

macOS Monterey v12.2.1, Macbook Pro 2.6 GHz, 16GB DDR4

### Issue description

cc.Label in inspector misses or incorrectly records typed characters (v3.4.x)

**Expected behaviour**
Typing out "Hello I am typing a sentence and it misses some characters sometimes in the box" appears as typed

**Actual behaviour**
String appeared as "He

[2022-04-07 01:14] ryanscottmurphy opened #10673 "Horizontal ScrollView does not respond to horizontal scrolling on laptop trackpads (v3.4.x)"
### Cocos Creator version

3.4.0, 3.4.2

### System information

macOS Monterey v12.2.1, Macbook Pro 2.6 GHz, 16GB DDR4

### Issue description

After setting up a horizontal scroll view in an empty scene, the scroll view does not respond to horizontal scrolls (it only responds to the vertical axis of the scroll.

### Relevant error log output

_No response_

### Steps to reproduce

- Create a new

[2022-04-07 02:15] xianyinchen opened #10674 "uninterrupted signal transmission was broken after iOS game restart."
### Cocos Creator version

3.5.0

### System information

iOS 15.4 build on iphone 12 mini

### Issue description

terminate the game application (no use cc.game.restart), reopen application the download received bytes will start from zore, I think the uninterrupted signal transmission was broken.

### Relevant error log output

_No response_

### Steps to reproduce

video:
https://user-images.git

[2022-04-07 02:31] a22aaass commented on #10506
can't open this url，please check

[2022-04-07 02:32] hjmhjms opened #10675 "setposition fail after instantiate"
### Cocos Creator version

3.4.2

### System information

window 10 editor

### Issue description

       tNode = instantiate(mainPrefab);
        tNode.setPosition(100,100,0);

but this node's position will be reset to prefab setting After a while

so setposition fail after instantiate

### Relevant error log output

_No response_

### Steps to reproduce

       tNode = instantiate(mainPrefab);

[2022-04-07 03:05] qiuguohua opened #10677 "Distribute touch events independently"

[2022-04-07 07:14] hjmhjms commented on #10675
跟踪代码，发现在我的setPosition之后，引擎会调用
refreshScene-》align -》setPosition

重新设置了prefab里面设定的位置，从而覆盖了我的setPosition

[2022-04-07 09:02] stanleyljl opened #10685 "Feature cropping bug"
### Cocos Creator version

3.6.0

### System information

all web platforms

### Issue description

The switch module removal has no effect, and the check box is restored after restarting

![image](https://user-images.githubusercontent.com/26244076/162161982-9fd5cc3f-82bb-4241-a912-951479013d1c.png)

### Relevant error log output

_No response_

### Steps to reproduce

Steps:
1. Check a module, su

[2022-04-07 10:27] speakissilver opened #10688 "[3.4.2] custom native-engine Error: spawnSync C:\Windows\System32\cmd.exe ENOENT"
### Cocos Creator version

3.4.2

### System information

window10

### Issue description

i try use https://github.com/cocos/cocos-engine/issues/10520 method
my python version is 2.7.5 pyinstaller is 4.10

==> Ready to download 'v3-console-16.zip' from 'https://github.com/cocos2d/console-binary/archive/v3-console-16.zip'
Traceback (most recent call last):
  File "download-bin.py", line 301, in <m

[2022-04-07 14:06] #10675 closed, assigned to nobody

[2022-04-07 14:07] hjmhjms commented on #10675
widget will be align after instant

[2022-04-08 03:48] minggo commented on #10644
I reverted the modification in https://github.com/cocos/cocos-engine/pull/10694, because:
- there is not warning message of deprecated API, which means these API are not really deprecated, developers do not know it
- deserialization depends on deprecated classes name

So we can delete these API when:
- developers knows these API are deprecated
- editor doesn't depends on deprecated class names
- i

[2022-04-08 09:30] timlyeee commented on #10688
Well, still, gulp init is useless now, there's no submodule and no coco2d-console to be downloaded.

https://github.com/cocos/cocos-engine/issues/10520 did answer that you might only need to download the external and nothing more.